Repository grafana/mimir, pull requests merged in 2022-06, with the labels that each got.

#1970 Docs: rename 'playbooks' to 'runbooks' and move them to doc
  Makefile
  README.md
  docs/sources/_index.md
  docs/sources/operators-guide/mimir-runbooks/_index.md
  docs/sources/operators-guide/reference-glossary.md
  docs/sources/operators-guide/reference-http-api/index.md
  docs/sources/operators-guide/visualizing-metrics/deploying-monitor-mixin.md
  docs/sources/release-notes/v2.0.md
  tools/doc-validator/main.go
  tools/lint-runbooks.sh
Labels: type/docs, ease-of-use, component/runbooks

#2011 Replace hardcoded intervals with $__rate_interval in dashboards
  CHANGELOG.md
  operations/mimir-mixin-compiled/dashboards/mimir-queries.json
  operations/mimir-mixin-compiled/dashboards/mimir-ruler.json
  operations/mimir-mixin/dashboards/queries.libsonnet
  operations/mimir-mixin/dashboards/ruler.libsonnet
  operations/mimir-mixin/dashboards/writes.libsonnet
Labels: jsonnet

#1967 Enhance MimirRequestLatency runbook with more advice
  docs/sources/operators-guide/mimir-runbooks/_index.md
Labels: type/docs, monitoring/runbooks

#2008 Update contributing guides for the helm chart
  .github/workflows/helm-ci.yml
  docs/internal/contributing/README.md
  docs/internal/contributing/contributing-to-helm-chart.md
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/README.md.gotmpl
Labels: type/docs

#2015 Docs: fix mimir-mixin installation instructions
  docs/sources/operators-guide/visualizing-metrics/installing-dashboards-and-alerts.md
Labels: type/docs

#2025 Docs: make documentation a first class citizen in CHANGELOG
  CHANGELOG.md
Labels: type/docs

#1949 mixin: adapt alerts/playbooks to consider ruler query path components
  CHANGELOG.md
  docs/sources/operators-guide/mimir-runbooks/_index.md
  operations/mimir-mixin-compiled/alerts.yaml
  operations/mimir-mixin/alerts/alerts.libsonnet
Labels: type/docs, monitoring/alerts

#2047 mimir-continuous-test: Add smoke test mode
  CHANGELOG.md
  docs/sources/operators-guide/tools/mimir-continuous-test.md
  pkg/continuoustest/manager.go
  pkg/continuoustest/manager_test.go
  pkg/continuoustest/write_read_series.go
  pkg/continuoustest/write_read_series_test.go
Labels: component/continuous-test

#2063 Jsonnet: add compactor service
  CHANGELOG.md
  operations/mimir-tests/test-autoscaling-generated.yaml
  operations/mimir-tests/test-defaults-generated.yaml
  operations/mimir-tests/test-disable-chunk-streaming-generated.yaml
  operations/mimir-tests/test-gossip-generated.yaml
  operations/mimir-tests/test-gossip-multi-zone-generated.yaml
  operations/mimir-tests/test-gossip-multikv-generated.yaml
  operations/mimir-tests/test-gossip-multikv-switch-primary-secondary-generated.yaml
  operations/mimir-tests/test-gossip-multikv-teardown-generated.yaml
  operations/mimir-tests/test-gossip-ruler-disabled-generated.yaml
  operations/mimir-tests/test-multi-zone-generated.yaml
  operations/mimir-tests/test-multi-zone-with-ongoing-migration-generated.yaml
  operations/mimir-tests/test-query-sharding-generated.yaml
  operations/mimir-tests/test-shuffle-sharding-generated.yaml
  operations/mimir-tests/test-storage-azure-generated.yaml
  operations/mimir-tests/test-storage-gcs-generated.yaml
  operations/mimir-tests/test-storage-s3-generated.yaml
  operations/mimir/compactor.libsonnet
Labels: jsonnet

#2053 ruler: report failed eval on any 5xx status
  CHANGELOG.md
  pkg/ruler/compat.go
Labels: component/ruler

#2093 Introduce consul_enabled configuration in jsonnet
  CHANGELOG.md
  operations/mimir-tests/test-gossip-disable-consul-generated.yaml
  operations/mimir-tests/test-gossip-disable-consul.jsonnet
  operations/mimir/consul.libsonnet
Labels: jsonnet

#2103 Addendum to alertmanager respecting memberlist_ring_enabled
  CHANGELOG.md
  operations/mimir-tests/test-gossip-disable-consul-generated.yaml
  operations/mimir-tests/test-gossip-generated.yaml
  operations/mimir-tests/test-gossip-multi-zone-generated.yaml
  operations/mimir-tests/test-gossip-multikv-generated.yaml
  operations/mimir-tests/test-gossip-multikv-switch-primary-secondary-generated.yaml
  operations/mimir-tests/test-gossip-multikv-teardown-generated.yaml
  operations/mimir-tests/test-gossip-ruler-disabled-generated.yaml
  operations/mimir/alertmanager.libsonnet
  operations/mimir/memberlist.libsonnet
Labels: jsonnet

#2107 Jsonnet: Account for disabled alertmanager when adding memberlist gossip label
  operations/mimir/memberlist.libsonnet
Labels: jsonnet

#2099 Helm: Add global POD annotations
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/_helpers.tpl
  operations/helm/charts/mimir-distributed/templates/nginx/nginx-dep.yaml
  operations/helm/charts/mimir-distributed/values.yaml
Labels: type/docs, helm

#2100 Helm: add structuredConfig
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/_helpers.tpl
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/mimir-config.yaml
Labels: type/docs, helm

#2108 Helm: test simplified configuration e2e
  operations/helm/charts/mimir-distributed/ci/test-enterprise-configmap-values.yaml
  operations/helm/charts/mimir-distributed/ci/test-oss-values.yaml
  operations/helm/charts/mimir-distributed/templates/minio-secrets.yaml
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/admin-api/admin-api-dep.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/alertmanager/alertmanager-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/compactor/compactor-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/distributor/distributor-dep.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/gateway/gateway-dep.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/ingester/ingester-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/minio-secrets.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/overrides-exporter/overrides-exporter-dep.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/querier/querier-dep.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/query-frontend/query-frontend-dep.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/ruler/ruler-dep.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/store-gateway/store-gateway-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/tokengen/tokengen-job.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/alertmanager/alertmanager-statefulset.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/compactor/compactor-statefulset.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/distributor/distributor-dep.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/ingester/ingester-statefulset.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/minio-secrets.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/nginx/nginx-dep.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/overrides-exporter/overrides-exporter-dep.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/querier/querier-dep.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/query-frontend/query-frontend-dep.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/ruler/ruler-dep.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/store-gateway/store-gateway-statefulset.yaml
Labels: type/docs, helm

#2114 Helm: set ingester availability zone to zone-default
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/ingester/ingester-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/ingester/ingester-statefulset.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/ingester/ingester-statefulset.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/ingester/ingester-statefulset.yaml
Labels: helm

#2117 Helm: enable multi-tenancy in OSS by default
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/nginx/nginx-configmap.yaml
Labels: helm

#1694 Add compactor HTTP API for uploading TSDB blocks
  CHANGELOG.md
  docs/sources/operators-guide/configuring/about-versioning.md
  pkg/api/api.go
  pkg/compactor/block_upload.go
  pkg/compactor/block_upload_test.go
  pkg/storage/bucket/client_mock.go
Labels: enhancement, component/compactor

#2066 Add ingester push errors to errors catalogue
  CHANGELOG.md
  docs/sources/operators-guide/mimir-runbooks/_index.md
  pkg/ingester/errors.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/util/globalerror/errors.go
  pkg/util/validation/errors.go
  pkg/util/validation/errors_test.go
Labels: type/docs

#2024 Docs: move Mimir Jsonnet doc to docs/
  CHANGELOG.md
  Makefile
  docs/sources/operators-guide/deploying-grafana-mimir/_index.md
  docs/sources/operators-guide/deploying-grafana-mimir/jsonnet/_index.md
  docs/sources/operators-guide/deploying-grafana-mimir/jsonnet/configuring.md
  docs/sources/operators-guide/deploying-grafana-mimir/jsonnet/deploying.md
  operations/mimir/README.md
Labels: type/docs

#2061 helm: Add smoke-test job for `helm test`
  cmd/mimir-continuous-test/main.go
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/_helpers.tpl
  operations/helm/charts/mimir-distributed/templates/smoke-test/smoke-test-job.yaml
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/smoke-test/smoke-test-job.yaml
  pkg/continuoustest/manager.go
  pkg/continuoustest/manager_test.go
  pkg/continuoustest/write_read_series.go
Labels: type/tests, helm

#2110 Set shuffle sharding ingester lookback automatically
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/operators-guide/configuring/configuring-shuffle-sharding/index.md
  docs/sources/operators-guide/configuring/reference-configuration-parameters/index.md
  docs/sources/operators-guide/running-production-environment/scaling-out.md
  integration/ingester_sharding_test.go
  operations/mimir/shuffle-sharding.libsonnet
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/mimir/mimir.go
  pkg/mimir/modules.go
  pkg/querier/querier.go
  pkg/querier/querier_test.go
Labels: type/docs, ease-of-use/config-cleanup

#2126 Compactor: Enable TSDB block upload on per-tenant basis
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/operators-guide/configuring/reference-configuration-parameters/index.md
  pkg/compactor/block_upload.go
  pkg/compactor/block_upload_test.go
  pkg/compactor/blocks_cleaner_test.go
  pkg/compactor/compactor.go
  pkg/util/validation/limits.go
Labels: component/compactor

#2149 Helm: prune image reference from golden record
  operations/helm/tests/build.sh
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/admin-api/admin-api-dep.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/alertmanager/alertmanager-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/compactor/compactor-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/distributor/distributor-dep.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/gateway/gateway-dep.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/ingester/ingester-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/overrides-exporter/overrides-exporter-dep.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/querier/querier-dep.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/query-frontend/query-frontend-dep.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/ruler/ruler-dep.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/store-gateway/store-gateway-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/tokengen/tokengen-job.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/admin-api/admin-api-dep.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/alertmanager/alertmanager-statefulset.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/compactor/compactor-statefulset.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/distributor/distributor-dep.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/gateway/gateway-dep.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/ingester/ingester-statefulset.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/overrides-exporter/overrides-exporter-dep.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/querier/querier-dep.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/query-frontend/query-frontend-dep.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/ruler/ruler-dep.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/store-gateway/store-gateway-statefulset.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/tokengen/tokengen-job.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/alertmanager/alertmanager-statefulset.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/compactor/compactor-statefulset.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/distributor/distributor-dep.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/ingester/ingester-statefulset.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/overrides-exporter/overrides-exporter-dep.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/querier/querier-dep.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/query-frontend/query-frontend-dep.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/ruler/ruler-dep.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/store-gateway/store-gateway-statefulset.yaml
Labels: helm

#2125 Helm: customizable ServiceMonitor cluster label
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/scripts/create-servmon
  operations/helm/charts/mimir-distributed/templates/admin-api/admin-api-servmon.yaml
  operations/helm/charts/mimir-distributed/templates/alertmanager/alertmanager-servmon.yaml
  operations/helm/charts/mimir-distributed/templates/compactor/compactor-servmon.yaml
  operations/helm/charts/mimir-distributed/templates/distributor/distributor-servmon.yaml
  operations/helm/charts/mimir-distributed/templates/gateway/gateway-servmon.yaml
  operations/helm/charts/mimir-distributed/templates/ingester/ingester-servmon.yaml
  operations/helm/charts/mimir-distributed/templates/lib/service-monitor.tpl
  operations/helm/charts/mimir-distributed/templates/querier/querier-servmon.yaml
  operations/helm/charts/mimir-distributed/templates/query-frontend/query-frontend-servmon.yaml
  operations/helm/charts/mimir-distributed/templates/ruler/ruler-servmon.yaml
  operations/helm/charts/mimir-distributed/templates/store-gateway/store-gateway-servmon.yaml
  operations/helm/charts/mimir-distributed/values.yaml
Labels: helm

#2159 Fix GossipMembersMismatch misfiring with remote ruler eval
  operations/mimir-mixin-compiled/alerts.yaml
  operations/mimir-mixin/config.libsonnet
Labels: jsonnet

#2163 Docs: Update mixin building instructions
  docs/sources/operators-guide/monitoring-grafana-mimir/installing-dashboards-and-alerts.md
Labels: type/docs

#2170 Update scaling-out.md
  docs/sources/operators-guide/running-production-environment/scaling-out.md
Labels: type/docs

#2064 helm: use custom memcached templates
  docs/sources/migration-guide/migrating-from-cortex.md
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/Chart.lock
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/capped-large.yaml
  operations/helm/charts/mimir-distributed/capped-small.yaml
  operations/helm/charts/mimir-distributed/ci/test-oss-values.yaml
  operations/helm/charts/mimir-distributed/large.yaml
  operations/helm/charts/mimir-distributed/small.yaml
  operations/helm/charts/mimir-distributed/templates/memcached-chunks/memcached-chunks-pdb.yaml
  operations/helm/charts/mimir-distributed/templates/memcached-chunks/memcached-chunks-servmon.yaml
  operations/helm/charts/mimir-distributed/templates/memcached-chunks/memcached-chunks-statefulset.yaml
  operations/helm/charts/mimir-distributed/templates/memcached-chunks/memcached-chunks-svc-headless.yaml
  operations/helm/charts/mimir-distributed/templates/memcached-index-queries/memcached-index-queries-pdb.yaml
  operations/helm/charts/mimir-distributed/templates/memcached-index-queries/memcached-index-queries-servmon.yaml
  operations/helm/charts/mimir-distributed/templates/memcached-index-queries/memcached-index-queries-statefulset.yaml
  operations/helm/charts/mimir-distributed/templates/memcached-index-queries/memcached-index-queries-svc-headless.yaml
  operations/helm/charts/mimir-distributed/templates/memcached-metadata/memcached-metadata-pdb.yaml
  operations/helm/charts/mimir-distributed/templates/memcached-metadata/memcached-metadata-servmon.yaml
  operations/helm/charts/mimir-distributed/templates/memcached-metadata/memcached-metadata-statefulset.yaml
  operations/helm/charts/mimir-distributed/templates/memcached-metadata/memcached-metadata-svc-headless.yaml
  operations/helm/charts/mimir-distributed/templates/memcached-results/memcached-results-pdb.yaml
  operations/helm/charts/mimir-distributed/templates/memcached-results/memcached-results-servmon.yaml
  operations/helm/charts/mimir-distributed/templates/memcached-results/memcached-results-statefulset.yaml
  operations/helm/charts/mimir-distributed/templates/memcached-results/memcached-results-svc-headless.yaml
  operations/helm/charts/mimir-distributed/templates/memcached/_memcached-pdb.tpl
  operations/helm/charts/mimir-distributed/templates/memcached/_memcached-statefulset.tpl
  operations/helm/charts/mimir-distributed/templates/memcached/_memcached-svc.tpl
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/ct.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/memcached-chunks/memcached-chunks-statefulset.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/memcached-chunks/memcached-chunks-svc-headless.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/memcached-index-queries/memcached-index-queries-statefulset.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/memcached-index-queries/memcached-index-queries-svc-headless.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/memcached-metadata/memcached-metadata-statefulset.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/memcached-metadata/memcached-metadata-svc-headless.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/memcached-results/memcached-results-statefulset.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/memcached-results/memcached-results-svc-headless.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/mimir-config.yaml
Labels: helm, memcached

#2198 Helm: improve docstring for nameOverride and fullnameOverride
  operations/helm/charts/mimir-distributed/templates/NOTES.txt
  operations/helm/charts/mimir-distributed/values.yaml
Labels: helm

#2215 Grafanacon 2022 config files: Include link to the talk itself.
  docs/configurations/grafanacon-2022/index.md
Labels: type/docs

#2150 Add store gateway consistency check errors to errors catalog
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/operators-guide/configuring/reference-configuration-parameters/index.md
  docs/sources/operators-guide/mimir-runbooks/_index.md
  pkg/ingester/ingester_test.go
  pkg/querier/blocks_finder_bucket_index.go
  pkg/querier/blocks_finder_bucket_index_test.go
  pkg/querier/blocks_store_queryable.go
  pkg/querier/blocks_store_queryable_test.go
  pkg/storage/tsdb/config.go
  pkg/util/globalerror/errors.go
  pkg/util/globalerror/errors_test.go
Labels: type/docs

#2220 Docs: Document alertmanager shuffle sharding
  docs/sources/operators-guide/configuring/configuring-shuffle-sharding/index.md
Labels: type/docs

#2158 Update runbooks to mention possibility to investigate memberlist KV store in various alerts
  CHANGELOG.md
  docs/sources/operators-guide/mimir-runbooks/_index.md
Labels: type/docs

#2166 Article about migrating from Consul to memberlist. Added documentation for /memberlist endpoint.
  CHANGELOG.md
  docs/sources/operators-guide/deploying-grafana-mimir/jsonnet/migrating-from-consul-to-memberlist.md
  docs/sources/operators-guide/reference-http-api/index.md
  operations/mimir/memberlist.libsonnet
Labels: type/docs

#2183 Mimir documentation about out-of-order
  docs/sources/operators-guide/architecture/components/ingester.md
  docs/sources/operators-guide/configuring/about-versioning.md
  docs/sources/operators-guide/configuring/configuring-out-of-order-samples-ingestion.md
Labels: type/docs

#2251 operations/mimir: Change multi_zone_ingester_max_unavailable to 25
  CHANGELOG.md
  operations/mimir-tests/test-consul-multi-zone-generated.yaml
  operations/mimir-tests/test-multi-zone-generated.yaml
  operations/mimir-tests/test-multi-zone-with-ongoing-migration-generated.yaml
  operations/mimir/multi-zone.libsonnet
Labels: jsonnet

#2257 Helm: add a step to contributing doc
  docs/internal/contributing/contributing-to-helm-chart.md
Labels: helm

#2219 helm: added OpenShift support
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/podsecuritypolicy.yaml
  operations/helm/charts/mimir-distributed/templates/role.yaml
  operations/helm/charts/mimir-distributed/templates/rolebinding.yaml
  operations/helm/charts/mimir-distributed/templates/securitycontextconstraints.yaml
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/charts/minio/templates/configmap.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/charts/minio/templates/deployment.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/charts/minio/templates/configmap.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/charts/minio/templates/deployment.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/charts/minio/templates/configmap.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/charts/minio/templates/deployment.yaml
Labels: helm

#2272 Helm: fix changelog to be continuous from 2.1 release
  operations/helm/charts/mimir-distributed/CHANGELOG.md
Labels: helm

#2277 Helm: default to ConfigMap in configStorageType value
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/ci/test-enterprise-configmap-values.yaml
  operations/helm/charts/mimir-distributed/ci/test-oss-values.yaml
  operations/helm/charts/mimir-distributed/values.yaml
Labels: helm

#2196 Helm: Add extraContainers to nginx deployments and override to resolve for nginxConfig
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/nginx/nginx-dep.yaml
  operations/helm/charts/mimir-distributed/values.yaml
Labels: helm
