Repository grafana/mimir, pull requests merged in 2022-07, with the labels that each got.

#2300 Helm: remove setting server grpc msg size defaults
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/mimir-config.yaml
Labels: helm

#2269 Add some guidelines for contributors on how to add to the errors catalog
  docs/internal/contributing/README.md
Labels: type/docs

#2122 Add comment about Thanos, external labels and downsampling.
  docs/sources/migration-guide/migrating-from-thanos-or-prometheus.md
Labels: type/docs

#2223 mixin: Convert "Slow Queries" dashboard to Grafana 9.0
  CHANGELOG.md
  operations/mimir-mixin-compiled/dashboards/mimir-slow-queries.json
  operations/mimir-mixin/dashboards/slow-queries.libsonnet
Labels: jsonnet, monitoring/dashboards

#2290 Use menuTitle for more user-friendly lists of topics
  docs/sources/migration-guide/_index.md
  docs/sources/migration-guide/migrating-from-cortex.md
  docs/sources/migration-guide/migrating-from-thanos-or-prometheus.md
  docs/sources/operators-guide/_index.md
  docs/sources/operators-guide/architecture/_index.md
  docs/sources/operators-guide/architecture/about-grafana-mimir-architecture/index.md
  docs/sources/operators-guide/architecture/components/_index.md
  docs/sources/operators-guide/configuring/_index.md
  docs/sources/operators-guide/deploying-grafana-mimir/jsonnet/_index.md
  docs/sources/operators-guide/monitoring-grafana-mimir/_index.md
  docs/sources/operators-guide/monitoring-grafana-mimir/dashboards/_index.md
  docs/sources/operators-guide/running-production-environment/_index.md
  docs/sources/operators-guide/running-production-environment/scaling-out.md
  docs/sources/operators-guide/securing/_index.md
  docs/sources/operators-guide/tools/_index.md
  docs/sources/operators-guide/using-exemplars/_index.md
  docs/sources/release-notes/_index.md
Labels: type/docs

#2309 Upgrade to latest dskit and weaveworks/common
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/operators-guide/configuring/reference-configuration-parameters/index.md
  go.mod
  go.sum
  pkg/mimir/mimir.go
  pkg/querier/worker/scheduler_processor.go
  pkg/storage/tsdb/upload_test.go
  pkg/util/fieldcategory/overrides.go
  vendor/github.com/grafana/dskit/grpcclient/instrumentation.go
  vendor/github.com/grafana/dskit/kv/consul/client.go
  vendor/github.com/grafana/dskit/middleware/grpc.go
  vendor/github.com/grafana/dskit/ring/model.go
  vendor/github.com/grafana/dskit/ring/ring.go
  vendor/github.com/prometheus/node_exporter/LICENSE
  vendor/github.com/prometheus/node_exporter/NOTICE
  vendor/github.com/prometheus/node_exporter/https/README.md
  vendor/github.com/prometheus/node_exporter/https/tls_config.go
  vendor/github.com/prometheus/node_exporter/https/web-config.yml
  vendor/github.com/weaveworks/common/instrument/instrument.go
  vendor/github.com/weaveworks/common/middleware/grpc_instrumentation.go
  vendor/github.com/weaveworks/common/middleware/grpc_logging.go
  vendor/github.com/weaveworks/common/middleware/logging.go
  vendor/github.com/weaveworks/common/server/server.go
  vendor/modules.txt
Labels: chore

#2175 Docs: Add Getting started with Grafana Mimir using the Helm chart
  docs/sources/operators-guide/deploying-grafana-mimir/_index.md
  docs/sources/operators-guide/deploying-grafana-mimir/getting-started-helm-charts/_index.md
  docs/sources/operators-guide/deploying-grafana-mimir/getting-started-helm-charts/_index.md.bak
  docs/sources/operators-guide/deploying-grafana-mimir/jsonnet/_index.md
Labels: type/docs, helm

#2340 Add metamonitoring docs
  docs/sources/operators-guide/monitoring-grafana-mimir/collecting-metrics-and-logs.md
  docs/sources/operators-guide/monitoring-grafana-mimir/deploying-monitoring-mixin.md
  docs/sources/operators-guide/monitoring-grafana-mimir/requirements.md
Labels: type/docs

#2291 Doc: Add a migration guide from Helm 2.1 to 3.0
  docs/sources/operators-guide/deploying-grafana-mimir/upgrade-helm-chart-2.1-to-3.0/_index.md
Labels: type/docs, helm

#2301 Docs: Update release notes to include the Helm changes
  docs/sources/release-notes/v2.2.md
Labels: type/docs, helm

#2385 Remove unwanted files brought by #2375
  docs/sources/operators-guide/configuring/_index.md
  docs/sources/operators-guide/deploying-grafana-mimir/getting-started-helm-charts/_index.md
  docs/sources/operators-guide/deploying-grafana-mimir/getting-started-helm-charts/_index.md.bak
  docs/sources/operators-guide/monitoring-grafana-mimir/_index.md
  docs/sources/operators-guide/monitoring-grafana-mimir/dashboards/_index.md
  docs/sources/operators-guide/running-production-environment/_index.md
  docs/sources/operators-guide/securing/_index.md
  docs/sources/operators-guide/using-exemplars/_index.md
Labels: type/docs

#2321 missing memcachedExporter resources + imagePullSecrets
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/memcached/_memcached-statefulset.tpl
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/chunks-cache/chunks-cache-statefulset.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/index-cache/index-cache-statefulset.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/metadata-cache/metadata-cache-statefulset.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/results-cache/results-cache-statefulset.yaml
Labels: help wanted, helm

#2405 Revert "Trim down Helm release notes"
  docs/sources/release-notes/v2.2.md
Labels: type/docs

#2391 Restructure configuring out-of-order docs
  docs/sources/operators-guide/architecture/components/ingester.md
  docs/sources/operators-guide/configure/configure-out-of-order-samples-ingestion.md
Labels: type/docs, backport release-2.2

#2281 Docs: Document TSDB block upload feature
  docs/sources/migration-guide/migrating-from-thanos-or-prometheus.md
  docs/sources/operators-guide/configure/configure-tsdb-block-upload.md
  docs/sources/operators-guide/reference-http-api/index.md
Labels: component/compactor, type/docs

#2435 Report previously failed shipped blocks in shipper
  CHANGELOG.md
  pkg/ingester/shipper.go
  pkg/ingester/shipper_test.go
Labels: component/ingester

#2413 Add distributor inflight request size limit
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/operators-guide/configure/reference-configuration-parameters/index.md
  docs/sources/operators-guide/mimir-runbooks/_index.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/util/globalerror/errors.go
Labels: component/distributor

#2458 Update weaveworks/common
  go.mod
  go.sum
  vendor/github.com/weaveworks/common/instrument/instrument.go
  vendor/modules.txt
Labels: backport r194, backport r195

#2474 Create helm chart release candidate rc.1
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/values.yaml
Labels: helm

#1822 Add metrics backfill support to mimirtool
  CHANGELOG.md
  cmd/mimir/main_test.go
  cmd/mimirtool/main.go
  integration/backfill_test.go
  pkg/mimirtool/backfill/backfill.go
  pkg/mimirtool/client/alerts.go
  pkg/mimirtool/client/backfill.go
  pkg/mimirtool/client/client.go
  pkg/mimirtool/client/client_test.go
  pkg/mimirtool/client/rules.go
  pkg/mimirtool/commands/alerts.go
  pkg/mimirtool/commands/backfill.go
  pkg/util/test/capture.go
Labels: enhancement, component/mimirtool

#2488 Update continuout test image to match mimir
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/smoke-test/smoke-test-job.yaml
Labels: helm

#2367 Move helm upgrade guide
  docs/sources/operators-guide/deploy-grafana-mimir/upgrade-helm-chart-2.1-to-3.0/_index.md
  operations/mimir/README.md
Labels: type/docs

#2497 Helm: update readme with 2.2 release notes link
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/README.md.gotmpl
Labels: type/docs, helm

#2336 helm: Fix nginx and memcached extraArgs
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/nginx/nginx-dep.yaml
  operations/helm/charts/mimir-distributed/values.yaml
Labels: helm

#2516 Docs: mention mimirtool commands in HTTP API doc
  CHANGELOG.md
  docs/sources/operators-guide/reference-http-api/index.md
  docs/sources/operators-guide/tools/mimirtool.md
Labels: type/docs

#2416 Update tokenjob , alertmanager container security context via values file.
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/alertmanager/alertmanager-statefulset.yaml
  operations/helm/charts/mimir-distributed/templates/tokengen/tokengen-job.yaml
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/tokengen/tokengen-job.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/tokengen/tokengen-job.yaml
Labels: helm

#2543 Helm: update release process to include Helm
  RELEASE.md
Labels: type/docs, helm

#2539 Helm: weekly r196
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/tests/build.sh
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/smoke-test/smoke-test-job.yaml
Labels: helm

#2526 Remove "active" from limit descriptions where it doesn't apply
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/operators-guide/configure/reference-configuration-parameters/index.md
  pkg/util/validation/limits.go
Labels: type/docs

#2518 Remove http_listen_port from server Agent config
  docs/sources/operators-guide/deploy-grafana-mimir/getting-started-helm-charts/_index.md
  docs/sources/operators-guide/get-started/_index.md
  docs/sources/operators-guide/monitor-grafana-mimir/collecting-metrics-and-logs.md
Labels: helm

#2544 Update broken link in helm README
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/README.md.gotmpl
Labels: type/docs, helm

#2548 Compactor block upload: Check block upload endpoint
  CHANGELOG.md
  docs/sources/operators-guide/reference-http-api/index.md
  pkg/api/api.go
  pkg/compactor/block_upload.go
  pkg/compactor/block_upload_test.go
  pkg/mimirtool/client/backfill.go
  pkg/mimirtool/commands/backfill.go
Labels: type/docs

#2549 Update -memberlist.join flag to use DNS-SD format
  CHANGELOG.md
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/mimir-tests/test-autoscaling-generated.yaml
  operations/mimir-tests/test-defaults-generated.yaml
  operations/mimir-tests/test-disable-chunk-streaming-generated.yaml
  operations/mimir-tests/test-helm-parity-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-0-before-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-1-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-2-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-3-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-1-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-2-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-3-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-4-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-5-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-6-final-generated.yaml
  operations/mimir-tests/test-multi-zone-generated.yaml
  operations/mimir-tests/test-multi-zone-with-ongoing-migration-generated.yaml
  operations/mimir-tests/test-query-sharding-generated.yaml
  operations/mimir-tests/test-ruler-remote-evaluation-generated.yaml
  operations/mimir-tests/test-ruler-remote-evaluation-migration-generated.yaml
  operations/mimir-tests/test-shuffle-sharding-generated.yaml
  operations/mimir-tests/test-shuffle-sharding-read-path-disabled-generated.yaml
  operations/mimir-tests/test-storage-azure-generated.yaml
  operations/mimir-tests/test-storage-gcs-generated.yaml
  operations/mimir-tests/test-storage-s3-generated.yaml
  operations/mimir-tests/test-without-query-scheduler-generated.yaml
  operations/mimir/memberlist.libsonnet
Labels: jsonnet, helm

#2481 Document mimirtool backfill command.
  docs/sources/migration-guide/migrating-from-thanos-or-prometheus.md
  docs/sources/operators-guide/configure/configure-tsdb-block-upload.md
  docs/sources/operators-guide/tools/mimirtool.md
Labels: type/docs

#2561 Helm: fix memberlist DNS, make server ports configurable
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/_helpers.tpl
  operations/helm/charts/mimir-distributed/templates/validate.yaml
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/mimir-config.yaml
Labels: helm

#2555 make check tests should fail if untracked files found in golden record
  Makefile
  tools/find-diff-or-untracked.sh
Labels: helm

#2393 helm: added `PodDisruptionBudget` named template
  operations/helm/charts/mimir-distributed/templates/_helpers.tpl
  operations/helm/charts/mimir-distributed/templates/admin-api/admin-api-pdb.yaml
  operations/helm/charts/mimir-distributed/templates/alertmanager/alertmanager-pdb.yaml
  operations/helm/charts/mimir-distributed/templates/chunks-cache/chunks-cache-pdb.yaml
  operations/helm/charts/mimir-distributed/templates/compactor/compactor-pdb.yaml
  operations/helm/charts/mimir-distributed/templates/distributor/distributor-pdb.yaml
  operations/helm/charts/mimir-distributed/templates/gateway/gateway-pdb.yaml
  operations/helm/charts/mimir-distributed/templates/index-cache/index-cache-pdb.yaml
  operations/helm/charts/mimir-distributed/templates/ingester/ingester-pdb.yaml
  operations/helm/charts/mimir-distributed/templates/lib/pdb.tpl
  operations/helm/charts/mimir-distributed/templates/metadata-cache/metadata-cache-pdb.yaml
  operations/helm/charts/mimir-distributed/templates/nginx/nginx-pdb.yaml
  operations/helm/charts/mimir-distributed/templates/overrides-exporter/overrides-exporter-pdb.yaml
  operations/helm/charts/mimir-distributed/templates/querier/querier-pdb.yaml
  operations/helm/charts/mimir-distributed/templates/query-frontend/query-frontend-pdb.yaml
  operations/helm/charts/mimir-distributed/templates/results-cache/results-cache-pdb.yaml
  operations/helm/charts/mimir-distributed/templates/ruler/ruler-pdb.yaml
  operations/helm/charts/mimir-distributed/templates/store-gateway/store-gateway-pdb.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/ingester/ingester-pdb.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/store-gateway/store-gateway-pdb.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/ingester/ingester-pdb.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/store-gateway/store-gateway-pdb.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/ingester/ingester-pdb.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/store-gateway/store-gateway-pdb.yaml
Labels: helm

#2515 Adding Namespace to Smoke Test
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/smoke-test/smoke-test-job.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/smoke-test/smoke-test-job.yaml
Labels: helm

#2569 Move metaMonitoring values outside of enterprise features
  operations/helm/charts/mimir-distributed/values.yaml
Labels: helm

#2587 mimirtool: Use block.MetaFilename constant
  pkg/mimirtool/client/backfill.go
Labels: chore, component/mimirtool

#2586 Fix backfill integration test comments
  integration/backfill_test.go
Labels: chore, type/tests, component/mimirtool

#2600 compactor: Use block.MetaFilename constant
  pkg/compactor/block_upload.go
Labels: chore, component/compactor
