Repository grafana/mimir, pull requests merged in 2022-05, with the labels that each got.

#1714 Docs: ruler remote evaluation
  docs/sources/operators-guide/architecture/bucket-index/index.md
  docs/sources/operators-guide/architecture/components/ruler/index.md
  docs/sources/operators-guide/configuring/about-configurations.md
  docs/sources/operators-guide/configuring/about-versioning.md
  docs/sources/operators-guide/running-production-environment/planning-capacity.md
  docs/sources/operators-guide/securing/securing-communications-with-tls.md
Labels: type/docs, component/ruler

#1844 Use concurrent open/close operations in compactor unit tests
  pkg/compactor/compactor_test.go
Labels: component/compactor, type/tests

#1869 Docs: clarify 'Set rule group' API specification
  docs/sources/operators-guide/reference-http-api/index.md
Labels: type/docs

#1884 Increased default configuration for -server.grpc-max-recv-msg-size-bytes and -server.grpc-max-send-msg-size-bytes from 4MB to 100MB
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/operators-guide/configuring/reference-configuration-parameters/index.md
  operations/mimir-tests/test-defaults-generated.yaml
  operations/mimir-tests/test-disable-chunk-streaming-generated.yaml
  operations/mimir-tests/test-gossip-generated.yaml
  operations/mimir-tests/test-gossip-multi-zone-generated.yaml
  operations/mimir-tests/test-gossip-multikv-generated.yaml
  operations/mimir-tests/test-gossip-multikv-switch-primary-secondary-generated.yaml
  operations/mimir-tests/test-gossip-multikv-teardown-generated.yaml
  operations/mimir-tests/test-gossip-ruler-disabled-generated.yaml
  operations/mimir-tests/test-multi-zone-generated.yaml
  operations/mimir-tests/test-multi-zone-with-ongoing-migration-generated.yaml
  operations/mimir-tests/test-query-sharding-generated.yaml
  operations/mimir-tests/test-shuffle-sharding-generated.yaml
  operations/mimir-tests/test-storage-azure-generated.yaml
  operations/mimir-tests/test-storage-gcs-generated.yaml
  operations/mimir-tests/test-storage-s3-generated.yaml
  operations/mimir/ingester.libsonnet
  operations/mimir/query-frontend.libsonnet
  operations/mimir/query-sharding.libsonnet
  operations/mimir/ruler.libsonnet
  pkg/mimir/mimir.go
Labels: ease-of-use

#1882 Add alert for store-gateways without blocks
  CHANGELOG.md
  operations/mimir-mixin-compiled/alerts.yaml
  operations/mimir-mixin/alerts/blocks.libsonnet
  operations/mimir-mixin/docs/playbooks.md
Labels: component/store-gateway

#1868 Docs: Explain the runtime override of active series matchers
  docs/sources/operators-guide/configuring/configuring-custom-trackers.md
Labels: type/docs

#1895 Fix `MimirRulerMissedEvaluations` text and add playbook
  CHANGELOG.md
  operations/mimir-mixin-compiled/alerts.yaml
  operations/mimir-mixin/alerts/alerts.libsonnet
  operations/mimir-mixin/docs/playbooks.md
Labels: type/docs, jsonnet

#1904 Conform to tech doc style
  docs/sources/_index.md
Labels: type/docs

#1909 Set defaults to query ingesters, not store, for recent data
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/operators-guide/configuring/reference-configuration-parameters/index.md
  docs/sources/operators-guide/running-production-environment/production-tips/index.md
  integration/getting_started_with_gossiped_ring_test.go
  integration/ingester_sharding_test.go
  integration/querier_sharding_test.go
  integration/querier_tenant_federation_test.go
  integration/querier_test.go
  integration/query_frontend_cache_test.go
  integration/query_frontend_test.go
  pkg/querier/querier.go
  pkg/storage/tsdb/config.go
  pkg/storegateway/gateway_test.go
Labels: type/docs, easy-to-use/config-cleanup

#1903 Docs: recommend fast disks for ingesters and store-gateways
  docs/sources/operators-guide/running-production-environment/production-tips/index.md
Labels: type/docs

#1907 Improve series, sample, metadata and exemplars validation errors
  CHANGELOG.md
  operations/mimir-mixin/docs/playbooks.md
  operations/mimir-mixin/scripts/lint-playbooks.sh
  pkg/distributor/distributor_test.go
  pkg/util/globalerror/errors.go
  pkg/util/globalerror/errors_test.go
  pkg/util/validation/errors.go
  pkg/util/validation/limits.go
  pkg/util/validation/validate.go
Labels: type/docs

#1913 mixin: Account for helm chart StatefulSets and Depl-s
  operations/mimir-mixin-compiled/dashboards/mimir-rollout-progress.json
  operations/mimir-mixin/dashboards/rollout-progress.libsonnet
Labels: jsonnet

#1936 Document CHANGELOG scopes and update CHANGELOG for #1934
  CHANGELOG.md
  docs/internal/contributing/README.md
Labels: type/docs

#1888 Improve instance limits, ingester limits, query limiter, some querier errors
  CHANGELOG.md
  integration/querier_test.go
  operations/mimir-mixin/docs/playbooks.md
  pkg/distributor/distributor_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/ingester/instance_limits.go
  pkg/ingester/limiter.go
  pkg/ingester/limiter_test.go
  pkg/ingester/user_tsdb.go
  pkg/querier/blocks_store_queryable.go
  pkg/querier/blocks_store_queryable_test.go
  pkg/util/globalerror/errors.go
  pkg/util/limiter/query_limiter.go
  pkg/util/validation/limits.go
Labels: ease-of-use

#1906 docs: move federated rule groups documentation to its own section
  docs/sources/operators-guide/architecture/components/ruler/index.md
  docs/sources/operators-guide/reference-http-api/index.md
  docs/sources/release-notes/v2.0.md
Labels: type/docs, component/ruler

#1927 Make networking panels pod matchers work with helm chart
  CHANGELOG.md
  operations/mimir-mixin-compiled/dashboards/mimir-alertmanager-resources.json
  operations/mimir-mixin-compiled/dashboards/mimir-compactor-resources.json
  operations/mimir-mixin-compiled/dashboards/mimir-reads-networking.json
  operations/mimir-mixin-compiled/dashboards/mimir-writes-networking.json
  operations/mimir-mixin/config.libsonnet
Labels: jsonnet

#1843 Distributor: added per-tenant request limit
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/operators-guide/architecture/components/distributor.md
  docs/sources/operators-guide/configuring/about-versioning.md
  docs/sources/operators-guide/configuring/reference-configuration-parameters/index.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/ingestion_rate_strategy.go
  pkg/distributor/rate_strategy.go
  pkg/distributor/rate_strategy_test.go
  pkg/util/validation/limits.go
  pkg/util/validation/validate.go
Labels: enhancement, type/docs, component/distributor
