Repository grafana/mimir, pull requests merged in 2022-09, with the labels that each got.

#2880 Remove mention of "active series" in helm chart
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/README.md.gotmpl
  operations/helm/charts/mimir-distributed/capped-large.yaml
  operations/helm/charts/mimir-distributed/capped-small.yaml
  operations/helm/charts/mimir-distributed/large.yaml
  operations/helm/charts/mimir-distributed/small.yaml
Labels: type/docs, helm

#2870 Helm: Remove PSP if kubernetes doesn't support it
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/_helpers.tpl
  operations/helm/charts/mimir-distributed/templates/podsecuritypolicy.yaml
  operations/helm/charts/mimir-distributed/templates/role.yaml
  operations/helm/charts/mimir-distributed/templates/rolebinding.yaml
  operations/helm/charts/mimir-distributed/templates/securitycontextconstraints.yaml
Labels: helm

#2897 Helm: update changlog and notes
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/README.md.gotmpl
  operations/helm/charts/mimir-distributed/templates/NOTES.txt
Labels: helm

#2902 [release-2.3] Update release version and dashboard screenshots
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/_helpers.tpl
  operations/helm/charts/mimir-distributed/templates/podsecuritypolicy.yaml
  operations/helm/charts/mimir-distributed/templates/role.yaml
  operations/helm/charts/mimir-distributed/templates/rolebinding.yaml
  operations/helm/charts/mimir-distributed/templates/securitycontextconstraints.yaml
Labels: backport

#2907 release helm 3.1.0-rc.0
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/README.md.gotmpl
  operations/helm/charts/mimir-distributed/values.yaml
Labels: helm

#2637 Build: Upgrade to Go 1.19.1
  .github/workflows/compare-helm-with-jsonnet.yml
  .github/workflows/helm-ci.yml
  .github/workflows/test-build-deploy.yml
  CHANGELOG.md
  Makefile
  cmd/mimir/config-descriptor.json
  development/mimir-microservices-mode/dev.dockerfile
  mimir-build-image/Dockerfile
  pkg/compactor/shard_aware_deduplicate_filter.go
  pkg/ingester/activeseries/active_series.go
  pkg/ingester/activeseries/custom_trackers_config_test.go
  pkg/mimir/modules.go
  pkg/querier/error_translate_queryable.go
  pkg/ruler/ruler.go
  pkg/ruler/rulestore/local/local.go
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_e2e_test.go
  pkg/util/gziphandler/gzip.go
  pkg/util/log/wrappers.go
  pkg/util/validation/validate.go
  tools/listblocks/main.go
Labels: chore

#2920 Helm: update changelog
  operations/helm/charts/mimir-distributed/CHANGELOG.md
Labels: helm

#2915 Fix panic when ruler.external_url is set to empty string
  CHANGELOG.md
  pkg/ruler/compat.go
Labels: bug, component/ruler

#2722 Add topologySpreadConstraints to helm
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/admin-api/admin-api-dep.yaml
  operations/helm/charts/mimir-distributed/templates/alertmanager/alertmanager-dep.yaml
  operations/helm/charts/mimir-distributed/templates/alertmanager/alertmanager-statefulset.yaml
  operations/helm/charts/mimir-distributed/templates/compactor/compactor-statefulset.yaml
  operations/helm/charts/mimir-distributed/templates/distributor/distributor-dep.yaml
  operations/helm/charts/mimir-distributed/templates/gateway/gateway-dep.yaml
  operations/helm/charts/mimir-distributed/templates/ingester/ingester-statefulset.yaml
  operations/helm/charts/mimir-distributed/templates/lib/topologySpreadConstraints.tpl
  operations/helm/charts/mimir-distributed/templates/memcached/_memcached-statefulset.tpl
  operations/helm/charts/mimir-distributed/templates/nginx/nginx-dep.yaml
  operations/helm/charts/mimir-distributed/templates/overrides-exporter/overrides-exporter-dep.yaml
  operations/helm/charts/mimir-distributed/templates/querier/querier-dep.yaml
  operations/helm/charts/mimir-distributed/templates/query-frontend/query-frontend-dep.yaml
  operations/helm/charts/mimir-distributed/templates/query-scheduler/query-scheduler-dep.yaml
  operations/helm/charts/mimir-distributed/templates/ruler/ruler-dep.yaml
  operations/helm/charts/mimir-distributed/templates/store-gateway/store-gateway-statefulset.yaml
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/admin-api/admin-api-dep.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/alertmanager/alertmanager-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/compactor/compactor-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/distributor/distributor-dep.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/gateway/gateway-dep.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/ingester/ingester-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/overrides-exporter/overrides-exporter-dep.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/querier/querier-dep.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/query-frontend/query-frontend-dep.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/query-scheduler/query-scheduler-dep.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/ruler/ruler-dep.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/store-gateway/store-gateway-statefulset.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/admin-api/admin-api-dep.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/alertmanager/alertmanager-statefulset.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/compactor/compactor-statefulset.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/distributor/distributor-dep.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/gateway/gateway-dep.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/ingester/ingester-statefulset.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/overrides-exporter/overrides-exporter-dep.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/querier/querier-dep.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/query-frontend/query-frontend-dep.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/query-scheduler/query-scheduler-dep.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/ruler/ruler-dep.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/store-gateway/store-gateway-statefulset.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/alertmanager/alertmanager-statefulset.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/chunks-cache/chunks-cache-statefulset.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/compactor/compactor-statefulset.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/distributor/distributor-dep.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/index-cache/index-cache-statefulset.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/ingester/ingester-statefulset.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/metadata-cache/metadata-cache-statefulset.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/nginx/nginx-dep.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/overrides-exporter/overrides-exporter-dep.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/querier/querier-dep.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/query-frontend/query-frontend-dep.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/query-scheduler/query-scheduler-dep.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/results-cache/results-cache-statefulset.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/ruler/ruler-dep.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/store-gateway/store-gateway-statefulset.yaml
Labels: helm

#2872 Helm: Tidy up k8s versions checks
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/_helpers.tpl
  operations/helm/charts/mimir-distributed/templates/gateway/_helpers.tpl
  operations/helm/charts/mimir-distributed/templates/gateway/gateway-ingress.yaml
  operations/helm/charts/mimir-distributed/templates/nginx/_helpers.tpl
  operations/helm/charts/mimir-distributed/templates/nginx/ingress.yaml
  operations/helm/charts/mimir-distributed/values.yaml
Labels: helm

#2934 Add deprecation notices to helm chart
  RELEASE.md
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/README.md.gotmpl
  operations/helm/charts/mimir-distributed/templates/NOTES.txt
Labels: type/docs, helm

#2947 Fix sanity check done on configured filesystem directories when running Alertmanager in microservices mode
  CHANGELOG.md
  pkg/mimir/mimir.go
  pkg/mimir/mimir_test.go
Labels: backport release-2.3

#2953 Change -ingester.ring.readiness-check-ring-health default to false
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/operators-guide/configure/reference-configuration-parameters/index.md
  integration/backward_compatibility.go
  integration/e2emimir/services.go
  operations/compare-helm-with-jsonnet/components/config/write-path-config.yaml
  operations/mimir-tests/test-autoscaling-generated.yaml
  operations/mimir-tests/test-consul-generated.yaml
  operations/mimir-tests/test-consul-multi-zone-generated.yaml
  operations/mimir-tests/test-consul-ruler-disabled-generated.yaml
  operations/mimir-tests/test-defaults-generated.yaml
  operations/mimir-tests/test-disable-chunk-streaming-generated.yaml
  operations/mimir-tests/test-extra-runtime-config-generated.yaml
  operations/mimir-tests/test-helm-parity-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-0-before-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-1-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-2-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-3-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-0-before-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-1-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-2-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-3-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-4-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-5-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-6-final-generated.yaml
  operations/mimir-tests/test-multi-zone-generated.yaml
  operations/mimir-tests/test-multi-zone-with-ongoing-migration-generated.yaml
  operations/mimir-tests/test-query-sharding-generated.yaml
  operations/mimir-tests/test-ruler-remote-evaluation-generated.yaml
  operations/mimir-tests/test-ruler-remote-evaluation-migration-generated.yaml
  operations/mimir-tests/test-shuffle-sharding-generated.yaml
  operations/mimir-tests/test-shuffle-sharding-read-path-disabled-generated.yaml
  operations/mimir-tests/test-storage-azure-generated.yaml
  operations/mimir-tests/test-storage-gcs-generated.yaml
  operations/mimir-tests/test-storage-s3-generated.yaml
  operations/mimir-tests/test-without-query-scheduler-generated.yaml
  operations/mimir/ingester.libsonnet
  pkg/ingester/ingester_ring.go
  pkg/ingester/ingester_ring_test.go
Labels: ease-of-use

#2956 Fix typo on tenant spelling
  docs/sources/operators-guide/configure/configuring-high-availability-deduplication.md
  pkg/mimirtool/commands/rules.go
Labels: type/docs

#2962 Add scale down policies for autoscaling
  CHANGELOG.md
  operations/mimir-tests/test-autoscaling-generated.yaml
  operations/mimir/autoscaling.libsonnet
Labels: jsonnet

#2848 Helm: add autoscaling/v2 horizontalPodAutoscaler for nginx
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/nginx/_helpers.tpl
  operations/helm/charts/mimir-distributed/templates/nginx/nginx-v2-hpa.yaml
  operations/helm/charts/mimir-distributed/templates/nginx/nginx-v2beta1-hpa.yaml
  operations/helm/charts/mimir-distributed/templates/validate.yaml
Labels: helm

#2963 Fix 400 response while handling streaming remote read
  CHANGELOG.md
  go.mod
  go.sum
  integration/querier_remote_read_test.go
  vendor/github.com/weaveworks/common/httpgrpc/httpgrpc.proto
  vendor/github.com/weaveworks/common/httpgrpc/server/server.go
  vendor/github.com/weaveworks/common/middleware/logging.go
  vendor/github.com/weaveworks/common/middleware/response.go
  vendor/modules.txt
Labels: bug, component/querier

#2975 Fix language for gnu-sed on contributing guide
  docs/internal/contributing/README.md
  docs/internal/contributing/contributing-to-helm-chart.md
Labels: type/docs

#2906 Helm: add podAntiAffinity to the size plans
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/capped-large.yaml
  operations/helm/charts/mimir-distributed/capped-small.yaml
  operations/helm/charts/mimir-distributed/large.yaml
  operations/helm/charts/mimir-distributed/small.yaml
Labels: helm

#2933 Test pod topology constraints label selectors
  operations/helm/policies/policies.rego
  operations/helm/policies/policies_test.rego
  operations/helm/policies/topology_spread_constraints_test.rego
  tools/run-conftest.sh
Labels: helm

#2981 Track the type of ring backend used in the anonymous usage statistics
  CHANGELOG.md
  docs/sources/operators-guide/configure/about-anonymous-usage-statistics-reporting.md
  pkg/ingester/ingester.go
Labels: ease-of-use

#2992 Chore: improve and lint errors comparison
  .golangci.yml
  integration/querier_remote_read_test.go
  integration/s3_storage_client_test.go
  pkg/alertmanager/api.go
  pkg/alertmanager/rate_limited_notifier_test.go
  pkg/alertmanager/state_replication.go
  pkg/distributor/distributor.go
  pkg/distributor/query.go
  pkg/frontend/transport/handler.go
  pkg/frontend/v1/frontend.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/ingester/limiter.go
  pkg/mimir/mimir.go
  pkg/mimir/mimir_test.go
  pkg/mimirtool/backfill/backfill.go
  pkg/mimirtool/commands/remote_read.go
  pkg/mimirtool/commands/remote_read_test.go
  pkg/mimirtool/commands/rules.go
  pkg/mimirtool/rules/parser.go
  pkg/querier/blocks_store_queryable.go
  pkg/querier/querier.go
  pkg/querier/remote_read_test.go
  pkg/ruler/api.go
  pkg/scheduler/scheduler.go
  pkg/storage/bucket/client_mock.go
  pkg/storage/tsdb/bucketcache/caching_bucket.go
  pkg/storegateway/bucket.go
  pkg/storegateway/indexheader/lazy_binary_reader_test.go
  pkg/storegateway/io.go
  pkg/util/activitytracker/activity_tracker.go
  pkg/util/httpgrpcutil/carrier.go
  tools/query-step-alignment-analysis/main.go
  tools/trafficdump/streams.go
Labels: chore

#3008 Cut down changelog
  CHANGELOG.md
Labels: chore

#2908 Helm: Add support for OpenShift route for Nginx
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/nginx/route.yaml
  operations/helm/charts/mimir-distributed/values.yaml
Labels: helm

#3019 Remove duplicate line in helm chart readme
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/README.md.gotmpl
Labels: type/docs, helm

#3013 Fix some query sharding values in helm
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/mimir-config.yaml
Labels: helm

#3033 The default hash ring heartbeat period for distributors, ingesters, rulers and compactors has been increased to 15s
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/operators-guide/configure/reference-configuration-parameters/index.md
  operations/compare-helm-with-jsonnet/components/config/write-path-config.yaml
  operations/mimir-tests/test-autoscaling-generated.yaml
  operations/mimir-tests/test-consul-generated.yaml
  operations/mimir-tests/test-consul-multi-zone-generated.yaml
  operations/mimir-tests/test-consul-ruler-disabled-generated.yaml
  operations/mimir-tests/test-defaults-generated.yaml
  operations/mimir-tests/test-disable-chunk-streaming-generated.yaml
  operations/mimir-tests/test-extra-runtime-config-generated.yaml
  operations/mimir-tests/test-helm-parity-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-0-before-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-1-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-2-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-3-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-0-before-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-1-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-2-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-3-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-4-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-5-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-6-final-generated.yaml
  operations/mimir-tests/test-multi-zone-generated.yaml
  operations/mimir-tests/test-multi-zone-with-ongoing-migration-generated.yaml
  operations/mimir-tests/test-query-sharding-generated.yaml
  operations/mimir-tests/test-ruler-remote-evaluation-generated.yaml
  operations/mimir-tests/test-ruler-remote-evaluation-migration-generated.yaml
  operations/mimir-tests/test-shuffle-sharding-generated.yaml
  operations/mimir-tests/test-shuffle-sharding-read-path-disabled-generated.yaml
  operations/mimir-tests/test-storage-azure-generated.yaml
  operations/mimir-tests/test-storage-gcs-generated.yaml
  operations/mimir-tests/test-storage-s3-generated.yaml
  operations/mimir-tests/test-without-query-scheduler-generated.yaml
  operations/mimir/ingester.libsonnet
  pkg/compactor/compactor_ring.go
  pkg/compactor/compactor_ring_test.go
  pkg/distributor/distributor_ring.go
  pkg/ingester/ingester_ring.go
  pkg/ingester/ingester_ring_test.go
  pkg/ruler/ruler_ring.go
Labels: ease-of-use

#2936 Helm: Add flags to toggle metamonitoring logs/metrics custom resources
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/metamonitoring/kube-state-metrics-servmon.yaml
  operations/helm/charts/mimir-distributed/templates/metamonitoring/kubelet-cadvisor-servmon.yaml
  operations/helm/charts/mimir-distributed/templates/metamonitoring/logs-instance-usernames-secret.yaml
  operations/helm/charts/mimir-distributed/templates/metamonitoring/logs-instance.yaml
  operations/helm/charts/mimir-distributed/templates/metamonitoring/metrics-instance-usernames-secret.yaml
  operations/helm/charts/mimir-distributed/templates/metamonitoring/metrics-instance.yaml
  operations/helm/charts/mimir-distributed/templates/metamonitoring/pod-logs.yaml
  operations/helm/charts/mimir-distributed/values.yaml
Labels: helm

#2868 Add useful helm chart scripts
  operations/helm/charts/mimir-distributed/scripts/bootstrap_kind_cluster.sh
  operations/helm/charts/mimir-distributed/scripts/generate_enterprise_tenant_token.sh
  operations/helm/charts/mimir-distributed/scripts/test_graphite_read_path.sh
  operations/helm/charts/mimir-distributed/scripts/test_graphite_write_path.sh
Labels: helm

#3053 fix(remote-read): return err instead of nil
  CHANGELOG.md
  pkg/mimirtool/commands/remote_read.go
Labels: component/mimirtool

#3052 fix(analyse_prometheus): store errors instead of exit
  CHANGELOG.md
  pkg/mimirtool/analyze/prometheus.go
  pkg/mimirtool/commands/analyse_prometheus.go
Labels: enhancement, component/mimirtool

#3070 Update dskit and add TLS cipher suites and minimum version support for clients
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/operators-guide/configure/reference-configuration-parameters/index.md
  docs/sources/operators-guide/secure/securing-communications-with-tls.md
  go.mod
  go.sum
  vendor/github.com/grafana/dskit/concurrency/limited_concurrency_singleflight.go
  vendor/github.com/grafana/dskit/crypto/tls/tls.go
  vendor/github.com/grafana/dskit/services/failure_watcher.go
  vendor/go.uber.org/goleak/CHANGELOG.md
  vendor/go.uber.org/goleak/leaks.go
  vendor/go.uber.org/goleak/options.go
  vendor/go.uber.org/goleak/testmain.go
  vendor/go.uber.org/goleak/tracestack_old.go
  vendor/modules.txt
Labels: type/docs

#3042 Fix indentation in YAML in helm config guide
  docs/sources/operators-guide/running-production-environment-with-helm/configuration-with-helm.md
Labels: type/docs, helm, backport release-2.3

#2983 Small additions/edits to ruler and alertmanager docs
  docs/sources/operators-guide/architecture/components/alertmanager.md
  docs/sources/operators-guide/architecture/components/ruler/index.md
  docs/sources/operators-guide/tools/mimirtool.md
  pkg/mimirtool/commands/alerts.go
Labels: type/docs

#3085 Backport: Helm: update agent-operator chart to 0.2.5 (#3009)
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/Chart.lock
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
Labels: helm

#3081 Update mimir versions for helm charts to GEM 2.3.0 and Mimir 2.3.1
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/values.yaml
Labels: helm

#2450 frontend: use `mimirpb.Sample` custom JSON encoder func
  CHANGELOG.md
  pkg/frontend/querymiddleware/codec_test.go
  pkg/mimirpb/compat.go
Labels: type/performance, component/query-frontend
