Repository grafana/mimir, pull requests merged in 2022-11, with the labels that each got.

#3353 Update Helm compactor config to match Jsonnet
  operations/compare-helm-with-jsonnet/components/config/compactor-config.yaml
  operations/compare-helm-with-jsonnet/components/config/kustomization.yaml
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/gateway-enterprise-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/graphite-enabled-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-legacy-label-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-logical-multizone-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-multizone-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/mimir-config.yaml
Labels: helm

#3334 mimirpb: use jsonutil point marshal functions
  pkg/mimirpb/compat.go
Labels: chore

#3371 Build: Upgrade to Go 1.19.3
  .github/workflows/compare-helm-with-jsonnet.yml
  .github/workflows/helm-ci.yml
  .github/workflows/test-build-deploy.yml
  CHANGELOG.md
  Makefile
  development/mimir-microservices-mode/dev.dockerfile
  mimir-build-image/Dockerfile
Labels: chore

#3177 mixin: ruler emote eval failing alert
  CHANGELOG.md
  docs/sources/operators-guide/mimir-runbooks/_index.md
  operations/mimir-mixin-compiled/alerts.yaml
  operations/mimir-mixin/alerts/alerts-utils.libsonnet
  operations/mimir-mixin/alerts/alerts.libsonnet
Labels: enhancement, monitoring/alerts

#3378 Distributor autoscaling
  CHANGELOG.md
  docs/sources/operators-guide/deploy-grafana-mimir/jsonnet/configure-autoscaling.md
  docs/sources/operators-guide/mimir-runbooks/_index.md
  operations/mimir-mixin-compiled/alerts.yaml
  operations/mimir-mixin-compiled/dashboards/mimir-writes.json
  operations/mimir-mixin/alerts/autoscaling.libsonnet
  operations/mimir-mixin/config.libsonnet
  operations/mimir-mixin/dashboards/reads.libsonnet
  operations/mimir-mixin/dashboards/remote-ruler-reads.libsonnet
  operations/mimir-mixin/dashboards/writes.libsonnet
  operations/mimir-mixin/mixin-compiled.libsonnet
  operations/mimir-tests/test-autoscaling-generated.yaml
  operations/mimir-tests/test-autoscaling.jsonnet
  operations/mimir/autoscaling.libsonnet
Labels: type/docs

#3290 Updated detailed steps for migrating blocks from Thanos to Mimir.
  docs/sources/migration-guide/migrating-from-thanos-or-prometheus.md
Labels: type/docs

#3350 Helm: metamonitoring as non-root; update agent subchart
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/Chart.lock
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/templates/metamonitoring/grafana-agent-cluster-role-binding.yaml
  operations/helm/charts/mimir-distributed/templates/metamonitoring/grafana-agent-service-account.yaml
  operations/helm/charts/mimir-distributed/templates/metamonitoring/grafana-agent.yaml
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/charts/grafana-agent-operator/templates/operator-clusterrole.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/charts/grafana-agent-operator/templates/operator-clusterrolebinding.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/charts/grafana-agent-operator/templates/operator-deployment.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/charts/grafana-agent-operator/templates/operator-serviceaccount.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/charts/grafana-agent-operator/templates/tests/test-grafanaagent.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/grafana-agent-cluster-role-binding.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/grafana-agent-service-account.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/grafana-agent.yaml
Labels: helm

#3360 Helm: add alertmanager fallback config
  operations/compare-helm-with-jsonnet/components/config/kustomization.yaml
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/alertmanager/alertmanager-config.yaml
  operations/helm/charts/mimir-distributed/templates/alertmanager/alertmanager-dep.yaml
  operations/helm/charts/mimir-distributed/templates/alertmanager/alertmanager-statefulset.yaml
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/gateway-enterprise-values-generated/mimir-distributed/templates/alertmanager/alertmanager-config.yaml
  operations/helm/tests/gateway-enterprise-values-generated/mimir-distributed/templates/alertmanager/alertmanager-statefulset.yaml
  operations/helm/tests/gateway-enterprise-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/templates/alertmanager/alertmanager-config.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/templates/alertmanager/alertmanager-statefulset.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/graphite-enabled-values-generated/mimir-distributed/templates/alertmanager/alertmanager-config.yaml
  operations/helm/tests/graphite-enabled-values-generated/mimir-distributed/templates/alertmanager/alertmanager-statefulset.yaml
  operations/helm/tests/graphite-enabled-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/templates/alertmanager/alertmanager-config.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/templates/alertmanager/alertmanager-statefulset.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/alertmanager/alertmanager-config.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/alertmanager/alertmanager-statefulset.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/templates/alertmanager/alertmanager-config.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/templates/alertmanager/alertmanager-statefulset.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/alertmanager/alertmanager-config.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/alertmanager/alertmanager-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/templates/alertmanager/alertmanager-config.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/templates/alertmanager/alertmanager-statefulset.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-legacy-label-values-generated/mimir-distributed/templates/alertmanager/alertmanager-config.yaml
  operations/helm/tests/test-enterprise-legacy-label-values-generated/mimir-distributed/templates/alertmanager/alertmanager-statefulset.yaml
  operations/helm/tests/test-enterprise-legacy-label-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/alertmanager/alertmanager-config.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/alertmanager/alertmanager-statefulset.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/alertmanager/alertmanager-config.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/alertmanager/alertmanager-statefulset.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-logical-multizone-values-generated/mimir-distributed/templates/alertmanager/alertmanager-config.yaml
  operations/helm/tests/test-oss-logical-multizone-values-generated/mimir-distributed/templates/alertmanager/alertmanager-statefulset.yaml
  operations/helm/tests/test-oss-logical-multizone-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-multizone-values-generated/mimir-distributed/templates/alertmanager/alertmanager-config.yaml
  operations/helm/tests/test-oss-multizone-values-generated/mimir-distributed/templates/alertmanager/alertmanager-statefulset.yaml
  operations/helm/tests/test-oss-multizone-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/alertmanager/alertmanager-config.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/alertmanager/alertmanager-statefulset.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/mimir-tests/test-helm-parity-generated.yaml
  operations/mimir-tests/test-helm-parity.jsonnet
Labels: helm

#3420 Replace person with team for documentation reviews
  CODEOWNERS
Labels: type/docs

#3418 Fix some minor typos in the contributing guide and on the runbooks page
  docs/internal/contributing/README.md
  docs/internal/contributing/design-patterns-and-conventions.md
  docs/internal/contributing/how-integration-tests-work.md
  docs/internal/contributing/how-to-upgrade-golang-version.md
  docs/sources/operators-guide/mimir-runbooks/_index.md
Labels: type/docs

#3425 Refactoring: move postings reading utilities to dedicated file
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_index_postings.go
  pkg/storegateway/bucket_index_postings_test.go
  pkg/storegateway/bucket_index_reader.go
  pkg/storegateway/bucket_test.go
Labels: chore, component/store-gateway

#3427 Refactoring: move bucketChunkReader to dedicated file
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_chunk_reader.go
Labels: chore, component/store-gateway

#3428 Chore: remove logic to conditionally enable store-gateway series hints
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_e2e_test.go
  pkg/storegateway/bucket_stores.go
  pkg/storegateway/bucket_test.go
Labels: chore, component/store-gateway

#3386 move validation in distributor into separate middleware
  CHANGELOG.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/mimirpb/timeseries.go
Labels: type/docs

#3445 Helm: release 3.3.0 with GEM 2.4.0
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/values.yaml
Labels: helm

#3441 store-gateway: fix error handling in Series()
  pkg/storegateway/bucket.go
Labels: bug, component/store-gateway

#3458 Fix sending all series to all ingesters
  CHANGELOG.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
Labels: bug, component/distributor

#3450 Add scheme to DNS service discovery docs
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/operators-guide/configure/about-dns-service-discovery.md
  docs/sources/operators-guide/configure/reference-configuration-parameters/index.md
  pkg/ruler/ruler.go
Labels: type/docs

#3168 Ruler, Querier, AM: Increase frequency of gRPC healthchecks
  CHANGELOG.md
  pkg/alertmanager/alertmanager_client.go
  pkg/querier/store_gateway_client.go
  pkg/ruler/client_pool.go
Labels: component/querier, component/ruler

#3488 Improve phrasing in Overview dashboard
  operations/mimir-mixin-compiled/dashboards/mimir-overview.json
  operations/mimir-mixin/dashboards/overview.libsonnet
Labels: type/docs

#3477 Release: add release issue template to doc
  RELEASE.md
Labels: release

#3500 Refactoring: removed mutex from bucketIndexReader
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_index_reader.go
Labels: chore, component/store-gateway

#3509 Refactoring: remove queryStats from bucketChunkReader
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_chunk_reader.go
  pkg/storegateway/stats.go
  pkg/storegateway/stats_test.go
Labels: chore, component/store-gateway

#3482 mixin: configurable namespace label, job label, and job prefix
  CHANGELOG.md
  docs/sources/operators-guide/monitor-grafana-mimir/requirements.md
  operations/mimir-mixin/alerts/alertmanager.libsonnet
  operations/mimir-mixin/alerts/alerts.libsonnet
  operations/mimir-mixin/alerts/blocks.libsonnet
  operations/mimir-mixin/config.libsonnet
  operations/mimir-mixin/dashboards/dashboard-utils.libsonnet
  operations/mimir-mixin/dashboards/overrides.libsonnet
  operations/mimir-mixin/dashboards/slow-queries.libsonnet
Labels: type/docs

#3512 mimir-operations: Ensure integer auto-scaling thresholds
  CHANGELOG.md
  operations/mimir-tests/test-autoscaling-generated.yaml
  operations/mimir-tests/test-autoscaling.jsonnet
  operations/mimir/autoscaling.libsonnet
Labels: jsonnet

#3515 cacheutil: added cache `Delete` method
  pkg/cacheutil/memcached_client.go
  pkg/storegateway/indexcache/memcached_test.go
Labels: enhancement, memcached

#3479 Add OTLP Endpoint to Helm NGINX configuration
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/templates/nginx/nginx-configmap.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/nginx/nginx-configmap.yaml
  operations/helm/tests/scheduler-name-values-generated/mimir-distributed/templates/nginx/nginx-configmap.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/templates/nginx/nginx-configmap.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/nginx/nginx-configmap.yaml
  operations/helm/tests/test-oss-logical-multizone-values-generated/mimir-distributed/templates/nginx/nginx-configmap.yaml
  operations/helm/tests/test-oss-multizone-values-generated/mimir-distributed/templates/nginx/nginx-configmap.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/nginx/nginx-configmap.yaml
Labels: helm

#3540 store-gateway series: break up fetching of series into functions
  pkg/storegateway/bucket.go
Labels: component/store-gateway

#3563 Remove stats from seriesChunkRefsSet
  pkg/storegateway/batch_series.go
  pkg/storegateway/batch_series_test.go
  pkg/storegateway/bucket.go
  pkg/storegateway/series_refs.go
Labels: release/notified-changelog-cut

#3562 Rename loaded structs
  pkg/storegateway/batch_series.go
  pkg/storegateway/batch_series_test.go
  pkg/storegateway/series_chunks.go
  pkg/storegateway/series_chunks_test.go
  pkg/storegateway/series_refs.go
  pkg/storegateway/series_refs_test.go
Labels: release/notified-changelog-cut
