Repository grafana/mimir, pull requests merged in 2022-08, with the labels that each got.

#2585 Improve validation failure message for memcached caches
  operations/helm/charts/mimir-distributed/templates/validate.yaml
Labels: helm

#2584 Mention memcached impact on mimir config
  docs/sources/operators-guide/deploy-grafana-mimir/upgrade-helm-chart-2.1-to-3.0/_index.md
Labels: type/docs, helm, backport release-2.2

#2614 Helm: inject the no_auth_tenant as default in nginx
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/_helpers.tpl
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/nginx/nginx-configmap.yaml
Labels: helm

#2638 Helm: be more specific about container image and nginx values
  operations/helm/charts/mimir-distributed/values.yaml
Labels: helm

#2629 mimirtool config: Update config descriptors
  CHANGELOG.md
  pkg/mimirtool/commands/config.go
  pkg/mimirtool/config/convert_test.go
  pkg/mimirtool/config/cortex.go
  pkg/mimirtool/config/descriptors/cortex-v1.11.0-flags-only.json
  pkg/mimirtool/config/descriptors/gem-v2.3.0-flags-only.json
  pkg/mimirtool/config/descriptors/gem-v2.3.0.json
  pkg/mimirtool/config/descriptors/mimir-v2.3.0-flags-only.json
  pkg/mimirtool/config/descriptors/mimir-v2.3.0.json
  pkg/mimirtool/config/gem.go
  pkg/mimirtool/config/inspect.go
Labels: component/mimirtool

#2650 runbooks: Fix MimirTenantHasPartialBlocks wrt. log messages
  docs/sources/operators-guide/mimir-runbooks/_index.md
Labels: monitoring/runbooks

#2623 Automate weekly helm development release (without docs)
  .github/workflows/helm-weekly-release-pr.yaml
  .github/workflows/scripts/helm-weekly-release.sh
  RELEASE.md
Labels: helm

#2347 Common storage backend docs
  docs/sources/operators-guide/configure/about-configurations.md
  docs/sources/operators-guide/configure/configure-object-storage-backend.md
Labels: type/docs

#2356 Add helm static checks
  .github/workflows/helm-ci.yml
  .github/workflows/test-build-deploy.yml
  Makefile
  docs/internal/contributing/contributing-to-helm-chart.md
  mimir-build-image/Dockerfile
  operations/helm/charts/mimir-distributed/ci/conftest/metamonitoring-values.yaml
  operations/helm/policies/policies.rego
  operations/helm/policies/policies_test.rego
  tools/run-conftest.sh
Labels: helm

#2463 Add docs for the OTLP endpoint.
  docs/sources/operators-guide/configure/configure-otel-collector.md
  docs/sources/operators-guide/reference-http-api/index.md
Labels: type/docs

#2729 Chore: Upgrade alpine to 3.16.2
  CHANGELOG.md
  cmd/metaconvert/Dockerfile
  cmd/mimir-continuous-test/Dockerfile
  cmd/mimir/Dockerfile
  cmd/mimirtool/Dockerfile
  cmd/query-tee/Dockerfile
  development/tsdb-blocks-storage-s3-single-binary/dev.dockerfile
  development/tsdb-blocks-storage-s3/dev.dockerfile
  development/tsdb-blocks-storage-swift-single-binary/dev.dockerfile
  packaging/fpm/Dockerfile
Labels: chore

#2723 Fix version checking in mimirtool
  CHANGELOG.md
  pkg/mimirtool/version/version.go
Labels: bug, component/mimirtool

#2724 Add prometheus-prefixed buildinfo endpoint to ruler
  CHANGELOG.md
  docs/sources/operators-guide/reference-http-api/index.md
  pkg/api/api.go
  pkg/mimir/modules.go
Labels: component/ruler

#2735 Disable resource requests in Helm CI runs
  operations/helm/charts/mimir-distributed/ci/test-enterprise-configmap-values.yaml
  operations/helm/charts/mimir-distributed/ci/test-enterprise-values.yaml
  operations/helm/charts/mimir-distributed/ci/test-oss-values.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/alertmanager/alertmanager-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/compactor/compactor-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/ingester/ingester-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/querier/querier-dep.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/query-frontend/query-frontend-dep.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/store-gateway/store-gateway-statefulset.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/alertmanager/alertmanager-statefulset.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/compactor/compactor-statefulset.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/ingester/ingester-statefulset.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/querier/querier-dep.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/query-frontend/query-frontend-dep.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/store-gateway/store-gateway-statefulset.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/chunks-cache/chunks-cache-statefulset.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/index-cache/index-cache-statefulset.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/ingester/ingester-statefulset.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/metadata-cache/metadata-cache-statefulset.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/querier/querier-dep.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/query-frontend/query-frontend-dep.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/results-cache/results-cache-statefulset.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/store-gateway/store-gateway-statefulset.yaml
Labels: helm

#2742 Upgrade nginx image to 1.22-alpine
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/nginx/nginx-dep.yaml
Labels: chore, helm

#2740 Update memcached image to 1.6.16
  CHANGELOG.md
  development/tsdb-blocks-storage-s3/docker-compose.jsonnet
  development/tsdb-blocks-storage-s3/docker-compose.yml
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/chunks-cache/chunks-cache-statefulset.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/index-cache/index-cache-statefulset.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/metadata-cache/metadata-cache-statefulset.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/results-cache/results-cache-statefulset.yaml
  operations/mimir-tests/test-autoscaling-generated.yaml
  operations/mimir-tests/test-consul-generated.yaml
  operations/mimir-tests/test-consul-multi-zone-generated.yaml
  operations/mimir-tests/test-consul-ruler-disabled-generated.yaml
  operations/mimir-tests/test-defaults-generated.yaml
  operations/mimir-tests/test-disable-chunk-streaming-generated.yaml
  operations/mimir-tests/test-helm-parity-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-0-before-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-1-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-2-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-3-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-0-before-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-1-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-2-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-3-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-4-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-5-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-6-final-generated.yaml
  operations/mimir-tests/test-multi-zone-generated.yaml
  operations/mimir-tests/test-multi-zone-with-ongoing-migration-generated.yaml
  operations/mimir-tests/test-query-sharding-generated.yaml
  operations/mimir-tests/test-ruler-remote-evaluation-generated.yaml
  operations/mimir-tests/test-ruler-remote-evaluation-migration-generated.yaml
  operations/mimir-tests/test-shuffle-sharding-generated.yaml
  operations/mimir-tests/test-shuffle-sharding-read-path-disabled-generated.yaml
  operations/mimir-tests/test-storage-azure-generated.yaml
  operations/mimir-tests/test-storage-gcs-generated.yaml
  operations/mimir-tests/test-storage-s3-generated.yaml
  operations/mimir-tests/test-without-query-scheduler-generated.yaml
  operations/mimir/images.libsonnet
Labels: chore, jsonnet, helm

#2726 Helm: default tokens_file_path in ingester and store gateway
  operations/compare-helm-with-jsonnet/components/config/irrelevant-config.yaml
  operations/compare-helm-with-jsonnet/components/config/kustomization.yaml
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/mimir-config.yaml
Labels: helm

#2747 Add query-scheduler exceptions for jsonnet<>helm diff
  operations/compare-helm-with-jsonnet/components/config/kustomization.yaml
  operations/compare-helm-with-jsonnet/helm/03-labels/kustomization.yaml
  operations/compare-helm-with-jsonnet/helm/06-pods/kustomization.yaml
  operations/compare-helm-with-jsonnet/jsonnet/01-ignore/kustomization.yaml
  operations/compare-helm-with-jsonnet/jsonnet/03-rename/kustomization.yaml
  operations/compare-helm-with-jsonnet/jsonnet/04-labels/kustomization.yaml
  operations/compare-helm-with-jsonnet/jsonnet/06-services/kustomization.yaml
Labels: helm

#2766 Add CHANGELOG entry for instant query splitting
  CHANGELOG.md
  docs/sources/operators-guide/configure/about-versioning.md
Labels: backport release-2.3

#2759 Upgrade minio subchart to 4.0.12
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/Chart.lock
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/charts/minio/templates/configmap.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/charts/minio/templates/console-service.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/charts/minio/templates/deployment.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/charts/minio/templates/post-install-create-bucket-job.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/charts/minio/templates/post-install-create-user-job.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/charts/minio/templates/pvc.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/charts/minio/templates/secrets.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/charts/minio/templates/service.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/minio/create-bucket-job.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/charts/minio/templates/configmap.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/charts/minio/templates/console-service.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/charts/minio/templates/deployment.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/charts/minio/templates/post-install-create-bucket-job.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/charts/minio/templates/post-install-create-user-job.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/charts/minio/templates/pvc.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/charts/minio/templates/secrets.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/charts/minio/templates/service.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/minio/create-bucket-job.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/charts/minio/templates/configmap.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/charts/minio/templates/console-service.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/charts/minio/templates/deployment.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/charts/minio/templates/post-install-create-bucket-job.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/charts/minio/templates/post-install-create-user-job.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/charts/minio/templates/pvc.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/charts/minio/templates/secrets.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/charts/minio/templates/service.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/minio/create-bucket-job.yaml
Labels: chore, helm

#2655 Enable query sharding in Helm
  operations/compare-helm-with-jsonnet/components/config/kustomization.yaml
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/mimir-config.yaml
Labels: helm

#2776 Minor corrections in helm changelog and docs
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/values.yaml
Labels: helm

#2648 Fix ruler alert state restoration
  CHANGELOG.md
  integration/e2emimir/client.go
  integration/ruler_test.go
  pkg/querier/distributor_queryable.go
  pkg/querier/querier.go
Labels: component/ruler

#2775 Helm: release notes for Mimir 2.3
  docs/sources/release-notes/v2.3.md
Labels: helm

#2789 Made some tweaks to the documentation for the block upload functionality
  docs/sources/operators-guide/configure/configure-tsdb-block-upload.md
  docs/sources/operators-guide/tools/mimirtool.md
Labels: type/docs

#2792 runbooks: Improve ingester unhealthy runbook
  docs/sources/operators-guide/mimir-runbooks/_index.md
Labels: type/docs

#2798 Fix typos
  pkg/frontend/v1/frontend.go
  pkg/frontend/v2/frontend.go
Labels: chore

#2299 Helm: document configuration handling in production
  docs/sources/operators-guide/running-production-environment-with-helm/_index.md
  docs/sources/operators-guide/running-production-environment-with-helm/configuration-with-helm.md
Labels: type/docs, helm

#2816 Add explicit component section mapping in Helm helper
  operations/helm/charts/mimir-distributed/templates/_helpers.tpl
  operations/helm/charts/mimir-distributed/templates/lib/pdb.tpl
Labels: helm

#2818 Helm: include user podLabels for components in named template
  operations/helm/charts/mimir-distributed/templates/_helpers.tpl
  operations/helm/charts/mimir-distributed/templates/admin-api/admin-api-dep.yaml
  operations/helm/charts/mimir-distributed/templates/alertmanager/alertmanager-dep.yaml
  operations/helm/charts/mimir-distributed/templates/alertmanager/alertmanager-statefulset.yaml
  operations/helm/charts/mimir-distributed/templates/compactor/compactor-statefulset.yaml
  operations/helm/charts/mimir-distributed/templates/distributor/distributor-dep.yaml
  operations/helm/charts/mimir-distributed/templates/gateway/gateway-dep.yaml
  operations/helm/charts/mimir-distributed/templates/ingester/ingester-statefulset.yaml
  operations/helm/charts/mimir-distributed/templates/memcached/_memcached-statefulset.tpl
  operations/helm/charts/mimir-distributed/templates/nginx/nginx-dep.yaml
  operations/helm/charts/mimir-distributed/templates/overrides-exporter/overrides-exporter-dep.yaml
  operations/helm/charts/mimir-distributed/templates/querier/querier-dep.yaml
  operations/helm/charts/mimir-distributed/templates/query-frontend/query-frontend-dep.yaml
  operations/helm/charts/mimir-distributed/templates/query-scheduler/query-scheduler-dep.yaml
  operations/helm/charts/mimir-distributed/templates/ruler/ruler-dep.yaml
  operations/helm/charts/mimir-distributed/templates/smoke-test/smoke-test-job.yaml
  operations/helm/charts/mimir-distributed/templates/store-gateway/store-gateway-statefulset.yaml
  operations/helm/charts/mimir-distributed/templates/tokengen/tokengen-job.yaml
Labels: helm

#2824 Helm: move ingester deployment validation to validate.yaml
  operations/helm/charts/mimir-distributed/templates/ingester/ingester-dep.yaml
  operations/helm/charts/mimir-distributed/templates/ingester/ingester-statefulset.yaml
  operations/helm/charts/mimir-distributed/templates/validate.yaml
Labels: helm

#2711 Mimir helm chart - Add graphite proxy support
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/ci/conftest/graphite-enabled.yaml
  operations/helm/charts/mimir-distributed/templates/_helpers.tpl
  operations/helm/charts/mimir-distributed/templates/graphite-proxy/graphite-aggregation-cache/graphite-aggregation-cache-pdb.yaml
  operations/helm/charts/mimir-distributed/templates/graphite-proxy/graphite-aggregation-cache/graphite-aggregation-cache-servmon.yaml
  operations/helm/charts/mimir-distributed/templates/graphite-proxy/graphite-aggregation-cache/graphite-aggregation-cache-statefulset.yaml
  operations/helm/charts/mimir-distributed/templates/graphite-proxy/graphite-aggregation-cache/graphite-aggregation-cache-svc-headless.yaml
  operations/helm/charts/mimir-distributed/templates/graphite-proxy/graphite-metric-name-cache/graphite-metric-name-cache-pdb.yaml
  operations/helm/charts/mimir-distributed/templates/graphite-proxy/graphite-metric-name-cache/graphite-metric-name-cache-servmon.yaml
  operations/helm/charts/mimir-distributed/templates/graphite-proxy/graphite-metric-name-cache/graphite-metric-name-cache-statefulset.yaml
  operations/helm/charts/mimir-distributed/templates/graphite-proxy/graphite-metric-name-cache/graphite-metric-name-cache-svc-headless.yaml
  operations/helm/charts/mimir-distributed/templates/graphite-proxy/graphite-querier/graphite-querier-dep.yaml
  operations/helm/charts/mimir-distributed/templates/graphite-proxy/graphite-querier/graphite-querier-pdb.yaml
  operations/helm/charts/mimir-distributed/templates/graphite-proxy/graphite-querier/graphite-querier-schemas-configmap.yaml
  operations/helm/charts/mimir-distributed/templates/graphite-proxy/graphite-querier/graphite-querier-servmon.yaml
  operations/helm/charts/mimir-distributed/templates/graphite-proxy/graphite-querier/graphite-querier-svc.yaml
  operations/helm/charts/mimir-distributed/templates/graphite-proxy/graphite-web/graphite-web-dep.yaml
  operations/helm/charts/mimir-distributed/templates/graphite-proxy/graphite-web/graphite-web-pdb.yaml
  operations/helm/charts/mimir-distributed/templates/graphite-proxy/graphite-web/graphite-web-servmon.yaml
  operations/helm/charts/mimir-distributed/templates/graphite-proxy/graphite-web/graphite-web-svc.yaml
  operations/helm/charts/mimir-distributed/templates/graphite-proxy/graphite-write-proxy/graphite-write-proxy-dep.yaml
  operations/helm/charts/mimir-distributed/templates/graphite-proxy/graphite-write-proxy/graphite-write-proxy-pdb.yaml
  operations/helm/charts/mimir-distributed/templates/graphite-proxy/graphite-write-proxy/graphite-write-proxy-servmon.yaml
  operations/helm/charts/mimir-distributed/templates/graphite-proxy/graphite-write-proxy/graphite-write-proxy-svc.yaml
  operations/helm/charts/mimir-distributed/values.yaml
Labels: helm

#2834 Fix mimirtool commands issued to API returning 404
  pkg/mimirtool/client/client.go
  pkg/mimirtool/commands/alerts.go
  pkg/mimirtool/commands/rules.go
Labels: backport release-2.3

#2828 Add sanity check at startup to ensure the configured filesystem directories don't overlap for different components
  CHANGELOG.md
  integration/ingester_limits_test.go
  integration/single_binary_test.go
  pkg/alertmanager/alertstore/bucketclient/bucket_client.go
  pkg/mimir/mimir.go
  pkg/mimir/mimir_test.go
  pkg/mimir/sanity_check.go
  pkg/mimir/sanity_check_test.go
  pkg/ruler/rulestore/bucketclient/bucket_client.go
Labels: ease-of-use

#2860 Helm: open port 80 on enterprise gateway
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/NOTES.txt
  operations/helm/charts/mimir-distributed/templates/gateway/gateway-svc.yaml
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/gateway/gateway-svc.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/gateway/gateway-svc.yaml
Labels: helm

#2862 Helm: fix distributor load balancing not working on scale up
  operations/compare-helm-with-jsonnet/components/config/kustomization.yaml
  operations/compare-helm-with-jsonnet/components/config/write-path-config.yaml
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/mimir-config.yaml
Labels: helm
