Repository grafana/mimir, pull requests merged in 2022-12, with the labels that each got.

#3580 release notes 2.5
  docs/sources/release-notes/v2.5.md
Labels: type/docs

#3605 Alertmanager: Minor language fix
  pkg/alertmanager/multitenant.go
Labels: chore, component/alertmanager

#3625 Fix "unsupported value type" logged when calling /ready and some services are not yet running.
  CHANGELOG.md
  pkg/mimir/mimir.go
Labels: bug

#3630 Fix/add documentation comments on StoreGateway service implementations
  pkg/storegateway/bucket_stores.go
  pkg/storegateway/gateway.go
Labels: chore, component/store-gateway

#3610 Ingester: Simplify code a bit, plus document a couple of methods
  pkg/distributor/distributor_test.go
  pkg/ingester/client/compat.go
  pkg/ingester/ingester.go
  pkg/ingester/user_tsdb.go
Labels: chore, component/ingester

#3624 Update rollout-operator to v0.2.0
  CHANGELOG.md
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/Chart.lock
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/tests/gateway-enterprise-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/gateway-enterprise-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/scheduler-name-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/scheduler-name-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-enterprise-legacy-label-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-enterprise-legacy-label-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-oss-logical-multizone-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-oss-logical-multizone-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-oss-multizone-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-oss-multizone-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/mimir-tests/test-consul-multi-zone-generated.yaml
  operations/mimir-tests/test-multi-zone-generated.yaml
  operations/mimir-tests/test-multi-zone-with-ongoing-migration-generated.yaml
  operations/mimir-tests/test-read-write-deployment-mode-s3-autoscaled-generated.yaml
  operations/mimir-tests/test-read-write-deployment-mode-s3-generated.yaml
  operations/mimir/images.libsonnet
Labels: jsonnet, helm

#2439 distributor: remove labels with empty values
  CHANGELOG.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
Labels: release/notified-changelog-cut

#2609 Add PrometheusRule for metamonitoring setup
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/ci/offline/metamonitoring-values.yaml
  operations/helm/charts/mimir-distributed/mixins/alerts.yaml
  operations/helm/charts/mimir-distributed/mixins/rules.yaml
  operations/helm/charts/mimir-distributed/templates/metamonitoring/mixin-alerts.yaml
  operations/helm/charts/mimir-distributed/templates/metamonitoring/prometheusrule.yaml
  operations/helm/charts/mimir-distributed/templates/metamonitoring/recording-rules.yaml
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/mixin-alerts.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/recording-rules.yaml
Labels: helm, release/notified-changelog-cut

#3561 Query-frontend: use activity tracker for requests
  CHANGELOG.md
  pkg/frontend/frontend_test.go
  pkg/frontend/transport/handler.go
  pkg/frontend/transport/handler_test.go
  pkg/frontend/v1/frontend_test.go
  pkg/mimir/modules.go
Labels: release/notified-changelog-cut

#3665 Docs: Minor fixes
  docs/sources/mimir/operators-guide/architecture/bucket-index/index.md
  docs/sources/mimir/operators-guide/architecture/components/compactor/index.md
  docs/sources/mimir/operators-guide/architecture/components/distributor.md
  docs/sources/mimir/operators-guide/architecture/components/query-frontend/index.md
  docs/sources/mimir/operators-guide/architecture/components/query-scheduler/index.md
  docs/sources/mimir/operators-guide/architecture/hash-ring/index.md
  docs/sources/mimir/operators-guide/configure/configure-zone-aware-replication.md
Labels: type/docs

#3671 Experiment with Hugo-supported code fence for diffs.
  docs/sources/mimir/operators-guide/run-production-environment-with-helm/configuration-with-helm.md
Labels: type/docs

#3355 Streaming store-gateway Series()
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/operators-guide/configure/about-versioning.md
  docs/sources/mimir/operators-guide/configure/reference-configuration-parameters/index.md
  pkg/storage/tsdb/config.go
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_chunk_reader.go
  pkg/storegateway/bucket_e2e_test.go
  pkg/storegateway/bucket_index_reader.go
  pkg/storegateway/bucket_store_metrics.go
  pkg/storegateway/bucket_stores.go
  pkg/storegateway/bucket_test.go
  pkg/storegateway/series_chunks.go
  pkg/storegateway/series_chunks_test.go
  pkg/storegateway/series_refs.go
  pkg/storegateway/series_refs_test.go
  pkg/storegateway/stats.go
  pkg/storegateway/storepb/custom.go
Labels: release/notified-changelog-cut

#3604 Use absolute path of template to decide if we need to remove it
  CHANGELOG.md
  pkg/alertmanager/multitenant.go
  pkg/alertmanager/multitenant_test.go
Labels: bug, component/alertmanager

#3639 Add alternate implementation of index-header reader that does not use mmap
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/operators-guide/configure/about-versioning.md
  docs/sources/mimir/operators-guide/configure/reference-configuration-parameters/index.md
  go.mod
  integration/querier_test.go
  integration/store_gateway_streaming_index_header_test.go
  pkg/storage/tsdb/config.go
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_e2e_test.go
  pkg/storegateway/bucket_test.go
  pkg/storegateway/indexheader/binary_reader.go
  pkg/storegateway/indexheader/encoding/encoding.go
  pkg/storegateway/indexheader/encoding/encoding_test.go
  pkg/storegateway/indexheader/encoding/factory.go
  pkg/storegateway/indexheader/encoding/factory_test.go
  pkg/storegateway/indexheader/encoding/reader.go
  pkg/storegateway/indexheader/encoding/reader_test.go
  pkg/storegateway/indexheader/header.go
  pkg/storegateway/indexheader/header_test.go
  pkg/storegateway/indexheader/index/postings.go
  pkg/storegateway/indexheader/index/symbols.go
  pkg/storegateway/indexheader/index/symbols_test.go
  pkg/storegateway/indexheader/lazy_binary_reader.go
  pkg/storegateway/indexheader/lazy_binary_reader_test.go
  pkg/storegateway/indexheader/reader_pool.go
  pkg/storegateway/indexheader/reader_pool_test.go
  pkg/storegateway/indexheader/stream_binary_reader.go
  pkg/storegateway/indexheader/stream_binary_reader_test.go
  pkg/util/test/comparison.go
Labels: component/store-gateway

#3686 Rollout operator psp
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/rolebinding.yaml
  operations/helm/tests/gateway-enterprise-values-generated/mimir-distributed/templates/rolebinding.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/templates/rolebinding.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/templates/rolebinding.yaml
  operations/helm/tests/scheduler-name-values-generated/mimir-distributed/templates/rolebinding.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/templates/rolebinding.yaml
  operations/helm/tests/test-enterprise-legacy-label-values-generated/mimir-distributed/templates/rolebinding.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/rolebinding.yaml
  operations/helm/tests/test-oss-logical-multizone-values-generated/mimir-distributed/templates/rolebinding.yaml
  operations/helm/tests/test-oss-multizone-values-generated/mimir-distributed/templates/rolebinding.yaml
Labels: helm

#3678 querier: Remove max concurrency reference to query-frontend
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/mimir/operators-guide/configure/reference-configuration-parameters/index.md
  pkg/querier/engine/config.go
Labels: bug, type/docs, component/querier

#3197 Add note about values.yaml mismatch prevention
  docs/sources/mimir/operators-guide/deploy-grafana-mimir/getting-started-helm-charts/_index.md
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/values.yaml
Labels: type/docs, helm, release/notified-changelog-cut

#3689 Remove Symbols.Size() method used only for tests.
  pkg/storegateway/indexheader/index/symbols.go
  pkg/storegateway/indexheader/index/symbols_test.go
Labels: chore, component/store-gateway

#3698 docs: update instructions for scaling down store-gateways
  docs/sources/mimir/operators-guide/run-production-environment/scaling-out.md
Labels: type/docs

#3681 Alert when an ingester replica does not have any tenant assigned
  CHANGELOG.md
  development/mimir-microservices-mode/config/grafana-agent.yaml
  development/mimir-microservices-mode/config/prometheus.yaml
  development/mimir-microservices-mode/docker-compose.jsonnet
  development/mimir-microservices-mode/docker-compose.yml
  docs/sources/mimir/operators-guide/mimir-runbooks/_index.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/mixin-alerts.yaml
  operations/mimir-mixin-compiled-baremetal/alerts.yaml
  operations/mimir-mixin-compiled/alerts.yaml
  operations/mimir-mixin/alerts/alerts.libsonnet
Labels: type/docs, ease-of-use, monitoring/alerts

#3702 Add jsonnet to build-image
  .github/workflows/helm-ci.yml
  .github/workflows/test-build-deploy.yml
  Makefile
  mimir-build-image/Dockerfile
Labels: chore

#3367 We need larger user indicators
  CHANGELOG.md
  operations/mimir/config.libsonnet
  operations/mimir/overrides-exporter.libsonnet
  operations/mimir/shuffle-sharding.libsonnet
Labels: release/notified-changelog-cut

#3289 helm: add conftest-test to check-helm-tests target
  .github/workflows/helm-ci.yml
  Makefile
  docs/internal/contributing/contributing-to-helm-chart.md
  operations/helm/.gitignore
  operations/helm/scripts/build.sh
  operations/helm/scripts/run-conftest.sh
  operations/helm/scripts/update-helm-dependencies.sh
  operations/helm/tests/build.sh
  tools/run-conftest.sh
Labels: release/notified-changelog-cut

#3662 Update Cortex to Mimir 2.3 migration docs
  CHANGELOG.md
  docs/sources/mimir/migration-guide/migrating-from-cortex.md
Labels: type/docs

#3751 store-gateway: more efficient series caching
  pkg/mimirpb/compat.go
  pkg/mimirpb/compat_test.go
  pkg/storegateway/bucket_test.go
  pkg/storegateway/indexcache/memcached.go
  pkg/storegateway/series_refs.go
  pkg/storegateway/series_refs_test.go
  pkg/storegateway/storepb/cache.pb.go
  pkg/storegateway/storepb/cache.proto
Labels: component/store-gateway

#3779 streaming store-gateway: avoid copying postings when hashing them
  CHANGELOG.md
  pkg/storegateway/indexcache/cache.go
  pkg/storegateway/indexcache/cache_test.go
Labels: component/store-gateway, backport r217

#3765 Update migrating-from-single-zone-with-helm.md
  docs/sources/mimir/migration-guide/migrating-from-single-zone-with-helm.md
Labels: backport release-2.5

#3780 Fixed helm gateway's checksum/config when using nginx
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/gateway/gateway-dep.yaml
Labels: helm

#3781 Disable helm gateway's serviceMonitor when using nginx
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/gateway/gateway-servmon.yaml
Labels: helm

#3820 usage-stats: Wrap bucket client error
  pkg/mimir/modules.go
Labels: chore, component/usage-stats

#3827 Shortcut postings for matchers for empty postings
  CHANGELOG.md
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/tsdb/head_read.go
  vendor/github.com/prometheus/prometheus/tsdb/index/postings.go
  vendor/github.com/prometheus/prometheus/tsdb/querier.go
  vendor/modules.txt
Labels: enhancement

#3828 autoscaling.libsonnet: Fix typo in comment
  operations/mimir/autoscaling.libsonnet
Labels: chore, jsonnet

#3829 autoscaling: Fix comment typo
  operations/mimir/autoscaling.libsonnet
Labels: jsonnet
