Repository grafana/mimir, pull requests merged in 2022-04, with the labels that each got.

#1533 Add user label to ingested samples metrics
  CHANGELOG.md
  operations/mimir-mixin-compiled/alerts.yaml
  operations/mimir-mixin-compiled/rules.yaml
  operations/mimir-mixin/alerts/alerts.libsonnet
  operations/mimir-mixin/alerts/blocks.libsonnet
  operations/mimir-mixin/recording_rules.libsonnet
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/ingester/metrics.go
Labels: enhancement

#1623 Add `query_scheduler` root block to docs
  docs/sources/operators-guide/configuring/reference-configuration-parameters/index.md
  tools/doc-generator/parse/root_blocks.go
Labels: type/docs, component/query-scheduler

#1536 ruler: add support for expression remote evaluation
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/operators-guide/configuring/reference-configuration-parameters/index.md
  go.mod
  integration/ruler_test.go
  pkg/mimir/modules.go
  pkg/ruler/compat.go
  pkg/ruler/compat_test.go
  pkg/ruler/remotequerier.go
  pkg/ruler/remotequerier_test.go
  pkg/ruler/ruler.go
  pkg/ruler/ruler_test.go
  pkg/ruler/tenant_federation.go
Labels: enhancement, component/ruler

#1657 mimirtool: Rename CortexClient to MimirClient
  pkg/mimirtool/client/alerts.go
  pkg/mimirtool/client/client.go
  pkg/mimirtool/client/rules.go
  pkg/mimirtool/client/rules_test.go
  pkg/mimirtool/commands/alerts.go
  pkg/mimirtool/commands/analyse_ruler.go
  pkg/mimirtool/commands/rules.go
Labels: component/mimirtool

#1658 mimirtool: Don't use ioutil
  pkg/mimirtool/client/alerts.go
  pkg/mimirtool/client/rules.go
  pkg/mimirtool/commands/alerts.go
  pkg/mimirtool/commands/analyse_grafana.go
  pkg/mimirtool/commands/analyse_prometheus.go
  pkg/mimirtool/commands/analyse_ruler.go
  pkg/mimirtool/commands/bucket_validation.go
  pkg/mimirtool/commands/remote_read.go
  pkg/mimirtool/commands/rules.go
  pkg/mimirtool/config/convert_test.go
Labels: chore, component/mimirtool

#1659 Address timing condition in memberlist migration teardown
  operations/mimir-tests/test-gossip-multikv-teardown-generated.yaml
  operations/mimir-tests/test-gossip-multikv-teardown.jsonnet
  operations/mimir/memberlist.libsonnet
Labels: jsonnet

#1662 tsdb-blocks-storage-s3-single-binary: Fix Dockerfile
  development/tsdb-blocks-storage-s3-single-binary/dev.dockerfile
  development/tsdb-blocks-storage-s3/dev.dockerfile
Labels: bug

#1690 Update docs on `gcs.service_account` usage
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/operators-guide/configuring/reference-configuration-parameters/index.md
  pkg/storage/bucket/gcs/config.go
Labels: type/docs

#1666 Clarify help text on scaling dashboard
  docs/sources/operators-guide/visualizing-metrics/dashboards/scaling/index.md
  operations/mimir-mixin-compiled/dashboards/mimir-scaling.json
  operations/mimir-mixin/dashboards/scaling.libsonnet
Labels: type/docs

#1611 Sync latest docs to support backporting documentation
  .github/workflows/publish-technical-documentation.yml
  .github/workflows/publish.yml
  .github/workflows/test-build-deploy.yml
Labels: type/docs

#1709 Added mimir-continuous-test doc and CHANGELOG entry
  CHANGELOG.md
  docs/sources/operators-guide/tools/mimir-continuous-test.md
Labels: type/docs

#1718 Docs: add alternative build method for mixins
  docs/sources/operators-guide/visualizing-metrics/installing-dashboards-and-alerts.md
Labels: type/docs

#1747 ruler: preallocate slices when converting remote querier response
  pkg/ruler/remotequerier.go
Labels: type/performance, component/ruler

#1751 Change mixtool and jb installation instructions
  docs/sources/operators-guide/visualizing-metrics/installing-dashboards-and-alerts.md
Labels: type/docs

#1735 Streaming remote read
  CHANGELOG.md
  integration/querier_remote_read_test.go
  pkg/ingester/client/ingester.pb.go
  pkg/ingester/client/ingester.proto
  pkg/querier/querier.go
  pkg/querier/remote_read.go
  pkg/querier/remote_read_test.go
Labels: enhancement, component/querier
