Repository grafana/mimir, pull requests merged in 2022-10, with the labels that each got.

#3055 distributor: Wrap errors from pushing to ingesters
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
Labels: component/distributor

#3044 ingester: parallelize label values cardinality computation
  CHANGELOG.md
  pkg/ingester/label_names_and_values.go
  pkg/ingester/label_names_and_values_test.go
Labels: enhancement, type/performance, component/ingester

#3112 Reorder helm changelog
  operations/helm/charts/mimir-distributed/CHANGELOG.md
Labels: helm

#3098 ruler: use backoff retry on remote evaluation
  CHANGELOG.md
  pkg/ruler/remotequerier.go
  pkg/ruler/remotequerier_test.go
Labels: enhancement, component/ruler

#3127 Update go to 1.19.2
  .github/workflows/compare-helm-with-jsonnet.yml
  .github/workflows/helm-ci.yml
  .github/workflows/test-build-deploy.yml
  CHANGELOG.md
  Makefile
  development/mimir-microservices-mode/dev.dockerfile
  mimir-build-image/Dockerfile
Labels: chore

#3125 Include multiple tenant IDs in loggers with context
  CHANGELOG.md
  pkg/util/log/wrappers.go
Labels: component/query-frontend

#3117 Add continuous testing to helm chart
  .github/workflows/scripts/helm-weekly-release.sh
  RELEASE.md
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/_helpers.tpl
  operations/helm/charts/mimir-distributed/templates/continuous_test/continuous-test-dep.yaml
  operations/helm/charts/mimir-distributed/templates/continuous_test/continuous-test-servmon.yaml
  operations/helm/charts/mimir-distributed/templates/continuous_test/continuous-test-svc-headless.yaml
  operations/helm/charts/mimir-distributed/values.yaml
Labels: helm

#3096 Docs: Added "Cluster label verification" section
  docs/sources/operators-guide/configure/configuring-hash-rings.md
Labels: type/docs

#3156 Restore state for new rule groups after startup
  CHANGELOG.md
  go.mod
  go.sum
  pkg/ruler/compat.go
  vendor/github.com/prometheus/prometheus/rules/manager.go
  vendor/modules.txt
Labels: component/ruler

#3151 fix: add Overrides to Flusher dependencies to prevent panic on startup
  CHANGELOG.md
  pkg/mimir/modules.go
Labels: release/notified-changelog-cut

#3161 Release: add a script to tag the release
  RELEASE.md
  tools/release/tag-release.sh
Labels: chore

#3163 Chore: get 'make dist' always re-run and being less verbose
  Makefile
Labels: chore

#3104 Mimir 2.4 release notes
  docs/sources/release-notes/v2.4.md
  operations/helm/charts/mimir-distributed/CHANGELOG.md
Labels: release/notified-changelog-cut

#3136 Added `mimirtool rules delete-namespace`
  CHANGELOG.md
  docs/sources/operators-guide/tools/mimirtool.md
  pkg/mimirtool/client/rules.go
  pkg/mimirtool/commands/rules.go
Labels: release/notified-changelog-cut

#3113 Increase discarded samples metric if forwarded series receives too old samples
  CHANGELOG.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/forwarding/forwarding.go
  pkg/distributor/forwarding/forwarding_test.go
Labels: release/notified-changelog-cut

#2984 Add examples for sending Helm metamonitoring to Mimir
  docs/sources/operators-guide/monitor-grafana-mimir/collecting-metrics-and-logs.md
  operations/helm/charts/mimir-distributed/values.yaml
Labels: type/docs, helm, release/notified-changelog-cut

#3076 Helm docs: Mention format of secret keys for injecting credentials
  docs/sources/operators-guide/running-production-environment-with-helm/configuration-with-helm.md
Labels: type/docs, helm, release/notified-changelog-cut

#3092 Helm chore: Move build/check-helm-tests to build image
  Makefile
  docs/internal/contributing/contributing-to-helm-chart.md
Labels: helm, release/notified-changelog-cut

#3178 Use imperative for docs titles
  docs/sources/operators-guide/run-production-environment/perform-a-rolling-update.md
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/README.md.gotmpl
Labels: type/docs

#3179 storegateway: avoid unnecessary allocation in `seriesForRefCacheKey`
  CHANGELOG.md
  pkg/storegateway/indexcache/memcached.go
Labels: type/performance, component/store-gateway

#3176 Helm: Default to sending metamonitoring inside Mimir
  docs/sources/operators-guide/monitor-grafana-mimir/collecting-metrics-and-logs.md
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/NOTES.txt
  operations/helm/charts/mimir-distributed/templates/_helpers.tpl
  operations/helm/charts/mimir-distributed/templates/metamonitoring/_helpers.tpl
  operations/helm/charts/mimir-distributed/templates/metamonitoring/logs-instance.yaml
  operations/helm/charts/mimir-distributed/templates/metamonitoring/metrics-instance.yaml
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/logs-instance.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/metrics-instance.yaml
Labels: helm

#3170 [Helm]: Fix metamonitoring secret configuration
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/metamonitoring/metrics-instance-usernames-secret.yaml
Labels: helm

#3152 Make the alertmanager instance mapper related panels optional
  CHANGELOG.md
  operations/mimir-mixin-compiled/dashboards/mimir-alertmanager-resources.json
  operations/mimir-mixin/config.libsonnet
  operations/mimir-mixin/dashboards/alertmanager-resources.libsonnet
  operations/mimir-mixin/dashboards/alertmanager.libsonnet
  operations/mimir-mixin/dashboards/dashboard-queries.libsonnet
  operations/mimir-mixin/dashboards/dashboard-utils.libsonnet
  operations/mimir-mixin/dashboards/ruler.libsonnet
Labels: release/notified-changelog-cut

#3184 Fix typo in CHANGELOG.md
  CHANGELOG.md
Labels: chore

#3186 runbooks: Augment MimirQuerierAutoscalerNotActive runbook
  CHANGELOG.md
  docs/sources/operators-guide/mimir-runbooks/_index.md
Labels: monitoring/runbooks

#3185 Helm: add remote destinations in metamonitoring offline test
  operations/helm/charts/mimir-distributed/ci/offline/metamonitoring-values.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/logs-instance-usernames-secret.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/logs-instance.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/metrics-instance-usernames-secret.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/metrics-instance.yaml
Labels: helm

#3195 Alerts: Include query-scheduler for MimirGossipMembersMismatch
  CHANGELOG.md
  operations/mimir-mixin-compiled/alerts.yaml
  operations/mimir-mixin/config.libsonnet
Labels: bug, monitoring/alerts

#3196 Revert "Alerts: Include query-scheduler for MimirGossipMembersMismatch"
  CHANGELOG.md
  operations/mimir-mixin-compiled/alerts.yaml
  operations/mimir-mixin/config.libsonnet
Labels: bug, monitoring/alerts

#3029 Helm: Clean up default rollout strategies
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/graphite-enabled-values-generated/mimir-distributed/templates/admin-api/admin-api-dep.yaml
  operations/helm/tests/graphite-enabled-values-generated/mimir-distributed/templates/distributor/distributor-dep.yaml
  operations/helm/tests/graphite-enabled-values-generated/mimir-distributed/templates/gateway/gateway-dep.yaml
  operations/helm/tests/graphite-enabled-values-generated/mimir-distributed/templates/graphite-proxy/graphite-querier/graphite-querier-dep.yaml
  operations/helm/tests/graphite-enabled-values-generated/mimir-distributed/templates/graphite-proxy/graphite-write-proxy/graphite-write-proxy-dep.yaml
  operations/helm/tests/graphite-enabled-values-generated/mimir-distributed/templates/overrides-exporter/overrides-exporter-dep.yaml
  operations/helm/tests/graphite-enabled-values-generated/mimir-distributed/templates/querier/querier-dep.yaml
  operations/helm/tests/graphite-enabled-values-generated/mimir-distributed/templates/query-frontend/query-frontend-dep.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/distributor/distributor-dep.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/overrides-exporter/overrides-exporter-dep.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/querier/querier-dep.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/query-frontend/query-frontend-dep.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/admin-api/admin-api-dep.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/distributor/distributor-dep.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/gateway/gateway-dep.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/overrides-exporter/overrides-exporter-dep.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/querier/querier-dep.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/query-frontend/query-frontend-dep.yaml
  operations/helm/tests/test-enterprise-legacy-label-values-generated/mimir-distributed/templates/admin-api/admin-api-dep.yaml
  operations/helm/tests/test-enterprise-legacy-label-values-generated/mimir-distributed/templates/distributor/distributor-dep.yaml
  operations/helm/tests/test-enterprise-legacy-label-values-generated/mimir-distributed/templates/gateway/gateway-dep.yaml
  operations/helm/tests/test-enterprise-legacy-label-values-generated/mimir-distributed/templates/overrides-exporter/overrides-exporter-dep.yaml
  operations/helm/tests/test-enterprise-legacy-label-values-generated/mimir-distributed/templates/querier/querier-dep.yaml
  operations/helm/tests/test-enterprise-legacy-label-values-generated/mimir-distributed/templates/query-frontend/query-frontend-dep.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/admin-api/admin-api-dep.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/distributor/distributor-dep.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/gateway/gateway-dep.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/overrides-exporter/overrides-exporter-dep.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/querier/querier-dep.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/query-frontend/query-frontend-dep.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/distributor/distributor-dep.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/overrides-exporter/overrides-exporter-dep.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/querier/querier-dep.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/query-frontend/query-frontend-dep.yaml
Labels: helm, release/notified-changelog-cut

#2945 helm: make metamonitoring scrape interval configurable
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/metamonitoring/grafana-agent.yaml
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/grafana-agent.yaml
Labels: helm, release/notified-changelog-cut

#3201 Docs: mention gRPC compression in "Production tips"
  docs/sources/operators-guide/run-production-environment/production-tips/index.md
Labels: type/docs

#3187 Add script to publish the release
  RELEASE.md
  tools/release/common.sh
  tools/release/create-draft-release-notes.sh
  tools/release/create-draft-release.sh
  tools/release/notify-changelog-cut.sh
Labels: enhancement, release

#3208 changed nginx imagePullSecret value reference
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/nginx/nginx-dep.yaml
Labels: helm

#2898 TLS: make cipher suite list and min version configurable
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/operators-guide/configure/reference-configuration-parameters/index.md
  docs/sources/operators-guide/secure/securing-communications-with-tls.md
  go.mod
  go.sum
  vendor/github.com/prometheus/exporter-toolkit/web/tls_config.go
  vendor/github.com/weaveworks/common/server/server.go
  vendor/github.com/weaveworks/common/server/tls_config.go
  vendor/modules.txt
Labels: type/docs, release/notified-changelog-cut

#3203 ingester: reduce activity tracker memory allocation
  CHANGELOG.md
  pkg/ingester/ingester_activity.go
  pkg/ingester/ingester_activity_test.go
Labels: enhancement, type/performance, component/ingester

#3190 Log failed query information in the query-frontend
  CHANGELOG.md
  pkg/frontend/transport/handler.go
  pkg/frontend/transport/handler_test.go
Labels: component/query-frontend

#3204 Helm: release mimir-distributed 3.2.0-rc.0
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/README.md.gotmpl
  operations/helm/charts/mimir-distributed/values.yaml
Labels: helm

#3249 Update outdated comment
  pkg/api/api.go
Labels: chore

#2972 Docs: Add Documentation to do HA deduplication on Mimir Helm Deployment
  CHANGELOG.md
  docs/sources/operators-guide/configure/configure-helm-ha-deduplication-consul/ha-tracker-status.png
  docs/sources/operators-guide/configure/configure-helm-ha-deduplication-consul/index.md
  docs/sources/operators-guide/configure/configure-helm-ha-deduplication-consul/verify-deduplication.png
Labels: type/docs, release/notified-changelog-cut

#3263 backport 3262 to release 2.4
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/query-scheduler/query-scheduler-dep.yaml
  operations/helm/tests/graphite-enabled-values-generated/mimir-distributed/templates/query-scheduler/query-scheduler-dep.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/query-scheduler/query-scheduler-dep.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/query-scheduler/query-scheduler-dep.yaml
  operations/helm/tests/test-enterprise-legacy-label-values-generated/mimir-distributed/templates/query-scheduler/query-scheduler-dep.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/query-scheduler/query-scheduler-dep.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/query-scheduler/query-scheduler-dep.yaml
Labels: helm

#3266 Helm: update helm tests
  operations/helm/tests/large-values-generated/mimir-distributed/templates/query-scheduler/query-scheduler-dep.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/templates/query-scheduler/query-scheduler-dep.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/charts/rollout_operator/templates/role.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/charts/rollout_operator/templates/rolebinding.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/templates/admin-api/admin-api-dep.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/templates/alertmanager/alertmanager-statefulset.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/templates/compactor/compactor-statefulset.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/templates/distributor/distributor-dep.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/templates/gateway/gateway-dep.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/templates/ingester/ingester-statefulset.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/templates/ingester/ingester-svc.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/templates/overrides-exporter/overrides-exporter-dep.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/templates/querier/querier-dep.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/templates/query-frontend/query-frontend-dep.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/templates/query-scheduler/query-scheduler-dep.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/templates/ruler/ruler-dep.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/templates/store-gateway/store-gateway-statefulset.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/templates/store-gateway/store-gateway-svc.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/templates/tokengen/tokengen-job.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/charts/rollout_operator/templates/role.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/charts/rollout_operator/templates/rolebinding.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/alertmanager/alertmanager-statefulset.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/compactor/compactor-statefulset.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/distributor/distributor-dep.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/ingester/ingester-statefulset.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/ingester/ingester-svc.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/nginx/nginx-configmap.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/overrides-exporter/overrides-exporter-dep.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/querier/querier-dep.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/query-frontend/query-frontend-dep.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/query-scheduler/query-scheduler-dep.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/ruler/ruler-dep.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/store-gateway/store-gateway-statefulset.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/store-gateway/store-gateway-svc.yaml
Labels: helm

#3087 Trim return value of prometheusHttpPrefix and alertManagerHttpPrefix
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/_helpers.tpl
Labels: helm, release/notified-changelog-cut

#3267 Nitpick: fix changelog entry kind for #3134
  CHANGELOG.md
Labels: backport release-2.4

#2631 Make blocks cleanup in compactor more fair
  CHANGELOG.md
  pkg/compactor/blocks_cleaner.go
  pkg/compactor/blocks_cleaner_test.go
  pkg/compactor/compactor.go
Labels: component/compactor, release/notified-changelog-cut

#2419 Parse push request after distributor, ingester validate limits
  CHANGELOG.md
  pkg/api/api.go
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_activity.go
  pkg/ingester/ingester_test.go
  pkg/util/push/push.go
  pkg/util/push/push_test.go
  pkg/util/push/request.go
  pkg/util/push/request_test.go
Labels: component/ingester, component/distributor, release/notified-changelog-cut

#3280 Fixed TSDB retention mentioned in the "Recover source blocks from ingesters" runbook
  CHANGELOG.md
  docs/sources/operators-guide/mimir-runbooks/_index.md
Labels: bug, monitoring/runbooks

#3285 Update golang.org/x/text for CVE-2022-32149
  CHANGELOG.md
  go.mod
  go.sum
  vendor/golang.org/x/text/AUTHORS
  vendor/golang.org/x/text/CONTRIBUTORS
  vendor/golang.org/x/text/cases/trieval.go
  vendor/golang.org/x/text/internal/language/compact/tables.go
  vendor/golang.org/x/text/internal/language/lookup.go
  vendor/golang.org/x/text/internal/language/parse.go
  vendor/golang.org/x/text/internal/language/tables.go
  vendor/golang.org/x/text/language/doc.go
  vendor/golang.org/x/text/language/match.go
  vendor/golang.org/x/text/language/parse.go
  vendor/golang.org/x/text/language/tables.go
  vendor/golang.org/x/text/unicode/bidi/core.go
  vendor/golang.org/x/text/unicode/norm/forminfo.go
  vendor/golang.org/x/text/unicode/norm/normalize.go
  vendor/golang.org/x/text/unicode/norm/tables13.0.0.go
  vendor/modules.txt
Labels: chore

#3072 Docs: Run Grafana Mimir in production using the Helm chart
  docs/sources/migration-guide/migrating-from-single-zone-with-helm.md
  docs/sources/operators-guide/architecture/deployment-modes/index.md
  docs/sources/operators-guide/configure/configure-object-storage-backend.md
  docs/sources/operators-guide/deploy-grafana-mimir/getting-started-helm-charts/_index.md
  docs/sources/operators-guide/run-production-environment-with-helm/_index.md
  docs/sources/operators-guide/run-production-environment-with-helm/configuration-with-helm.md
  docs/sources/operators-guide/run-production-environment/perform-a-rolling-update.md
  docs/sources/operators-guide/run-production-environment/planning-capacity.md
  docs/sources/operators-guide/running-production-environment-with-helm/_index.md
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/README.md.gotmpl
Labels: type/docs, helm, release/notified-changelog-cut

#2568 Reducing the memory footprint of active series custom trackers
  CHANGELOG.md
  pkg/ingester/activeseries/active_series.go
  pkg/ingester/activeseries/custom_trackers_config.go
  pkg/ingester/activeseries/custom_trackers_config_test.go
  pkg/ingester/activeseries/matchers.go
  pkg/ingester/activeseries/matchers_test.go
Labels: release/notified-changelog-cut

#2998 Helm <> Jsonnet: Fix read path differences
  operations/compare-helm-with-jsonnet/components/config/irrelevant-config.yaml
  operations/compare-helm-with-jsonnet/components/config/kustomization.yaml
  operations/compare-helm-with-jsonnet/components/config/read-path-config.yaml
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/graphite-enabled-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/templates/index-cache/index-cache-statefulset.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/templates/index-cache/index-cache-statefulset.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-legacy-label-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/index-cache/index-cache-statefulset.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-logical-multizone-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-multizone-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/index-cache/index-cache-statefulset.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/mimir-tests/test-helm-parity-generated.yaml
  operations/mimir-tests/test-helm-parity.jsonnet
Labels: helm, release/notified-changelog-cut

#3219 Add regression test for distributor passing through GRPC statuses
  pkg/distributor/distributor_test.go
Labels: type/tests, component/distributor

#3284 Jsonnet: use policy/v1 PodDisruptionBudget
  CHANGELOG.md
  operations/mimir-tests/test-autoscaling-generated.yaml
  operations/mimir-tests/test-consul-generated.yaml
  operations/mimir-tests/test-consul-multi-zone-generated.yaml
  operations/mimir-tests/test-consul-ruler-disabled-generated.yaml
  operations/mimir-tests/test-defaults-generated.yaml
  operations/mimir-tests/test-disable-chunk-streaming-generated.yaml
  operations/mimir-tests/test-extra-runtime-config-generated.yaml
  operations/mimir-tests/test-helm-parity-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-0-before-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-1-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-2-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-3-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-0-before-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-1-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-2-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-3-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-4-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-5-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-6-final-generated.yaml
  operations/mimir-tests/test-multi-zone-generated.yaml
  operations/mimir-tests/test-multi-zone-with-ongoing-migration-generated.yaml
  operations/mimir-tests/test-query-scheduler-consul-ring-generated.yaml
  operations/mimir-tests/test-query-scheduler-memberlist-ring-and-ruler-remote-evaluation-generated.yaml
  operations/mimir-tests/test-query-scheduler-memberlist-ring-generated.yaml
  operations/mimir-tests/test-query-scheduler-memberlist-ring-read-path-disabled-generated.yaml
  operations/mimir-tests/test-query-sharding-generated.yaml
  operations/mimir-tests/test-ruler-remote-evaluation-generated.yaml
  operations/mimir-tests/test-ruler-remote-evaluation-migration-generated.yaml
  operations/mimir-tests/test-shuffle-sharding-generated.yaml
  operations/mimir-tests/test-shuffle-sharding-read-path-disabled-generated.yaml
  operations/mimir-tests/test-storage-azure-generated.yaml
  operations/mimir-tests/test-storage-gcs-generated.yaml
  operations/mimir-tests/test-storage-s3-generated.yaml
  operations/mimir-tests/test-without-query-scheduler-generated.yaml
  operations/mimir/common.libsonnet
  operations/mimir/multi-zone.libsonnet
Labels: jsonnet

#3302 query-frontend: cancel stream to scheduler when streaming failed
  CHANGELOG.md
  pkg/frontend/v2/frontend_scheduler_worker.go
  pkg/frontend/v2/frontend_test.go
Labels: component/query-frontend

#3180 Fix mimirtool error logging
  CHANGELOG.md
  integration/backfill_test.go
  pkg/mimirtool/client/client.go
Labels: component/mimirtool

#3312 ruler: Clean up tests a bit
  pkg/ruler/ruler.go
  pkg/ruler/ruler_test.go
Labels: chore, component/ruler

#3307 distributor: Wrap errors from pushing to ingesters
  CHANGELOG.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
Labels: enhancement, component/distributor

#3319 Update 2.4 release notes
  docs/sources/release-notes/v2.4.md
Labels: type/docs

#3331 Helm: release mimir-distributed 3.2.0
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/values.yaml
Labels: helm

#3332 Use imperative for "Deploy with jsonnet" docs
  Makefile
  docs/sources/operators-guide/deploy-grafana-mimir/jsonnet/_index.md
  docs/sources/operators-guide/deploy-grafana-mimir/jsonnet/configure-autoscaling.md
  docs/sources/operators-guide/deploy-grafana-mimir/jsonnet/configure-low-resources.md
  docs/sources/operators-guide/deploy-grafana-mimir/jsonnet/configure-ruler.md
  docs/sources/operators-guide/deploy-grafana-mimir/jsonnet/deploy.md
  docs/sources/operators-guide/deploy-grafana-mimir/jsonnet/migrating-from-consul-to-memberlist.md
Labels: type/docs

#3343 Use imperatives for operators-guide/configure docs
  Makefile
  docs/sources/migration-guide/migrating-from-single-zone-with-helm.md
  docs/sources/operators-guide/architecture/bucket-index/index.md
  docs/sources/operators-guide/architecture/components/alertmanager.md
  docs/sources/operators-guide/architecture/components/compactor/index.md
  docs/sources/operators-guide/architecture/components/distributor.md
  docs/sources/operators-guide/architecture/components/ingester.md
  docs/sources/operators-guide/architecture/components/query-scheduler/index.md
  docs/sources/operators-guide/architecture/components/ruler/index.md
  docs/sources/operators-guide/architecture/components/store-gateway.md
  docs/sources/operators-guide/architecture/hash-ring/index.md
  docs/sources/operators-guide/architecture/key-value-store.md
  docs/sources/operators-guide/architecture/memberlist-and-the-gossip-protocol.md
  docs/sources/operators-guide/configure/configure-custom-trackers.md
  docs/sources/operators-guide/configure/configure-hash-rings.md
  docs/sources/operators-guide/configure/configure-helm-ha-deduplication-consul/index.md
  docs/sources/operators-guide/configure/configure-high-availability-deduplication.md
  docs/sources/operators-guide/configure/configure-shuffle-sharding/index.md
  docs/sources/operators-guide/configure/configure-shuffle-sharding/shuffle-sharding-probability.png
  docs/sources/operators-guide/configure/configure-the-query-frontend-work-with-prometheus.md
  docs/sources/operators-guide/configure/configure-tracing.md
  docs/sources/operators-guide/configure/configure-zone-aware-replication.md
  docs/sources/operators-guide/configure/mirror-requests-to-a-second-cluster/index.md
  docs/sources/operators-guide/configure/mirror-requests-to-a-second-cluster/mirroring-envoy.png
  docs/sources/operators-guide/mimir-runbooks/_index.md
  docs/sources/operators-guide/reference-glossary.md
  docs/sources/operators-guide/run-production-environment-with-helm/_index.md
  docs/sources/operators-guide/run-production-environment/perform-a-rolling-update.md
  docs/sources/operators-guide/run-production-environment/production-tips/index.md
  docs/sources/operators-guide/run-production-environment/scaling-out.md
  docs/sources/release-notes/v2.0.md
  docs/sources/release-notes/v2.1.md
  docs/sources/release-notes/v2.4.md
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/capped-large.yaml
  operations/helm/charts/mimir-distributed/capped-small.yaml
  operations/helm/charts/mimir-distributed/large.yaml
  operations/helm/charts/mimir-distributed/small.yaml
Labels: type/docs
