Repository grafana/mimir, pull requests merged in 2023-11, with the labels that each got.

#6529 Update mimir-prometheus to `5f9db04c2d53`
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/config/config.go
  vendor/github.com/prometheus/prometheus/promql/engine.go
  vendor/github.com/prometheus/prometheus/promql/functions.go
  vendor/github.com/prometheus/prometheus/promql/parser/ast.go
  vendor/github.com/prometheus/prometheus/promql/parser/lex.go
  vendor/github.com/prometheus/prometheus/promql/parser/parse.go
  vendor/github.com/prometheus/prometheus/scrape/scrape.go
  vendor/github.com/prometheus/prometheus/scrape/target.go
  vendor/github.com/prometheus/prometheus/storage/buffer.go
  vendor/github.com/prometheus/prometheus/storage/merge.go
  vendor/github.com/prometheus/prometheus/storage/remote/azuread/azuread.go
  vendor/github.com/prometheus/prometheus/storage/remote/read_handler.go
  vendor/github.com/prometheus/prometheus/storage/remote/write_handler.go
  vendor/github.com/prometheus/prometheus/template/template.go
  vendor/github.com/prometheus/prometheus/tsdb/chunkenc/float_histogram.go
  vendor/github.com/prometheus/prometheus/tsdb/chunkenc/histogram.go
  vendor/github.com/prometheus/prometheus/tsdb/chunkenc/xor.go
  vendor/github.com/prometheus/prometheus/tsdb/errors/errors.go
  vendor/github.com/prometheus/prometheus/tsdb/head_wal.go
  vendor/github.com/prometheus/prometheus/tsdb/ooo_head_read.go
  vendor/github.com/prometheus/prometheus/tsdb/symbols_batch.go
  vendor/github.com/prometheus/prometheus/tsdb/wal.go
  vendor/github.com/prometheus/prometheus/tsdb/wlog/wlog.go
  vendor/github.com/prometheus/prometheus/util/annotations/annotations.go
  vendor/github.com/prometheus/prometheus/web/api/v1/api.go
  vendor/modules.txt
Labels: backport r262, backport r261

#6540 mimir-build-image: Upgrade to Node.js 20
  CHANGELOG.md
  Makefile
  mimir-build-image/Dockerfile
Labels: chore

#6539 Update native histograms Send documentation
  CHANGELOG.md
  docs/sources/mimir/send/native-histograms/_index.md
Labels: type/docs

#6555 Revert "Ingester.QueryStream: Add support for ignoring context cancellation for chunk queriers (#6408)"
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/ingester/ingester.go
Labels: enhancement, component/ingester

#6557 Fix runbook typos
  docs/sources/mimir/manage/mimir-runbooks/_index.md
Labels: monitoring/runbooks

#6585 Jsonnet: Update memcached to 1.6.22-alpine
  CHANGELOG.md
  operations/mimir-tests/test-all-components-generated.yaml
  operations/mimir-tests/test-all-components-with-tsdb-head-early-compaction-generated.yaml
  operations/mimir-tests/test-all-components-without-chunk-streaming-generated.yaml
  operations/mimir-tests/test-autoscaling-custom-target-utilization-generated.yaml
  operations/mimir-tests/test-autoscaling-generated.yaml
  operations/mimir-tests/test-consul-generated.yaml
  operations/mimir-tests/test-consul-multi-zone-generated.yaml
  operations/mimir-tests/test-consul-ruler-disabled-generated.yaml
  operations/mimir-tests/test-continuous-test-generated.yaml
  operations/mimir-tests/test-defaults-generated.yaml
  operations/mimir-tests/test-deployment-mode-migration-generated.yaml
  operations/mimir-tests/test-env-vars-generated.yaml
  operations/mimir-tests/test-etcd-replicas-generated.yaml
  operations/mimir-tests/test-extra-runtime-config-generated.yaml
  operations/mimir-tests/test-helm-parity-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-0-before-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-1-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-2-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-3-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-0-before-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-1-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-2-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-3-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-4-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-5-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-6-final-generated.yaml
  operations/mimir-tests/test-memcached-mtls-generated.yaml
  operations/mimir-tests/test-multi-zone-generated.yaml
  operations/mimir-tests/test-multi-zone-with-ongoing-migration-generated.yaml
  operations/mimir-tests/test-multi-zone-with-store-gateway-automated-downscaling-generated.yaml
  operations/mimir-tests/test-query-scheduler-consul-ring-generated.yaml
  operations/mimir-tests/test-query-scheduler-memberlist-ring-and-ruler-remote-evaluation-generated.yaml
  operations/mimir-tests/test-query-scheduler-memberlist-ring-generated.yaml
  operations/mimir-tests/test-query-scheduler-memberlist-ring-read-path-disabled-generated.yaml
  operations/mimir-tests/test-query-sharding-generated.yaml
  operations/mimir-tests/test-read-write-deployment-mode-s3-autoscaled-generated.yaml
  operations/mimir-tests/test-read-write-deployment-mode-s3-generated.yaml
  operations/mimir-tests/test-ruler-remote-evaluation-generated.yaml
  operations/mimir-tests/test-ruler-remote-evaluation-migration-generated.yaml
  operations/mimir-tests/test-shuffle-sharding-generated.yaml
  operations/mimir-tests/test-shuffle-sharding-read-path-disabled-generated.yaml
  operations/mimir-tests/test-storage-azure-generated.yaml
  operations/mimir-tests/test-storage-gcs-generated.yaml
  operations/mimir-tests/test-storage-s3-generated.yaml
  operations/mimir-tests/test-without-query-scheduler-generated.yaml
  operations/mimir/images.libsonnet
Labels: chore, jsonnet

#6590 querier: track consistency check failures without retries
  CHANGELOG.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/grafana-dashboards.yaml
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-queries.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-ruler.json
  operations/mimir-mixin-compiled/dashboards/mimir-queries.json
  operations/mimir-mixin-compiled/dashboards/mimir-ruler.json
  operations/mimir-mixin/dashboards/queries.libsonnet
  operations/mimir-mixin/dashboards/ruler.libsonnet
  pkg/querier/blocks_consistency_checker.go
  pkg/querier/blocks_consistency_checker_test.go
  pkg/querier/blocks_store_queryable.go
  pkg/querier/blocks_store_queryable_test.go
Labels: component/querier

#6614 OpenTelemetryTracerBridge.Start: Make returned context contain span
  CHANGELOG.md
  pkg/mimir/tracing.go
  pkg/mimir/tracing_test.go
Labels: bug, component/tracing

#6473 query-frontend: format query start/end/step, log query length
  CHANGELOG.md
  pkg/frontend/querymiddleware/roundtrip.go
  pkg/frontend/querymiddleware/stats.go
  pkg/frontend/querymiddleware/stats_test.go
  pkg/frontend/transport/handler.go
  pkg/frontend/transport/handler_test.go
Labels: component/query-frontend

#6549 Distributor: Return 529 for ingestion rate limit when serviceOverloadErrorEnabled
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/distributor/push.go
  pkg/distributor/push_test.go
  pkg/util/validation/limits.go
Labels: bug, component/distributor

#6477 query-frontend: results caching logs and tracing
  CHANGELOG.md
  pkg/frontend/querymiddleware/generic_query_cache.go
  pkg/frontend/querymiddleware/generic_query_cache_test.go
  pkg/frontend/querymiddleware/split_and_cache.go
  pkg/frontend/querymiddleware/stats.go
  pkg/frontend/transport/handler.go
  pkg/frontend/transport/handler_test.go
Labels: component/query-frontend

#6652 Distributor: Don't use global logger in push handlers
  CHANGELOG.md
  pkg/api/api.go
  pkg/distributor/otel.go
  pkg/distributor/push.go
  pkg/distributor/push_test.go
Labels: enhancement, component/distributor

#6584 Ingester: Base memory utilization on Go heap size
  CHANGELOG.md
  pkg/util/limiter/utilization.go
  pkg/util/limiter/utilization_test.go
Labels: enhancement, component/ingester

#6665 Docs: Fix broken link and align text
  docs/sources/mimir/tutorials/play-with-grafana-mimir/index.md
Labels: type/docs

#6693 Ingester error handling: add related experimental CLI flags to about-…
  docs/sources/mimir/configure/about-versioning.md
Labels: type/docs

#6681 Update rollout-operator to v0.9.0
  CHANGELOG.md
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/Chart.lock
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/tests/enterprise-https-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/enterprise-https-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/gateway-enterprise-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/gateway-enterprise-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/openshift-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/openshift-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/scheduler-name-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/scheduler-name-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-enterprise-legacy-label-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-enterprise-legacy-label-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-oss-logical-multizone-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-oss-logical-multizone-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-oss-multizone-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-oss-multizone-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-oss-topology-spread-constraints-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-oss-topology-spread-constraints-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-vault-agent-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-vault-agent-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/mimir-tests/test-consul-multi-zone-generated.yaml
  operations/mimir-tests/test-deployment-mode-migration-generated.yaml
  operations/mimir-tests/test-multi-zone-generated.yaml
  operations/mimir-tests/test-multi-zone-with-ongoing-migration-generated.yaml
  operations/mimir-tests/test-multi-zone-with-store-gateway-automated-downscaling-generated.yaml
  operations/mimir-tests/test-read-write-deployment-mode-s3-autoscaled-generated.yaml
  operations/mimir-tests/test-read-write-deployment-mode-s3-caches-disabled-generated.yaml
  operations/mimir-tests/test-read-write-deployment-mode-s3-generated.yaml
  operations/mimir/images.libsonnet
Labels: chore, jsonnet, helm

#6542 Distributor: Enable automatically generated OTel metric name suffixes
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  development/mimir-microservices-mode/config/otel-collector.yaml
  development/mimir-microservices-mode/docker-compose.jsonnet
  docs/sources/mimir/references/configuration-parameters/index.md
  go.mod
  go.sum
  integration/otlp_ingestion_test.go
  pkg/distributor/otel.go
  pkg/distributor/push_test.go
  pkg/util/validation/limits.go
  vendor/github.com/open-telemetry/opentelemetry-collector-contrib/pkg/translator/prometheus/README.md
  vendor/github.com/open-telemetry/opentelemetry-collector-contrib/pkg/translator/prometheus/normalize_name.go
  vendor/go.opentelemetry.io/collector/featuregate/registry.go
  vendor/modules.txt
Labels: enhancement, component/distributor

#4648 Query-frontend worker: don't treat cancel as an error
  CHANGELOG.md
  pkg/querier/worker/frontend_processor.go
Labels: release/notified-changelog-cut

#6721 Distributor: Add OTLP handler benchmarks
  pkg/distributor/otel_test.go
  pkg/distributor/push_test.go
Labels: chore, area/opentelemetry

#6680 Allow ingester's read path to return gRPC errors
  CHANGELOG.md
  pkg/distributor/distributor.go
  pkg/distributor/errors.go
  pkg/distributor/errors_test.go
  pkg/ingester/active_series.go
  pkg/ingester/errors.go
  pkg/ingester/errors_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/mimirpb/mimir.pb.go
  pkg/mimirpb/mimir.proto
  pkg/querier/error_translate_queryable.go
  pkg/util/http.go
Labels: enhancement, component/ingester

#6231 Document native histogram query, visualization and best practices
  CHANGELOG.md
  docs/sources/mimir/visualize/native-histograms/_index.md
Labels: type/docs

#6734 Docs: Remove "previous" from Classic histograms because they are still in existance
  docs/sources/mimir/visualize/native-histograms/_index.md
Labels: type/docs

#6588 compactor: mark corrupted blocks for no compaction to avoid blocking
  CHANGELOG.md
  docs/sources/mimir/manage/mimir-runbooks/_index.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/mixin-alerts.yaml
  operations/mimir-mixin-compiled-baremetal/alerts.yaml
  operations/mimir-mixin-compiled/alerts.yaml
  operations/mimir-mixin/alerts/compactor.libsonnet
  pkg/compactor/bucket_compactor.go
  pkg/compactor/bucket_compactor_e2e_test.go
  pkg/compactor/compactor.go
  pkg/compactor/compactor_test.go
  pkg/storage/tsdb/block/markers.go
Labels: enhancement, component/compactor

#6750 Docs: Fix flag syntax
  docs/sources/mimir/configure/configure-native-histograms-ingestion.md
Labels: type/docs

#6616 store-gateway: fix duration metrics
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_e2e_test.go
  pkg/storegateway/bucket_store_metrics.go
  pkg/storegateway/bucket_test.go
  pkg/storegateway/series_refs.go
  pkg/storegateway/stats.go
Labels: component/store-gateway

#6756 continuous-test: Include comparison of all expected and actual values when any float sample does not match
  CHANGELOG.md
  pkg/continuoustest/util.go
  pkg/continuoustest/util_test.go
Labels: release/notified-changelog-cut

#6764 Upstream internal jsonnet changes
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/configuration-parameters/index.md
  operations/mimir-tests/test-all-components-generated.yaml
  operations/mimir-tests/test-all-components-with-tsdb-head-early-compaction-generated.yaml
  operations/mimir-tests/test-all-components-without-chunk-streaming-generated.yaml
  operations/mimir-tests/test-autoscaling-custom-target-utilization-generated.yaml
  operations/mimir-tests/test-autoscaling-generated.yaml
  operations/mimir-tests/test-consul-generated.yaml
  operations/mimir-tests/test-consul-multi-zone-generated.yaml
  operations/mimir-tests/test-consul-ruler-disabled-generated.yaml
  operations/mimir-tests/test-continuous-test-generated.yaml
  operations/mimir-tests/test-defaults-generated.yaml
  operations/mimir-tests/test-deployment-mode-migration-generated.yaml
  operations/mimir-tests/test-env-vars-generated.yaml
  operations/mimir-tests/test-etcd-replicas-generated.yaml
  operations/mimir-tests/test-extra-runtime-config-generated.yaml
  operations/mimir-tests/test-helm-parity-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-0-before-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-1-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-2-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-3-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-0-before-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-1-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-2-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-3-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-4-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-5-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-6-final-generated.yaml
  operations/mimir-tests/test-memcached-mtls-generated.yaml
  operations/mimir-tests/test-multi-zone-generated.yaml
  operations/mimir-tests/test-multi-zone-with-ongoing-migration-generated.yaml
  operations/mimir-tests/test-multi-zone-with-store-gateway-automated-downscaling-generated.yaml
  operations/mimir-tests/test-query-scheduler-consul-ring-generated.yaml
  operations/mimir-tests/test-query-scheduler-memberlist-ring-and-ruler-remote-evaluation-generated.yaml
  operations/mimir-tests/test-query-scheduler-memberlist-ring-generated.yaml
  operations/mimir-tests/test-query-scheduler-memberlist-ring-read-path-disabled-generated.yaml
  operations/mimir-tests/test-query-sharding-generated.yaml
  operations/mimir-tests/test-read-write-deployment-mode-s3-autoscaled-generated.yaml
  operations/mimir-tests/test-read-write-deployment-mode-s3-caches-disabled-generated.yaml
  operations/mimir-tests/test-read-write-deployment-mode-s3-generated.yaml
  operations/mimir-tests/test-ruler-remote-evaluation-generated.yaml
  operations/mimir-tests/test-ruler-remote-evaluation-migration-generated.yaml
  operations/mimir-tests/test-shuffle-sharding-generated.yaml
  operations/mimir-tests/test-shuffle-sharding-read-path-disabled-generated.yaml
  operations/mimir-tests/test-storage-azure-generated.yaml
  operations/mimir-tests/test-storage-gcs-generated.yaml
  operations/mimir-tests/test-storage-gcs-redis-generated.yaml
  operations/mimir-tests/test-storage-s3-generated.yaml
  operations/mimir-tests/test-without-query-scheduler-generated.yaml
  operations/mimir/querier.libsonnet
  pkg/storage/tsdb/config.go
Labels: release/notified-changelog-cut

#6719 Distributor: Refactor OTLP handler
  pkg/distributor/otel.go
  pkg/util/http.go
  pkg/util/http_test.go
Labels: chore, component/distributor, area/opentelemetry

#6544 Exclude vector queries from being counted in metric for rules with zero fetched series
  CHANGELOG.md
  integration/ruler_test.go
  pkg/ruler/compat.go
  pkg/ruler/compat_test.go
Labels: release/notified-changelog-cut
