Repository grafana/mimir, pull requests merged in 2023-03, with the labels that each got.

#4289 Clarify Helm chart release instructions.
  operations/helm/charts/mimir-distributed/RELEASE.md
Labels: helm

#4339 Docs: Move HA deduplication Helm documentation (#4338)
  docs/sources/helm-charts/mimir-distributed/migration-guides/migrate-to-unified-proxy-deployment/_index.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/configure-helm-ha-deduplication-consul/ha-tracker-status.png
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/configure-helm-ha-deduplication-consul/index.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/configure-helm-ha-deduplication-consul/verify-deduplication.png
  docs/sources/mimir/operators-guide/configure/configure-helm-ha-deduplication-consul/index.md
Labels: type/docs, helm

#4343 Upgrade actions in GitHub Actions workflows to avoid deprecated features
  .github/workflows/test-build-deploy.yml
Labels: chore

#3554 Add guide on alternative migration method for thanos to mimir
  docs/sources/migration-guide/migrating-from-thanos-to-mimir-with-thanos-sidecar.md
Labels: type/docs, release/notified-changelog-cut

#4299 Helm: nginx HPA and tests kubeversion fixes
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/ci/offline/gateway-enterprise-values.yaml
  operations/helm/charts/mimir-distributed/ci/offline/gateway-nginx-values.yaml
  operations/helm/charts/mimir-distributed/templates/nginx/_helpers.tpl
  operations/helm/scripts/build.sh
  operations/helm/tests/gateway-enterprise-values-generated/mimir-distributed/templates/gateway/gateway-v2beta1-hpa.yaml
  operations/helm/tests/gateway-enterprise-values-generated/mimir-distributed/templates/ingester/ingester-pdb.yaml
  operations/helm/tests/gateway-enterprise-values-generated/mimir-distributed/templates/store-gateway/store-gateway-pdb.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/templates/gateway/gateway-v2beta1-hpa.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/templates/ingester/ingester-pdb.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/templates/store-gateway/store-gateway-pdb.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/templates/ingester/ingester-pdb.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/templates/store-gateway/store-gateway-pdb.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/templates/ingester/ingester-pdb.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/templates/store-gateway/store-gateway-pdb.yaml
Labels: helm

#4258 Ruler: load more tenants in parallel during startup
  CHANGELOG.md
  pkg/ruler/manager.go
  pkg/ruler/manager_test.go
Labels: enhancement, component/ruler

#4358 Fix typo in the docs URL for migrating from Cortex
  README.md
Labels: type/docs

#4359 Docs: Remove forced paragraph break.
  docs/sources/mimir/operators-guide/get-started/_index.md
Labels: type/docs

#3411 Add asynchronous validation scaffolding for block upload
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  integration/backfill_test.go
  pkg/compactor/block_upload.go
  pkg/compactor/block_upload_test.go
  pkg/compactor/compactor.go
  pkg/storage/bucket/error_injected_bucket_client.go
Labels: release/notified-changelog-cut

#4250 [CHANGE] Ruler: set default `evaluation-delay-duration` to 1m
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  integration/configs.go
  pkg/util/validation/limits.go
Labels: component/ruler

#3740 Add memcache support for admin bucket in helm
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/capped-large.yaml
  operations/helm/charts/mimir-distributed/capped-small.yaml
  operations/helm/charts/mimir-distributed/large.yaml
  operations/helm/charts/mimir-distributed/small.yaml
  operations/helm/charts/mimir-distributed/templates/_helpers.tpl
  operations/helm/charts/mimir-distributed/templates/admin-cache/admin-cache-pdb.yaml
  operations/helm/charts/mimir-distributed/templates/admin-cache/admin-cache-servmon.yaml
  operations/helm/charts/mimir-distributed/templates/admin-cache/admin-cache-statefulset.yaml
  operations/helm/charts/mimir-distributed/templates/admin-cache/admin-cache-svc-headless.yaml
  operations/helm/charts/mimir-distributed/values.yaml
Labels: helm, release/notified-changelog-cut

#4374 Add query sharding settings for 24M and 32M plans
  CHANGELOG.md
  operations/mimir/query-sharding.libsonnet
Labels: bug, jsonnet

#4432 Update vendored mimir-prometheus
  CHANGELOG.md
  go.mod
  go.sum
  pkg/ingester/activeseries/matchers_test.go
  pkg/ingester/client/compat_test.go
  pkg/storage/sharding/label_test.go
  vendor/github.com/prometheus/prometheus/model/labels/regexp.go
  vendor/github.com/prometheus/prometheus/rules/alerting.go
  vendor/modules.txt
Labels: release/notified-changelog-cut

#4430 Cherry-pick #4409 into release-2.7 branch
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/operators-guide/configure/about-versioning.md
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/compactor/compactor.go
  pkg/compactor/compactor_test.go
  pkg/mimir/mimir.go
  pkg/querier/blocks_store_queryable.go
  pkg/storage/tsdb/config.go
  pkg/storage/tsdb/config_test.go
  pkg/storegateway/bucket_stores.go
  pkg/storegateway/gateway_test.go
  pkg/util/fieldcategory/overrides.go
  pkg/util/flags.go
  pkg/util/usage/usage.go
Labels: release/notified-changelog-cut

#4422 Deprecate readiness-check-ring-health config option
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/operators-guide/configure/about-versioning.md
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/ingester/ingester.go
  pkg/ingester/ingester_ring.go
  pkg/ingester/ingester_ring_test.go
  pkg/mimir/mimir.go
Labels: release/notified-changelog-cut

#4385 Make results cache TTL configurable and settable per tenant
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/operators-guide/configure/about-versioning.md
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/frontend/querymiddleware/limits.go
  pkg/frontend/querymiddleware/limits_test.go
  pkg/frontend/querymiddleware/split_and_cache.go
  pkg/frontend/querymiddleware/split_and_cache_test.go
  pkg/util/validation/limits.go
Labels: release/notified-changelog-cut

#4426 Remove replace directives in go.mod for hashicorp libs
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-hclog/README.md
  vendor/github.com/hashicorp/go-hclog/colorize_unix.go
  vendor/github.com/hashicorp/go-hclog/colorize_windows.go
  vendor/github.com/hashicorp/go-hclog/exclude.go
  vendor/github.com/hashicorp/go-hclog/global.go
  vendor/github.com/hashicorp/go-hclog/interceptlogger.go
  vendor/github.com/hashicorp/go-hclog/intlogger.go
  vendor/github.com/hashicorp/go-hclog/logger.go
  vendor/github.com/hashicorp/go-hclog/stdlog.go
  vendor/github.com/hashicorp/go-immutable-radix/CHANGELOG.md
  vendor/github.com/hashicorp/go-immutable-radix/iter.go
  vendor/github.com/hashicorp/go-immutable-radix/node.go
  vendor/github.com/hashicorp/go-immutable-radix/raw_iter.go
  vendor/github.com/hashicorp/go-immutable-radix/reverse_iter.go
  vendor/modules.txt
Labels: release/notified-changelog-cut

#4425 Native histograms support in querier remote read
  pkg/querier/remote_read.go
  pkg/querier/remote_read_test.go
Labels: release/notified-changelog-cut

#4393 Helm: added HttpListenPort in distributor-svc-headless
  operations/compare-helm-with-jsonnet/jsonnet/06-services/kustomization.yaml
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/distributor/distributor-svc-headless.yaml
  operations/helm/tests/gateway-enterprise-values-generated/mimir-distributed/templates/distributor/distributor-svc-headless.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/templates/distributor/distributor-svc-headless.yaml
  operations/helm/tests/graphite-enabled-values-generated/mimir-distributed/templates/distributor/distributor-svc-headless.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/templates/distributor/distributor-svc-headless.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/distributor/distributor-svc-headless.yaml
  operations/helm/tests/scheduler-name-values-generated/mimir-distributed/templates/distributor/distributor-svc-headless.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/templates/distributor/distributor-svc-headless.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/distributor/distributor-svc-headless.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/templates/distributor/distributor-svc-headless.yaml
  operations/helm/tests/test-enterprise-legacy-label-values-generated/mimir-distributed/templates/distributor/distributor-svc-headless.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/distributor/distributor-svc-headless.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/distributor/distributor-svc-headless.yaml
  operations/helm/tests/test-oss-logical-multizone-values-generated/mimir-distributed/templates/distributor/distributor-svc-headless.yaml
  operations/helm/tests/test-oss-multizone-values-generated/mimir-distributed/templates/distributor/distributor-svc-headless.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/distributor/distributor-svc-headless.yaml
Labels: helm, release/notified-changelog-cut

#4441 distributor: Fix type docstring
  pkg/distributor/distributor.go
Labels: chore

#4419 Rename file and titles to use imperative.
  docs/sources/mimir/migrate/migrate-from-thanos-or-prometheus.md
  docs/sources/mimir/operators-guide/configure/configure-tsdb-block-upload.md
Labels: type/docs, release/notified-changelog-cut

#4467 Store-gateway: make ranges per series per block configurable
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/operators-guide/configure/about-versioning.md
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/storage/tsdb/config.go
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_e2e_test.go
  pkg/storegateway/bucket_stores.go
  pkg/storegateway/bucket_test.go
  pkg/storegateway/series_refs.go
  pkg/storegateway/series_refs_test.go
Labels: component/store-gateway

#4468 Move Get started per new TOC structure.
  Makefile
  docs/sources/mimir/get-started/_index.md
  docs/sources/mimir/release-notes/_index.md
Labels: type/docs

#4376 Support histograms in pkg/querier
  pkg/querier/block.go
  pkg/querier/block_test.go
  pkg/querier/distributor_queryable_test.go
  pkg/querier/iterators/chunk_iterator.go
  pkg/querier/iterators/chunk_iterator_test.go
  pkg/querier/iterators/chunk_merge_iterator.go
  pkg/querier/iterators/chunk_merge_iterator_test.go
  pkg/querier/partitioner_test.go
  pkg/querier/querier_test.go
  pkg/querier/tenantfederation/merge_queryable_test.go
  pkg/querier/timeseries_series_set.go
  pkg/querier/timeseries_series_set_test.go
  pkg/util/test/chunk_iterator.go
Labels: release/notified-changelog-cut

#4485 Helm: fix kube state metrics relabel
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/metamonitoring/kube-state-metrics-servmon.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/kube-state-metrics-servmon.yaml
Labels: helm

#4483 Docs: Helm: prepare update doc links for 2.7.x
  docs/sources/helm-charts/mimir-distributed/migration-guides/migrate-from-cortex.md
  docs/sources/helm-charts/mimir-distributed/migration-guides/migrate-from-single-zone-with-helm.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/_index.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/configuration-with-helm.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/configure-helm-ha-deduplication-consul/index.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/monitor-system-health.md
Labels: type/docs, helm

#4407 fix: Allow for single arg values in memcached extraArgs.
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/memcached/_memcached-statefulset.tpl
Labels: helm, release/notified-changelog-cut

#4497 Check README.md file for any broken links.
  RELEASE.md
Labels: type/docs

#4400 Release notes for v2.7
  docs/sources/mimir/release-notes/v2.7.md
Labels: type/docs, release/notified-changelog-cut

#4527 Add basic documentation for native histograms
  CHANGELOG.md
  docs/sources/mimir/configure/configure-native-histograms-ingestion.md
Labels: type/docs

#4529 Fix aliases for http reference docs
  docs/sources/mimir/references/http-api/index.md
Labels: type/docs

#4536 Helm: fix issues in helm chart release notes for 4.2
  docs/sources/helm-charts/mimir-distributed/release-notes/v4.2.md
Labels: type/docs

#4533 Release Helm chart v4.3.0
  docs/sources/helm-charts/mimir-distributed/release-notes/v4.3.md
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/values.yaml
Labels: helm, release

#4537 Merge mimir-distributed-release-4.3.0 into main
  docs/sources/helm-charts/mimir-distributed/release-notes/v4.3.md
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/values.yaml
Labels: release

#4538 Backport: Helm: fix issues in helm chart release notes for 4.2 (#4536)
  docs/sources/helm-charts/mimir-distributed/release-notes/v4.2.md
Labels: type/docs, helm

#4470 Docs: Fix broken links
  README.md
Labels: type/docs

#4524 Update rollout-operator to v0.4.0
  CHANGELOG.md
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/Chart.lock
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/tests/gateway-enterprise-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/gateway-enterprise-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/openshift-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/openshift-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/scheduler-name-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/scheduler-name-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-enterprise-legacy-label-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-enterprise-legacy-label-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-oss-logical-multizone-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-oss-logical-multizone-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-oss-multizone-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-oss-multizone-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/mimir-tests/test-consul-multi-zone-generated.yaml
  operations/mimir-tests/test-deployment-mode-migration-generated.yaml
  operations/mimir-tests/test-multi-zone-generated.yaml
  operations/mimir-tests/test-multi-zone-with-ongoing-migration-generated.yaml
  operations/mimir-tests/test-read-write-deployment-mode-s3-autoscaled-generated.yaml
  operations/mimir-tests/test-read-write-deployment-mode-s3-generated.yaml
  operations/mimir/images.libsonnet
Labels: jsonnet, helm

#4492 Queries dashboard: display store-gateway bytes/sec instead of items/sec
  CHANGELOG.md
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-queries.json
  operations/mimir-mixin-compiled/dashboards/mimir-queries.json
  operations/mimir-mixin/dashboards/queries.libsonnet
Labels: monitoring/dashboards

#4559 Removed spurious spacing
  docs/sources/mimir/operators-guide/monitor-grafana-mimir/collecting-metrics-and-logs.md
Labels: Q1SE

#4568 Backport Docs: fix again broken reference configuration aliases (#4565)
  docs/sources/mimir/references/configuration-parameters/index.md
  docs/sources/mimir/references/configuration-parameters/index.template
Labels: type/docs

#4570 Update to v0.11.2 of Memcached exporter
  CHANGELOG.md
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/graphite-enabled-values-generated/mimir-distributed/templates/graphite-proxy/graphite-aggregation-cache/graphite-aggregation-cache-statefulset.yaml
  operations/helm/tests/graphite-enabled-values-generated/mimir-distributed/templates/graphite-proxy/graphite-metric-name-cache/graphite-metric-name-cache-statefulset.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/templates/chunks-cache/chunks-cache-statefulset.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/templates/index-cache/index-cache-statefulset.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/templates/metadata-cache/metadata-cache-statefulset.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/templates/results-cache/results-cache-statefulset.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/templates/chunks-cache/chunks-cache-statefulset.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/templates/index-cache/index-cache-statefulset.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/templates/metadata-cache/metadata-cache-statefulset.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/templates/results-cache/results-cache-statefulset.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/chunks-cache/chunks-cache-statefulset.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/index-cache/index-cache-statefulset.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/metadata-cache/metadata-cache-statefulset.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/results-cache/results-cache-statefulset.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/chunks-cache/chunks-cache-statefulset.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/index-cache/index-cache-statefulset.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/metadata-cache/metadata-cache-statefulset.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/results-cache/results-cache-statefulset.yaml
  operations/mimir-tests/test-autoscaling-generated.yaml
  operations/mimir-tests/test-consul-generated.yaml
  operations/mimir-tests/test-consul-multi-zone-generated.yaml
  operations/mimir-tests/test-consul-ruler-disabled-generated.yaml
  operations/mimir-tests/test-defaults-generated.yaml
  operations/mimir-tests/test-deployment-mode-migration-generated.yaml
  operations/mimir-tests/test-disable-chunk-streaming-generated.yaml
  operations/mimir-tests/test-extra-runtime-config-generated.yaml
  operations/mimir-tests/test-helm-parity-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-0-before-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-1-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-2-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-3-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-0-before-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-1-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-2-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-3-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-4-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-5-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-6-final-generated.yaml
  operations/mimir-tests/test-memcached-mtls-generated.yaml
  operations/mimir-tests/test-multi-zone-generated.yaml
  operations/mimir-tests/test-multi-zone-with-ongoing-migration-generated.yaml
  operations/mimir-tests/test-query-scheduler-consul-ring-generated.yaml
  operations/mimir-tests/test-query-scheduler-memberlist-ring-and-ruler-remote-evaluation-generated.yaml
  operations/mimir-tests/test-query-scheduler-memberlist-ring-generated.yaml
  operations/mimir-tests/test-query-scheduler-memberlist-ring-read-path-disabled-generated.yaml
  operations/mimir-tests/test-query-sharding-generated.yaml
  operations/mimir-tests/test-read-write-deployment-mode-s3-autoscaled-generated.yaml
  operations/mimir-tests/test-read-write-deployment-mode-s3-generated.yaml
  operations/mimir-tests/test-ruler-remote-evaluation-generated.yaml
  operations/mimir-tests/test-ruler-remote-evaluation-migration-generated.yaml
  operations/mimir-tests/test-shuffle-sharding-generated.yaml
  operations/mimir-tests/test-shuffle-sharding-read-path-disabled-generated.yaml
  operations/mimir-tests/test-storage-azure-generated.yaml
  operations/mimir-tests/test-storage-gcs-generated.yaml
  operations/mimir-tests/test-storage-s3-generated.yaml
  operations/mimir-tests/test-without-query-scheduler-generated.yaml
  operations/mimir/images.libsonnet
Labels: jsonnet, helm

#4571 Typo in the docs
  docs/sources/mimir/operators-guide/tools/mimirtool.md
Labels: type/docs

#4574 Fix http port for ingester-headless and store-gateway-headless services
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/ingester/ingester-svc-headless.yaml
  operations/helm/charts/mimir-distributed/templates/store-gateway/store-gateway-svc-headless.yaml
  operations/helm/tests/gateway-enterprise-values-generated/mimir-distributed/templates/ingester/ingester-svc-headless.yaml
  operations/helm/tests/gateway-enterprise-values-generated/mimir-distributed/templates/store-gateway/store-gateway-svc-headless.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/templates/ingester/ingester-svc-headless.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/templates/store-gateway/store-gateway-svc-headless.yaml
  operations/helm/tests/graphite-enabled-values-generated/mimir-distributed/templates/ingester/ingester-svc-headless.yaml
  operations/helm/tests/graphite-enabled-values-generated/mimir-distributed/templates/store-gateway/store-gateway-svc-headless.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/templates/ingester/ingester-svc-headless.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/templates/store-gateway/store-gateway-svc-headless.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/ingester/ingester-svc-headless.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/store-gateway/store-gateway-svc-headless.yaml
  operations/helm/tests/openshift-values-generated/mimir-distributed/templates/ingester/ingester-svc-headless.yaml
  operations/helm/tests/openshift-values-generated/mimir-distributed/templates/store-gateway/store-gateway-svc-headless.yaml
  operations/helm/tests/scheduler-name-values-generated/mimir-distributed/templates/ingester/ingester-svc-headless.yaml
  operations/helm/tests/scheduler-name-values-generated/mimir-distributed/templates/store-gateway/store-gateway-svc-headless.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/templates/ingester/ingester-svc-headless.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/templates/store-gateway/store-gateway-svc-headless.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/ingester/ingester-svc-headless.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/store-gateway/store-gateway-svc-headless.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/templates/ingester/ingester-svc-headless.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/templates/store-gateway/store-gateway-svc-headless.yaml
  operations/helm/tests/test-enterprise-legacy-label-values-generated/mimir-distributed/templates/ingester/ingester-svc-headless.yaml
  operations/helm/tests/test-enterprise-legacy-label-values-generated/mimir-distributed/templates/store-gateway/store-gateway-svc-headless.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/ingester/ingester-svc-headless.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/store-gateway/store-gateway-svc-headless.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/ingester/ingester-svc-headless.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/store-gateway/store-gateway-svc-headless.yaml
  operations/helm/tests/test-oss-logical-multizone-values-generated/mimir-distributed/templates/ingester/ingester-svc-headless.yaml
  operations/helm/tests/test-oss-logical-multizone-values-generated/mimir-distributed/templates/store-gateway/store-gateway-svc-headless.yaml
  operations/helm/tests/test-oss-multizone-values-generated/mimir-distributed/templates/ingester/ingester-svc-headless.yaml
  operations/helm/tests/test-oss-multizone-values-generated/mimir-distributed/templates/store-gateway/store-gateway-svc-headless.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/ingester/ingester-svc-headless.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/store-gateway/store-gateway-svc-headless.yaml
Labels: helm

#4555 Ruler: validation and logging with disabled tenant federation
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/mimir/modules.go
  pkg/ruler/api_test.go
  pkg/ruler/manager.go
  pkg/ruler/tenant_federation.go
Labels: type/docs, component/ruler

#4428 Extra tests for native histograms in queryStreamSamples and queryStreamChunks
  pkg/ingester/ingester_test.go
Labels: release/notified-changelog-cut

#4594 store-gateway: Add BenchmarkOpenBlockSeriesChunkRefsSetsIterator
  pkg/storegateway/bucket_test.go
  pkg/storegateway/series_refs_test.go
Labels: component/store-gateway

#4612 Jsonnet: Add configurable autoscaling memory target utilization
  CHANGELOG.md
  operations/mimir/autoscaling.libsonnet
Labels: enhancement, jsonnet

#4386 Add cache selection config in mimir jsonnet
  CHANGELOG.md
  operations/mimir-tests/test-storage-gcs-redis-generated.yaml
  operations/mimir-tests/test-storage-gcs-redis.jsonnet
  operations/mimir/config.libsonnet
  operations/mimir/memcached.libsonnet
  operations/mimir/store-gateway.libsonnet
Labels: jsonnet, release/notified-changelog-cut

#4609 [Docs] Extend runbook for MimirCompactorHasNotSuccessfullyRunCompaction
  CHANGELOG.md
  docs/sources/mimir/operators-guide/mimir-runbooks/_index.md
Labels: type/docs, Q1SE

#4603 fix(mixin): pod selector regex for deployments
  CHANGELOG.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/mixin-alerts.yaml
  operations/mimir-mixin-compiled/alerts.yaml
  operations/mimir-mixin-compiled/dashboards/mimir-alertmanager-resources.json
  operations/mimir-mixin-compiled/dashboards/mimir-compactor-resources.json
  operations/mimir-mixin-compiled/dashboards/mimir-overview-networking.json
  operations/mimir-mixin-compiled/dashboards/mimir-reads-networking.json
  operations/mimir-mixin-compiled/dashboards/mimir-writes-networking.json
  operations/mimir-mixin/config.libsonnet
Labels: helm, mixin

#4545 Store-gateway: correctly estimate length of last posting list
  pkg/storegateway/indexheader/binary_reader.go
  pkg/storegateway/indexheader/header.go
  pkg/storegateway/indexheader/header_test.go
  pkg/storegateway/indexheader/index/postings.go
  pkg/storegateway/indexheader/stream_binary_reader.go
Labels: component/store-gateway
