Repository grafana/mimir, pull requests merged in 2023-05, with the labels that each got.

#4234 Allow to select storageClass per zone
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/_helpers.tpl
  operations/helm/charts/mimir-distributed/templates/alertmanager/alertmanager-statefulset.yaml
  operations/helm/charts/mimir-distributed/templates/ingester/ingester-statefulset.yaml
  operations/helm/charts/mimir-distributed/templates/store-gateway/store-gateway-statefulset.yaml
  operations/helm/charts/mimir-distributed/values.yaml
Labels: helm, release/notified-changelog-cut

#4735 Use abstractions around Labels
  integration/backfill_test.go
  pkg/compactor/block_upload_test.go
  pkg/compactor/bucket_compactor.go
  pkg/compactor/bucket_compactor_e2e_test.go
  pkg/compactor/job_test.go
  pkg/compactor/split_merge_grouper.go
  pkg/compactor/split_merge_job.go
  pkg/distributor/distributor_test.go
  pkg/distributor/ha_tracker_test.go
  pkg/frontend/querymiddleware/codec_json_test.go
  pkg/frontend/querymiddleware/querysharding_test.go
  pkg/frontend/querymiddleware/querysharding_test_utils_test.go
  pkg/ingester/activeseries/active_series_test.go
  pkg/ingester/activeseries/matchers_test.go
  pkg/ingester/errors.go
  pkg/ingester/ingester_test.go
  pkg/mimirtool/commands/remote_read.go
  pkg/querier/block.go
  pkg/querier/block_test.go
  pkg/querier/blocks_store_queryable_test.go
  pkg/querier/distributor_queryable_test.go
  pkg/querier/matrix.go
  pkg/querier/partitioner_test.go
  pkg/querier/tenantfederation/merge_exemplar_queryable_test.go
  pkg/querier/tenantfederation/merge_queryable.go
  pkg/querier/tenantfederation/merge_queryable_test.go
  pkg/querier/timeseries_series_set_test.go
  pkg/ruler/compat_test.go
  pkg/ruler/manager.go
  pkg/ruler/remotequerier_decoder.go
  pkg/storage/chunk/json_helpers.go
  pkg/storage/series/series_set.go
  pkg/storage/tsdb/block/index.go
  pkg/storage/tsdb/testutil/block_generator.go
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_e2e_test.go
  pkg/storegateway/bucket_index_reader.go
  pkg/storegateway/bucket_stores_test.go
  pkg/storegateway/bucket_test.go
  pkg/storegateway/series_chunks.go
  pkg/storegateway/series_chunks_test.go
  pkg/storegateway/series_refs.go
  pkg/storegateway/snappy_gob_codec_test.go
  pkg/storegateway/storepb/custom.go
  pkg/util/labels.go
  pkg/util/metrics_helper.go
  pkg/util/metrics_helper_test.go
  tools/trafficdump/model.go
  tools/tsdb-symbols/main.go
Labels: release/notified-changelog-cut

#4856 Docs: Align menuTitle information architecture
  docs/sources/mimir/configure/configure-shuffle-sharding/index.md
Labels: type/docs

#4302 feat ruler: add support for the type query param of the api/v1/rules endpoint
  CHANGELOG.md
  docs/sources/mimir/references/http-api/index.md
  pkg/ruler/api.go
  pkg/ruler/api_test.go
  pkg/ruler/ruler.go
  pkg/ruler/ruler.pb.go
  pkg/ruler/ruler.proto
  pkg/ruler/ruler_test.go
Labels: release/notified-changelog-cut

#4923 Update mimir distributed release 4.4.1-rc.0
  docs/sources/helm-charts/mimir-distributed/_index.md
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/README.md.gotmpl
  operations/helm/charts/mimir-distributed/values.yaml
Labels: helm

#4920 mixin: reduce sensitivity of MimirIngesterTSDBWALCorrupted
  CHANGELOG.md
  docs/sources/mimir/operators-guide/mimir-runbooks/_index.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/mixin-alerts.yaml
  operations/mimir-mixin-compiled-baremetal/alerts.yaml
  operations/mimir-mixin-compiled/alerts.yaml
  operations/mimir-mixin/alerts/blocks.libsonnet
Labels: type/docs, mixin

#4930 Helm: update rollout-operator subchart to 0.5.0
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/Chart.lock
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/tests/gateway-enterprise-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/gateway-enterprise-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/openshift-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/openshift-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/scheduler-name-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/scheduler-name-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-enterprise-legacy-label-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-enterprise-legacy-label-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-oss-logical-multizone-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-oss-logical-multizone-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-oss-multizone-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-oss-multizone-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-oss-topology-spread-constraints-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-oss-topology-spread-constraints-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-vault-agent-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-vault-agent-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
Labels: helm

#4935 Docs: Fix minor typo in alert manager docs
  docs/sources/mimir/operators-guide/architecture/components/alertmanager.md
Labels: type/docs

#4844 store-gateway: more precise estimations of LabelValues size
  pkg/storegateway/bucket_test.go
  pkg/storegateway/indexheader/index/postings.go
  pkg/storegateway/indexheader/index/postings_test.go
Labels: component/store-gateway

#4936 Add dynicamic suffix to make-minio-buckets k8s job
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/minio/create-bucket-job.yaml
  operations/helm/tests/gateway-enterprise-values-generated/mimir-distributed/templates/minio/create-bucket-job.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/templates/minio/create-bucket-job.yaml
  operations/helm/tests/graphite-enabled-values-generated/mimir-distributed/templates/minio/create-bucket-job.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/minio/create-bucket-job.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/minio/create-bucket-job.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/templates/minio/create-bucket-job.yaml
  operations/helm/tests/test-enterprise-legacy-label-values-generated/mimir-distributed/templates/minio/create-bucket-job.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/minio/create-bucket-job.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/minio/create-bucket-job.yaml
  operations/helm/tests/test-oss-logical-multizone-values-generated/mimir-distributed/templates/minio/create-bucket-job.yaml
  operations/helm/tests/test-oss-multizone-values-generated/mimir-distributed/templates/minio/create-bucket-job.yaml
  operations/helm/tests/test-oss-topology-spread-constraints-values-generated/mimir-distributed/templates/minio/create-bucket-job.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/minio/create-bucket-job.yaml
  operations/helm/tests/test-vault-agent-values-generated/mimir-distributed/templates/minio/create-bucket-job.yaml
Labels: helm

#4926 store-gateway: read series from bucket with io.Reader
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_index_reader.go
  pkg/storegateway/bucket_test.go
  pkg/storegateway/indexcache/cache.go
  pkg/storegateway/indexcache/remote.go
  pkg/storegateway/io.go
  pkg/storegateway/series_chunks.go
  pkg/storegateway/series_refs.go
  pkg/storegateway/series_refs_test.go
  pkg/storegateway/stats.go
  pkg/util/pool/pool.go
Labels: component/store-gateway

#4927 store-gateway: remove internal LabelValues
  pkg/storegateway/bucket_test.go
  pkg/storegateway/indexheader/header.go
  pkg/storegateway/indexheader/header_test.go
  pkg/storegateway/indexheader/index/postings.go
  pkg/storegateway/indexheader/lazy_binary_reader.go
  pkg/storegateway/indexheader/reader_benchmarks_test.go
  pkg/storegateway/indexheader/stream_binary_reader.go
Labels: component/store-gateway

#4937 Add mimir-distributed-4.4 release notes
  docs/sources/helm-charts/mimir-distributed/release-notes/v4.4.md
Labels: helm

#4942 Set final release version for mimir-distributed-4.4.1
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
Labels: helm

#4948 Specify which APIs use query sharding
  CHANGELOG.md
  docs/sources/mimir/references/architecture/query-sharding/index.md
Labels: type/docs

#4934 Docs: Update ingester docs on replication and availability
  docs/sources/mimir/references/architecture/components/ingester.md
Labels: type/docs

#4953 Fix various code comments
  integration/ruler_test.go
  pkg/api/api.go
  pkg/distributor/query.go
  pkg/ingester/ingester.go
  pkg/mimir/modules.go
  pkg/querier/worker/scheduler_processor.go
  pkg/ruler/compat.go
  pkg/util/limiter/query_limiter.go
Labels: chore

#4918 Alertmanager: Introduce new metrics from upstream
  CHANGELOG.md
  pkg/alertmanager/alertmanager_metrics.go
  pkg/alertmanager/alertmanager_metrics_test.go
Labels: component/alertmanager

#4287 Make `query-ingesters-within` per-tenant
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/configure-shuffle-sharding/index.md
  docs/sources/mimir/references/architecture/components/querier.md
  docs/sources/mimir/references/configuration-parameters/index.md
  integration/ingester_sharding_test.go
  pkg/mimir/mimir.go
  pkg/mimir/mimir_test.go
  pkg/mimir/modules.go
  pkg/mimir/runtime_config.go
  pkg/mimir/runtime_config_test.go
  pkg/querier/distributor_queryable.go
  pkg/querier/distributor_queryable_test.go
  pkg/querier/querier.go
  pkg/querier/querier_test.go
  pkg/util/validation/limits.go
Labels: release/notified-changelog-cut

#4939 Improve helm release.md
  operations/helm/charts/mimir-distributed/RELEASE.md
Labels: helm, release

#4962 store-gateway: reduce series size estimation
  pkg/storage/tsdb/config.go
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_index_reader.go
Labels: component/store-gateway

#4988 Fix broken link in Helm run production
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/_index.md
Labels: type/docs

#4978 store-gateway: reduce overhead in fetching postings from cache
  CHANGELOG.md
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_index_reader.go
  pkg/storegateway/bucket_test.go
  pkg/storegateway/indexcache/cache.go
  pkg/storegateway/indexcache/inmemory.go
  pkg/storegateway/indexcache/inmemory_test.go
  pkg/storegateway/indexcache/remote.go
  pkg/storegateway/indexcache/remote_test.go
  pkg/storegateway/indexcache/tracing.go
  pkg/storegateway/series_refs_test.go
Labels: component/store-gateway

#4980 mixin: remove MimirQuerierHighRefetchRate
  CHANGELOG.md
  docs/sources/mimir/operators-guide/mimir-runbooks/_index.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/mixin-alerts.yaml
  operations/mimir-mixin-compiled-baremetal/alerts.yaml
  operations/mimir-mixin-compiled/alerts.yaml
  operations/mimir-mixin/alerts/blocks.libsonnet
Labels: mixin

#4981 helm: fix weekly release version calculation
  .github/workflows/scripts/helm-weekly-release.sh
Labels: helm

#4947 Helm docs: multi-zone resources pruning; metamonitoring list of metrics
  docs/sources/helm-charts/mimir-distributed/migration-guides/migrate-from-single-zone-with-helm.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/monitor-system-health.md
Labels: type/docs, helm

#4995 store-gateway: remove mmap reader from tests
  pkg/storegateway/bucket_test.go
  pkg/storegateway/series_refs_test.go
Labels: component/store-gateway

#4373 querier: add prometheus/api/v1/format_query API
  CHANGELOG.md
  docs/sources/mimir/references/http-api/index.md
  integration/api_endpoints_test.go
  pkg/api/api.go
  pkg/api/handlers.go
Labels: release/notified-changelog-cut

#5026 compactor: change default of `partial-block-deletion-delay`, remove MimirTenantHasPartialBlocks
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/mimir/operators-guide/mimir-runbooks/_index.md
  docs/sources/mimir/references/configuration-parameters/index.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/mixin-alerts.yaml
  operations/mimir-mixin-compiled-baremetal/alerts.yaml
  operations/mimir-mixin-compiled/alerts.yaml
  operations/mimir-mixin/alerts/blocks.libsonnet
  pkg/util/validation/limits.go
Labels: component/compactor, mixin

#5021 store-gateway: limit number of values in LabeValues cache items
  CHANGELOG.md
  pkg/storegateway/bucket.go
Labels: component/store-gateway

#5025 jsonnet: reduce store-gateway blocks sync concurrency with disabled lazy loading
  CHANGELOG.md
  operations/mimir/config.libsonnet
  operations/mimir/store-gateway.libsonnet
Labels: jsonnet

#5011 store-gateway: record index header loading times separately
  CHANGELOG.md
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_test.go
  pkg/storegateway/stats.go
Labels: component/store-gateway

#5035 mimirtool: fail on duplicate rules with --strict
  .github/workflows/test-build-deploy.yml
  CHANGELOG.md
  Makefile
  pkg/mimirtool/commands/rules.go
  pkg/mimirtool/commands/rules_test.go
Labels: component/mimirtool

#5030 Add query-frontend config option to log request headers in query logs
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/frontend/transport/handler.go
  pkg/frontend/transport/handler_test.go
Labels: component/query-frontend

#5041 distributor: Fix removeLabel doc comment
  pkg/distributor/distributor.go
Labels: chore, component/distributor

#5034 Docs: Update SECURITY.md
  SECURITY.md
Labels: type/docs

#5052 Refactoring: merge BaseFetcher and MetaFetcher
  pkg/compactor/compactor_test.go
  pkg/compactor/shard_aware_deduplicate_filter.go
  pkg/storage/tsdb/block/fetcher.go
  pkg/storegateway/bucket_test.go
Labels: chore, component/compactor

#5047 store-gateway: introduce more postings strategies
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/storage/tsdb/config.go
  pkg/storegateway/bucket_stores.go
Labels: component/store-gateway, backport r239

#5051 Deprecate -blocks-storage.bucket-store.bucket-index.enabled configuration parameter
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/querier/blocks_store_queryable.go
  pkg/storage/tsdb/config.go
  pkg/storegateway/bucket_stores.go
  pkg/storegateway/bucket_stores_test.go
  pkg/storegateway/gateway_test.go
Labels: component/store-gateway

#5065 Update alpine to 3.18.0
  CHANGELOG.md
  cmd/metaconvert/Dockerfile
  cmd/mimir-continuous-test/Dockerfile
  cmd/mimir/Dockerfile
  cmd/mimirtool/Dockerfile
  cmd/query-tee/Dockerfile
  development/mimir-microservices-mode/dev.dockerfile
  development/mimir-monolithic-mode-with-swift-storage/dev.dockerfile
  development/mimir-monolithic-mode/dev.dockerfile
  development/mimir-read-write-mode/dev.dockerfile
Labels: chore

#5062 store-gateway: correct stage label for index header loading
  CHANGELOG.md
  pkg/storegateway/bucket.go
  pkg/storegateway/stats.go
Labels: component/store-gateway

#5078 Ingester query path refactoring: rename methods and reduce duplication
  CHANGELOG.md
  pkg/ingester/client/custom.go
  pkg/ingester/ingester.go
Labels: chore, component/ingester

#5060 sbom workflow add
  .github/workflows/sbom-report.yml
Labels: security
