Repository grafana/mimir, pull requests merged in 2023-08, with the labels that each got.

#5653 Docs: update helm 2.x to 3.0 migration guide
  docs/sources/helm-charts/mimir-distributed/migration-guides/migrate-helm-chart-2.x-to-3.0.md
Labels: type/docs, helm

#5654 Docs: update helm 3.x to 4.0 migration guide
  docs/sources/helm-charts/mimir-distributed/migration-guides/migrate-from-single-zone-with-helm.md
Labels: type/docs, helm

#5656 query-tee: Add option to skip TLS verification
  CHANGELOG.md
  tools/querytee/proxy.go
  tools/querytee/proxy_backend.go
  tools/querytee/proxy_backend_test.go
  tools/querytee/proxy_endpoint_test.go
Labels: component/query-tee

#5582 Docs: document options and trade-offs to query label names and values
  CHANGELOG.md
  docs/sources/mimir/query/_index.md
  docs/sources/mimir/query/query-metric-labels.md
Labels: type/docs

#5625 helm: fix missing indentation with additional pod labels
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/_helpers.tpl
Labels: helm

#5624 Add aliases for previous location of tutorial within Mimir as well as at https://grafana.com/tutorials/play-with-grafana-mimir/
  docs/sources/mimir/get-started/play-with-grafana-mimir/index.md
Labels: type/docs

#5680 jsonnet: add appProtocol to gossip-ring service
  CHANGELOG.md
  operations/compare-helm-with-jsonnet/jsonnet/06-services/kustomization.yaml
  operations/mimir-tests/test-autoscaling-generated.yaml
  operations/mimir-tests/test-continuous-test-generated.yaml
  operations/mimir-tests/test-defaults-generated.yaml
  operations/mimir-tests/test-deployment-mode-migration-generated.yaml
  operations/mimir-tests/test-disable-chunk-streaming-generated.yaml
  operations/mimir-tests/test-env-vars-generated.yaml
  operations/mimir-tests/test-etcd-replicas-generated.yaml
  operations/mimir-tests/test-extra-runtime-config-generated.yaml
  operations/mimir-tests/test-helm-parity-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-0-before-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-1-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-2-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-3-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-1-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-2-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-3-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-4-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-5-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-6-final-generated.yaml
  operations/mimir-tests/test-memcached-mtls-generated.yaml
  operations/mimir-tests/test-multi-zone-generated.yaml
  operations/mimir-tests/test-multi-zone-with-ongoing-migration-generated.yaml
  operations/mimir-tests/test-query-scheduler-memberlist-ring-and-ruler-remote-evaluation-generated.yaml
  operations/mimir-tests/test-query-scheduler-memberlist-ring-generated.yaml
  operations/mimir-tests/test-query-scheduler-memberlist-ring-read-path-disabled-generated.yaml
  operations/mimir-tests/test-query-sharding-generated.yaml
  operations/mimir-tests/test-read-write-deployment-mode-s3-autoscaled-generated.yaml
  operations/mimir-tests/test-read-write-deployment-mode-s3-generated.yaml
  operations/mimir-tests/test-ruler-remote-evaluation-generated.yaml
  operations/mimir-tests/test-ruler-remote-evaluation-migration-generated.yaml
  operations/mimir-tests/test-shuffle-sharding-generated.yaml
  operations/mimir-tests/test-shuffle-sharding-read-path-disabled-generated.yaml
  operations/mimir-tests/test-storage-azure-generated.yaml
  operations/mimir-tests/test-storage-gcs-generated.yaml
  operations/mimir-tests/test-storage-gcs-redis-generated.yaml
  operations/mimir-tests/test-storage-s3-generated.yaml
  operations/mimir-tests/test-without-query-scheduler-generated.yaml
  operations/mimir/memberlist.libsonnet
Labels: jsonnet

#5703 Jsonnet: Add common config object
  CHANGELOG.md
  operations/mimir/alertmanager.libsonnet
  operations/mimir/compactor.libsonnet
  operations/mimir/config.libsonnet
  operations/mimir/distributor.libsonnet
  operations/mimir/ingester.libsonnet
  operations/mimir/overrides-exporter.libsonnet
  operations/mimir/querier.libsonnet
  operations/mimir/query-frontend.libsonnet
  operations/mimir/query-scheduler.libsonnet
  operations/mimir/ruler.libsonnet
  operations/mimir/store-gateway.libsonnet
Labels: enhancement, jsonnet

#5702 Add config option to disable store-gateway auto-forget feature
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/storegateway/gateway.go
  pkg/storegateway/gateway_ring.go
  pkg/storegateway/gateway_test.go
Labels: enhancement, component/store-gateway

#5714 Set dsitributors maxSurge and maxUnavailable to 15% and 0
  CHANGELOG.md
  operations/mimir-tests/test-autoscaling-custom-target-utilization-generated.yaml
  operations/mimir-tests/test-autoscaling-generated.yaml
  operations/mimir-tests/test-consul-generated.yaml
  operations/mimir-tests/test-consul-multi-zone-generated.yaml
  operations/mimir-tests/test-consul-ruler-disabled-generated.yaml
  operations/mimir-tests/test-continuous-test-generated.yaml
  operations/mimir-tests/test-defaults-generated.yaml
  operations/mimir-tests/test-deployment-mode-migration-generated.yaml
  operations/mimir-tests/test-disable-chunk-streaming-generated.yaml
  operations/mimir-tests/test-env-vars-generated.yaml
  operations/mimir-tests/test-etcd-replicas-generated.yaml
  operations/mimir-tests/test-extra-runtime-config-generated.yaml
  operations/mimir-tests/test-helm-parity-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-0-before-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-1-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-2-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-3-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-0-before-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-1-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-2-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-3-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-4-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-5-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-6-final-generated.yaml
  operations/mimir-tests/test-memcached-mtls-generated.yaml
  operations/mimir-tests/test-multi-zone-generated.yaml
  operations/mimir-tests/test-multi-zone-with-ongoing-migration-generated.yaml
  operations/mimir-tests/test-query-scheduler-consul-ring-generated.yaml
  operations/mimir-tests/test-query-scheduler-memberlist-ring-and-ruler-remote-evaluation-generated.yaml
  operations/mimir-tests/test-query-scheduler-memberlist-ring-generated.yaml
  operations/mimir-tests/test-query-scheduler-memberlist-ring-read-path-disabled-generated.yaml
  operations/mimir-tests/test-query-sharding-generated.yaml
  operations/mimir-tests/test-ruler-remote-evaluation-generated.yaml
  operations/mimir-tests/test-ruler-remote-evaluation-migration-generated.yaml
  operations/mimir-tests/test-shuffle-sharding-generated.yaml
  operations/mimir-tests/test-shuffle-sharding-read-path-disabled-generated.yaml
  operations/mimir-tests/test-storage-azure-generated.yaml
  operations/mimir-tests/test-storage-gcs-generated.yaml
  operations/mimir-tests/test-storage-gcs-redis-generated.yaml
  operations/mimir-tests/test-storage-s3-generated.yaml
  operations/mimir-tests/test-without-query-scheduler-generated.yaml
  operations/mimir/distributor.libsonnet
Labels: jsonnet

#5718 Update rollout-operator image to v0.7.0
  CHANGELOG.md
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/Chart.lock
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/tests/enterprise-https-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/enterprise-https-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/gateway-enterprise-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/gateway-enterprise-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/openshift-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/openshift-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/scheduler-name-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/scheduler-name-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-enterprise-legacy-label-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-enterprise-legacy-label-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-oss-logical-multizone-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-oss-logical-multizone-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-oss-multizone-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-oss-multizone-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-oss-topology-spread-constraints-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-oss-topology-spread-constraints-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-vault-agent-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-vault-agent-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/mimir-tests/test-consul-multi-zone-generated.yaml
  operations/mimir-tests/test-deployment-mode-migration-generated.yaml
  operations/mimir-tests/test-multi-zone-generated.yaml
  operations/mimir-tests/test-multi-zone-with-ongoing-migration-generated.yaml
  operations/mimir-tests/test-read-write-deployment-mode-s3-autoscaled-generated.yaml
  operations/mimir-tests/test-read-write-deployment-mode-s3-caches-disabled-generated.yaml
  operations/mimir-tests/test-read-write-deployment-mode-s3-generated.yaml
  operations/mimir/images.libsonnet
Labels: chore, jsonnet, helm

#5732 Fix broken link due to refactoring of Cloud docs.
  docs/sources/mimir/get-started/_index.md
Labels: type/docs

#5724 Upgrade dskit and enable logging for DoUntilQuorum calls.
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  go.mod
  go.sum
  pkg/distributor/distributor.go
  pkg/distributor/query.go
  pkg/ingester/client/mimir_util_test.go
  vendor/github.com/grafana/dskit/backoff/backoff.go
  vendor/github.com/grafana/dskit/cache/lru.go
  vendor/github.com/grafana/dskit/cache/redis_client.go
  vendor/github.com/grafana/dskit/errors/error.go
  vendor/github.com/grafana/dskit/grpcutil/util.go
  vendor/github.com/grafana/dskit/log/ratelimit.go
  vendor/github.com/grafana/dskit/ring/replication_set.go
  vendor/github.com/grafana/dskit/ring/replication_set_tracker.go
  vendor/github.com/grafana/dskit/server/server.go
  vendor/github.com/grafana/dskit/test/diff.go
  vendor/github.com/grafana/dskit/user/id.go
  vendor/github.com/hashicorp/golang-lru/v2/.golangci.yml
  vendor/github.com/hashicorp/golang-lru/v2/2q.go
  vendor/github.com/hashicorp/golang-lru/v2/README.md
  vendor/github.com/hashicorp/golang-lru/v2/arc.go
  vendor/github.com/hashicorp/golang-lru/v2/doc.go
  vendor/github.com/hashicorp/golang-lru/v2/internal/list.go
  vendor/github.com/hashicorp/golang-lru/v2/lru.go
  vendor/github.com/hashicorp/golang-lru/v2/simplelru/list.go
  vendor/github.com/hashicorp/golang-lru/v2/simplelru/lru.go
  vendor/github.com/hashicorp/golang-lru/v2/simplelru/lru_interface.go
  vendor/github.com/hashicorp/golang-lru/v2/testing.go
  vendor/github.com/prometheus/exporter-toolkit/web/tls_config.go
  vendor/modules.txt
Labels: backport r251

#5759 Increase required Go version to 1.20 for better generics support
  cmd/mimir/main.go
  go.mod
  pkg/frontend/querymiddleware/split_and_cache_test.go
  pkg/querier/blocks_store_queryable_test.go
  pkg/storegateway/gateway_test.go
  pkg/storegateway/series_chunks_test.go
Labels: chore

#5761 Enforce -validation.create-grace-period for exemplars too
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/util/validation/limits.go
  pkg/util/validation/validate.go
Labels: enhancement, component/distributor

#5778 ruler: graceful shutdown during evaluations
  CHANGELOG.md
  pkg/ruler/manager.go
Labels: component/ruler

#5816 store-gateway: remove fine-grained chunks caching
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/storage/tsdb/caching_config.go
  pkg/storage/tsdb/config.go
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_chunk_reader_test.go
  pkg/storegateway/bucket_e2e_test.go
  pkg/storegateway/bucket_stores.go
  pkg/storegateway/bucket_test.go
  pkg/storegateway/chunkscache/cache.go
  pkg/storegateway/chunkscache/cache_test.go
  pkg/storegateway/series_chunks.go
  pkg/storegateway/series_chunks_test.go
  pkg/storegateway/series_refs.go
  pkg/storegateway/series_refs_test.go
Labels: component/store-gateway

#5498 Docs publish: allow triggering helm docs publish on chart version change
  .github/workflows/publish-technical-documentation-release-helm-charts.yml
Labels: chore, type/docs, tooling

#5876 helm: pin kubernetes version to 1.20.8
  .github/workflows/helm-ci.yml
Labels: helm

#5875 store-gateway: fix loading of series with chunks in multiple segment files
  pkg/storegateway/bucket_test.go
  pkg/storegateway/series_refs.go
  pkg/storegateway/series_refs_test.go
Labels: bug, component/store-gateway, backport release-2.10, backport r253
