Repository grafana/mimir, pull requests merged in 2023-04, with the labels that each got.

#4183 querier: reformat some wide comments
  pkg/querier/blocks_store_queryable.go
Labels: release/notified-changelog-cut

#4631 [Docs] Expand zone-aware replication page to cover single physical availability zone deployments.
  CHANGELOG.md
  docs/sources/mimir/configure/configure-zone-aware-replication.md
Labels: type/docs, Q1SE

#4629 [Docs] Explain QPS panels on Ruler dashboard doc page
  CHANGELOG.md
  docs/sources/mimir/operators-guide/monitor-grafana-mimir/dashboards/ruler/index.md
Labels: type/docs, Q1SE

#4610 Add documentation to deploy mimir to puppet
  CHANGELOG.md
  docs/sources/mimir/operators-guide/deploy-grafana-mimir-with-puppet/_index.md
Labels: type/docs

#4618 feat(helm): allow for deploying dashboards from mixin
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/ci/offline/metamonitoring-values.yaml
  operations/helm/charts/mimir-distributed/mixins/dashboards
  operations/helm/charts/mimir-distributed/templates/metamonitoring/grafana-dashboards.yaml
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/grafana-dashboards.yaml
Labels: helm, mixin

#4641 store-gateway index header: return posting offset in LabelVales
  pkg/storegateway/indexheader/header.go
  pkg/storegateway/indexheader/header_test.go
  pkg/storegateway/indexheader/index/postings.go
  pkg/storegateway/indexheader/lazy_binary_reader.go
  pkg/storegateway/indexheader/reader_benchmarks_test.go
  pkg/storegateway/indexheader/stream_binary_reader.go
Labels: component/store-gateway

#4642 Helm: Set HPA default MetricTarget type to Utilization
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/gateway/gateway-v2-hpa.yaml
  operations/helm/charts/mimir-distributed/templates/nginx/nginx-v2-hpa.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/nginx/nginx-v2-hpa.yaml
Labels: bug, helm

#4300 Configurable s3 storage class
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  go.mod
  pkg/storage/bucket/s3/bucket_client.go
  pkg/storage/bucket/s3/config.go
  pkg/storage/bucket/s3/config_test.go
  vendor/github.com/aws/aws-sdk-go/aws/arn/arn.go
  vendor/github.com/aws/aws-sdk-go/internal/s3shared/arn/accesspoint_arn.go
  vendor/github.com/aws/aws-sdk-go/internal/s3shared/arn/arn.go
  vendor/github.com/aws/aws-sdk-go/internal/s3shared/arn/outpost_arn.go
  vendor/github.com/aws/aws-sdk-go/internal/s3shared/arn/s3_object_lambda_arn.go
  vendor/github.com/aws/aws-sdk-go/internal/s3shared/endpoint_errors.go
  vendor/github.com/aws/aws-sdk-go/internal/s3shared/resource_request.go
  vendor/github.com/aws/aws-sdk-go/internal/s3shared/s3err/error.go
  vendor/github.com/aws/aws-sdk-go/private/checksum/content_md5.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/eventstream/debug.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/eventstream/decode.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/eventstream/encode.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/eventstream/error.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/eventstream/eventstreamapi/error.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/eventstream/eventstreamapi/reader.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/eventstream/eventstreamapi/shared.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/eventstream/eventstreamapi/signer.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/eventstream/eventstreamapi/stream_writer.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/eventstream/eventstreamapi/transport.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/eventstream/eventstreamapi/transport_go1.17.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/eventstream/eventstreamapi/writer.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/eventstream/header.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/eventstream/header_value.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/eventstream/message.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/restxml/restxml.go
  vendor/github.com/aws/aws-sdk-go/service/s3/api.go
  vendor/github.com/aws/aws-sdk-go/service/s3/body_hash.go
  vendor/github.com/aws/aws-sdk-go/service/s3/bucket_location.go
  vendor/github.com/aws/aws-sdk-go/service/s3/customizations.go
  vendor/github.com/aws/aws-sdk-go/service/s3/doc.go
  vendor/github.com/aws/aws-sdk-go/service/s3/doc_custom.go
  vendor/github.com/aws/aws-sdk-go/service/s3/endpoint.go
  vendor/github.com/aws/aws-sdk-go/service/s3/endpoint_builder.go
  vendor/github.com/aws/aws-sdk-go/service/s3/errors.go
  vendor/github.com/aws/aws-sdk-go/service/s3/host_style_bucket.go
  vendor/github.com/aws/aws-sdk-go/service/s3/platform_handlers.go
  vendor/github.com/aws/aws-sdk-go/service/s3/platform_handlers_go1.6.go
  vendor/github.com/aws/aws-sdk-go/service/s3/service.go
  vendor/github.com/aws/aws-sdk-go/service/s3/sse.go
  vendor/github.com/aws/aws-sdk-go/service/s3/statusok_error.go
  vendor/github.com/aws/aws-sdk-go/service/s3/unmarshal_error.go
  vendor/github.com/aws/aws-sdk-go/service/s3/waiters.go
  vendor/modules.txt
Labels: release/notified-changelog-cut

#4671 store-gateway: report touched postings & series instead of fetched
  CHANGELOG.md
  pkg/storegateway/bucket.go
Labels: component/store-gateway

#4675 [Mixin] Add panel description for Read QPS panel in Ruler dashboard.
  CHANGELOG.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/grafana-dashboards.yaml
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-ruler.json
  operations/mimir-mixin-compiled/dashboards/mimir-ruler.json
  operations/mimir-mixin/dashboards/ruler.libsonnet
Labels: monitoring/dashboards, mixin

#4685 Update Alpine to 3.17.3
  CHANGELOG.md
  cmd/metaconvert/Dockerfile
  cmd/mimir-continuous-test/Dockerfile
  cmd/mimir/Dockerfile
  cmd/mimirtool/Dockerfile
  cmd/query-tee/Dockerfile
  development/mimir-microservices-mode/dev.dockerfile
  development/mimir-monolithic-mode-with-swift-storage/dev.dockerfile
  development/mimir-monolithic-mode/dev.dockerfile
  development/mimir-read-write-mode/dev.dockerfile
Labels: chore

#4348 Add documentation to use external Redis using mimir-distributed helm chart
  docs/sources/helm-charts/mimir-distributed/configure/configure-redis-cache.md
  operations/helm/charts/mimir-distributed/CHANGELOG.md
Labels: helm, release/notified-changelog-cut

#4706 Fix IsFloatHistogram
  CHANGELOG.md
  pkg/mimirpb/custom.go
  pkg/mimirpb/custom_test.go
Labels: bug, component/protobuf

#4690 [Helm] Set unregister_on_shutdown to false for store-gateway
  operations/compare-helm-with-jsonnet/components/config/irrelevant-config.yaml
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/gateway-enterprise-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/graphite-enabled-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/openshift-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/scheduler-name-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-legacy-label-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-logical-multizone-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-multizone-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-topology-spread-constraints-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/mimir-config.yaml
Labels: helm

#4683 Limit the byte size of block metadata when starting a block upload
  CHANGELOG.md
  pkg/compactor/block_upload.go
  pkg/compactor/block_upload_test.go
Labels: component/compactor

#4695 store-gateway: handle deferred matchers for Series()
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_index_reader.go
  pkg/storegateway/bucket_test.go
  pkg/storegateway/series_refs.go
  pkg/storegateway/series_refs_test.go
Labels: component/store-gateway

#4716 Added missing imagePullSecrets configuration to the graphite-web mimir helm chart
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/graphite-proxy/graphite-web/graphite-web-dep.yaml
Labels: bug, helm

#4713 jsonnet: set unregister_on_shutdown for store-gateway
  CHANGELOG.md
  operations/compare-helm-with-jsonnet/components/config/irrelevant-config.yaml
  operations/compare-helm-with-jsonnet/components/config/kustomization.yaml
  operations/mimir-tests/test-autoscaling-generated.yaml
  operations/mimir-tests/test-consul-generated.yaml
  operations/mimir-tests/test-consul-ruler-disabled-generated.yaml
  operations/mimir-tests/test-defaults-generated.yaml
  operations/mimir-tests/test-disable-chunk-streaming-generated.yaml
  operations/mimir-tests/test-extra-runtime-config-generated.yaml
  operations/mimir-tests/test-helm-parity-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-0-before-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-1-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-2-generated.yaml
  operations/mimir-tests/test-memberlist-cluster-label-migration-step-3-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-0-before-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-1-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-2-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-3-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-4-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-5-generated.yaml
  operations/mimir-tests/test-memberlist-migration-step-6-final-generated.yaml
  operations/mimir-tests/test-memcached-mtls-generated.yaml
  operations/mimir-tests/test-multi-zone-with-ongoing-migration-generated.yaml
  operations/mimir-tests/test-query-scheduler-consul-ring-generated.yaml
  operations/mimir-tests/test-query-scheduler-memberlist-ring-and-ruler-remote-evaluation-generated.yaml
  operations/mimir-tests/test-query-scheduler-memberlist-ring-generated.yaml
  operations/mimir-tests/test-query-scheduler-memberlist-ring-read-path-disabled-generated.yaml
  operations/mimir-tests/test-query-sharding-generated.yaml
  operations/mimir-tests/test-ruler-remote-evaluation-generated.yaml
  operations/mimir-tests/test-ruler-remote-evaluation-migration-generated.yaml
  operations/mimir-tests/test-shuffle-sharding-generated.yaml
  operations/mimir-tests/test-shuffle-sharding-read-path-disabled-generated.yaml
  operations/mimir-tests/test-storage-azure-generated.yaml
  operations/mimir-tests/test-storage-gcs-generated.yaml
  operations/mimir-tests/test-storage-gcs-redis-generated.yaml
  operations/mimir-tests/test-storage-s3-generated.yaml
  operations/mimir-tests/test-without-query-scheduler-generated.yaml
  operations/mimir/read-write-deployment/backend.libsonnet
  operations/mimir/store-gateway.libsonnet
Labels: jsonnet

#4734 mimirtool: Fix typos in rules subcommand help and error messages
  pkg/mimirtool/commands/rules.go
  pkg/mimirtool/rules/parser.go
Labels: bug, component/mimirtool

#4636 Helm docs: make getting started less scary and self contained
  docs/sources/helm-charts/mimir-distributed/get-started-helm-charts/_index.md
Labels: type/docs, helm

#4744 Extend runbook for MimirIngesterReachingTenantsLimit
  CHANGELOG.md
  docs/sources/mimir/operators-guide/mimir-runbooks/_index.md
Labels: enhancement, monitoring/runbooks, release/notified-changelog-cut

#4737 Update to the latest version of delve (1.20.2)
  development/mimir-microservices-mode/dev.dockerfile
  development/mimir-read-write-mode/dev.dockerfile
Labels: release/notified-changelog-cut

#4592 Don't allocate an extra pointer in `mimirpb.ReuseSlice()`
  development/mimir-microservices-mode/docker-compose.jsonnet
  pkg/mimirpb/timeseries.go
  pkg/util/push/push_test.go
Labels: release/notified-changelog-cut

#4747 store-gateway: rename `seriesEntry` to `seriesChunks`
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_chunk_reader.go
  pkg/storegateway/bucket_test.go
  pkg/storegateway/series_chunks.go
  pkg/storegateway/series_chunks_test.go
Labels: component/store-gateway

#4773 Go: Upgrade to 1.20.3
  .github/workflows/compare-helm-with-jsonnet.yml
  .github/workflows/helm-ci.yml
  .github/workflows/test-build-deploy.yml
  CHANGELOG.md
  Makefile
  development/mimir-microservices-mode/dev.dockerfile
  development/mimir-read-write-mode/dev.dockerfile
  mimir-build-image/Dockerfile
Labels: chore

#4778 Remove extraneous line.
  docs/sources/helm-charts/mimir-distributed/get-started-helm-charts/_index.md
Labels: type/docs

#4780 Update the rollout-operator subchart to 0.4.2
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/Chart.lock
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/tests/gateway-enterprise-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/gateway-enterprise-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/openshift-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/openshift-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/scheduler-name-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/scheduler-name-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-enterprise-legacy-label-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-enterprise-legacy-label-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-oss-logical-multizone-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-oss-logical-multizone-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-oss-multizone-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-oss-multizone-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-oss-topology-spread-constraints-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-oss-topology-spread-constraints-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-vault-agent-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-vault-agent-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
Labels: helm

#4786 [Ruler] Change ruler scale down period from 60s to 600s
  CHANGELOG.md
  operations/mimir-tests/test-autoscaling-generated.yaml
  operations/mimir-tests/test-autoscaling.jsonnet
  operations/mimir/autoscaling.libsonnet
Labels: jsonnet

#4161 Added documentation on how deploy mixin with terraform
  CHANGELOG.md
  docs/sources/mimir/operators-guide/monitor-grafana-mimir/installing-dashboards-and-alerts.md
Labels: type/docs, release/notified-changelog-cut

#4771 store-gateway: detect cache key collisions for Postings cache
  CHANGELOG.md
  pkg/storegateway/bucket_index_reader.go
  pkg/storegateway/bucket_test.go
  pkg/storegateway/indexcache/remote.go
  pkg/storegateway/indexcache/remote_test.go
  pkg/storegateway/postings_codec.go
  pkg/storegateway/postings_codec_test.go
Labels: component/store-gateway

#4765 Add native histogram bucket limit
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/mimir/operators-guide/mimir-runbooks/_index.md
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/distributor/distributor_test.go
  pkg/util/globalerror/errors.go
  pkg/util/validation/errors.go
  pkg/util/validation/limits.go
  pkg/util/validation/validate.go
  pkg/util/validation/validate_test.go
Labels: type/docs

#4770 store-gateway: detect cache key collisions for ExpandedPostings cache
  CHANGELOG.md
  pkg/storegateway/bucket_index_reader.go
  pkg/storegateway/bucket_test.go
  pkg/storegateway/indexcache/remote.go
  pkg/storegateway/indexcache/remote_test.go
  pkg/storegateway/postings_codec.go
  pkg/storegateway/postings_codec_test.go
Labels: component/store-gateway

#4801 Packaging: fix preremove script preventing the upgrade
  CHANGELOG.md
  packaging/nfpm/mimir/preremove.sh
Labels: bug

#4789 store-gateway: add postings shortcutting for LabelValues
  CHANGELOG.md
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_e2e_test.go
  pkg/storegateway/bucket_index_postings.go
  pkg/storegateway/bucket_index_postings_test.go
  pkg/storegateway/bucket_index_reader.go
  pkg/storegateway/bucket_stores_test.go
  pkg/storegateway/bucket_test.go
  pkg/storegateway/series_refs.go
Labels: component/store-gateway

#4797 store-gateway: add series filtering metrics
  CHANGELOG.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/grafana-dashboards.yaml
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-queries.json
  operations/mimir-mixin-compiled/dashboards/mimir-queries.json
  operations/mimir-mixin/dashboards/queries.libsonnet
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_index_reader.go
  pkg/storegateway/bucket_store_metrics.go
  pkg/storegateway/series_refs.go
  pkg/storegateway/stats.go
Labels: component/store-gateway, mixin

#4818 Helm: release 4.2.1 with fix for CVE-2023-24538
  docs/sources/helm-charts/mimir-distributed/release-notes/v4.2.md
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/values.yaml
Labels: chore, helm

#4787 Helm: version of Mimir and GEM documenation links is now parametric
  docs/sources/helm-charts/mimir-distributed/_index.md
  docs/sources/helm-charts/mimir-distributed/configure/configure-hashicorp-vault-agent.md
  docs/sources/helm-charts/mimir-distributed/configure/configure-native-histograms-ingestion.md
  docs/sources/helm-charts/mimir-distributed/configure/configure-redis-cache.md
  docs/sources/helm-charts/mimir-distributed/migration-guides/migrate-from-cortex.md
  docs/sources/helm-charts/mimir-distributed/migration-guides/migrate-from-single-zone-with-helm.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/_index.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/configuration-with-helm.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/configure-helm-ha-deduplication-consul/index.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/monitor-system-health.md
  operations/helm/charts/mimir-distributed/RELEASE.md
Labels: type/docs, helm

#4725 Make __meta_tenant_id available in metric_relabel_configs
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/util/validation/limits.go
Labels: release/notified-changelog-cut

#4830 store-gateway: fix stats recording in filtering...Iterator
  CHANGELOG.md
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_test.go
  pkg/storegateway/series_refs.go
Labels: component/store-gateway, backport r235

#4840 Fix a small typo in the internal contributing docs
  docs/internal/contributing/README.md
Labels: type/docs

#4834 helm docs: add OpenShift section
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/_index.md
Labels: type/docs, helm

#4847 Docs: Remove Helm chart placeholder files
  docs/sources/mimir/configure/configure-helm-ha-deduplication-consul/index.md
  docs/sources/mimir/operators-guide/deploy-grafana-mimir/getting-started-helm-charts/_index.md
  docs/sources/mimir/operators-guide/deploy-grafana-mimir/migrate-to-unified-proxy-deployment/_index.md
  docs/sources/mimir/operators-guide/deploy-grafana-mimir/upgrade-helm-chart-2.1-to-3.0/_index.md
Labels: type/docs

#4855 Update securing-communications-with-tls.md
  docs/sources/mimir/operators-guide/secure/securing-communications-with-tls.md
Labels: Q1SE

#4827 Update ingester.md
  docs/sources/mimir/operators-guide/architecture/components/ingester.md
Labels: type/docs, Q1SE

#4680 Limit the maximum size of block uploads
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/compactor/block_upload.go
  pkg/compactor/block_upload_test.go
  pkg/compactor/blocks_cleaner_test.go
  pkg/compactor/compactor.go
  pkg/util/validation/limits.go
Labels: component/compactor, release/notified-changelog-cut
