Repository grafana/mimir, pull requests merged in 2023-12, with the labels that each got.

#6814 querier: default to using batch.NewChunkMergeIterator
  CHANGELOG.md
  pkg/querier/distributor_queryable.go
  pkg/querier/distributor_queryable_streaming.go
  pkg/querier/distributor_queryable_streaming_test.go
  pkg/querier/distributor_queryable_test.go
  pkg/querier/matrix.go
  pkg/querier/partitioner.go
  pkg/querier/partitioner_test.go
  pkg/querier/querier.go
  pkg/querier/querier_test.go
Labels: backport r266, backport release-2.11

#6798 mimirtool: clarify what auth flags do
  pkg/mimirtool/commands/alerts.go
  pkg/mimirtool/commands/analyse.go
  pkg/mimirtool/commands/backfill.go
  pkg/mimirtool/commands/remote_read.go
  pkg/mimirtool/commands/rules.go
Labels: component/mimirtool

#6844 [r267] querier: default to using batch.NewChunkMergeIterator
  CHANGELOG.md
  pkg/querier/distributor_queryable.go
  pkg/querier/distributor_queryable_streaming.go
  pkg/querier/distributor_queryable_streaming_test.go
  pkg/querier/distributor_queryable_test.go
  pkg/querier/matrix.go
  pkg/querier/partitioner.go
  pkg/querier/partitioner_test.go
  pkg/querier/querier.go
  pkg/querier/querier_test.go
Labels: backport

#6864 Mixin: remove last graph panel
  CHANGELOG.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/grafana-dashboards.yaml
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-rollout-progress.json
  operations/mimir-mixin-compiled/dashboards/mimir-rollout-progress.json
  operations/mimir-mixin/dashboards/rollout-progress.libsonnet
Labels: mixin

#6836 Distributor: Use pooled buffers for reading/decompressing request body
  pkg/distributor/otel.go
  pkg/distributor/push.go
  pkg/distributor/push_test.go
  pkg/ingester/client/client_test.go
  pkg/querier/remote_read.go
  pkg/util/http.go
  pkg/util/http_test.go
  tools/trafficdump/parser.go
Labels: enhancement, component/distributor

#6891 util.RequestBuffers: Add tests
  pkg/util/http.go
  pkg/util/requestbuffers.go
  pkg/util/requestbuffers_test.go
Labels: enhancement

#6899 Update 2.9 changelog and release notes
  CHANGELOG.md
  docs/sources/mimir/release-notes/v2.9.md
Labels: backport release-2.9

#6900 Update 2.10 changelog and release notes
  CHANGELOG.md
  docs/sources/mimir/release-notes/v2.10.md
Labels: backport release-2.10, backport release-2.11

#6865 Helm: release 5.1.4
  docs/sources/helm-charts/mimir-distributed/release-notes/v5.1.md
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/values.yaml
Labels: helm

#6929 ingester: add experimental support for consuming records from kafka
  go.mod
  go.sum
  pkg/ingester/ingester.go
  pkg/mimir/modules.go
  pkg/storage/ingest/pusher.go
  pkg/storage/ingest/pusher_test.go
  pkg/storage/ingest/reader.go
  pkg/storage/ingest/reader_test.go
  pkg/storage/ingest/util.go
  pkg/storage/ingest/writer.go
  pkg/storage/ingest/writer_test.go
  vendor/github.com/twmb/franz-go/pkg/kadm/LICENSE
  vendor/github.com/twmb/franz-go/pkg/kadm/acls.go
  vendor/github.com/twmb/franz-go/pkg/kadm/configs.go
  vendor/github.com/twmb/franz-go/pkg/kadm/dtoken.go
  vendor/github.com/twmb/franz-go/pkg/kadm/errors.go
  vendor/github.com/twmb/franz-go/pkg/kadm/groups.go
  vendor/github.com/twmb/franz-go/pkg/kadm/kadm.go
  vendor/github.com/twmb/franz-go/pkg/kadm/logdirs.go
  vendor/github.com/twmb/franz-go/pkg/kadm/metadata.go
  vendor/github.com/twmb/franz-go/pkg/kadm/misc.go
  vendor/github.com/twmb/franz-go/pkg/kadm/partas.go
  vendor/github.com/twmb/franz-go/pkg/kadm/topics.go
  vendor/github.com/twmb/franz-go/pkg/kadm/txn.go
  vendor/modules.txt
Labels: component/ingester

#6953 Fix .metricsUsed in mimirtool analyze rule-file
  CHANGELOG.md
  pkg/mimirtool/commands/analyse_rulefiles.go
  pkg/mimirtool/commands/analyse_rulefiles_test.go
Labels: backport release-2.11

#6760 Mimirtool: add --output-dir to alertmanager get
  CHANGELOG.md
  docs/sources/mimir/manage/tools/mimirtool.md
  pkg/mimirtool/commands/alerts.go
  pkg/mimirtool/commands/alerts_test.go
  pkg/mimirtool/commands/testdata/alertmanager_config.yaml
Labels: release/notified-changelog-cut

#7000 "Slow Queries" dashboard: make more fields sortable
  CHANGELOG.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/grafana-dashboards.yaml
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-slow-queries.json
  operations/mimir-mixin-compiled/dashboards/mimir-slow-queries.json
  operations/mimir-mixin/dashboards/slow-queries.libsonnet
Labels: mixin
