Repository grafana/mimir, pull requests merged in 2023-06, with the labels that each got.

#5073 store-gateway: reduce syscalls for looking up symbols
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_index_reader.go
  pkg/storegateway/indexheader/encoding/encoding.go
  pkg/storegateway/indexheader/encoding/reader.go
  pkg/storegateway/indexheader/header.go
  pkg/storegateway/indexheader/index/symbols.go
  pkg/storegateway/indexheader/index/symbols_test.go
  pkg/storegateway/indexheader/lazy_binary_reader.go
  pkg/storegateway/indexheader/stream_binary_reader.go
  pkg/storegateway/series_chunks.go
  pkg/storegateway/series_refs.go
  pkg/storegateway/series_refs_test.go
Labels: component/store-gateway

#5066 Helm: update nginx to 1.24
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/templates/gateway/gateway-dep.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/templates/nginx/nginx-dep.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/nginx/nginx-dep.yaml
  operations/helm/tests/scheduler-name-values-generated/mimir-distributed/templates/nginx/nginx-dep.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/templates/nginx/nginx-dep.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/nginx/nginx-dep.yaml
  operations/helm/tests/test-oss-logical-multizone-values-generated/mimir-distributed/templates/nginx/nginx-dep.yaml
  operations/helm/tests/test-oss-multizone-values-generated/mimir-distributed/templates/nginx/nginx-dep.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/nginx/nginx-dep.yaml
  operations/helm/tests/test-vault-agent-values-generated/mimir-distributed/templates/nginx/nginx-dep.yaml
Labels: helm

#5153 Chore: Don't run issue_and_pr_commands for dependabot prs
  .github/workflows/issue_and_pr_commands.yml
Labels: chore

#5152 Store-gateway: change defaults for postings strategies
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/storage/tsdb/config.go
Labels: component/store-gateway

#5159 Increase linter timeout
  .golangci.yml
Labels: chore

#5175 Docs: Store exemplars; use imperative.
  docs/sources/mimir/operators-guide/use-exemplars/before-you-begin.md
  docs/sources/mimir/operators-guide/use-exemplars/store-exemplars.md
Labels: type/docs

#4732 Mixin: remove dependency on upstream recording rules
  CHANGELOG.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/recording-rules.yaml
  operations/mimir-mixin-compiled/rules.yaml
  operations/mimir-mixin/config.libsonnet
  pkg/mimirtool/commands/analyse_rules_test.go
  pkg/mimirtool/commands/testdata/prometheus_rules.yaml
Labels: release/notified-changelog-cut

#5176 Docs: View exemplar data; use imperative.
  docs/sources/mimir/operators-guide/use-exemplars/before-you-begin.md
  docs/sources/mimir/operators-guide/use-exemplars/view-exemplar-data.md
Labels: type/docs

#5174 Store-gateway: disable index header verification
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/storegateway/indexheader/header.go
  pkg/storegateway/indexheader/index/postings.go
  pkg/storegateway/indexheader/index/symbols.go
  pkg/storegateway/indexheader/index/symbols_test.go
  pkg/storegateway/indexheader/stream_binary_reader.go
Labels: component/store-gateway

#5055 [helm-chart] Added global.PodLabels
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/_helpers.tpl
  operations/helm/charts/mimir-distributed/values.yaml
Labels: release/notified-changelog-cut

#5113 Improve "rollout progress" dashboard
  CHANGELOG.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/grafana-dashboards.yaml
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-rollout-progress.json
  operations/mimir-mixin-compiled/dashboards/mimir-rollout-progress.json
  operations/mimir-mixin/dashboards/dashboard-utils.libsonnet
  operations/mimir-mixin/dashboards/rollout-progress.libsonnet
Labels: release/notified-changelog-cut

#5185 Update go to 1.20.5
  .github/workflows/compare-helm-with-jsonnet.yml
  .github/workflows/helm-ci.yml
  .github/workflows/test-build-deploy.yml
  CHANGELOG.md
  Makefile
  development/mimir-microservices-mode/dev.dockerfile
  development/mimir-read-write-mode/dev.dockerfile
  mimir-build-image/Dockerfile
Labels: backport release-2.9

#5187 helm-ci: do not hardcode build image version
  .github/workflows/helm-ci.yml
Labels: helm

#5189 Backport #5185 to release-2.9
  .github/workflows/compare-helm-with-jsonnet.yml
  .github/workflows/helm-ci.yml
  .github/workflows/test-build-deploy.yml
  CHANGELOG.md
  Makefile
  development/mimir-microservices-mode/dev.dockerfile
  development/mimir-read-write-mode/dev.dockerfile
  mimir-build-image/Dockerfile
Labels: backport

#5183 query-tee: proxy Content-Type response header
  CHANGELOG.md
  docs/sources/mimir/operators-guide/tools/query-tee.md
  tools/querytee/proxy_endpoint.go
  tools/querytee/proxy_endpoint_test.go
Labels: component/query-tee

#5160 Cache golangci-lint cache and Go build cache between runs on CI.
  .github/workflows/test-build-deploy.yml
Labels: chore

#5059 Querier: Refine error messages for per-tenant query limits
  CHANGELOG.md
  pkg/ingester/client/streaming_test.go
  pkg/util/globalerror/errors.go
  pkg/util/limiter/query_limiter.go
Labels: enhancement, component/querier, release/notified-changelog-cut

#5199 Fix memory leak when processing queries from query-frontends
  CHANGELOG.md
  pkg/querier/worker/frontend_processor.go
Labels: backport release-2.9

#5195 Pool buffers when sending write request
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/distributor/distributor.go
  pkg/ingester/client/buffering_client.go
  pkg/ingester/client/buffering_client_test.go
  pkg/ingester/client/client.go
  pkg/mimirpb/timeseries.go
  pkg/util/pool/fast_releasing_pool.go
  pkg/util/pool/fast_releasing_pool_test.go
  pkg/util/pool/pool_test.go
Labels: component/distributor

#5191 compactor: add more log lines for blocks clean-up
  pkg/compactor/blocks_cleaner.go
  pkg/compactor/blocks_cleaner_test.go
  pkg/storage/tsdb/bucketindex/updater.go
Labels: component/compactor

#5194 Alertmanager: Add HPA config to jsonnet lib
  CHANGELOG.md
  operations/mimir-tests/test-autoscaling-generated.yaml
  operations/mimir-tests/test-autoscaling.jsonnet
  operations/mimir/autoscaling.libsonnet
Labels: component/alertmanager, mixin

#5247 Doc strings: fix some invalid links
  operations/helm/charts/mimir-distributed/values.yaml
  packaging/nfpm/mimir/runtime_config.yml
Labels: type/docs, helm

#3555 Store series labels as a single string, to save memory
  .github/workflows/test-build-deploy.yml
  CHANGELOG.md
  pkg/distributor/distributor.go
  pkg/ingester/activeseries/active_series_test.go
  pkg/ingester/client/buffering_client_test.go
  pkg/ingester/ingester.go
  pkg/mimirpb/compat.go
  pkg/mimirpb/compat_slice.go
  pkg/mimirpb/compat_stringlabels.go
  pkg/mimirpb/compat_test.go
  pkg/mimirpb/timeseries.go
  pkg/mimirpb/timeseries_test.go
  pkg/querier/block_test.go
  pkg/storegateway/series_refs.go
Labels: release/notified-changelog-cut

#5246 store-gateway: always include `__name__` posting group in selection
  pkg/storegateway/bucket_index_postings.go
  pkg/storegateway/bucket_index_postings_test.go
Labels: component/store-gateway

#5276 Update alpine to 3.18.2
  CHANGELOG.md
  cmd/metaconvert/Dockerfile
  cmd/mimir-continuous-test/Dockerfile
  cmd/mimirtool/Dockerfile
  cmd/query-tee/Dockerfile
  development/mimir-microservices-mode/dev.dockerfile
  development/mimir-monolithic-mode-with-swift-storage/dev.dockerfile
  development/mimir-monolithic-mode/dev.dockerfile
  development/mimir-read-write-mode/dev.dockerfile
Labels: security, backport release-2.9

#5279 [release-2.9] Bump alpine to 3.18.2
  CHANGELOG.md
  cmd/metaconvert/Dockerfile
  cmd/mimir-continuous-test/Dockerfile
  cmd/mimirtool/Dockerfile
  cmd/query-tee/Dockerfile
  development/mimir-microservices-mode/dev.dockerfile
  development/mimir-monolithic-mode-with-swift-storage/dev.dockerfile
  development/mimir-monolithic-mode/dev.dockerfile
  development/mimir-read-write-mode/dev.dockerfile
Labels: backport

#5301 Mixins: use old aliased operators-guide/mimir-runbooks url
  docs/sources/mimir/manage/mimir-runbooks/_index.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/mixin-alerts.yaml
  operations/mimir-mixin-compiled-baremetal/alerts.yaml
  operations/mimir-mixin-compiled/alerts.yaml
  operations/mimir-mixin/alerts/alertmanager.libsonnet
  operations/mimir-mixin/alerts/alerts.libsonnet
  operations/mimir-mixin/alerts/autoscaling.libsonnet
  operations/mimir-mixin/alerts/blocks.libsonnet
  operations/mimir-mixin/alerts/compactor.libsonnet
  operations/mimir-mixin/alerts/continuous-test.libsonnet
Labels: type/docs

#5292 Add top-level Visualize data TOC section.
  docs/sources/mimir/tutorials/_index.md
  docs/sources/mimir/visualize/grafana.md
Labels: type/docs, writer-led, from-scratch

#5310 Docs: Fix URL path for Visualize data
  docs/sources/mimir/visualize/_index.md
Labels: type/docs

#5308 Allow ingesters to configure SpreadMinimizingTokenGenerator
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/ingester/ingester.go
  pkg/ingester/ingester_ring.go
  pkg/ingester/ingester_ring_test.go
Labels: enhancement, component/ingester

#5320 mimirpb: optimize label sorting in timeseries type
  pkg/mimirpb/timeseries.go
  pkg/mimirpb/timeseries_test.go
Labels: type/performance, component/distributor

#5322 Helm: release 4.5.0-rc.0
  docs/sources/helm-charts/mimir-distributed/_index.md
  docs/sources/helm-charts/mimir-distributed/release-notes/v4.5.md
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/values.yaml
Labels: type/docs, helm

#5332 Doc: Add top-level Send metric data section.
  docs/sources/mimir/migrate/_index.md
  docs/sources/mimir/send/_index.md
Labels: type/docs, writer-led, from-scratch

#5315 Improve traces for queries
  CHANGELOG.md
  pkg/distributor/query.go
  pkg/ingester/client/streaming.go
  pkg/ingester/ingester.go
Labels: enhancement, component/ingester, component/querier

#5356 Docs: Shorten Play with Mimir in TOC and title
  docs/sources/mimir/get-started/play-with-grafana-mimir/index.md
Labels: type/docs, writer-led

#5286 fix: added documentation alias for `about-runtime-configuration`
  docs/sources/mimir/configure/about-runtime-configuration.md
Labels: type/docs

#5363 Merge mimir distributed release 4.5 to main
  docs/sources/helm-charts/mimir-distributed/_index.md
  docs/sources/helm-charts/mimir-distributed/release-notes/v4.5.md
Labels: helm, release

#4865 Docs: Update production tips
  docs/sources/mimir/manage/run-production-environment/production-tips/index.md
Labels: type/docs

#5372 Docs: Move migration info under set up section.
  docs/sources/mimir/configure/configure-tsdb-block-upload.md
  docs/sources/mimir/release-notes/v2.0.md
  docs/sources/mimir/set-up/migrate/_index.md
  docs/sources/mimir/set-up/migrate/migrate-from-cortex.md
  docs/sources/mimir/set-up/migrate/migrate-from-thanos-or-prometheus.md
  docs/sources/mimir/set-up/migrate/migrate-from-thanos-to-mimir-with-thanos-sidecar.md
Labels: type/docs, writer-led

#5374 Replace use of ring.Read and add linting rule to enforce it's not used
  Makefile
  pkg/distributor/distributor.go
  pkg/querier/blocks_store_replicated_set_test.go
Labels: enhancement, component/distributor

#5364 Querier: Pass on HTTP 503 status code
  CHANGELOG.md
  pkg/frontend/config.go
  pkg/frontend/v2/frontend_scheduler_worker.go
  pkg/mimir/modules.go
  pkg/querier/error_translate_queryable.go
  pkg/querier/error_translate_queryable_test.go
Labels: bug, component/querier
