Repository grafana/mimir, pull requests merged in 2023-02, with the labels that each got.

#4101 [Docs] Clarify how ingester replication happens
  docs/sources/mimir/operators-guide/architecture/components/ingester.md
Labels: type/docs

#4140 Remove unused metric from code
  pkg/util/validation/validate.go
Labels: chore

#4164 Remove namespace from PodSecurityPolicy helm template
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/podsecuritypolicy.yaml
  operations/helm/policies/policies.rego
  operations/helm/policies/policies_test.rego
  operations/helm/tests/gateway-enterprise-values-generated/mimir-distributed/templates/podsecuritypolicy.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/templates/podsecuritypolicy.yaml
  operations/helm/tests/graphite-enabled-values-generated/mimir-distributed/templates/podsecuritypolicy.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/templates/podsecuritypolicy.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/podsecuritypolicy.yaml
  operations/helm/tests/scheduler-name-values-generated/mimir-distributed/templates/podsecuritypolicy.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/templates/podsecuritypolicy.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/podsecuritypolicy.yaml
  operations/helm/tests/test-enterprise-legacy-label-values-generated/mimir-distributed/templates/podsecuritypolicy.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/podsecuritypolicy.yaml
  operations/helm/tests/test-oss-logical-multizone-values-generated/mimir-distributed/templates/podsecuritypolicy.yaml
  operations/helm/tests/test-oss-multizone-values-generated/mimir-distributed/templates/podsecuritypolicy.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/podsecuritypolicy.yaml
Labels: helm

#4166 Update publishing workflows to use organization secret
  .github/workflows/publish-technical-documentation-next.yml
  .github/workflows/publish-technical-documentation-release-helm-charts.yml
  .github/workflows/publish-technical-documentation-release-mimir.yml
Labels: backport release-2.2, backport release-2.3, backport release-2.4, backport release-2.5, backport release-2.6

#4170 Query-frontend: Log with info level when waiting on in-flight requests
  pkg/frontend/transport/handler.go
Labels: chore, component/query-frontend

#4172 CHANGELOG: Annotate enhancement with second PR
  CHANGELOG.md
Labels: chore

#4196 [release-2.2] Update publishing workflows to use organization secret (#4166)
  .github/workflows/publish-technical-documentation-next.yml
  .github/workflows/publish-technical-documentation-release.yml
Labels: type/docs, backport

#4194 [release-2.3] Update publishing workflows to use organization secret (#4166)
  .github/workflows/publish-technical-documentation-next.yml
  .github/workflows/publish-technical-documentation-release.yml
Labels: type/docs, backport

#4193 [release-2.5] Update publishing workflows to use organization secret (#4166)
  .github/workflows/publish-technical-documentation-next.yml
  .github/workflows/publish-technical-documentation-release.yml
Labels: type/docs, backport

#4195 [release-2.4] Update publishing workflows to use organization secret (#4166)
  .github/workflows/publish-technical-documentation-next.yml
  .github/workflows/publish-technical-documentation-release.yml
Labels: type/docs, backport

#4174 Store-gateway: add separation of chunks into ranges
  CHANGELOG.md
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_chunk_reader.go
  pkg/storegateway/bucket_index_reader.go
  pkg/storegateway/series_chunks.go
  pkg/storegateway/series_chunks_test.go
  pkg/storegateway/series_refs.go
  pkg/storegateway/series_refs_test.go
Labels: component/store-gateway

#4188 Add documentation for cardinality estimation
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/operators-guide/architecture/query-sharding/index.md
  docs/sources/mimir/operators-guide/configure/about-versioning.md
  docs/sources/mimir/reference-configuration-parameters/index.md
  pkg/frontend/querymiddleware/roundtrip.go
Labels: feature/querysharding, component/query-frontend

#4190 Helm: more explicit migration instructions about zone awareness
  docs/sources/helm-charts/mimir-distributed/migration-guides/migrate-from-single-zone-with-helm.md
Labels: type/docs, helm

#4218 Mixin: Change CPU/memory based scaling metric panels into showing desired replicas
  CHANGELOG.md
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-writes.json
  operations/mimir-mixin-compiled/dashboards/mimir-writes.json
  operations/mimir-mixin/dashboards/dashboard-utils.libsonnet
Labels: enhancement, mixin

#4219 Helm: cut changelog for 4.1 release
  operations/helm/charts/mimir-distributed/CHANGELOG.md
Labels: helm, release

#4216 Mixin: Make CPU/memory based auto-scaling panel labels differentiate between targets
  CHANGELOG.md
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-writes.json
  operations/mimir-mixin-compiled/dashboards/mimir-writes.json
  operations/mimir-mixin/dashboards/dashboard-utils.libsonnet
Labels: bug, mixin

#4220 Helm: Add release notes for the 4.1 release
  docs/sources/helm-charts/mimir-distributed/release-notes/v4.1.md
  operations/helm/charts/mimir-distributed/CHANGELOG.md
Labels: type/docs, helm, docs-p1

#4221 Helm: do 4.1.0 release
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/values.yaml
Labels: helm, release

#4223 Docs: Trigger helm docs release for branches too
  .github/workflows/publish-technical-documentation-release-helm-charts.yml
Labels: helm, release

#4227 Store-gateway: cache chunks ranges
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/operators-guide/configure/about-versioning.md
  docs/sources/mimir/reference-configuration-parameters/index.md
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-queries.json
  operations/mimir-mixin-compiled/dashboards/mimir-queries.json
  operations/mimir-mixin/dashboards/queries.libsonnet
  pkg/storage/tsdb/caching_config.go
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_chunk_reader.go
  pkg/storegateway/bucket_store_metrics.go
  pkg/storegateway/bucket_stores.go
  pkg/storegateway/bucket_test.go
  pkg/storegateway/chunkscache/cache.go
  pkg/storegateway/chunkscache/cache_test.go
  pkg/storegateway/series_chunks.go
  pkg/storegateway/series_chunks_test.go
  pkg/storegateway/series_refs.go
  pkg/storegateway/stats.go
Labels: component/store-gateway

#4230 Helm: add configuration options to override NGINX access and error logs
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/templates/gateway/nginx-configmap.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/templates/nginx/nginx-configmap.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/nginx/nginx-configmap.yaml
  operations/helm/tests/scheduler-name-values-generated/mimir-distributed/templates/nginx/nginx-configmap.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/templates/nginx/nginx-configmap.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/nginx/nginx-configmap.yaml
  operations/helm/tests/test-oss-logical-multizone-values-generated/mimir-distributed/templates/nginx/nginx-configmap.yaml
  operations/helm/tests/test-oss-multizone-values-generated/mimir-distributed/templates/nginx/nginx-configmap.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/nginx/nginx-configmap.yaml
Labels: helm

#4199 Jsonnet: Add (ruler-)query-frontend auto-scaling support
  CHANGELOG.md
  operations/mimir-mixin/config.libsonnet
  operations/mimir-mixin/dashboards/dashboard-utils.libsonnet
  operations/mimir-mixin/dashboards/reads.libsonnet
  operations/mimir-mixin/dashboards/ruler.libsonnet
  operations/mimir-tests/test-autoscaling-generated.yaml
  operations/mimir-tests/test-autoscaling.jsonnet
  operations/mimir/autoscaling.libsonnet
Labels: enhancement, jsonnet

#4254 Query-frontend: do not require result caching to be enabled for cardinality estimation, align flag names
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  docs/sources/mimir/operators-guide/architecture/query-sharding/index.md
  docs/sources/mimir/reference-configuration-parameters/index.md
  pkg/frontend/querymiddleware/roundtrip.go
Labels: component/query-frontend

#4240 Update base images to alpine:3.17.2
  CHANGELOG.md
  cmd/metaconvert/Dockerfile
  cmd/mimir-continuous-test/Dockerfile
  cmd/mimir/Dockerfile
  cmd/mimirtool/Dockerfile
  cmd/query-tee/Dockerfile
  development/mimir-microservices-mode/dev.dockerfile
  development/mimir-monolithic-mode-with-swift-storage/dev.dockerfile
  development/mimir-monolithic-mode/dev.dockerfile
  development/mimir-read-write-mode/dev.dockerfile
Labels: chore

#4278 [Chore] Fix linter issue for golangci-lint 1.51.2
  pkg/compactor/compactor_test.go
  pkg/frontend/querymiddleware/cardinality_test.go
  pkg/frontend/querymiddleware/querysharding_test.go
Labels: chore

#4246 Short circuit stale partial block check
  CHANGELOG.md
  pkg/compactor/blocks_cleaner.go
  pkg/compactor/blocks_cleaner_test.go
Labels: component/compactor

#4268 Prepare for v4.2 of Helm chart
  docs/sources/helm-charts/mimir-distributed/release-notes/v4.1.md
  docs/sources/helm-charts/mimir-distributed/release-notes/v4.2.md
  operations/helm/charts/mimir-distributed/CHANGELOG.md
Labels: type/docs

#4266 Chore: update go version to 1.20.1
  .github/workflows/compare-helm-with-jsonnet.yml
  .github/workflows/helm-ci.yml
  .github/workflows/test-build-deploy.yml
  CHANGELOG.md
  Makefile
  development/mimir-microservices-mode/dev.dockerfile
  development/mimir-read-write-mode/dev.dockerfile
  mimir-build-image/Dockerfile
Labels: chore

#4285 Helm: relax HPA v2 version check to allow Kubernetes 1.23
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/nginx/_helpers.tpl
  operations/helm/tests/gateway-enterprise-values-generated/mimir-distributed/templates/gateway/gateway-v2-hpa.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/templates/gateway/gateway-v2-hpa.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/nginx/nginx-v2-hpa.yaml
Labels: helm

#4296 Update Mimir and GEM version in helm chart docs
  docs/sources/helm-charts/mimir-distributed/migration-guides/migrate-from-cortex.md
  docs/sources/helm-charts/mimir-distributed/migration-guides/migrate-from-single-zone-with-helm.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/_index.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/configuration-with-helm.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/monitor-system-health.md
Labels: type/docs, helm

#4305 Bump `actions/checkout` in GitHub Actions workflows and fix broken deploy job
  .github/workflows/compare-helm-with-jsonnet.yml
  .github/workflows/helm-ci.yml
  .github/workflows/issue_and_pr_commands.yml
  .github/workflows/test-build-deploy.yml
Labels: backport r227

#4304 Merge mimir-distributed-release-4.2 to main
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/README.md.gotmpl
  operations/helm/charts/mimir-distributed/values.yaml
Labels: helm

#4294 Fix publish-next-mimir-distributed PAT secret
  .github/workflows/publish-technical-documentation-next.yml
Labels: type/docs

#4307 Backport: Update Mimir and GEM version in helm chart docs (#4296)
  docs/sources/helm-charts/mimir-distributed/migration-guides/migrate-from-cortex.md
  docs/sources/helm-charts/mimir-distributed/migration-guides/migrate-from-single-zone-with-helm.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/_index.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/configuration-with-helm.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/monitor-system-health.md
Labels: type/docs, helm

#4308 Helm: fix documentation release action and fix typo
  .github/workflows/publish-technical-documentation-release-helm-charts.yml
  docs/sources/helm-charts/mimir-distributed/release-notes/v4.2.md
Labels: type/docs, helm

#4152 Use ruler-query-scheduler metrics for queue length
  CHANGELOG.md
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-tenants.json
  operations/mimir-mixin-compiled/dashboards/mimir-tenants.json
  operations/mimir-mixin/dashboards/tenants.libsonnet
Labels: monitoring/dashboards

#4312 Fix cortex_ingester_memory_series metric tracking at startup
  CHANGELOG.md
  pkg/ingester/ingester.go
  pkg/ingester/metrics.go
  pkg/ingester/metrics_test.go
Labels: component/ingester

#4315 Docs: Perform maintenance on Get started guide
  docs/sources/mimir/operators-guide/get-started/_index.md
Labels: type/docs

#4322 Move Glossary reference to References section.
  docs/sources/mimir/operators-guide/architecture/components/store-gateway.md
  docs/sources/mimir/references/glossary.md
Labels: type/docs

#4328 Docs: Move HTTP API doc to `references` section
  docs/sources/mimir/operators-guide/architecture/components/alertmanager.md
  docs/sources/mimir/operators-guide/architecture/components/query-frontend/index.md
  docs/sources/mimir/operators-guide/architecture/components/query-scheduler/index.md
  docs/sources/mimir/operators-guide/architecture/components/ruler/index.md
  docs/sources/mimir/operators-guide/configure/about-configurations.md
  docs/sources/mimir/operators-guide/configure/configure-custom-trackers.md
  docs/sources/mimir/operators-guide/deploy-grafana-mimir/jsonnet/migrate-from-consul-to-memberlist.md
  docs/sources/mimir/operators-guide/deploy-grafana-mimir/jsonnet/migrate-query-scheduler-from-dns-to-ring-based-service-discovery.md
  docs/sources/mimir/operators-guide/mimir-runbooks/_index.md
  docs/sources/mimir/operators-guide/run-production-environment/scaling-out.md
  docs/sources/mimir/operators-guide/tools/mimirtool.md
  docs/sources/mimir/references/http-api/index.md
  docs/sources/mimir/release-notes/v2.0.md
  docs/sources/mimir/release-notes/v2.2.md
  docs/sources/mimir/release-notes/v2.4.md
Labels: type/docs
