Repository grafana/mimir, pull requests merged in 2023-07, with the labels that each got.

#5411 Add missing import
  pkg/util/limiter/utilization.go
Labels: chore

#5412 Upgrade to golang/glog v1.1.1
  CHANGELOG.md
  go.mod
  go.sum
  vendor/github.com/golang/glog/glog.go
  vendor/github.com/golang/glog/glog_file.go
  vendor/github.com/golang/glog/glog_file_linux.go
  vendor/github.com/golang/glog/glog_file_other.go
  vendor/github.com/golang/glog/glog_file_posix.go
  vendor/github.com/golang/glog/glog_flags.go
  vendor/modules.txt
Labels: bug, tooling

#5414 mimirtool: order command in help text alphabetically
  cmd/mimirtool/main.go
Labels: enhancement, component/mimirtool

#5394 Add warmup period to CPU utilization moving average
  CHANGELOG.md
  pkg/util/limiter/utilization.go
  pkg/util/limiter/utilization_test.go
Labels: bug, component/ingester

#5397 Fix MimirIngesterRestarts to fire only when the ingester container is restarted
  CHANGELOG.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/mixin-alerts.yaml
  operations/mimir-mixin-compiled-baremetal/alerts.yaml
  operations/mimir-mixin-compiled/alerts.yaml
  operations/mimir-mixin/alerts/alerts.libsonnet
Labels: bug, mixin

#5396 Fix MimirIngesterHasNotShippedBlocks alert
  CHANGELOG.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/mixin-alerts.yaml
  operations/mimir-mixin-compiled-baremetal/alerts.yaml
  operations/mimir-mixin-compiled/alerts.yaml
  operations/mimir-mixin/alerts/blocks.libsonnet
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/ingester/metrics.go
  pkg/ingester/metrics_test.go
  pkg/ingester/shipper.go
  pkg/ingester/shipper_test.go
Labels: backport r245

#5413 tools: Remove glog command line flags
  CHANGELOG.md
  tools/compaction-planner/main.go
  tools/copyblocks/main.go
  tools/doc-generator/main.go
  tools/list-deduplicated-blocks/main.go
  tools/listblocks/main.go
  tools/tsdb-compact/main.go
  tools/tsdb-index-health/main.go
  tools/tsdb-index-toc/main.go
  tools/tsdb-index/main.go
  tools/tsdb-symbols/main.go
Labels: bug, tooling

#5354 Helm: render helm tests in parallel
  operations/helm/scripts/build.sh
Labels: helm

#5357 Helm: don't render PodSecurityPolicy on kubernetes 1.24 and above unless forced
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/_helpers.tpl
  operations/helm/charts/mimir-distributed/values.yaml
Labels: helm

#5438 Documentation: Fix Azure Blob Storage configuration example
  docs/sources/mimir/configure/configure-object-storage-backend.md
Labels: bug, type/docs

#5448 Remove use of `--relative-to` argument to `realpath`, so that `make build-mixin` works on macOS
  Makefile
Labels: chore

#5387 Allow Memcached StatefulSets chose between AntiAffinity and TopologySpreadConstraints
  CHANGELOG.md
  operations/mimir/config.libsonnet
  operations/mimir/memcached.libsonnet
Labels: jsonnet

#5457 helm-docs: add migration guides around PodSecurityPolicy and chart 5.0
  docs/sources/helm-charts/mimir-distributed/migration-guides/migrate-helm-chart-4.x-to-5.0.md
  docs/sources/helm-charts/mimir-distributed/migration-guides/migrate-to-kubernetes-version-1.25.md
Labels: type/docs, helm

#5461 block: Use filepath.Join for local files
  pkg/storage/tsdb/block/block.go
Labels: enhancement, storage/blocks

#5355 Helm: add labels to service account
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/serviceaccount.yaml
  operations/helm/charts/mimir-distributed/values.yaml
Labels: helm

#5467 Helm-docs: add option of doing nothing in Helm 4.x to 5.0 migration path
  docs/sources/helm-charts/mimir-distributed/migration-guides/migrate-helm-chart-4.x-to-5.0.md
Labels: helm

#5477 helm: cut changelog for 5.0 release
  operations/helm/charts/mimir-distributed/CHANGELOG.md
Labels: helm

#5483 Helm: add Troubleshoot section to kubernetes 1.25 migration guide
  docs/sources/helm-charts/mimir-distributed/migration-guides/migrate-to-kubernetes-version-1.25.md
Labels: helm

#5488 Helm: reword 5.0 release notes
  docs/sources/helm-charts/mimir-distributed/release-notes/v5.0.md
Labels: type/docs, helm

#5499 Docs: Update references with definitive information
  docs/internal/contributing/how-to-write-documentation.md
Labels: type/docs, writer-led

#5391 issues/5154 Docs: Get started with mimir helm: add instructions for manually installing CRDs to enable metamonitoring
  docs/sources/helm-charts/mimir-distributed/get-started-helm-charts/_index.md
Labels: type/docs

#5496 Ingester: Add resource utilization metrics
  CHANGELOG.md
  pkg/ingester/ingester.go
  pkg/util/limiter/utilization.go
  pkg/util/limiter/utilization_test.go
Labels: enhancement, component/ingester

#5485 CI: format go imports into sections
  .golangci.yml
  integration/kv_test.go
  integration/querier_remote_read_test.go
  pkg/alertmanager/api.go
  pkg/alertmanager/api_test.go
  pkg/alertmanager/distributor.go
  pkg/alertmanager/multitenant.go
  pkg/alertmanager/multitenant_test.go
  pkg/alertmanager/state_replication.go
  pkg/alertmanager/state_replication_test.go
  pkg/compactor/block_upload.go
  pkg/compactor/bucket_compactor_e2e_test.go
  pkg/compactor/tenant_deletion_api.go
  pkg/continuoustest/write_read_series.go
  pkg/distributor/distributor.go
  pkg/frontend/querymiddleware/limits.go
  pkg/frontend/querymiddleware/split_and_cache.go
  pkg/frontend/transport/handler.go
  pkg/frontend/v1/frontend.go
  pkg/frontend/v2/frontend.go
  pkg/ingester/activeseries/matchers_test.go
  pkg/ingester/client/compat_test.go
  pkg/ingester/ingester.go
  pkg/mimir/mimir.go
  pkg/mimirpb/custom_test.go
  pkg/mimirpb/timeseries.go
  pkg/mimirtool/commands/analyse_grafana.go
  pkg/mimirtool/commands/analyse_ruler.go
  pkg/querier/cardinality_analysis_handler.go
  pkg/querier/engine/query_tracker.go
  pkg/querier/querier.go
  pkg/querier/tenantfederation/merge_exemplar_queryable.go
  pkg/querier/tenantfederation/merge_exemplar_queryable_test.go
  pkg/querier/tenantfederation/merge_queryable.go
  pkg/querier/tenantfederation/merge_queryable_test.go
  pkg/ruler/api.go
  pkg/ruler/ruler_test.go
  pkg/ruler/tenant_federation.go
  pkg/scheduler/scheduler.go
  pkg/storage/bucket/client.go
  pkg/storage/tsdb/block/fetcher.go
  pkg/storage/tsdb/bucketcache/caching_bucket_test.go
  pkg/storegateway/indexheader/header_test.go
  pkg/storegateway/indexheader/lazy_binary_reader_test.go
  pkg/storegateway/indexheader/reader_pool.go
  pkg/storegateway/snappy_gob_codec.go
  pkg/storegateway/snappy_gob_codec_test.go
  pkg/usagestats/reporter.go
  pkg/util/log/wrappers.go
  pkg/util/spanlogger/spanlogger.go
  tools/querytee/proxy_endpoint_test.go
  tools/tsdb-compact/main.go
  tools/tsdb-index-health/main_test.go
Labels: chore

#5526 UtilizationBasedLimiter: Get wall time after CPU time
  CHANGELOG.md
  pkg/util/limiter/utilization.go
  pkg/util/limiter/utilization_test.go
Labels: bug, component/ingester

#5534 Docs: Remove hard-to-maintain file with single link
  tutorials
Labels: type/docs

#5507 store-gateway: wait for query gate after loading blocks
  pkg/storegateway/bucket.go
Labels: component/store-gateway

#5508 Ingester: Support logging of samples EWMA CPU load is based on
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/ingester/ingester.go
  pkg/util/limiter/utilization.go
  pkg/util/limiter/utilization_test.go
Labels: enhancement, component/ingester

#5506 Add buffered logger
  CHANGELOG.md
  cmd/mimir-continuous-test/main.go
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/main.go
  cmd/query-tee/main.go
  pkg/mimir/mimir_test.go
  pkg/util/log/line_buffer.go
  pkg/util/log/line_buffer_test.go
  pkg/util/log/log.go
  pkg/util/log/log_test.go
Labels: enhancement

#5486 copyblocks: add support for S3-compatible buckets and object storage migration
  CHANGELOG.md
  tools/copyblocks/README.md
  tools/copyblocks/abs.go
  tools/copyblocks/gcs.go
  tools/copyblocks/main.go
  tools/copyblocks/s3.go
Labels: enhancement

#5562 Update to latest dskit
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  go.mod
  go.sum
  vendor/github.com/grafana/dskit/grpcclient/grpcclient.go
  vendor/modules.txt
Labels: enhancement, component/ingester, component/querier, component/alertmanager, component/query-scheduler, component/query-frontend, component/ruler

#5561 Avoid racing with rule evaluation when comparing backends with query-tee
  CHANGELOG.md
  docs/sources/mimir/manage/tools/query-tee.md
  tools/querytee/proxy.go
Labels: enhancement, component/query-tee

#5591 querier: handle frontend connection errors when notifying query result
  CHANGELOG.md
  pkg/querier/worker/scheduler_processor.go
Labels: bug, component/querier
