Repository grafana/mimir, pull requests merged in 2023-10, with the labels that each got.

#6139 alertmanager: improve docs for updating tenant configuration
  docs/sources/mimir/manage/tools/mimirtool.md
  docs/sources/mimir/references/http-api/index.md
  pkg/mimirtool/commands/alerts.go
Labels: type/docs, component/mimirtool

#6188 Bump alpine/helm from 3.11.1 to 3.13.0 in /mimir-build-image
  .github/workflows/push-mimir-build-image.yml
  Makefile
  mimir-build-image/Dockerfile
Labels: chore

#6152 Backport PR 6032 (don't retry rejected queries) to release 2.10
  CHANGELOG.md
  pkg/api/error/error.go
  pkg/api/error/error_test.go
  pkg/frontend/querymiddleware/codec.go
  pkg/frontend/querymiddleware/codec_test.go
Labels: bug, backport

#6204 Helm: let the new nginx config under gateway config listen on ipv6
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/templates/gateway/nginx-configmap.yaml
Labels: helm

#6208 Remove stale YAML comment
  .github/workflows/push-mimir-build-image.yml
Labels: chore

#6210 Make gh pr use PR number in build image publishing workflow
  .github/workflows/push-mimir-build-image.yml
Labels: area/build

#6229 Chore: Modify renovate default branch prefix
  renovate.json
Labels: area/build

#6254 Fix visibility of enableOtelMetadataStorage
  CHANGELOG.md
  pkg/api/api.go
Labels: bug

#6296 Move distributor's validations into distributor package
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/distributorerror/errors.go
  pkg/distributor/distributorerror/errors_test.go
  pkg/distributor/ha_tracker.go
  pkg/distributor/ha_tracker_test.go
  pkg/distributor/validate.go
  pkg/distributor/validate_test.go
  pkg/util/push/push_test.go
  pkg/util/validation/discarded_metrics.go
  pkg/util/validation/errors.go
  pkg/util/validation/errors_test.go
  pkg/util/validation/limits.go
Labels: component/distributor

#6194 Improve logging and errors when using ingester and store-gateway chunks streaming
  CHANGELOG.md
  pkg/ingester/client/streaming.go
  pkg/ingester/client/streaming_test.go
  pkg/querier/block_streaming.go
  pkg/querier/block_streaming_test.go
  pkg/querier/distributor_queryable_streaming_test.go
Labels: backport r259

#6303 Distributor: Use generic capabilities of `forReplicationSet`
  pkg/distributor/distributor.go
Labels: chore, component/distributor

#6209 Restrict GitHub build image workflow permissions
  .github/workflows/push-mimir-build-image.yml
Labels: area/build

#6315 Renovate: Ignore github.com/grafana/goautoneg
  renovate.json
Labels: chore

#6318 Unexport querier.NewQueryable
  pkg/querier/querier.go
Labels: chore, component/querier

#6309 Log errors during store-gateway and ingester chunks streaming to logs, not just trace spans
  CHANGELOG.md
  pkg/ingester/client/streaming.go
  pkg/querier/block_streaming.go
Labels: backport r259

#5956 Document native histogram concept, send and best practices
  CHANGELOG.md
  docs/sources/mimir/send/native-histograms/_index.md
  docs/sources/mimir/send/native-histograms/factor-1.1-equation.svg
  docs/sources/mimir/send/native-histograms/factor-equation.svg
  docs/sources/mimir/send/native-histograms/neg-bucket-def.svg
  docs/sources/mimir/send/native-histograms/pos-bucket-def.svg
  docs/sources/mimir/send/native-histograms/zero-threshold-def.svg
Labels: type/docs

#6333 Renovate: Fix rule for ignoring pinned modules
  renovate.json
Labels: area/build

#6334 [release-2.10] Backport chore(deps): update golang docker tag to v1.21.3 (main) (#6325)
  CHANGELOG.md
  Makefile
  mimir-build-image/Dockerfile
Labels: backport, area/build

#6394 Helm: merge mimir distributed 5.1 to main
  docs/sources/helm-charts/mimir-distributed/release-notes/v5.1.md
  operations/helm/charts/mimir-distributed/CHANGELOG.md
Labels: helm

#6429 Helm: merge helm 5.1.2 to main
  docs/sources/helm-charts/mimir-distributed/release-notes/v5.1.md
  operations/helm/charts/mimir-distributed/CHANGELOG.md
Labels: helm

#6408 Ingester.QueryStream: Add support for ignoring context cancellation for chunk queriers
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/ingester/ingester.go
Labels: enhancement, component/ingester

#6441 Upgrade mimir-prometheus to 97933fb7d38e
  go.mod
  go.sum
  pkg/ingester/ingester.go
  pkg/ingester/user_tsdb.go
  vendor/github.com/prometheus/prometheus/tsdb/db.go
  vendor/modules.txt
Labels: chore

#6407 helm: quote checksum/config when using external config
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/_helpers.tpl
Labels: helm

#6446 Upgrade to mimir-prometheus@d0d6240125f9
  CHANGELOG.md
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/tsdb/postings_for_matchers_cache.go
  vendor/modules.txt
Labels: bug, component/ingester

#6447 Upgrade r259 to mimir-prometheus@b523086b421d
  CHANGELOG.md
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/tsdb/postings_for_matchers_cache.go
  vendor/modules.txt
Labels: bug, component/ingester, backport

#6414 ruler: gracefully stop subservices when starting fails
  pkg/ruler/ruler.go
Labels: component/ruler

#6461 Upgrade r260 to mimir-prometheus@693f219a88e2
  CHANGELOG.md
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/tsdb/postings_for_matchers_cache.go
  vendor/modules.txt
Labels: bug, component/ingester, backport

#6451 Check for errors when iterating through chunks or samples in response to a query
  CHANGELOG.md
  pkg/ingester/ingester.go
Labels: bug, component/ingester

#6486 Patch r258 with PostingsForMatchersCache fix
  CHANGELOG.md
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/tsdb/postings_for_matchers_cache.go
  vendor/modules.txt
Labels: bug, component/ingester, backport

#6503 Helm: switch to github app for repo authz
  .github/workflows/helm-release.yaml
Labels: chore, helm

#6505 Address post-merge feedback for #6471
  .golangci.yml
  CHANGELOG.md
  pkg/frontend/v2/frontend_scheduler_worker.go
  pkg/ingester/client/streaming.go
  pkg/ingester/client/streaming_test.go
  pkg/querier/block_streaming.go
  pkg/querier/blocks_store_queryable.go
  pkg/scheduler/scheduler_test.go
  pkg/util/grpc.go
  pkg/util/grpc_test.go
Labels: backport r262

#6512 Renovate: Ignore opentracing-contrib/go-grpc fork
  renovate.json
Labels: chore
