Repository grafana/mimir, pull requests merged in 2023-09, with the labels that each got.

#5700 fix[mimirtool]: order samples when performing export
  CHANGELOG.md
  pkg/mimirtool/backfill/backfill.go
  pkg/mimirtool/commands/remote_read.go
  pkg/mimirtool/commands/remote_read_test.go
Labels: release/notified-changelog-cut

#5909 docs: Update native histograms documentation
  docs/sources/mimir/configure/configure-native-histograms-ingestion.md
Labels: type/docs

#5939 Refactor ingester errors creation
  pkg/ingester/errors.go
  pkg/ingester/errors_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/ingester/limiter.go
  pkg/ingester/limiter_test.go
  pkg/ingester/metric_counter.go
  pkg/ingester/user_metrics_metadata.go
  pkg/ingester/user_tsdb.go
Labels: component/ingester

#5949 Azure: Don't serialize config, pass it directly to Thanos
  go.mod
  pkg/storage/bucket/azure/bucket_client.go
  pkg/storage/bucket/azure/bucket_client_test.go
Labels: chore

#5944 Helm: clarify release schedule
  operations/helm/charts/mimir-distributed/RELEASE.md
Labels: type/docs, helm

#5961 Azure: Better document authentication options
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/storage/bucket/azure/config.go
Labels: type/docs, storage/azure

#5948 Make nginx listen on IPv6.
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/templates/nginx/nginx-configmap.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/nginx/nginx-configmap.yaml
  operations/helm/tests/scheduler-name-values-generated/mimir-distributed/templates/nginx/nginx-configmap.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/templates/nginx/nginx-configmap.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/nginx/nginx-configmap.yaml
  operations/helm/tests/test-oss-logical-multizone-values-generated/mimir-distributed/templates/nginx/nginx-configmap.yaml
  operations/helm/tests/test-oss-multizone-values-generated/mimir-distributed/templates/nginx/nginx-configmap.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/nginx/nginx-configmap.yaml
  operations/helm/tests/test-vault-agent-values-generated/mimir-distributed/templates/nginx/nginx-configmap.yaml
Labels: enhancement, helm

#5902 Make compactor podManagementPolicy configurable
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/compactor/compactor-statefulset.yaml
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/enterprise-https-values-generated/mimir-distributed/templates/compactor/compactor-statefulset.yaml
  operations/helm/tests/gateway-enterprise-values-generated/mimir-distributed/templates/compactor/compactor-statefulset.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/templates/compactor/compactor-statefulset.yaml
  operations/helm/tests/graphite-enabled-values-generated/mimir-distributed/templates/compactor/compactor-statefulset.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/templates/compactor/compactor-statefulset.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/compactor/compactor-statefulset.yaml
  operations/helm/tests/openshift-values-generated/mimir-distributed/templates/compactor/compactor-statefulset.yaml
  operations/helm/tests/scheduler-name-values-generated/mimir-distributed/templates/compactor/compactor-statefulset.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/templates/compactor/compactor-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/compactor/compactor-statefulset.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/templates/compactor/compactor-statefulset.yaml
  operations/helm/tests/test-enterprise-legacy-label-values-generated/mimir-distributed/templates/compactor/compactor-statefulset.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/compactor/compactor-statefulset.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/compactor/compactor-statefulset.yaml
  operations/helm/tests/test-oss-logical-multizone-values-generated/mimir-distributed/templates/compactor/compactor-statefulset.yaml
  operations/helm/tests/test-oss-multizone-values-generated/mimir-distributed/templates/compactor/compactor-statefulset.yaml
  operations/helm/tests/test-oss-topology-spread-constraints-values-generated/mimir-distributed/templates/compactor/compactor-statefulset.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/compactor/compactor-statefulset.yaml
  operations/helm/tests/test-vault-agent-values-generated/mimir-distributed/templates/compactor/compactor-statefulset.yaml
Labels: helm

#5999 Helm: cut release 5.1
  operations/helm/charts/mimir-distributed/CHANGELOG.md
Labels: helm

#6001 Helm: release 5.1-rc.0
  docs/sources/helm-charts/mimir-distributed/release-notes/v5.1.md
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/README.md.gotmpl
  operations/helm/charts/mimir-distributed/values.yaml
Labels: helm

#6005 store-gateway: enable sparse index header by default
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/storegateway/indexheader/header.go
Labels: component/store-gateway

#6015 ingester: fix TestUserMetricsMetadataRequest not compiling
  pkg/ingester/user_metrics_metadata_test.go
Labels: component/ingester

#5693 Translate otlp metrics to prom metatada
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/references/configuration-parameters/index.md
  go.mod
  integration/e2emimir/client.go
  integration/otlp_ingestion_test.go
  pkg/api/api.go
  pkg/continuoustest/otlp_writer.go
  pkg/util/push/otel.go
  pkg/util/push/push_test.go
Labels: release/notified-changelog-cut

#5609 Query-frontend: Add experimental query blocker
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  docs/sources/mimir/configure/configure-blocked-queries.md
  docs/sources/mimir/manage/mimir-runbooks/_index.md
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/frontend/querymiddleware/blocker.go
  pkg/frontend/querymiddleware/blocker_test.go
  pkg/frontend/querymiddleware/limits.go
  pkg/frontend/querymiddleware/limits_test.go
  pkg/frontend/querymiddleware/roundtrip.go
  pkg/util/globalerror/errors.go
  pkg/util/validation/blocked_query.go
  pkg/util/validation/errors.go
  pkg/util/validation/limits.go
  tools/doc-generator/parse/parser.go
Labels: enhancement, type/docs, component/query-frontend, release/notified-changelog-cut

#6032 Query-frontend: Don't retry on HTTP 503 from ingester limiting
  CHANGELOG.md
  pkg/api/error/error.go
  pkg/api/error/error_test.go
  pkg/frontend/querymiddleware/codec.go
  pkg/frontend/querymiddleware/codec_test.go
  pkg/ingester/errors.go
Labels: bug, component/query-frontend

#5845 Ingester: Add metric to track inflight requests
  CHANGELOG.md
  pkg/ingester/ingester.go
  pkg/ingester/metrics.go
Labels: release/notified-changelog-cut

#6035 chore: fix index out of range in metrics metadata
  CHANGELOG.md
  pkg/util/push/otel.go
  pkg/util/push/push_test.go
Labels: bug

#6083 Merge mimir-distributed-release-5.1 to main
  docs/sources/helm-charts/mimir-distributed/_index.md
  docs/sources/helm-charts/mimir-distributed/configure/configure-hashicorp-vault-agent.md
  docs/sources/helm-charts/mimir-distributed/migration-guides/migrate-from-cortex.md
  docs/sources/helm-charts/mimir-distributed/release-notes/v5.1.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/_index.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/monitor-system-health.md
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/README.md.gotmpl
  operations/helm/charts/mimir-distributed/values.yaml
Labels: helm

#6078 Clarify which tenant `POST /compactor/delete_tenant` deletes
  docs/sources/mimir/references/http-api/index.md
Labels: component/compactor, type/docs

#6092 Docs: fix link to self hosted mimir integrations
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/monitor-system-health.md
  docs/sources/mimir/manage/monitor-grafana-mimir/collecting-metrics-and-logs.md
Labels: type/docs

#6093 Helm: Docs: fix broken link in vault setup
  docs/sources/helm-charts/mimir-distributed/configure/configure-hashicorp-vault-agent.md
Labels: type/docs

#6094 [release-2.10] Backport: Docs: fix link to self hosted mimir integrations (#6092)
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/monitor-system-health.md
  docs/sources/mimir/manage/monitor-grafana-mimir/collecting-metrics-and-logs.md
Labels: type/docs

#6097 Prepare for context argument changes in Prometheus
  pkg/compactor/block_upload.go
  pkg/compactor/bucket_compactor.go
  pkg/frontend/querymiddleware/querysharding_test_utils_test.go
  pkg/frontend/querymiddleware/sharded_queryable.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/ingester/label_names_and_values.go
  pkg/ingester/label_names_and_values_test.go
  pkg/ingester/user_tsdb.go
  pkg/querier/blocks_store_queryable.go
  pkg/querier/blocks_store_queryable_test.go
  pkg/querier/dummy.go
  pkg/querier/tenantfederation/merge_queryable.go
  pkg/storage/tsdb/block/index.go
  pkg/storage/tsdb/block/index_test.go
  pkg/storegateway/bucket_index_reader.go
  pkg/storegateway/indexheader/header_test.go
  pkg/storegateway/series_refs.go
  tools/tsdb-index-health/main.go
  tools/tsdb-index-health/main_test.go
  tools/tsdb-index/main.go
  tools/tsdb-symbols/main.go
Labels: chore

#6124 Upgrade to latest dskit
  go.mod
  go.sum
  vendor/github.com/grafana/dskit/httpgrpc/server/server.go
  vendor/github.com/sercand/kuberesolver/v5/.gitignore
  vendor/github.com/sercand/kuberesolver/v5/LICENSE
  vendor/github.com/sercand/kuberesolver/v5/README.md
  vendor/github.com/sercand/kuberesolver/v5/builder.go
  vendor/github.com/sercand/kuberesolver/v5/kubernetes.go
  vendor/github.com/sercand/kuberesolver/v5/models.go
  vendor/github.com/sercand/kuberesolver/v5/stream.go
  vendor/github.com/sercand/kuberesolver/v5/util.go
  vendor/modules.txt
Labels: chore

#6100 Fix issue where query-schedulers accumulate stale querier connections
  CHANGELOG.md
  pkg/scheduler/queue/queue.go
  pkg/scheduler/queue/queue_test.go
  pkg/scheduler/queue/user_queues.go
  pkg/scheduler/queue/user_queues_test.go
Labels: backport r257

#6123 Dependency: Update to failsafe version 0.3.1
  go.mod
  go.sum
  pkg/ingester/client/circuitbreaker.go
  vendor/github.com/failsafe-go/failsafe-go/CHANGELOG.md
  vendor/github.com/failsafe-go/failsafe-go/Makefile
  vendor/github.com/failsafe-go/failsafe-go/circuitbreaker/circuitbreaker.go
  vendor/github.com/failsafe-go/failsafe-go/codecov.yml
  vendor/github.com/failsafe-go/failsafe-go/execution.go
  vendor/github.com/failsafe-go/failsafe-go/executor.go
  vendor/github.com/failsafe-go/failsafe-go/internal/util/util.go
  vendor/github.com/failsafe-go/failsafe-go/policy.go
  vendor/github.com/failsafe-go/failsafe-go/policy/execution.go
  vendor/github.com/failsafe-go/failsafe-go/policy/policy.go
  vendor/github.com/failsafe-go/failsafe-go/result.go
  vendor/modules.txt
Labels: chore, component/ingester

#6135 store-gateway: reduce logging for not finding eager loading snapshot
  pkg/storegateway/indexheader/reader_pool.go
  pkg/storegateway/indexheader/reader_pool_test.go
Labels: component/store-gateway

#6113 Update aliases with comments for clarity and add missing aliases to fix 46 broken links in GEM docs
  docs/sources/mimir/configure/about-anonymous-usage-statistics-reporting.md
  docs/sources/mimir/configure/about-runtime-configuration.md
Labels: backport release-2.10

#6142 Add logrotate config
  CHANGELOG.md
  packaging/nfpm/mimir/mimir.logrotate
  packaging/nfpm/nfpm.jsonnet
Labels: packaging/debian, packaging/redhat

#6149 Introduce store-gateway-automated-downscale.libsonnet into operations/mimir
  CHANGELOG.md
  operations/mimir-tests/test-multi-zone-with-store-gateway-automated-downscaling-generated.yaml
  operations/mimir-tests/test-multi-zone-with-store-gateway-automated-downscaling.jsonnet
  operations/mimir/mimir.libsonnet
  operations/mimir/store-gateway-automated-downscale.libsonnet
Labels: jsonnet

#6150 tenantfederation: Simplify code a bit
  pkg/querier/tenantfederation/merge_queryable.go
Labels: chore
