Repository grafana/mimir, pull requests merged in 2023-01, with the labels that each got.

#3826 Alerts: Add alert that triggers for idle alertmanager instances
  CHANGELOG.md
  docs/sources/mimir/operators-guide/mimir-runbooks/_index.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/mixin-alerts.yaml
  operations/mimir-mixin-compiled-baremetal/alerts.yaml
  operations/mimir-mixin-compiled/alerts.yaml
  operations/mimir-mixin/alerts/alertmanager.libsonnet
Labels: type/docs, monitoring/alerts

#3723 Alerts: Add an alert to detect idling ruler instances
  CHANGELOG.md
  docs/sources/mimir/operators-guide/mimir-runbooks/_index.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/mixin-alerts.yaml
  operations/mimir-mixin-compiled-baremetal/alerts.yaml
  operations/mimir-mixin-compiled/alerts.yaml
  operations/mimir-mixin/alerts/alerts.libsonnet
Labels: type/docs, ease-of-use, monitoring/alerts

#3817 ruler: set default of for-grace-period=2m and update docs
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/operators-guide/configure/reference-configuration-parameters/index.md
  pkg/ruler/ruler.go
Labels: component/ruler

#3825 Introduce querier.max-partial-query-length flag
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/mimir/operators-guide/configure/reference-configuration-parameters/index.md
  pkg/querier/querier.go
  pkg/querier/querier_test.go
  pkg/util/validation/limits.go
  pkg/util/validation/limits_test.go
Labels: component/querier, ease-of-use

#3776 Add instructions for installing mimirtool with Homebrew.
  CHANGELOG.md
  RELEASE.md
  docs/sources/mimir/operators-guide/tools/mimirtool.md
Labels: type/docs

#3794 Use SafeSlabPool as memory pool for individual chunks' data
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_chunk_reader.go
  pkg/storegateway/bucket_test.go
  pkg/storegateway/series_chunks.go
  pkg/storegateway/series_chunks_test.go
  pkg/util/pool/pool.go
  pkg/util/pool/pool_test.go
Labels: component/store-gateway

#3673 Alertmanager: Some minor cleanup in tests
  pkg/alertmanager/multitenant_test.go
Labels: chore, component/alertmanager

#3755 Update golang.org/x/net for CVE-2022-41717
  CHANGELOG.md
  go.mod
  go.sum
  vendor/golang.org/x/net/http2/hpack/encode.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/publicsuffix/data/children
  vendor/golang.org/x/net/publicsuffix/data/nodes
  vendor/golang.org/x/net/publicsuffix/data/text
  vendor/golang.org/x/net/publicsuffix/list.go
  vendor/golang.org/x/net/publicsuffix/table.go
  vendor/modules.txt
Labels: chore

#3839 Streaming store-gateway: make room for tenant ID in postings cache key
  CHANGELOG.md
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_test.go
  pkg/storegateway/indexcache/cache.go
  pkg/storegateway/indexcache/inmemory.go
  pkg/storegateway/indexcache/inmemory_test.go
  pkg/storegateway/indexcache/memcached.go
  pkg/storegateway/indexcache/memcached_test.go
  pkg/storegateway/indexcache/tracing.go
  pkg/storegateway/series_refs.go
  pkg/storegateway/series_refs_test.go
  pkg/storegateway/storepb/cache.pb.go
  pkg/storegateway/storepb/cache.proto
Labels: component/store-gateway

#3863 Move 2.5 release notes to their correct place.
  docs/sources/mimir/release-notes/v2.5.md
Labels: type/docs

#3851 Helm: use headless alertmanager,add OTLP endpoint in gateway NGINX
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/ci/offline/gateway-enterprise-values.yaml
  operations/helm/charts/mimir-distributed/ci/offline/gateway-nginx-values.yaml
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/templates/gateway/gateway-dep.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/templates/gateway/gateway-ingress.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/templates/gateway/gateway-svc.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/templates/gateway/nginx-configmap.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/templates/smoke-test/smoke-test-job.yaml
Labels: bug, helm

#3869 Fix missing changelog entry.
  operations/helm/charts/mimir-distributed/CHANGELOG.md
Labels: helm

#3870 Fix wrong PR number in Helm changelog
  operations/helm/charts/mimir-distributed/CHANGELOG.md
Labels: helm

#3848 Store-gateway: shortcut some cache and bucket ops when matching 0 series
  integration/querier_test.go
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_index_postings.go
  pkg/storegateway/bucket_test.go
  pkg/storegateway/series_refs_test.go
Labels: component/store-gateway

#3873 Update publishing workflows to use PATs with fine-grained access control
  .github/workflows/publish-technical-documentation-next-helm-charts.yml
  .github/workflows/publish-technical-documentation-next-mimir.yml
  .github/workflows/publish-technical-documentation-release-helm-charts.yml
  .github/workflows/publish-technical-documentation-release-mimir.yml
Labels: backport release-2.2, backport release-2.3, backport release-2.4, backport release-2.5

#3886 [release-2.2] Update publishing workflows to use PATs with fine-grained access control
  .github/workflows/publish-technical-documentation-next.yml
  .github/workflows/publish-technical-documentation-release.yml
Labels: backport

#3887 [release-2.4] Update publishing workflows to use PATs with fine-grained access control
  .github/workflows/publish-technical-documentation-next.yml
  .github/workflows/publish-technical-documentation-release.yml
Labels: backport

#3895 bucket/azure: Refactor NewBucketClient to not take a factory parameter
  pkg/storage/bucket/azure/bucket_client.go
  pkg/storage/bucket/azure/bucket_client_test.go
  pkg/storage/bucket/client.go
Labels: chore, storage/azure

#3882 mark `query-frontend.max-total-query-length` as stable
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/mimir/operators-guide/configure/about-versioning.md
  docs/sources/mimir/operators-guide/configure/reference-configuration-parameters/index.md
  pkg/util/validation/limits.go
Labels: type/docs

#3439 Add additional label to cortex_discarded_samples_total with the label value defined by a config flag
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/operators-guide/configure/about-versioning.md
  docs/sources/mimir/operators-guide/configure/reference-configuration-parameters/index.md
  integration/validation_separate_metrics_test.go
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/forwarding/forwarding.go
  pkg/distributor/forwarding/forwarding_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/ingester/metrics.go
  pkg/mimir/mimir.go
  pkg/mimir/modules.go
  pkg/util/active_groups.go
  pkg/util/active_groups_test.go
  pkg/util/push/otel.go
  pkg/util/validation/limits.go
  pkg/util/validation/separate_metrics.go
  pkg/util/validation/validate.go
  pkg/util/validation/validate_test.go
Labels: type/docs, release/notified-changelog-cut

#3898 Update base images to alpine:3.17.1
  CHANGELOG.md
  cmd/metaconvert/Dockerfile
  cmd/mimir-continuous-test/Dockerfile
  cmd/mimir/Dockerfile
  cmd/mimirtool/Dockerfile
  cmd/query-tee/Dockerfile
  development/mimir-microservices-mode/dev.dockerfile
  development/mimir-monolithic-mode-with-swift-storage/dev.dockerfile
  development/mimir-monolithic-mode/dev.dockerfile
  development/mimir-read-write-mode/dev.dockerfile
  packaging/fpm/Dockerfile
Labels: chore

#3905 Fix make docs run from another directory
  docs/docs.mk
Labels: type/docs

#3907 Support daemonless containers
  docs/docs.mk
Labels: type/docs

#3867 Update link to helm chart documentation
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/README.md.gotmpl
Labels: type/docs

#3920 Update mimir-distributed 4.0.1 release notes
  operations/helm/charts/mimir-distributed/CHANGELOG.md
Labels: helm

#3910 Document -modules=true as config validation cmd
  docs/sources/mimir/operators-guide/configure/about-configurations.md
Labels: type/docs

#3919 Ensure that ingesters use properly sized disks for capped-small.yaml
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/capped-small.yaml
Labels: bug, helm

#3908 Add optional ring support to overrides-exporter
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  development/mimir-read-write-mode/config/mimir.yaml
  docs/sources/mimir/operators-guide/configure/about-versioning.md
  docs/sources/mimir/operators-guide/configure/configure-hash-rings.md
  docs/sources/mimir/operators-guide/reference-http-api/index.md
  docs/sources/mimir/reference-configuration-parameters/index.md
  integration/e2emimir/services.go
  integration/overrides_exporter_test.go
  pkg/api/api.go
  pkg/mimir/mimir.go
  pkg/mimir/modules.go
  pkg/util/validation/exporter/exporter.go
  pkg/util/validation/exporter/exporter_test.go
  pkg/util/validation/exporter/ring.go
  pkg/util/validation/exporter_test.go
Labels: ease-of-use

#3816 Ingesters: Delete blocks relative to when they were uploaded to storage
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/mimir/reference-configuration-parameters/index.md
  integration/querier_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/ingester/shipper.go
  pkg/ingester/shipper_test.go
  pkg/ingester/user_tsdb.go
  pkg/storage/tsdb/config.go
Labels: component/ingester

#3937 Update the helm release process to separate it from the mimir release process.
  .github/workflows/helm-release.yaml
  .github/workflows/publish-technical-documentation-next-mimir.yml
  .github/workflows/publish-technical-documentation-next.yml
  .github/workflows/publish-technical-documentation-release-helm-charts.yml
  .github/workflows/publish-technical-documentation-release-mimir.yml
  RELEASE.md
  operations/helm/charts/mimir-distributed/RELEASE.md
Labels: type/docs, helm

#3954 Add redirect notice for documents moved from mimir to helm-chart docs
  docs/sources/mimir/migration-guide/migrating-from-single-zone-with-helm.md
  docs/sources/mimir/operators-guide/deploy-grafana-mimir/getting-started-helm-charts/_index.md
  docs/sources/mimir/operators-guide/deploy-grafana-mimir/migrate-to-unified-proxy-deployment/_index.md
  docs/sources/mimir/operators-guide/deploy-grafana-mimir/upgrade-helm-chart-2.1-to-3.0/_index.md
  docs/sources/mimir/operators-guide/run-production-environment-with-helm/_index.md
  docs/sources/mimir/operators-guide/run-production-environment-with-helm/configuration-with-helm.md
Labels: type/docs, helm

#3967 Update skopeo version in build image
  .github/workflows/helm-ci.yml
  .github/workflows/test-build-deploy.yml
  Makefile
  mimir-build-image/Dockerfile
Labels: backport r221

#3961 Make ephemeral storage queryable
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/ingester/metrics.go
  pkg/ingester/user_tsdb.go
Labels: type/docs

#3973 Build image: get skopeo from image instead of building from source
  .github/workflows/helm-ci.yml
  .github/workflows/test-build-deploy.yml
  Makefile
  mimir-build-image/Dockerfile
Labels: backport r221

#4008 Fix title of guide in link text; reword phrase.
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/_index.md
Labels: type/docs

#3629 [otlp] Docs: Highlight common issues with OTLP --> Prometheus
  docs/sources/mimir/operators-guide/configure/configure-otel-collector.md
Labels: type/docs

#3995 Add switch to allow enabling overrides-exporter ring
  CHANGELOG.md
  operations/mimir-tests/test-deployment-mode-migration-generated.yaml
  operations/mimir-tests/test-read-write-deployment-mode-s3-autoscaled-generated.yaml
  operations/mimir-tests/test-read-write-deployment-mode-s3-generated.yaml
  operations/mimir/config.libsonnet
  operations/mimir/memberlist.libsonnet
  operations/mimir/overrides-exporter.libsonnet
  operations/mimir/read-write-deployment/config.libsonnet
Labels: ease-of-use

#4032 Remove unused resolution, step and range parameters from store-gateway SeriesRequest
  integration/backfill_test.go
  pkg/mimir/modules.go
  pkg/storage/tsdb/block/block_test.go
  pkg/storage/tsdb/block/index_test.go
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_e2e_test.go
  pkg/storegateway/bucket_stores.go
  pkg/storegateway/bucket_stores_test.go
  pkg/storegateway/bucket_test.go
  pkg/storegateway/gateway.go
  pkg/storegateway/gateway_test.go
  pkg/storegateway/indexheader/header_test.go
  pkg/storegateway/indexheader/lazy_binary_reader_test.go
  pkg/storegateway/indexheader/reader_benchmarks_test.go
  pkg/storegateway/indexheader/reader_pool_test.go
  pkg/storegateway/storepb/rpc.pb.go
  pkg/storegateway/storepb/rpc.proto
  pkg/storegateway/testhelper/testhelper.go
Labels: release/notified-changelog-cut

#4012 Compactor: count compactions errors and context cancelations separatelly
  CHANGELOG.md
  go.mod
  go.sum
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/mixin-alerts.yaml
  operations/mimir-mixin-compiled-baremetal/alerts.yaml
  operations/mimir-mixin-compiled/alerts.yaml
  operations/mimir-mixin/alerts/compactor.libsonnet
  pkg/compactor/compactor.go
  pkg/compactor/compactor_test.go
  vendor/github.com/grafana/dskit/multierror/multierror.go
  vendor/github.com/grafana/dskit/ring/util.go
  vendor/github.com/grafana/dskit/spanlogger/spanlogger.go
  vendor/modules.txt
Labels: component/compactor, monitoring/alerts, release/notified-changelog-cut

#4022 Consitent Notes format in documentation
  docs/sources/mimir/operators-guide/mimir-runbooks/_index.md
Labels: type/docs, release/notified-changelog-cut

#4046 Jsonnet: Add ruler auto-scaling support
  CHANGELOG.md
  operations/mimir-mixin/config.libsonnet
  operations/mimir-mixin/dashboards/dashboard-utils.libsonnet
  operations/mimir-mixin/dashboards/ruler.libsonnet
  operations/mimir/autoscaling.libsonnet
Labels: enhancement, jsonnet

#3929 Docs: Restore "Migrate from Cortex" for Jsonnet
  docs/sources/mimir/migration-guide/migrate-from-cortex.md
Labels: type/docs, release/notified-changelog-cut, backport release-2.6

#3930 Docs: remove Jsonnet content from Helm's "Migrate from Cortex"
  docs/sources/helm-charts/mimir-distributed/migration-guides/migrate-from-cortex.md
Labels: type/docs, release/notified-changelog-cut

#4057 Mixin: Refactor distributor auto-scaling row
  operations/mimir-mixin/dashboards/dashboard-utils.libsonnet
  operations/mimir-mixin/dashboards/writes.libsonnet
Labels: chore, jsonnet

#4067 Query-frontend: Disambiguate logs for failed queries.
  pkg/frontend/transport/handler.go
  pkg/frontend/transport/handler_test.go
Labels: component/query-frontend

#4049 Mixin: Add gateway auto-scaling panels to reads and writes dashboards
  CHANGELOG.md
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-reads.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-writes.json
  operations/mimir-mixin-compiled/dashboards/mimir-reads.json
  operations/mimir-mixin-compiled/dashboards/mimir-writes.json
  operations/mimir-mixin/config.libsonnet
  operations/mimir-mixin/dashboards/dashboard-utils.libsonnet
  operations/mimir-mixin/dashboards/reads.libsonnet
  operations/mimir-mixin/dashboards/writes.libsonnet
Labels: enhancement, jsonnet

#3911 Migrate fpm to nfpm
  CHANGELOG.md
  Makefile
  packaging/deb/control/postinst
  packaging/deb/control/prerm
  packaging/fpm/Dockerfile
  packaging/fpm/package.sh
  packaging/nfpm/mimir/mimir.env
  packaging/nfpm/mimir/mimir.service
  packaging/nfpm/mimir/postinstall.sh
  packaging/nfpm/mimir/preremove.sh
  packaging/nfpm/nfpm.jsonnet
  packaging/nfpm/nfpm.sh
  packaging/rpm/control/post
  packaging/rpm/control/preun
  packaging/rpm/sysconfig/mimir
  packaging/rpm/systemd/mimir.service
Labels: release/notified-changelog-cut

#3951 [docs] Add initial documentation for read-write mode
  CHANGELOG.md
  docs/sources/mimir/operators-guide/architecture/about-grafana-mimir-architecture/index.md
  docs/sources/mimir/operators-guide/architecture/deployment-modes/index.md
  docs/sources/mimir/operators-guide/architecture/deployment-modes/read-write-mode.svg
  docs/sources/mimir/operators-guide/deploy-grafana-mimir/jsonnet/configure-deployment-mode.md
  docs/sources/mimir/operators-guide/deploy-grafana-mimir/jsonnet/migrate-from-microservices-to-read-write.md
  docs/sources/mimir/operators-guide/monitor-grafana-mimir/requirements.md
  docs/sources/mimir/operators-guide/reference-http-api/index.md
  docs/sources/mimir/operators-guide/run-production-environment/scaling-out.md
Labels: type/docs, release/notified-changelog-cut

#4079 Docs: Explain how to run Mimir locally using docker-compose
  docs/internal/contributing/README.md
Labels: type/docs

#4090 helm: fix spelling and grammar mistakes in values.yaml
  operations/helm/charts/mimir-distributed/values.yaml
Labels: chore, helm

#4106 Clarify that memberlist cannot be used for HA dedupe.
  docs/sources/mimir/operators-guide/architecture/key-value-store.md
Labels: type/docs

#4095 store-gateway: add partitioners for each data type
  CHANGELOG.md
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_chunk_reader.go
  pkg/storegateway/bucket_e2e_test.go
  pkg/storegateway/bucket_index_reader.go
  pkg/storegateway/bucket_stores.go
  pkg/storegateway/bucket_test.go
  pkg/storegateway/partitioner.go
Labels: component/store-gateway

#3541 Use built-in alertmanager config if no fallback config is provided
  CHANGELOG.md
  docs/sources/mimir/operators-guide/architecture/components/alertmanager.md
  integration/alertmanager_test.go
  pkg/alertmanager/multitenant.go
  pkg/alertmanager/multitenant_test.go
Labels: release/notified-changelog-cut

#4113 Fix typo on "configure TSDB block upload" page.
  docs/sources/mimir/operators-guide/configure/configure-tsdb-block-upload.md
Labels: type/docs
