Repository grafana/mimir, pull requests merged in 2024-07, with the labels that each got.

#8572 Fix help for utf8-strict-mode
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/configuration-parameters/index.md
  pkg/alertmanager/multitenant.go
Labels: type/docs

#8547 Alertmanager: Add static headers in Grafana Alertmanager configuration
  integration/alertmanager_test.go
  integration/e2emimir/client.go
  pkg/alertmanager/alertspb/alerts.pb.go
  pkg/alertmanager/alertspb/alerts.proto
  pkg/alertmanager/alertspb/compat.go
  pkg/alertmanager/api_grafana.go
  pkg/alertmanager/api_grafana_test.go
  pkg/alertmanager/multitenant_test.go
Labels: component/alertmanager

#8585 Alertmanager: Remove unused SendEmail method from sender
  pkg/alertmanager/sender.go
Labels: component/alertmanager

#8576 mimirtool: Improve mimirtool docs for migrate-utf8
  docs/sources/mimir/manage/tools/mimirtool.md
Labels: type/docs, backport release-2.12, backport release-2.13

#7795 Docs landing page update
  docs/sources/mimir/_index.md
Labels: type/docs

#8600 Upgrade golang to 1.22.5
  CHANGELOG.md
  Makefile
  mimir-build-image/Dockerfile
Labels: backport release-2.13

#8596 Add documentation for UTF-8 strict mode
  docs/sources/mimir/references/architecture/components/alertmanager.md
Labels: backport release-2.12, backport release-2.13

#8617 Update release notes for v2.12
  docs/sources/mimir/release-notes/v2.12.md
Labels: backport release-2.12, backport release-2.13

#8618 Fix example in docs
  docs/sources/mimir/references/architecture/components/alertmanager.md
Labels: backport release-2.12, backport release-2.13

#8551 store-gateway: Add services for BucketStore(s)
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_e2e_test.go
  pkg/storegateway/bucket_stores.go
  pkg/storegateway/bucket_stores_test.go
  pkg/storegateway/bucket_test.go
  pkg/storegateway/gateway.go
  pkg/storegateway/gateway_prepare_shutdown_http_test.go
  pkg/storegateway/gateway_test.go
Labels: component/store-gateway

#8623 Fix links in v2.12 release notes
  docs/sources/mimir/release-notes/v2.12.md
Labels: backport release-2.12, backport release-2.13

#8583 feat(continuous-test): Add histograms to measure latency of requests
  CHANGELOG.md
  docs/sources/mimir/manage/tools/mimir-continuous-test.md
  pkg/continuoustest/metrics.go
  pkg/continuoustest/write_read_series.go
  pkg/continuoustest/write_read_series_test.go
Labels: enhancement, component/continuous-test

#8445 2.13 release notes
  docs/sources/mimir/release-notes/v2.13.md
Labels: type/docs

#8492 helm 5.4.0: add release notes
  docs/sources/helm-charts/mimir-distributed/release-notes/v5.4.md
Labels: backport mimir-distributed-release-5.4

#7873 Implementing generalized tree queue with node state implemented by tenant-querier assignments
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/configuration-parameters/index.md
  pkg/frontend/v1/frontend.go
  pkg/scheduler/queue/multi_queuing_algorithm_tree_queue.go
  pkg/scheduler/queue/multi_queuing_algorithm_tree_queue_test.go
  pkg/scheduler/queue/queue.go
  pkg/scheduler/queue/queue_test.go
  pkg/scheduler/queue/tenant_querier_assignment.go
  pkg/scheduler/queue/tenant_queues.go
  pkg/scheduler/queue/tenant_queues_test.go
  pkg/scheduler/queue/tree_queue.go
  pkg/scheduler/queue/tree_queue_test.go
  pkg/scheduler/queue/tree_queueing_algorithms.go
  pkg/scheduler/scheduler.go
Labels: type/docs, release/notified-changelog-cut

#8586 Alertmanager: Add static headers to Grafana email receiver
  pkg/alertmanager/alertmanager.go
  pkg/alertmanager/alertmanager_test.go
  pkg/alertmanager/config.go
  pkg/alertmanager/multitenant.go
  pkg/alertmanager/multitenant_test.go
Labels: component/alertmanager

#8654 helm: run continuous-test under restricted policy
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/values.yaml
Labels: bug, helm, component/continuous-test

#8552 store-gateway: Make Snapshotter a service
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_e2e_test.go
  pkg/storegateway/indexheader/header.go
  pkg/storegateway/indexheader/snapshotter.go
  pkg/storegateway/indexheader/snapshotter_test.go
  pkg/util/test/leak.go
Labels: component/store-gateway

#8133 Count recording rules used in rules group as used
  CHANGELOG.md
  pkg/mimirtool/analyze/ruler.go
  pkg/mimirtool/commands/analyse_rulefiles_test.go
  pkg/mimirtool/commands/analyse_rules_test.go
Labels: release/notified-changelog-cut

#8670 Add support for imagePullSecrets, nodeSelector, tolerations and topologySpreadConstraints into helm chart
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/_helpers.tpl
  operations/helm/charts/mimir-distributed/templates/metamonitoring/grafana-agent.yaml
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/grafana-agent.yaml
Labels: enhancement, helm

#8675 docs: update TLS documentation to mention Memcached
  docs/sources/mimir/manage/secure/securing-communications-with-tls.md
Labels: type/docs

#8489 Docs/Adds Alloy configs
  docs/sources/helm-charts/mimir-distributed/get-started-helm-charts/_index.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/_index.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/monitor-system-health.md
  docs/sources/mimir/configure/configure-native-histograms-ingestion.md
  docs/sources/mimir/get-started/_index.md
  docs/sources/mimir/manage/monitor-grafana-mimir/collecting-metrics-and-logs.md
  docs/sources/mimir/manage/monitor-grafana-mimir/installing-dashboards-and-alerts.md
  docs/sources/mimir/manage/monitor-grafana-mimir/requirements.md
  docs/sources/mimir/references/architecture/components/distributor.md
  docs/sources/mimir/send/_index.md
  docs/sources/mimir/send/native-histograms/_index.md
Labels: type/docs

#8512 Modify play-with-grafana-mimir document
  docs/sources/mimir/get-started/play-with-grafana-mimir/index.md
Labels: type/docs

#8745 Use latest writers toolkit link conventions
  .github/workflows/test-docs.yml
  docs/sources/helm-charts/mimir-distributed/_index.md
  docs/sources/helm-charts/mimir-distributed/configure/configure-grafana-enterprise-metrics.md
  docs/sources/helm-charts/mimir-distributed/configure/configure-hashicorp-vault-agent.md
  docs/sources/helm-charts/mimir-distributed/configure/configure-native-histograms-ingestion.md
  docs/sources/helm-charts/mimir-distributed/configure/configure-redis-cache.md
  docs/sources/helm-charts/mimir-distributed/migration-guides/migrate-from-single-zone-with-helm.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/_index.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/configuration-with-helm.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/configure-helm-ha-deduplication-consul/index.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/monitor-system-health.md
  docs/variables.mk
  operations/helm/charts/mimir-distributed/RELEASE.md
Labels: helm

#8751 docs: enhance Alloy config in get started for Mimir
  docs/sources/helm-charts/mimir-distributed/get-started-helm-charts/_index.md
  docs/sources/mimir/get-started/_index.md
Labels: type/docs

#8768 Store-gateway: Change default of -blocks-storage.bucket-store.max-concurrent to 200
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/configuration-parameters/index.md
  pkg/storage/tsdb/config.go
  pkg/storegateway/bucket_stores_test.go
Labels: component/store-gateway

#8767 docs: re-adds instructions for generating test metrics
  docs/sources/helm-charts/mimir-distributed/get-started-helm-charts/_index.md
Labels: type/docs

#8698 distributor: remove cortex_distributor_sample_delay_seconds
  CHANGELOG.md
  docs/sources/mimir/configure/about-versioning.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_ingest_storage_test.go
  pkg/distributor/distributor_test.go
Labels: component/distributor

#8278 alert if compactor runs out of disk space
  CHANGELOG.md
  docs/sources/mimir/manage/mimir-runbooks/_index.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/mixin-alerts.yaml
  operations/mimir-mixin-compiled-baremetal/alerts.yaml
  operations/mimir-mixin-compiled/alerts.yaml
  operations/mimir-mixin/alerts/compactor.libsonnet
Labels: release/notified-changelog-cut

#8794 [r298] Remove `ItemCount` call from trySendNextRequestForQuerier
  pkg/scheduler/queue/queue.go
Labels: backport r295, backport r297, backport r296

#8702 store-gateway: remove series selection strategies, rename preference flag
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/configure/configuration-parameters/index.md
  pkg/storage/tsdb/config.go
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_index_postings.go
  pkg/storegateway/bucket_index_postings_test.go
  pkg/storegateway/bucket_stores.go
  pkg/storegateway/bucket_test.go
Labels: component/store-gateway

#8701 mimirtool: remove deprecated `--rule-files` flag
  CHANGELOG.md
  docs/sources/mimir/configure/about-versioning.md
  pkg/mimirtool/commands/rules.go
Labels: component/mimirtool

#8793 store-gateway: add test for persisting unloaded blocks
  pkg/storegateway/bucket_e2e_test.go
Labels: component/store-gateway

#8699 ingester: remove -ingester.return-only-grpc-errors
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/configure/configuration-parameters/index.md
  pkg/ingester/errors.go
  pkg/ingester/errors_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/mimir/mimir.go
  pkg/mimir/mimir_test.go
Labels: component/ingester

#8769 Alertmanager: Promote Grafana state
  pkg/alertmanager/alertmanager.go
  pkg/alertmanager/config.go
  pkg/alertmanager/multitenant.go
  pkg/alertmanager/multitenant_test.go
Labels: component/alertmanager

#8829 dashboards: remove "All" option for namespace variable
  CHANGELOG.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/grafana-dashboards.yaml
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-alertmanager.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-compactor.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-config.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-object-store.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-overview.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-queries.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-reads.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-remote-ruler-reads.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-ruler.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-scaling.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-tenants.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-top-tenants.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-writes.json
  operations/mimir-mixin-compiled/dashboards/mimir-alertmanager.json
  operations/mimir-mixin-compiled/dashboards/mimir-compactor.json
  operations/mimir-mixin-compiled/dashboards/mimir-config.json
  operations/mimir-mixin-compiled/dashboards/mimir-object-store.json
  operations/mimir-mixin-compiled/dashboards/mimir-overview.json
  operations/mimir-mixin-compiled/dashboards/mimir-queries.json
  operations/mimir-mixin-compiled/dashboards/mimir-reads.json
  operations/mimir-mixin-compiled/dashboards/mimir-remote-ruler-reads.json
  operations/mimir-mixin-compiled/dashboards/mimir-ruler.json
  operations/mimir-mixin-compiled/dashboards/mimir-scaling.json
  operations/mimir-mixin-compiled/dashboards/mimir-tenants.json
  operations/mimir-mixin-compiled/dashboards/mimir-top-tenants.json
  operations/mimir-mixin-compiled/dashboards/mimir-writes.json
  operations/mimir-mixin/dashboards/dashboard-utils.libsonnet
  operations/mimir-mixin/jsonnetfile.lock.json
Labels: mixin

#8857 docs: define ALLOY_VERSION
  docs/sources/helm-charts/mimir-distributed/_index.md
  docs/sources/mimir/_index.md
Labels: type/docs

#8863 docs: fix prometheus feature flag flag
  docs/sources/mimir/send/native-histograms/_index.md
Labels: type/docs

#8859 Alertmanager: Use default Mimir globals in Grafana configuration
  pkg/alertmanager/config.go
  pkg/alertmanager/config_test.go
  pkg/alertmanager/multitenant.go
  pkg/alertmanager/multitenant_test.go
Labels: component/alertmanager
