Repository grafana/mimir, pull requests merged in 2024-10, with the labels that each got.

#9482 MQE: fix incorrect query results or "found duplicate series for the match group" errors when binary operation has unsorted labels in `on`
  CHANGELOG.md
  pkg/streamingpromql/operators/vector_vector_binary_operation.go
  pkg/streamingpromql/testdata/ours/binary_operators.test
Labels: backport r308, backport r309, backport r310

#9500 kafka replay speed: fall back to franz-go for ongoing fetching
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/mimir/configure/configuration-parameters/index.md
  pkg/storage/ingest/config.go
  pkg/storage/ingest/reader.go
  pkg/storage/ingest/reader_test.go
  pkg/storage/ingest/writer_test.go
Labels: backport r310

#9518 MQE: fix panic in `rate` or `increase` over native histograms with changing schema
  CHANGELOG.md
  pkg/streamingpromql/functions/rate_increase.go
  pkg/streamingpromql/testdata/ours/native_histograms.test
Labels: backport r308, backport r309, backport r310

#9185 validate label value
  CHANGELOG.md
  docs/sources/mimir/manage/mimir-runbooks/_index.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/otel_test.go
  pkg/distributor/push.go
  pkg/distributor/push_test.go
  pkg/distributor/validate.go
  pkg/distributor/validate_test.go
  pkg/mimirpb/custom_test.go
  pkg/mimirpb/mimir.pb.go
  pkg/mimirpb/mimir.pb.go.expdiff
  pkg/mimirpb/mimir.proto
  pkg/mimirpb/split.go
  pkg/mimirpb/split_test.go
  pkg/mimirpb/timeseries.go
  pkg/storage/ingest/writer_test.go
  pkg/util/globalerror/user.go
Labels: release/notified-changelog-cut

#9543 Add tests for `pkg/util/test.AssertGatherAndCompare`
  pkg/util/test/metrics.go
  pkg/util/test/metrics_test.go
Labels: bug

#9548 Jsonnet: Add support to deploy distributors in multi availability zones
  CHANGELOG.md
  operations/mimir-tests/test-multi-zone-distributor-generated.yaml
  operations/mimir-tests/test-multi-zone-distributor.jsonnet
  operations/mimir/autoscaling.libsonnet
  operations/mimir/common.libsonnet
  operations/mimir/memberlist.libsonnet
  operations/mimir/mimir.libsonnet
  operations/mimir/multi-zone-distributor.libsonnet
Labels: sigyn

#9576 distributor: allow skipping label count validation
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/configuration-parameters/index.md
  pkg/api/api.go
  pkg/distributor/distributor.go
  pkg/distributor/distributor_ingest_storage_test.go
  pkg/distributor/distributor_test.go
  pkg/distributor/push.go
  pkg/distributor/push_test.go
  pkg/distributor/validate.go
  pkg/distributor/validate_test.go
  pkg/mimirpb/mimir.pb.go
  pkg/mimirpb/mimir.pb.go.expdiff
  pkg/mimirpb/mimir.proto
  pkg/mimirpb/split_test.go
Labels: enhancement, component/distributor

#9647 distributor: Drop experimental flag for non-direct OTLP translation
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/configure/configuration-parameters/index.md
  pkg/api/api.go
  pkg/distributor/distributor.go
  pkg/distributor/otel.go
  pkg/distributor/otel_test.go
  pkg/distributor/push_test.go
Labels: chore, component/distributor

#9669 helm: fix broken topology spread constraints in metamonitoring's GrafanaAgent
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/metamonitoring/grafana-agent.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/grafana-agent.yaml
Labels: backport mimir-distributed-release-5.5

#9664 MQE: subqueries
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/configuration-parameters/index.md
  pkg/streamingpromql/benchmarks/benchmarks.go
  pkg/streamingpromql/config.go
  pkg/streamingpromql/engine.go
  pkg/streamingpromql/engine_test.go
  pkg/streamingpromql/functions/common.go
  pkg/streamingpromql/functions/range_vectors.go
  pkg/streamingpromql/functions/rate_increase.go
  pkg/streamingpromql/operators/function_over_range_vector.go
  pkg/streamingpromql/operators/range_vector_selector.go
  pkg/streamingpromql/operators/subquery.go
  pkg/streamingpromql/query.go
  pkg/streamingpromql/testdata/ours/subqueries.test
  pkg/streamingpromql/testdata/upstream/aggregators.test
  pkg/streamingpromql/testdata/upstream/at_modifier.test
  pkg/streamingpromql/testdata/upstream/functions.test
  pkg/streamingpromql/testdata/upstream/native_histograms.test
  pkg/streamingpromql/testdata/upstream/subquery.test
  pkg/streamingpromql/testing.go
  pkg/streamingpromql/types/data.go
  pkg/streamingpromql/types/fpoint_ring_buffer.go
  pkg/streamingpromql/types/hpoint_ring_buffer.go
  pkg/streamingpromql/types/operator.go
  pkg/streamingpromql/types/ring_buffer_test.go
Labels: backport r313

#9701 docs: adds deprecation notice for redis caching
  docs/sources/helm-charts/mimir-distributed/configure/configure-redis-cache.md
Labels: type/docs, backport mimir-distributed-release-5.5

#9704 Revert "query-tee: don't bother comparing responses for cancelled requests"
  CHANGELOG.md
  tools/querytee/proxy_endpoint.go
  tools/querytee/proxy_endpoint_test.go
Labels: backport r313

#9659 [mixin/alerts]: Enable configuring job prefix for alerts to prevent clashes with metrics from Loki/Tempo.
  CHANGELOG.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/mixin-alerts.yaml
  operations/mimir-mixin-compiled-baremetal/alerts.yaml
  operations/mimir-mixin-compiled/alerts.yaml
  operations/mimir-mixin/alerts/alerts-utils.libsonnet
  operations/mimir-mixin/alerts/alerts.libsonnet
  operations/mimir-mixin/config.libsonnet
Labels: enhancement, mixin

#9708 userTSDB: Avoid race condition when setting db
  CHANGELOG.md
  pkg/ingester/ingester.go
Labels: bug, component/ingester

#9765 Update mimir-prometheus to 5710f65f1444
  CHANGELOG.md
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/tsdb/exemplar.go
  vendor/github.com/prometheus/prometheus/tsdb/head_append.go
  vendor/github.com/prometheus/prometheus/tsdb/index/postings.go
  vendor/modules.txt
Labels: bug, component/ingester

#9756 Distributor.queryIngesterStream: Free gRPC buffers upon error
  pkg/distributor/query.go
Labels: type/performance, component/distributor, area/grpc

#9565 Honor minio fullname
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/minio/create-bucket-job.yaml
  operations/helm/charts/mimir-distributed/values.yaml
Labels: bug, helm
