Repository grafana/mimir, pull requests merged in 2024-01, with the labels that each got.

#6999 helm: omit `backend: s3` when minio is disabled
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/openshift-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/scheduler-name-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/templates/mimir-config.yaml
Labels: helm

#7027 mimir-mixin: update github.com/grafana/jsonnet-libs
  CHANGELOG.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/grafana-dashboards.yaml
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-alertmanager-resources.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-alertmanager.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-compactor-resources.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-compactor.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-config.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-object-store.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-overrides.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-overview-networking.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-overview-resources.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-overview.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-queries.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-reads-networking.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-reads-resources.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-reads.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-remote-ruler-reads-resources.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-remote-ruler-reads.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-rollout-progress.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-ruler.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-scaling.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-slow-queries.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-tenants.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-top-tenants.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-writes-networking.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-writes-resources.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-writes.json
  operations/mimir-mixin-compiled/dashboards/mimir-alertmanager-resources.json
  operations/mimir-mixin-compiled/dashboards/mimir-alertmanager.json
  operations/mimir-mixin-compiled/dashboards/mimir-compactor-resources.json
  operations/mimir-mixin-compiled/dashboards/mimir-compactor.json
  operations/mimir-mixin-compiled/dashboards/mimir-config.json
  operations/mimir-mixin-compiled/dashboards/mimir-object-store.json
  operations/mimir-mixin-compiled/dashboards/mimir-overrides.json
  operations/mimir-mixin-compiled/dashboards/mimir-overview-networking.json
  operations/mimir-mixin-compiled/dashboards/mimir-overview-resources.json
  operations/mimir-mixin-compiled/dashboards/mimir-overview.json
  operations/mimir-mixin-compiled/dashboards/mimir-queries.json
  operations/mimir-mixin-compiled/dashboards/mimir-reads-networking.json
  operations/mimir-mixin-compiled/dashboards/mimir-reads-resources.json
  operations/mimir-mixin-compiled/dashboards/mimir-reads.json
  operations/mimir-mixin-compiled/dashboards/mimir-remote-ruler-reads-resources.json
  operations/mimir-mixin-compiled/dashboards/mimir-remote-ruler-reads.json
  operations/mimir-mixin-compiled/dashboards/mimir-rollout-progress.json
  operations/mimir-mixin-compiled/dashboards/mimir-ruler.json
  operations/mimir-mixin-compiled/dashboards/mimir-scaling.json
  operations/mimir-mixin-compiled/dashboards/mimir-slow-queries.json
  operations/mimir-mixin-compiled/dashboards/mimir-tenants.json
  operations/mimir-mixin-compiled/dashboards/mimir-top-tenants.json
  operations/mimir-mixin-compiled/dashboards/mimir-writes-networking.json
  operations/mimir-mixin-compiled/dashboards/mimir-writes-resources.json
  operations/mimir-mixin-compiled/dashboards/mimir-writes.json
  operations/mimir-mixin/jsonnetfile.lock.json
Labels: mixin

#7001 mixin: make autoscaling dashboards ignore multiple series from keda metrics
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/grafana-dashboards.yaml
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-reads.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-remote-ruler-reads.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-writes.json
  operations/mimir-mixin-compiled/dashboards/mimir-reads.json
  operations/mimir-mixin-compiled/dashboards/mimir-remote-ruler-reads.json
  operations/mimir-mixin-compiled/dashboards/mimir-writes.json
  operations/mimir-mixin/dashboards/dashboard-utils.libsonnet
  operations/mimir-mixin/dashboards/reads.libsonnet
Labels: mixin

#7078 Fix formatting in querier component doc
  docs/sources/mimir/references/architecture/components/querier.md
Labels: type/docs

#7084 docs: update link to Grafana Agent Operator CRDs
  docs/sources/helm-charts/mimir-distributed/get-started-helm-charts/_index.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/_index.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/monitor-system-health.md
  operations/helm/charts/mimir-distributed/values.yaml
Labels: backport release-2.11

#5794 Update `make docs` procedure and add workflow to keep it up to date
  .github/workflows/update-make-docs.yml
  CODEOWNERS
  docs/docs.mk
  docs/make-docs
Labels: type/docs, tooling

#7110 Documentation: Document ingester read path limiting
  docs/sources/mimir/configure/configure-resource-utilization-based-ingester-read-path-limiting.md
  docs/sources/mimir/manage/run-production-environment/production-tips/index.md
Labels: type/docs, component/ingester

#7136 Reduce sync concurrency in store-gateway by default to reduce disk contention
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/configuration-parameters/index.md
  operations/mimir/config.libsonnet
  operations/mimir/store-gateway.libsonnet
  pkg/storage/tsdb/config.go
Labels: component/store-gateway

#7140 [r273] Perform initial owned series calculation before starting lifecycler
  CHANGELOG.md
  integration/ingester_limits_test.go
  pkg/ingester/ingester.go
  pkg/ingester/owned_series.go
Labels: backport

#7165 Enable distributor write requests buffer pooling by default
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/configuration-parameters/index.md
  pkg/distributor/distributor.go
Labels: component/distributor

#7174 Documented ingeter migration to spread-minimizing tokens
  docs/sources/mimir/configure/configure-spread-minimizing-tokens/index.md
  docs/sources/mimir/configure/configure-spread-minimizing-tokens/migration-of-a-zone.png
  docs/sources/mimir/configure/configure-spread-minimizing-tokens/no-more-write-requests.png
Labels: type/docs

#7199 Revert "helm: omit `backend: s3` when minio is disabled"
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/openshift-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/scheduler-name-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/templates/mimir-config.yaml
Labels: helm, backport mimir-distributed-release-5.2

#7194 Slow queries dashboard: bug fixes and a new panel
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/grafana-dashboards.yaml
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-slow-queries.json
  operations/mimir-mixin-compiled/dashboards/mimir-slow-queries.json
  operations/mimir-mixin-tools/serve/provisioning-datasources.yaml
  operations/mimir-mixin-tools/serve/run.sh
  operations/mimir-mixin/dashboards/slow-queries.libsonnet
Labels: mixin

#7202 Helm: release 5.2.1
  docs/sources/helm-charts/mimir-distributed/release-notes/v5.2.md
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
Labels: helm

#7234 Update about-grafana-mimir-architecture
  docs/sources/mimir/get-started/about-grafana-mimir-architecture/index.md
Labels: type/docs
