Repository grafana/mimir, pull requests merged in 2024-04, with the labels that each got.

#7757 Chore: update actions depending on Node.js 16 to versions depending on Node.js 20
  .github/workflows/test-build-deploy.yml
Labels: chore

#7762 Make distributor's pushReq.Cleanup() calls safer
  pkg/distributor/distributor.go
Labels: enhancement, component/distributor

#7665 frontend: use zero-allocation response decoder in shard active series middleware
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/configuration-parameters/index.md
  pkg/frontend/querymiddleware/roundtrip.go
  pkg/frontend/querymiddleware/shard_active_series.go
  pkg/frontend/querymiddleware/shard_active_series_response_decoder.go
  pkg/frontend/querymiddleware/shard_active_series_response_decoder_test.go
  pkg/frontend/querymiddleware/shard_active_series_test.go
Labels: component/query-frontend

#7788 Fix linting issues: Part 1
  pkg/alertmanager/multitenant_test.go
  pkg/api/api_test.go
  pkg/api/handlers.go
  pkg/api/handlers_test.go
  pkg/api/tenant.go
  pkg/api/tenant_test.go
  pkg/compactor/block_upload_test.go
  pkg/compactor/bucket_compactor.go
  pkg/compactor/bucket_compactor_test.go
  pkg/compactor/compactor_test.go
  pkg/distributor/distributor_test.go
  pkg/distributor/otel_test.go
  pkg/distributor/push_test.go
  pkg/frontend/frontend_test.go
  pkg/frontend/querymiddleware/astmapper/subtree_folder_test.go
  pkg/frontend/querymiddleware/cardinality_query_cache_test.go
  pkg/frontend/querymiddleware/cardinality_test.go
  pkg/frontend/querymiddleware/generic_query_cache_test.go
  pkg/frontend/querymiddleware/querysharding_test.go
  pkg/frontend/querymiddleware/retry_test.go
  pkg/frontend/querymiddleware/roundtrip_test.go
  pkg/frontend/querymiddleware/running_test.go
  pkg/frontend/querymiddleware/sharded_queryable_test.go
  pkg/frontend/querymiddleware/split_and_cache_test.go
  pkg/frontend/querymiddleware/split_by_instant_interval.go
  pkg/frontend/transport/handler_test.go
  pkg/frontend/v1/frontend_test.go
  pkg/frontend/v2/frontend_test.go
  pkg/ingester/client/buffering_client_test.go
  pkg/ingester/client/circuitbreaker.go
  pkg/ingester/client/circuitbreaker_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_ingest_storage_test.go
  pkg/ingester/ingester_test.go
  pkg/ingester/label_names_and_values_test.go
  pkg/ingester/owned_series_test.go
  pkg/mimir/mimir_test.go
  pkg/mimir/modules.go
  pkg/mimir/runtime_config_test.go
  pkg/mimir/sanity_check_test.go
  pkg/mimirtool/analyze/grafana.go
  pkg/mimirtool/analyze/ruler.go
  pkg/mimirtool/commands/rules.go
  pkg/mimirtool/config/convert_test.go
  pkg/mimirtool/config/cortex.go
  pkg/mimirtool/config/mapping.go
  pkg/mimirtool/rules/rules.go
  pkg/mimirtool/rules/rules_test.go
Labels: chore

#7789 Fix linting issues: Part 2
  cmd/mimirtool/main.go
  integration/e2emimir/services.go
  integration/kv_test.go
  operations/compare-helm-with-jsonnet/plugins/resolve-config/main.go
  pkg/querier/block_test.go
  pkg/querier/blocks_store_queryable_test.go
  pkg/querier/blocks_store_replicated_set_test.go
  pkg/querier/querier_test.go
  pkg/querier/remote_read_test.go
  pkg/querier/tenantfederation/merge_exemplar_queryable.go
  pkg/querier/worker/frontend_processor_test.go
  pkg/querier/worker/scheduler_processor_test.go
  pkg/querier/worker/worker_test.go
  pkg/ruler/api_test.go
  pkg/ruler/compat_test.go
  pkg/ruler/remotequerier_test.go
  pkg/ruler/ruler.go
  pkg/ruler/ruler_test.go
  pkg/ruler/rulestore/config_test.go
  pkg/scheduler/schedulerdiscovery/config_test.go
  pkg/storage/ingest/partition_offset_reader_test.go
  pkg/storage/ingest/pusher_test.go
  pkg/storage/ingest/reader_test.go
  pkg/storage/ingest/writer_test.go
  pkg/storage/tsdb/block/block_test.go
  pkg/storage/tsdb/block/index_test.go
  pkg/storage/tsdb/config_test.go
  pkg/storage/tsdb/users_scanner_test.go
  pkg/storegateway/bucket_chunk_reader_test.go
  pkg/storegateway/bucket_stores_test.go
  pkg/storegateway/bucket_test.go
  pkg/storegateway/gateway_test.go
  pkg/storegateway/indexcache/remote_test.go
  pkg/storegateway/indexheader/lazy_binary_reader_test.go
  pkg/storegateway/indexheader/reader_benchmarks_test.go
  pkg/storegateway/series_refs_test.go
  pkg/storegateway/sharding_strategy_test.go
  pkg/usagestats/seed_test.go
  pkg/util/flags_test.go
  pkg/util/gziphandler/gzip_test.go
  pkg/util/instrumentation/tracer_transport_test.go
  pkg/util/noauth/no_auth.go
  pkg/util/pool/fast_releasing_pool_test.go
  pkg/util/validation/exporter/exporter_test.go
  pkg/util/validation/exporter/ring_test.go
  pkg/util/version/info_handler.go
  tools/querytee/proxy_endpoint_test.go
Labels: chore

#7802 mimir-build-image: Upgrade to Go v1.22.2
  CHANGELOG.md
  Makefile
  mimir-build-image/Dockerfile
Labels: area/build

#7756 mimirtool: deprecate rule-files flag
  CHANGELOG.md
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/manage/tools/mimirtool.md
  pkg/mimirtool/commands/rules.go
Labels: component/mimirtool

#7816 Bump prometheus version to 2.51.1 in local dev
  development/mimir-microservices-mode/docker-compose.jsonnet
  development/mimir-microservices-mode/docker-compose.yml
  development/mimir-monolithic-mode-with-swift-storage/docker-compose.yml
  development/mimir-monolithic-mode/docker-compose.yml
Labels: chore

#7818 Helm: prep 5.3.0-rc.0 and release notes template and docs
  docs/sources/helm-charts/mimir-distributed/_index.md
  docs/sources/helm-charts/mimir-distributed/configure/configure-redis-cache.md
  docs/sources/helm-charts/mimir-distributed/release-notes/v5.3.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/configuration-with-helm.md
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/values.yaml
Labels: helm

#7834 helm 5.3: release notes suggestions
  docs/sources/helm-charts/mimir-distributed/release-notes/v5.3.md
Labels: helm

#7833 helm: clarify keda docs
  operations/helm/charts/mimir-distributed/values.yaml
Labels: helm

#7842 Release: Build continous-test image during release
  .github/workflows/scripts/build-images.sh
  Makefile
Labels: backport r285

#7852 Helm: release mimir-distributed-5.3
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
Labels: helm

#7864 Merge mimir distributed release 5.3 to main
  docs/sources/helm-charts/mimir-distributed/_index.md
  docs/sources/helm-charts/mimir-distributed/configure/configure-redis-cache.md
  docs/sources/helm-charts/mimir-distributed/release-notes/v5.3.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/configuration-with-helm.md
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/values.yaml
Labels: helm

#7866 test: fix `Test_shardActiveSeriesMiddleware_mergeResponse_contextCancellation` flakiness
  pkg/frontend/querymiddleware/shard_active_series_response_decoder.go
Labels: type/tests, component/query-frontend

#7881 Only count ingesters with tokens when calculating local limits
  CHANGELOG.md
  go.mod
  go.sum
  pkg/ingester/limiter.go
  pkg/ingester/limiter_test.go
  pkg/ingester/owned_series_test.go
  vendor/github.com/grafana/dskit/ring/model.go
  vendor/github.com/grafana/dskit/ring/replication_strategy.go
  vendor/github.com/grafana/dskit/ring/ring.go
  vendor/modules.txt
Labels: component/ingester

#7886 operations: Upgrade rollout-operator to v0.14.0
  CHANGELOG.md
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/Chart.lock
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/tests/enterprise-https-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/enterprise-https-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/gateway-enterprise-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/gateway-enterprise-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/keda-autoscaling-global-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/keda-autoscaling-global-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/keda-autoscaling-metamonitoring-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/keda-autoscaling-metamonitoring-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/keda-autoscaling-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/keda-autoscaling-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/openshift-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/openshift-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/scheduler-name-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/scheduler-name-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-enterprise-legacy-label-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-enterprise-legacy-label-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-ingress-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-ingress-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-oss-logical-multizone-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-oss-logical-multizone-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-oss-multizone-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-oss-multizone-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-oss-topology-spread-constraints-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-oss-topology-spread-constraints-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-requests-and-limits-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-requests-and-limits-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-vault-agent-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-vault-agent-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/mimir-tests/test-automated-downscale-generated.yaml
  operations/mimir-tests/test-compactor-concurrent-rollout-generated.yaml
  operations/mimir-tests/test-consul-multi-zone-generated.yaml
  operations/mimir-tests/test-deployment-mode-migration-generated.yaml
  operations/mimir-tests/test-multi-zone-generated.yaml
  operations/mimir-tests/test-multi-zone-with-ongoing-migration-generated.yaml
  operations/mimir-tests/test-multi-zone-with-store-gateway-automated-downscaling-generated.yaml
  operations/mimir-tests/test-read-write-deployment-mode-s3-autoscaled-generated.yaml
  operations/mimir-tests/test-read-write-deployment-mode-s3-caches-disabled-generated.yaml
  operations/mimir-tests/test-read-write-deployment-mode-s3-generated.yaml
  operations/mimir/images.libsonnet
Labels: chore, jsonnet, helm

#7896 Move changelog line to correct section
  operations/helm/charts/mimir-distributed/CHANGELOG.md
Labels: helm

#7893 Release mimir-distributed Helm chart 5.4.0-weekly.285
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/values.yaml
Labels: helm

#7917 Fix flakey TestIngester_Starting test
  pkg/ingester/ingester_test.go
Labels: component/ingester, type/tests

#7809 distributor: conditionally export replication factor; export ingest storage metric
  pkg/distributor/distributor.go
Labels: component/distributor

#7934 Helm: use mimir continuous test as module
  .github/workflows/scripts/helm-weekly-release.sh
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/RELEASE.md
  operations/helm/charts/mimir-distributed/templates/continuous_test/continuous-test-dep.yaml
  operations/helm/charts/mimir-distributed/templates/smoke-test/smoke-test-job.yaml
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/templates/smoke-test/smoke-test-job.yaml
  operations/helm/tests/keda-autoscaling-global-values-generated/mimir-distributed/templates/smoke-test/smoke-test-job.yaml
  operations/helm/tests/keda-autoscaling-metamonitoring-values-generated/mimir-distributed/templates/smoke-test/smoke-test-job.yaml
  operations/helm/tests/keda-autoscaling-values-generated/mimir-distributed/templates/smoke-test/smoke-test-job.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/templates/smoke-test/smoke-test-job.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/smoke-test/smoke-test-job.yaml
  operations/helm/tests/scheduler-name-values-generated/mimir-distributed/templates/smoke-test/smoke-test-job.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/templates/smoke-test/smoke-test-job.yaml
  operations/helm/tests/test-ingress-values-generated/mimir-distributed/templates/smoke-test/smoke-test-job.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/smoke-test/smoke-test-job.yaml
  operations/helm/tests/test-oss-logical-multizone-values-generated/mimir-distributed/templates/smoke-test/smoke-test-job.yaml
  operations/helm/tests/test-oss-multizone-values-generated/mimir-distributed/templates/smoke-test/smoke-test-job.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/smoke-test/smoke-test-job.yaml
  operations/helm/tests/test-requests-and-limits-values-generated/mimir-distributed/templates/smoke-test/smoke-test-job.yaml
  operations/helm/tests/test-vault-agent-values-generated/mimir-distributed/templates/smoke-test/smoke-test-job.yaml
Labels: helm

#7775 autoscaling: add querier predictive scaling
  CHANGELOG.md
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/querier/querier-so.yaml
  operations/helm/charts/mimir-distributed/values.yaml
  operations/mimir-tests/test-autoscaling-custom-target-utilization-generated.yaml
  operations/mimir-tests/test-autoscaling-generated.yaml
  operations/mimir-tests/test-autoscaling.jsonnet
  operations/mimir/autoscaling.libsonnet
Labels: jsonnet, helm

#7988 Fix metadata ingestion test flake
  pkg/ingester/ingester_test.go
  pkg/ingester/lifecycle_test.go
Labels: type/tests

#8000 Correct some error handling
  pkg/alertmanager/alertmanager.go
  pkg/ruler/remotequerier.go
  pkg/storage/tsdb/block/block_generator.go
Labels: bug

#7965 frontend: active series experimental custom decoder bugfix
  pkg/frontend/querymiddleware/shard_active_series_response_decoder.go
  pkg/frontend/querymiddleware/shard_active_series_response_decoder_test.go
Labels: bug, component/query-frontend

#7989 Distributor: Add limit for exemplar per series
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/configure/configuration-parameters/index.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/validate.go
  pkg/mimirpb/timeseries.go
  pkg/mimirpb/timeseries_test.go
  pkg/util/validation/limits.go
Labels: enhancement, component/distributor

#8007 [r288] frontend: active series experimental custom decoder bugfix (#7965)
  pkg/frontend/querymiddleware/shard_active_series_response_decoder.go
  pkg/frontend/querymiddleware/shard_active_series_response_decoder_test.go
Labels: backport

#8010 Distributor: change reason to too_many_exemplars_per_series_per_request for metrics cortex_discarded_exemplars_total
  CHANGELOG.md
  pkg/distributor/distributor_test.go
  pkg/distributor/validate.go
Labels: backport r288

#8003 Fix segmentation fault in Ingester.LabelValues response marshaling
  CHANGELOG.md
  pkg/ingester/ingester.go
Labels: component/ingester
