Repository grafana/mimir, pull requests merged in 2024-08, with the labels that each got.

#8021 [mimir-distributed-release-5.1] Replace docs/reference shortcode with ref URIs
  docs/sources/helm-charts/mimir-distributed/_index.md
  docs/sources/helm-charts/mimir-distributed/configure/configure-hashicorp-vault-agent.md
  docs/sources/helm-charts/mimir-distributed/configure/configure-native-histograms-ingestion.md
  docs/sources/helm-charts/mimir-distributed/configure/configure-redis-cache.md
  docs/sources/helm-charts/mimir-distributed/migration-guides/migrate-from-cortex.md
  docs/sources/helm-charts/mimir-distributed/migration-guides/migrate-from-single-zone-with-helm.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/_index.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/configuration-with-helm.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/configure-helm-ha-deduplication-consul/index.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/monitor-system-health.md
Labels: type/docs

#8891 Move ruler configuration validation to unit test
  integration/ruler_test.go
  pkg/ruler/ruler_test.go
Labels: type/tests, component/ruler

#8864 docs: native histogram migration alternatives
  CHANGELOG.md
  docs/sources/mimir/send/native-histograms/_index.md
Labels: type/docs

#8904 development: Remove version field from docker-compose.yml
  development/mimir-ingest-storage/docker-compose.jsonnet
  development/mimir-ingest-storage/docker-compose.yml
  development/mimir-microservices-mode/docker-compose.jsonnet
  development/mimir-microservices-mode/docker-compose.yml
  development/mimir-monolithic-mode-with-swift-storage/docker-compose.yml
  development/mimir-monolithic-mode/docker-compose.yml
  development/mimir-read-write-mode/docker-compose.jsonnet
  development/mimir-read-write-mode/docker-compose.yml
Labels: chore, docker

#8741 add read write values to continous-test
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/continuous_test/continuous-test-dep.yaml
  operations/helm/charts/mimir-distributed/values.yaml
Labels: enhancement, helm

#8986 Mimir query engine: pass enabled feature toggles to engine
  CHANGELOG.md
  pkg/querier/engine/config.go
Labels: backport r303

#8970 Adding ingester circuit breaker documentation
  docs/sources/mimir/configure/configure-ingester-circuit-breakers.md
Labels: type/docs

#9007 development/*/compose-up.sh: Execute Make in root directory
  development/mimir-ingest-storage/compose-up.sh
  development/mimir-microservices-mode/compose-up.sh
  development/mimir-read-write-mode/compose-up.sh
Labels: bug, area/build

#9010 helm: release 5.4.1
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/values.yaml
Labels: helm

#8507 HA Tracker enhanced election changes observability
  CHANGELOG.md
  pkg/distributor/ha_tracker.go
  pkg/distributor/ha_tracker.pb.go
  pkg/distributor/ha_tracker.proto
  pkg/distributor/ha_tracker_http.go
  pkg/distributor/ha_tracker_status.gohtml
  pkg/distributor/ha_tracker_test.go
Labels: component/distributor

#9015 Docs: fixes missing link
  docs/sources/helm-charts/mimir-distributed/_index.md
Labels: type/docs

#9050 Docs: Update title for ingester circuit breakers
  docs/sources/mimir/configure/about-ingester-circuit-breakers.md
Labels: type/docs

#9055 Fix flaky ring downscale handler test
  pkg/ingester/downscale_test.go
Labels: type/tests

#9058 astmapper: Fix test error message
  pkg/frontend/querymiddleware/astmapper/parallel_test.go
Labels: bug, type/tests, component/query-frontend

#9069 Clean up OTEL metadata option and code to be removed in 2.14
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/configuration-parameters/index.md
  integration/otlp_ingestion_test.go
  pkg/api/api.go
  pkg/api/api_test.go
  pkg/distributor/otel.go
  pkg/distributor/otel_test.go
  pkg/distributor/push_test.go
  pkg/frontend/querymiddleware/roundtrip.go
Labels: component/distributor, area/opentelemetry

#9082 mimir-build-image: Explicitly set GOTOOLCHAIN=local
  Makefile
  go.mod
  mimir-build-image/Dockerfile
Labels: area/build

#9129 querier: clamp start time for Series, LabelValues, LabelNames
  CHANGELOG.md
  pkg/querier/blocks_store_queryable.go
  pkg/querier/blocks_store_queryable_test.go
  pkg/querier/querier.go
  pkg/querier/querier_test.go
Labels: bug, component/querier
