Repository grafana/mimir, pull requests merged in 2024-02, with the labels that each got.

#7317 Compactor: Un-export symbols that don't need to be exported
  pkg/compactor/bucket_compactor.go
  pkg/compactor/bucket_compactor_e2e_test.go
  pkg/compactor/bucket_compactor_test.go
  pkg/compactor/compactor.go
  pkg/compactor/job.go
  pkg/compactor/job_test.go
  pkg/compactor/split_merge_grouper.go
Labels: chore, component/compactor

#7218 Helm - Templatable host for gateway ingress/route
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/gateway/gateway-ingress.yaml
  operations/helm/charts/mimir-distributed/templates/gateway/gateway-route.yaml
  operations/helm/charts/mimir-distributed/templates/ingress.yaml
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/gateway-enterprise-values-generated/mimir-distributed/templates/gateway/gateway-ingress.yaml
  operations/helm/tests/gateway-enterprise-values-generated/mimir-distributed/templates/gateway/gateway-route.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/templates/gateway/gateway-ingress.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/templates/gateway/gateway-route.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/gateway/gateway-ingress.yaml
Labels: enhancement, helm

#7327 [Docs] Update migrate-from-single-zone-with-helm.md
  CHANGELOG.md
  docs/sources/helm-charts/mimir-distributed/migration-guides/migrate-from-single-zone-with-helm.md
Labels: type/docs

#7321 Compactor: String format compaction plan as comma separated blocks
  pkg/compactor/bucket_compactor.go
Labels: enhancement, component/compactor

#7348 Docs: No longer mark OTLP endpoint as experimental
  CHANGELOG.md
  docs/sources/mimir/references/http-api/index.md
Labels: type/docs, component/distributor

#7366 Distributor: Make `-distributor.enable-otlp-metadata-storage` flag default to true, and deprecate
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/configure/configuration-parameters/index.md
  pkg/api/api.go
Labels: type/docs, component/distributor

#7325 Add new command on mimirtool used to render template
  CHANGELOG.md
  docs/sources/mimir/manage/tools/mimirtool.md
  pkg/alertmanager/alertmanager.go
  pkg/alertmanager/alertmanager_template.go
  pkg/alertmanager/alertmanager_template_test.go
  pkg/alertmanager/api.go
  pkg/mimirtool/commands/alerts.go
  pkg/mimirtool/commands/template_render.go
  pkg/mimirtool/commands/template_render_test.go
  pkg/mimirtool/commands/testdata/template/alert_data1.json
  pkg/mimirtool/commands/testdata/template/alert_data2.json
  pkg/mimirtool/commands/testdata/template/alertmanager_template1.tmpl
  pkg/mimirtool/commands/testdata/template/alertmanager_template2.tmpl
Labels: enhancement, component/alertmanager, component/mimirtool

#7375 added the right pointer for OTLP endpoint
  CHANGELOG.md
  docs/sources/mimir/configure/configure-otel-collector.md
  docs/sources/mimir/references/http-api/index.md
Labels: enhancement, type/docs, area/opentelemetry

#7452 query-tee: use X-Scope-OrgID for basic auth
  CHANGELOG.md
  tools/querytee/proxy.go
  tools/querytee/proxy_backend.go
  tools/querytee/proxy_backend_test.go
Labels: component/query-tee

#7475 Upgrade to latest mimir-prometheus@main
  CHANGELOG.md
  go.mod
  go.sum
  vendor/github.com/klauspost/compress/zlib/reader.go
  vendor/github.com/klauspost/compress/zlib/writer.go
  vendor/github.com/prometheus/common/config/http_config.go
  vendor/github.com/prometheus/common/expfmt/decode.go
  vendor/github.com/prometheus/common/expfmt/encode.go
  vendor/github.com/prometheus/common/expfmt/expfmt.go
  vendor/github.com/prometheus/common/expfmt/openmetrics_create.go
  vendor/github.com/prometheus/common/expfmt/text_create.go
  vendor/github.com/prometheus/common/model/labels.go
  vendor/github.com/prometheus/common/model/metric.go
  vendor/github.com/prometheus/prometheus/model/labels/labels_stringlabels.go
  vendor/github.com/prometheus/prometheus/model/metadata/metadata.go
  vendor/github.com/prometheus/prometheus/model/textparse/openmetricslex.l
  vendor/github.com/prometheus/prometheus/model/textparse/openmetricslex.l.go
  vendor/github.com/prometheus/prometheus/model/textparse/openmetricsparse.go
  vendor/github.com/prometheus/prometheus/model/textparse/promlex.l
  vendor/github.com/prometheus/prometheus/model/textparse/promlex.l.go
  vendor/github.com/prometheus/prometheus/model/textparse/promparse.go
  vendor/github.com/prometheus/prometheus/model/textparse/protobufparse.go
  vendor/github.com/prometheus/prometheus/promql/engine.go
  vendor/github.com/prometheus/prometheus/promql/parser/generated_parser.y
  vendor/github.com/prometheus/prometheus/promql/parser/generated_parser.y.go
  vendor/github.com/prometheus/prometheus/promql/parser/parse.go
  vendor/github.com/prometheus/prometheus/promql/testdata/functions.test
  vendor/github.com/prometheus/prometheus/rules/group.go
  vendor/github.com/prometheus/prometheus/scrape/scrape.go
  vendor/github.com/prometheus/prometheus/storage/remote/otlptranslator/prometheusremotewrite/helper.go
  vendor/github.com/prometheus/prometheus/storage/remote/otlptranslator/prometheusremotewrite/histograms.go
  vendor/github.com/prometheus/prometheus/storage/remote/otlptranslator/prometheusremotewrite/metrics_to_prw.go
  vendor/github.com/prometheus/prometheus/storage/remote/otlptranslator/prometheusremotewrite/number_data_points.go
  vendor/github.com/prometheus/prometheus/storage/remote/otlptranslator/prometheusremotewrite/otlp_to_openmetrics_metadata.go
  vendor/github.com/prometheus/prometheus/storage/remote/queue_manager.go
  vendor/github.com/prometheus/prometheus/storage/remote/write_handler.go
  vendor/github.com/prometheus/prometheus/tsdb/head.go
  vendor/github.com/prometheus/prometheus/tsdb/head_append.go
  vendor/github.com/prometheus/prometheus/tsdb/wlog/watcher.go
  vendor/github.com/prometheus/prometheus/util/httputil/compression.go
  vendor/github.com/prometheus/prometheus/util/testutil/cmp.go
  vendor/modules.txt
Labels: chore

#7421 Helm / Gateway: Allow to configure whether or not NGINX binds IPv6
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/values.yaml
Labels: enhancement, helm

#7480 fix: Update KEDA related information
  docs/sources/mimir/set-up/jsonnet/configure-autoscaling.md
Labels: backport release-2.11

#7498 Docs: Explain why types of caches should be separate
  docs/sources/mimir/manage/run-production-environment/production-tips/index.md
Labels: enhancement, type/docs
