Repository grafana/mimir, pull requests merged in 2024-11, with the labels that each got.

#9776 docs: clarify native histograms visualization and mark as experimental
  docs/sources/helm-charts/mimir-distributed/configure/configure-native-histograms-ingestion.md
  docs/sources/mimir/configure/configure-native-histograms-ingestion.md
  docs/sources/mimir/send/native-histograms/_index.md
  docs/sources/mimir/send/otel-exponential-histograms/_index.md
  docs/sources/mimir/visualize/native-histograms/_index.md
Labels: type/docs

#9763 Add support for lz4 algorithm to OTLP endpoint
  CHANGELOG.md
  go.mod
  pkg/distributor/otel.go
  pkg/distributor/otel_test.go
  pkg/util/http.go
Labels: enhancement, area/opentelemetry

#9673 helm: Add GEM federation-frontend resources
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/ci/offline/test-enterprise-federation-frontend-values.yaml
  operations/helm/charts/mimir-distributed/templates/_helpers.tpl
  operations/helm/charts/mimir-distributed/templates/federation-frontend/federation-frontend-dep.yaml
  operations/helm/charts/mimir-distributed/templates/federation-frontend/federation-frontend-pdb.yaml
  operations/helm/charts/mimir-distributed/templates/federation-frontend/federation-frontend-servmon.yaml
  operations/helm/charts/mimir-distributed/templates/federation-frontend/federation-frontend-svc.yaml
  operations/helm/charts/mimir-distributed/templates/minio/create-bucket-job.yaml
  operations/helm/charts/mimir-distributed/templates/validate.yaml
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/enterprise-https-values-generated/mimir-distributed/templates/minio/create-bucket-job.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/templates/minio/create-bucket-job.yaml
  operations/helm/tests/openshift-values-generated/mimir-distributed/templates/minio/create-bucket-job.yaml
  operations/helm/tests/scheduler-name-values-generated/mimir-distributed/templates/minio/create-bucket-job.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/templates/minio/create-bucket-job.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/charts/rollout_operator/templates/deployment.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/charts/rollout_operator/templates/role.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/charts/rollout_operator/templates/rolebinding.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/charts/rollout_operator/templates/serviceaccount.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/templates/admin-api/admin-api-dep.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/templates/admin-api/admin-api-pdb.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/templates/admin-api/admin-api-svc.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/templates/compactor/compactor-pdb.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/templates/compactor/compactor-statefulset.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/templates/compactor/compactor-svc.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/templates/distributor/distributor-dep.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/templates/distributor/distributor-pdb.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/templates/distributor/distributor-svc-headless.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/templates/distributor/distributor-svc.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/templates/federation-frontend/federation-frontend-dep.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/templates/federation-frontend/federation-frontend-pdb.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/templates/federation-frontend/federation-frontend-svc.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/templates/gateway/gateway-dep.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/templates/gateway/gateway-pdb.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/templates/gateway/gateway-svc.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/templates/gossip-ring/gossip-ring-svc.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/templates/ingester/ingester-pdb.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/templates/ingester/ingester-statefulset.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/templates/ingester/ingester-svc-headless.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/templates/ingester/ingester-svc.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/templates/license-secret.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/templates/podsecuritypolicy.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/templates/querier/querier-dep.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/templates/querier/querier-pdb.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/templates/querier/querier-svc.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/templates/query-frontend/query-frontend-dep.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/templates/query-frontend/query-frontend-pdb.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/templates/query-frontend/query-frontend-svc-headless.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/templates/query-frontend/query-frontend-svc.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/templates/role.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/templates/rolebinding.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/templates/runtime-configmap.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/templates/serviceaccount.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/templates/store-gateway/store-gateway-pdb.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/templates/store-gateway/store-gateway-statefulset.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/templates/store-gateway/store-gateway-svc-headless.yaml
  operations/helm/tests/test-enterprise-federation-frontend-values-generated/mimir-distributed/templates/store-gateway/store-gateway-svc.yaml
Labels: helm

#9874 MQE: fix `or` where both sides have series with the same labels
  CHANGELOG.md
  pkg/streamingpromql/operators/binops/or_binary_operation.go
  pkg/streamingpromql/operators/binops/or_binary_operation_test.go
  pkg/streamingpromql/testdata/ours/binary_operators.test
Labels: backport r313, backport r314, backport r315, backport r316

#9881 compactor: concurrently get deletion marks for blocks
  CHANGELOG.md
  pkg/compactor/blocks_cleaner.go
  pkg/compactor/blocks_cleaner_test.go
  pkg/compactor/compactor.go
  pkg/storage/tsdb/bucketindex/storage_test.go
  pkg/storage/tsdb/bucketindex/updater.go
  pkg/storage/tsdb/bucketindex/updater_test.go
  pkg/storegateway/gateway_test.go
  pkg/storegateway/metadata_fetcher_filters_test.go
Labels: component/compactor

#9896 Log fetched bucket index timestamps
  pkg/querier/blocks_finder_bucket_index.go
  pkg/storage/tsdb/bucketindex/loader.go
  pkg/storegateway/bucket_index_metadata_fetcher.go
  pkg/storegateway/bucket_index_metadata_fetcher_test.go
Labels: backport r314

#9208 Add ingester downscaling docs
  docs/sources/mimir/manage/run-production-environment/scaling-out.md
  docs/sources/mimir/set-up/jsonnet/migrate-from-microservices-to-read-write.md
Labels: type/docs

#9899 docs: updates note for helm bug workaround
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/_index.md
Labels: type/docs

#9856 Docs: rename scrape_native_histograms setting based on prometheus update
  docs/sources/mimir/send/native-histograms/_index.md
Labels: type/docs

#9938 Jsonnet: add support to deploy distributors in both single and multi AZ
  operations/mimir-tests/test-single-to-multi-zone-distributor-migration-generated.yaml
  operations/mimir-tests/test-single-to-multi-zone-distributor-migration.jsonnet
  operations/mimir/autoscaling.libsonnet
  operations/mimir/multi-zone-distributor.libsonnet
Labels: jsonnet

#9966 Optimize queries for (non-)empty labels
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/tsdb/block.go
  vendor/github.com/prometheus/prometheus/tsdb/head_read.go
  vendor/github.com/prometheus/prometheus/tsdb/index/index.go
  vendor/github.com/prometheus/prometheus/tsdb/index/postings.go
  vendor/github.com/prometheus/prometheus/tsdb/ooo_head_read.go
  vendor/github.com/prometheus/prometheus/tsdb/postings_for_matchers_cache.go
  vendor/github.com/prometheus/prometheus/tsdb/querier.go
  vendor/modules.txt
Labels: type/performance, component/querier

#8319 Inform reader about get started with mimir tutorial directory changes
  CHANGELOG.md
  docs/sources/mimir/get-started/_index.md
Labels: release/notified-changelog-cut

#9984 fix incorrectly set query frontend codec lookback delta
  CHANGELOG.md
  pkg/mimir/modules.go
Labels: type/bug

#8271 Add OTel resource attribute promotion feature
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/configure/configuration-parameters/index.md
  pkg/api/api.go
  pkg/distributor/distributor.go
  pkg/distributor/otel.go
  pkg/distributor/otel_test.go
  pkg/distributor/push_test.go
  pkg/util/validation/limits.go
Labels: enhancement, release/notified-changelog-cut, area/opentelemetry

#9991 Distributor: Restore use of spanLogger in OTLP code
  pkg/distributor/otel.go
Labels: bug, component/distributor

#9998 MQE: fix issue where subqueries could return series with no points
  CHANGELOG.md
  pkg/streamingpromql/engine_test.go
  pkg/streamingpromql/query.go
  pkg/streamingpromql/testdata/ours/subqueries.test
Labels: backport r314, backport r315, backport r316, backport r317

#9988 integration: Simplify ruler test assertions, fix comment
  integration/ruler_test.go
Labels: type/tests, component/ruler

#9907 Docs/support escalations 11817
  docs/sources/mimir/configure/configure-otel-collector.md
Labels: type/docs

#9945 ruler: Support OAuth2 and proxies in Alertmanager client
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/mimir/configure/configuration-parameters/index.md
  pkg/ruler/notifier.go
  pkg/ruler/notifier_test.go
Labels: component/ruler

#10043 ruler: Register custom discovery config
  pkg/ruler/service_discovery.go
Labels: bug, component/ruler
