Repository grafana/mimir, pull requests merged in 2024-03, with the labels that each got.

#7487 querier: fix remote read error translation
  integration/e2emimir/client.go
  integration/querier_remote_read_test.go
  integration/query_frontend_test.go
  pkg/querier/api/api.go
  pkg/querier/remote_read.go
  pkg/querier/remote_read_test.go
Labels: bug, component/querier

#7541 Upgrade mimir-prometheus to latest main
  CHANGELOG.md
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/promql/parser/parse.go
  vendor/modules.txt
Labels: bug, backport r280

#7599 Update the release version in CHANGELOG.md and VERSION
  CHANGELOG.md
  VERSION
Labels: release

#7610 Merge release-2.12 to main
  VERSION
  docs/sources/mimir/manage/monitor-grafana-mimir/dashboards/alertmanager-resources/mimir-alertmanager-resources.png
  docs/sources/mimir/manage/monitor-grafana-mimir/dashboards/alertmanager/mimir-alertmanager.png
  docs/sources/mimir/manage/monitor-grafana-mimir/dashboards/compactor-resources/mimir-compactor-resources.png
  docs/sources/mimir/manage/monitor-grafana-mimir/dashboards/compactor/mimir-compactor.png
  docs/sources/mimir/manage/monitor-grafana-mimir/dashboards/config/mimir-config.png
  docs/sources/mimir/manage/monitor-grafana-mimir/dashboards/object-store/mimir-object-store.png
  docs/sources/mimir/manage/monitor-grafana-mimir/dashboards/overrides/mimir-overrides.png
  docs/sources/mimir/manage/monitor-grafana-mimir/dashboards/overview-networking/mimir-overview-networking.png
  docs/sources/mimir/manage/monitor-grafana-mimir/dashboards/overview-resources/mimir-overview-resources.png
  docs/sources/mimir/manage/monitor-grafana-mimir/dashboards/overview/mimir-overview.png
  docs/sources/mimir/manage/monitor-grafana-mimir/dashboards/queries/mimir-queries.png
  docs/sources/mimir/manage/monitor-grafana-mimir/dashboards/reads-networking/mimir-reads-networking.png
  docs/sources/mimir/manage/monitor-grafana-mimir/dashboards/reads-resources/mimir-reads-resources.png
  docs/sources/mimir/manage/monitor-grafana-mimir/dashboards/reads/mimir-reads.png
  docs/sources/mimir/manage/monitor-grafana-mimir/dashboards/remote-ruler-reads-resources/mimir-remote-ruler-reads-resources.png
  docs/sources/mimir/manage/monitor-grafana-mimir/dashboards/remote-ruler-reads/mimir-remote-ruler-reads.png
  docs/sources/mimir/manage/monitor-grafana-mimir/dashboards/rollout-progress/mimir-rollout-progress.png
  docs/sources/mimir/manage/monitor-grafana-mimir/dashboards/ruler/mimir-ruler.png
  docs/sources/mimir/manage/monitor-grafana-mimir/dashboards/scaling/mimir-scaling.png
  docs/sources/mimir/manage/monitor-grafana-mimir/dashboards/tenants/mimir-tenants.png
  docs/sources/mimir/manage/monitor-grafana-mimir/dashboards/writes-networking/mimir-writes-networking.png
  docs/sources/mimir/manage/monitor-grafana-mimir/dashboards/writes-resources/mimir-writes-resources.png
  docs/sources/mimir/manage/monitor-grafana-mimir/dashboards/writes/mimir-writes.png
Labels: release

#7612 Fixing the wrong version
  VERSION
Labels: release

#7520 Check max encoded length before attempting snappy.Encode
  CHANGELOG.md
  pkg/storegateway/snappy_gob_codec.go
  pkg/storegateway/snappy_gob_codec_test.go
  pkg/util/http.go
  pkg/util/http_test.go
Labels: release/notified-changelog-cut

#7632 [Helm] Fix admin-cache max connections
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/ci/test-enterprise-configmap-values.yaml
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/admin-cache/admin-cache-pdb.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/admin-cache/admin-cache-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/admin-cache/admin-cache-svc-headless.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/chunks-cache/chunks-cache-pdb.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/chunks-cache/chunks-cache-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/chunks-cache/chunks-cache-svc-headless.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/index-cache/index-cache-pdb.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/index-cache/index-cache-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/index-cache/index-cache-svc-headless.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/metadata-cache/metadata-cache-pdb.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/metadata-cache/metadata-cache-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/metadata-cache/metadata-cache-svc-headless.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/results-cache/results-cache-pdb.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/results-cache/results-cache-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/results-cache/results-cache-svc-headless.yaml
Labels: backport mimir-distributed-release-5.2

#7346 querytee: Add support to log comparatively slow queries
  CHANGELOG.md
  docs/sources/mimir/manage/tools/query-tee.md
  tools/querytee/proxy.go
  tools/querytee/proxy_endpoint.go
  tools/querytee/proxy_endpoint_test.go
Labels: release/notified-changelog-cut

#7671 Update VERSION for release 2.12.0-rc.1
  VERSION
Labels: release

#7672 Merge release-2.12 to main
  CHANGELOG.md
Labels: release

#7681 Docs: Fix typos in configure-custom-trackers.md
  docs/sources/mimir/configure/configure-custom-trackers.md
Labels: type/docs

#7679 helm: fix kedaAutoscaling CPU threshold calculation
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/_helpers.tpl
  operations/helm/charts/mimir-distributed/templates/distributor/distributor-so.yaml
  operations/helm/charts/mimir-distributed/templates/query-frontend/query-frontend-so.yaml
  operations/helm/charts/mimir-distributed/templates/ruler/ruler-so.yaml
  operations/helm/tests/keda-autoscaling-global-values-generated/mimir-distributed/templates/distributor/distributor-so.yaml
  operations/helm/tests/keda-autoscaling-global-values-generated/mimir-distributed/templates/query-frontend/query-frontend-so.yaml
  operations/helm/tests/keda-autoscaling-global-values-generated/mimir-distributed/templates/ruler/ruler-so.yaml
  operations/helm/tests/keda-autoscaling-metamonitoring-values-generated/mimir-distributed/templates/distributor/distributor-so.yaml
  operations/helm/tests/keda-autoscaling-metamonitoring-values-generated/mimir-distributed/templates/query-frontend/query-frontend-so.yaml
  operations/helm/tests/keda-autoscaling-metamonitoring-values-generated/mimir-distributed/templates/ruler/ruler-so.yaml
  operations/helm/tests/keda-autoscaling-values-generated/mimir-distributed/templates/distributor/distributor-so.yaml
  operations/helm/tests/keda-autoscaling-values-generated/mimir-distributed/templates/query-frontend/query-frontend-so.yaml
  operations/helm/tests/keda-autoscaling-values-generated/mimir-distributed/templates/ruler/ruler-so.yaml
Labels: bug, helm

#7209 Add a histogram to observe wait time when kicking off mergeQuerier jobs
  CHANGELOG.md
  pkg/querier/tenantfederation/merge_queryable.go
Labels: release/notified-changelog-cut

#7675 Doc updates about Compactor storage as it relates to Kubernetes
  CHANGELOG.md
  docs/sources/helm-charts/mimir-distributed/migration-guides/migrate-from-cortex.md
  docs/sources/mimir/get-started/about-grafana-mimir-architecture/index.md
  docs/sources/mimir/manage/mimir-runbooks/_index.md
  docs/sources/mimir/references/architecture/components/compactor/index.md
Labels: type/docs
