Repository grafana/mimir, pull requests merged in 2024-06, with the labels that each got.

#8183 Correct minor typo error
  docs/internal/contributing/how-integration-tests-work.md
Labels: type/docs

#8272 otlp: Fix generating of OTLP code
  Makefile
  pkg/distributor/otlp/generate.sh
Labels: bug, area/build

#8279 usage stats: report active series
  CHANGELOG.md
  docs/sources/mimir/configure/about-anonymous-usage-statistics-reporting.md
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
Labels: component/usage-stats

#8020 Replace docs/reference shortcode with ref URIs
  docs/sources/helm-charts/mimir-distributed/_index.md
  docs/sources/helm-charts/mimir-distributed/configure/configure-hashicorp-vault-agent.md
  docs/sources/helm-charts/mimir-distributed/configure/configure-native-histograms-ingestion.md
  docs/sources/helm-charts/mimir-distributed/configure/configure-redis-cache.md
  docs/sources/helm-charts/mimir-distributed/migration-guides/migrate-from-cortex.md
  docs/sources/helm-charts/mimir-distributed/migration-guides/migrate-from-single-zone-with-helm.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/_index.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/configuration-with-helm.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/configure-helm-ha-deduplication-consul/index.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/monitor-system-health.md
Labels: type/docs

#8066 Use grafana configuration in the Alertmanager
  go.mod
  pkg/alertmanager/alertmanager.go
  pkg/alertmanager/alertspb/compat.go
  pkg/alertmanager/config.go
  pkg/alertmanager/log.go
  pkg/alertmanager/multitenant.go
  pkg/alertmanager/multitenant_test.go
Labels: component/alertmanager

#8327 Update mimir-prometheus to incl MemPostings improvements
  CHANGELOG.md
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/promql/promqltest/testdata/native_histograms.test
  vendor/github.com/prometheus/prometheus/tsdb/index/postings.go
  vendor/modules.txt
Labels: backport r292, backport r291, backport r293

#8363 Fix reporting of HTTP error messages with binary body content
  CHANGELOG.md
  go.mod
  go.sum
  pkg/distributor/otel.go
  pkg/distributor/push_test.go
  vendor/github.com/grafana/dskit/httpgrpc/httpgrpc.go
  vendor/github.com/grafana/dskit/httpgrpc/server/server.go
  vendor/modules.txt
Labels: backport r293, backport r294

#8268 docs: Document option server.log-source-ips-full
  CHANGELOG.md
  docs/sources/mimir/configure/about-ip-address-logging.md
Labels: type/docs

#8342 frontend: allow injecting custom middlewares
  pkg/frontend/querymiddleware/codec.go
  pkg/frontend/querymiddleware/codec_json_test.go
  pkg/frontend/querymiddleware/codec_protobuf_test.go
  pkg/frontend/querymiddleware/codec_test.go
  pkg/frontend/querymiddleware/model.pb.go
  pkg/frontend/querymiddleware/model.proto
  pkg/frontend/querymiddleware/model_extra.go
  pkg/frontend/querymiddleware/remote_read.go
  pkg/frontend/querymiddleware/results_cache_test.go
  pkg/frontend/querymiddleware/roundtrip.go
  pkg/frontend/querymiddleware/sharded_queryable.go
  pkg/frontend/querymiddleware/sharded_queryable_test.go
Labels: component/query-frontend

#8385 mimir-build-image: Upgrade golangci-lint
  Makefile
  mimir-build-image/Dockerfile
  pkg/alertmanager/alertmanager.go
  pkg/alertmanager/sender_test.go
  pkg/distributor/otel_test.go
  pkg/distributor/push_test.go
  pkg/frontend/querymiddleware/remote_read.go
  pkg/frontend/querymiddleware/remote_read_test.go
  pkg/ingester/ingester_test.go
  pkg/mimirpb/compat_test.go
  pkg/mimirpb/timeseries_test.go
  pkg/querier/api/consistency_test.go
  pkg/storegateway/indexcache/cache.go
  pkg/storegateway/indexcache/inmemory.go
  pkg/streamingpromql/functions/common.go
  pkg/streamingpromql/operators/function_over_instant_vector_test.go
Labels: chore

#8395 Remove buffered logger flag
  CHANGELOG.md
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/main.go
  docs/sources/mimir/configure/about-versioning.md
Labels: backport r295

#6646 Enable streaming chunks from store-gateways to queriers by default
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/configure/configuration-parameters/index.md
  integration/querier_test.go
  pkg/querier/querier.go
Labels: release/notified-changelog-cut

#8400 Promote experimental features to stable
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/configure/configuration-parameters/index.md
  pkg/querier/tenantfederation/tenant_federation.go
  pkg/util/validation/limits.go
Labels: backport r295

#8416 golangci-lint: Enable loggercheck linter
  .golangci.yml
  pkg/mimir/mimir.go
Labels: area/build

#8411 Update the spread-minimizing token migration documentation
  docs/sources/mimir/configure/configure-spread-minimizing-tokens/index.md
Labels: type/docs

#7960 Add client_max_body_size to helm / nginxconf
  docs/sources/mimir/set-up/migrate/migrate-from-thanos-or-prometheus.md
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/templates/gateway/nginx-configmap.yaml
Labels: enhancement, helm

#8459 2.13 release: tidy up & cut changelog
  CHANGELOG.md
Labels: release

#8463 Return only samples within the queried start/end time range when executing a remote read request using SAMPLES mode
  CHANGELOG.md
  integration/querier_remote_read_test.go
  pkg/querier/remote_read.go
  pkg/querier/remote_read_test.go
Labels: release/notified-changelog-cut

#8451 Query scheduler: Fix a panic race in request queue handling
  CHANGELOG.md
  pkg/scheduler/queue/queue.go
  pkg/scheduler/queue/queue_test.go
Labels: release/notified-changelog-cut

#8360 Streaming engine: Native histogram aggregations
  CHANGELOG.md
  pkg/streamingpromql/engine_test.go
  pkg/streamingpromql/operators/aggregation.go
  pkg/streamingpromql/pooling/limiting_pool.go
  pkg/streamingpromql/pooling/limiting_pool_test.go
  pkg/streamingpromql/testdata/ours/aggregators.test
  pkg/streamingpromql/types/data.go
Labels: release/notified-changelog-cut

#8486 [ENHANCEMENT] Improve documents readability
  docs/sources/mimir/set-up/migrate/migrate-from-thanos-or-prometheus.md
Labels: type/docs

#7674 dashboards: overview: qps and latency w/ cortex_request_duration_seconds
  CHANGELOG.md
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/grafana-dashboards.yaml
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-overview.json
  operations/mimir-mixin-compiled/dashboards/mimir-overview.json
  operations/mimir-mixin/dashboards/dashboard-queries.libsonnet
  operations/mimir-mixin/dashboards/dashboard-utils.libsonnet
  operations/mimir-mixin/dashboards/overview.libsonnet
  operations/mimir-mixin/jsonnetfile.lock.json
Labels: release/notified-changelog-cut

#8468 Alertmanager: Use the Alertmanager's userID in ApplyConfig
  pkg/alertmanager/alertmanager.go
  pkg/alertmanager/alertmanager_test.go
  pkg/alertmanager/multitenant.go
Labels: component/alertmanager

#8461 Update RELEASE.md: helm release & feature lifecycle
  RELEASE.md
Labels: release

#8465 Alertmanager: Add default Grafana template string
  pkg/alertmanager/alertmanager.go
  pkg/alertmanager/alertmanager_test.go
  pkg/alertmanager/alertspb/alerts.pb.go
  pkg/alertmanager/alertspb/alerts.proto
  pkg/alertmanager/alertspb/compat.go
  pkg/alertmanager/api_grafana.go
  pkg/alertmanager/api_grafana_test.go
  pkg/alertmanager/multitenant.go
  pkg/alertmanager/multitenant_test.go
Labels: component/alertmanager

#8380 store-gateway: don't wait on lazy loading if queries are canceled
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_index_postings.go
  pkg/storegateway/bucket_index_reader.go
  pkg/storegateway/bucket_test.go
  pkg/storegateway/indexheader/header.go
  pkg/storegateway/indexheader/header_test.go
  pkg/storegateway/indexheader/lazy_binary_reader.go
  pkg/storegateway/indexheader/lazy_binary_reader_test.go
  pkg/storegateway/indexheader/reader_benchmarks_test.go
  pkg/storegateway/indexheader/reader_pool.go
  pkg/storegateway/indexheader/reader_pool_test.go
  pkg/storegateway/indexheader/stream_binary_reader.go
  pkg/storegateway/series_refs.go
  pkg/util/test/leak.go
Labels: component/store-gateway

#8524 Upgrade to latest mimir-prometheus
  CHANGELOG.md
  go.mod
  go.sum
  pkg/distributor/otel.go
  pkg/distributor/otlp/context_generated.go
  pkg/distributor/otlp/helper_generated.go
  pkg/distributor/otlp/histograms_generated.go
  pkg/distributor/otlp/metrics_to_prw_generated.go
  pkg/distributor/otlp/number_data_points_generated.go
  vendor/github.com/prometheus/prometheus/storage/remote/otlptranslator/prometheusremotewrite/context.go
  vendor/github.com/prometheus/prometheus/storage/remote/otlptranslator/prometheusremotewrite/helper.go
  vendor/github.com/prometheus/prometheus/storage/remote/otlptranslator/prometheusremotewrite/histograms.go
  vendor/github.com/prometheus/prometheus/storage/remote/otlptranslator/prometheusremotewrite/metrics_to_prw.go
  vendor/github.com/prometheus/prometheus/storage/remote/otlptranslator/prometheusremotewrite/number_data_points.go
  vendor/github.com/prometheus/prometheus/storage/remote/write_handler.go
  vendor/modules.txt
Labels: enhancement, component/distributor, area/opentelemetry

#8546 store-gateway: dont leak goroutines when preloading
  pkg/storegateway/series_chunks.go
  pkg/storegateway/series_chunks_test.go
Labels: component/store-gateway
