Repository grafana/mimir, pull requests merged in 2024-05, with the labels that each got.

#8016 feat(helm): Add volumeClaimTemplates to memcache
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/memcached/_memcached-statefulset.tpl
  operations/helm/charts/mimir-distributed/values.yaml
Labels: enhancement, helm

#8033 helm docs: clarify the chart can run on read-only filesystems
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/_index.md
Labels: type/docs, helm

#7777 store-gateway: add timeout to query gate wait
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/configuration-parameters/index.md
  pkg/querier/blocks_store_queryable_test.go
  pkg/storage/tsdb/config.go
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_store_server_test.go
  pkg/storegateway/bucket_stores.go
  pkg/storegateway/bucket_test.go
  pkg/storegateway/error.go
Labels: component/store-gateway

#8049 Fix flaky TestOwnedSeriesIngesterRingStrategyRingChanged
  pkg/ingester/owned_series_test.go
Labels: component/ingester

#6966 Update gateway-svc.yaml
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/gateway/gateway-svc.yaml
Labels: helm

#7529 Reduce memory allocations in functions used to propagate contextual information between gRPC calls
  CHANGELOG.md
  Makefile
  pkg/querier/api/consistency.go
  pkg/querier/api/consistency_test.go
  pkg/storegateway/bucket_stores.go
  pkg/util/extract_forwarded.go
Labels: release/notified-changelog-cut

#8075 query-frontend: stop using creation_grace_period to limit query length
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/configuration-parameters/index.md
  pkg/frontend/querymiddleware/limits.go
  pkg/frontend/querymiddleware/limits_test.go
  pkg/util/validation/limits.go
Labels: component/query-frontend

#8089 Upgrade to latest mimir-prometheus
  CHANGELOG.md
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/model/labels/regexp.go
  vendor/github.com/prometheus/prometheus/promql/engine.go
  vendor/github.com/prometheus/prometheus/storage/remote/otlptranslator/prometheusremotewrite/metrics_to_prw.go
  vendor/github.com/prometheus/prometheus/storage/remote/otlptranslator/prometheusremotewrite/timeseries.go
  vendor/github.com/prometheus/prometheus/tsdb/chunkenc/bstream.go
  vendor/github.com/prometheus/prometheus/tsdb/chunkenc/chunk.go
  vendor/github.com/prometheus/prometheus/tsdb/chunkenc/float_histogram.go
  vendor/github.com/prometheus/prometheus/tsdb/chunkenc/histogram.go
  vendor/github.com/prometheus/prometheus/tsdb/chunkenc/xor.go
  vendor/modules.txt
Labels: chore

#8048 Add 'promoted' bool field to Grafana state and configuration
  pkg/alertmanager/alertspb/alerts.pb.go
  pkg/alertmanager/alertspb/alerts.proto
  pkg/alertmanager/alertspb/compat.go
  pkg/alertmanager/api_grafana.go
  pkg/alertmanager/api_grafana_test.go
Labels: component/alertmanager

#8106 Upgrade mimir-prometheus to latest main
  CHANGELOG.md
  go.mod
  go.sum
  pkg/streamingpromql/engine_test.go
  vendor/github.com/hashicorp/go-version/CHANGELOG.md
  vendor/github.com/hashicorp/go-version/LICENSE
  vendor/github.com/hashicorp/go-version/README.md
  vendor/github.com/hashicorp/go-version/constraint.go
  vendor/github.com/hashicorp/go-version/version.go
  vendor/github.com/hashicorp/go-version/version_collection.go
  vendor/github.com/prometheus/prometheus/model/relabel/relabel.go
  vendor/github.com/prometheus/prometheus/promql/engine.go
  vendor/github.com/prometheus/prometheus/promql/functions.go
  vendor/github.com/prometheus/prometheus/promql/promqltest/test.go
  vendor/github.com/prometheus/prometheus/promql/promqltest/testdata/aggregators.test
  vendor/github.com/prometheus/prometheus/promql/promqltest/testdata/at_modifier.test
  vendor/github.com/prometheus/prometheus/promql/promqltest/testdata/collision.test
  vendor/github.com/prometheus/prometheus/promql/promqltest/testdata/functions.test
  vendor/github.com/prometheus/prometheus/promql/promqltest/testdata/histograms.test
  vendor/github.com/prometheus/prometheus/promql/promqltest/testdata/literals.test
  vendor/github.com/prometheus/prometheus/promql/promqltest/testdata/native_histograms.test
  vendor/github.com/prometheus/prometheus/promql/promqltest/testdata/operators.test
  vendor/github.com/prometheus/prometheus/promql/promqltest/testdata/selectors.test
  vendor/github.com/prometheus/prometheus/promql/promqltest/testdata/staleness.test
  vendor/github.com/prometheus/prometheus/promql/promqltest/testdata/subquery.test
  vendor/github.com/prometheus/prometheus/promql/promqltest/testdata/trig_functions.test
  vendor/github.com/prometheus/prometheus/promql/quantile.go
  vendor/github.com/prometheus/prometheus/storage/remote/otlptranslator/prometheus/normalize_label.go
  vendor/github.com/prometheus/prometheus/storage/remote/otlptranslator/prometheus/normalize_name.go
  vendor/github.com/prometheus/prometheus/storage/series.go
  vendor/github.com/prometheus/prometheus/tsdb/block.go
  vendor/github.com/prometheus/prometheus/tsdb/blockwriter.go
  vendor/github.com/prometheus/prometheus/tsdb/chunkenc/varbit.go
  vendor/github.com/prometheus/prometheus/tsdb/chunks/chunks.go
  vendor/github.com/prometheus/prometheus/tsdb/chunks/head_chunks.go
  vendor/github.com/prometheus/prometheus/tsdb/compact.go
  vendor/github.com/prometheus/prometheus/tsdb/db.go
  vendor/github.com/prometheus/prometheus/tsdb/exemplar.go
  vendor/github.com/prometheus/prometheus/tsdb/head_append.go
  vendor/github.com/prometheus/prometheus/tsdb/head_read.go
  vendor/github.com/prometheus/prometheus/tsdb/head_wal.go
  vendor/github.com/prometheus/prometheus/tsdb/index/index.go
  vendor/github.com/prometheus/prometheus/tsdb/index/postings.go
  vendor/github.com/prometheus/prometheus/tsdb/ooo_head_read.go
  vendor/github.com/prometheus/prometheus/tsdb/postings_for_matchers_cache.go
  vendor/github.com/prometheus/prometheus/tsdb/querier.go
  vendor/github.com/prometheus/prometheus/tsdb/record/record.go
  vendor/github.com/prometheus/prometheus/util/almost/almost.go
  vendor/go.opentelemetry.io/collector/featuregate/LICENSE
  vendor/go.opentelemetry.io/collector/featuregate/Makefile
  vendor/go.opentelemetry.io/collector/featuregate/README.md
  vendor/go.opentelemetry.io/collector/featuregate/flag.go
  vendor/go.opentelemetry.io/collector/featuregate/gate.go
  vendor/go.opentelemetry.io/collector/featuregate/registry.go
  vendor/go.opentelemetry.io/collector/featuregate/stage.go
  vendor/modules.txt
Labels: chore

#8103 Add webhook sender for Alertmanager notifications
  pkg/alertmanager/sender.go
  pkg/alertmanager/sender_test.go
  vendor/github.com/grafana/alerting/logging/log.go
  vendor/github.com/grafana/alerting/receivers/base.go
  vendor/github.com/grafana/alerting/receivers/config_util.go
  vendor/github.com/grafana/alerting/receivers/email.go
  vendor/github.com/grafana/alerting/receivers/number.go
  vendor/github.com/grafana/alerting/receivers/testing.go
  vendor/github.com/grafana/alerting/receivers/util.go
  vendor/github.com/grafana/alerting/receivers/webhook.go
  vendor/modules.txt
Labels: component/alertmanager

#8082 distributor: allow enforcing maximum buffer size for write request pool
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/configure/configuration-parameters/index.md
  pkg/api/api.go
  pkg/distributor/distributor.go
  pkg/distributor/otel.go
  pkg/distributor/otel_test.go
  pkg/distributor/push.go
  pkg/distributor/push_test.go
  pkg/ingester/client/client_test.go
  pkg/querier/remote_read.go
  pkg/util/http.go
  pkg/util/http_test.go
  pkg/util/requestbuffers.go
  pkg/util/requestbuffers_test.go
  tools/trafficdump/parser.go
Labels: component/distributor

#8117 fix flaky `TestRequestBuffers`
  pkg/util/requestbuffers_test.go
Labels: type/tests

#8123 mimirtool: Add runtime-config verify sub-command
  CHANGELOG.md
  cmd/mimirtool/main.go
  pkg/mimir/mimir.go
  pkg/mimir/modules.go
  pkg/mimir/runtime_config.go
  pkg/mimirtool/commands/config.go
  pkg/mimirtool/commands/runtimeconfig.go
  pkg/mimirtool/commands/runtimeconfig_test.go
  pkg/mimirtool/commands/testdata/runtimeconfig/invalid.yaml
  pkg/mimirtool/commands/testdata/runtimeconfig/valid.yaml
Labels: enhancement, component/mimirtool

#8084 ingester: reduce active series when series change owner
  CHANGELOG.md
  pkg/ingester/activeseries/active_series.go
  pkg/ingester/activeseries/active_series_test.go
  pkg/ingester/owned_series_test.go
  pkg/ingester/user_tsdb.go
Labels: component/ingester

#8141 Update mimir-prometheus at e5b85c151ba8
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/model/labels/matcher.go
  vendor/github.com/prometheus/prometheus/model/relabel/relabel.go
  vendor/github.com/prometheus/prometheus/tsdb/index/index.go
  vendor/github.com/prometheus/prometheus/tsdb/index/postings.go
  vendor/github.com/prometheus/prometheus/tsdb/querier.go
  vendor/github.com/prometheus/prometheus/util/testutil/context.go
  vendor/modules.txt
Labels: chore

#8022 [mimir-distributed-release-5.2] Replace docs/reference shortcode with ref URIs
  docs/sources/helm-charts/mimir-distributed/_index.md
  docs/sources/helm-charts/mimir-distributed/configure/configure-hashicorp-vault-agent.md
  docs/sources/helm-charts/mimir-distributed/configure/configure-native-histograms-ingestion.md
  docs/sources/helm-charts/mimir-distributed/configure/configure-redis-cache.md
  docs/sources/helm-charts/mimir-distributed/migration-guides/migrate-from-cortex.md
  docs/sources/helm-charts/mimir-distributed/migration-guides/migrate-from-single-zone-with-helm.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/_index.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/configuration-with-helm.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/configure-helm-ha-deduplication-consul/index.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/monitor-system-health.md
Labels: type/docs

#8149 Fix race between timeout gate timing out and delegated gate returning successfully
  CHANGELOG.md
  pkg/storegateway/bucket_stores.go
  pkg/storegateway/bucket_stores_test.go
Labels: backport r290, backport r289

#8138 store-gateway: Add timeout for index-header loading gate
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/configure/configuration-parameters/index.md
  pkg/storegateway/bucket_stores.go
  pkg/storegateway/indexheader/header.go
Labels: postmortem

#8155 docs: Remove references to mmap in store-gateway
  docs/sources/mimir/references/architecture/components/store-gateway.md
Labels: type/docs

#8160 Add note to docs clarifying storage buckets have to be created manually
  docs/sources/mimir/configure/configure-object-storage-backend.md
Labels: type/docs

#8162 query-frontend: correctly replace `@` modifier for split queries
  CHANGELOG.md
  pkg/frontend/querymiddleware/astmapper/instant_splitting_test.go
  pkg/frontend/querymiddleware/split_and_cache.go
  pkg/frontend/querymiddleware/split_and_cache_test.go
Labels: bug, component/query-frontend

#8175 mixin dashbaords: add support for ingest storage replication
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/grafana-dashboards.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/mixin-alerts.yaml
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-tenants.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-top-tenants.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-writes.json
  operations/mimir-mixin-compiled/alerts.yaml
  operations/mimir-mixin-compiled/dashboards/mimir-tenants.json
  operations/mimir-mixin-compiled/dashboards/mimir-top-tenants.json
  operations/mimir-mixin-compiled/dashboards/mimir-writes.json
  operations/mimir-mixin/dashboards/dashboard-queries.libsonnet
  operations/mimir-mixin/dashboards/tenants.libsonnet
  operations/mimir-mixin/dashboards/top-tenants.libsonnet
  operations/mimir-mixin/dashboards/writes.libsonnet
Labels: mixin

#8143 Use our Alertmanager fork
  go.mod
  go.sum
  pkg/alertmanager/api_grafana_test.go
  vendor/github.com/grafana/alerting/definition/alertmanager.go
  vendor/github.com/prometheus/alertmanager/api/v1_deprecation_router.go
  vendor/github.com/prometheus/alertmanager/api/v2/api.go
  vendor/github.com/prometheus/alertmanager/cluster/channel.go
  vendor/github.com/prometheus/alertmanager/cluster/cluster.go
  vendor/github.com/prometheus/alertmanager/cluster/delegate.go
  vendor/github.com/prometheus/alertmanager/config/config.go
  vendor/github.com/prometheus/alertmanager/config/notifiers.go
  vendor/github.com/prometheus/alertmanager/dispatch/route.go
  vendor/github.com/prometheus/alertmanager/matchers/parse/lexer.go
  vendor/github.com/prometheus/alertmanager/matchers/parse/parse.go
  vendor/github.com/prometheus/alertmanager/nflog/nflog.go
  vendor/github.com/prometheus/alertmanager/notify/email/email.go
  vendor/github.com/prometheus/alertmanager/notify/notify.go
  vendor/github.com/prometheus/alertmanager/notify/util.go
  vendor/github.com/prometheus/alertmanager/notify/webex/webex.go
  vendor/github.com/prometheus/alertmanager/notify/webhook/webhook.go
  vendor/github.com/prometheus/alertmanager/pkg/labels/parse.go
  vendor/github.com/prometheus/alertmanager/provider/mem/mem.go
  vendor/github.com/prometheus/alertmanager/provider/provider.go
  vendor/github.com/prometheus/alertmanager/silence/silence.go
  vendor/github.com/prometheus/alertmanager/store/store.go
  vendor/github.com/prometheus/alertmanager/template/template.go
  vendor/github.com/prometheus/alertmanager/timeinterval/timeinterval.go
  vendor/github.com/prometheus/alertmanager/types/types.go
  vendor/modules.txt
Labels: component/alertmanager

#8193 Alertmanager: Make sender use go-kit logger and add no-op e-mail sender
  pkg/alertmanager/sender.go
Labels: component/alertmanager

#8211 mixin: simplify classic/ingest storage query
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/grafana-dashboards.yaml
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-tenants.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-top-tenants.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-writes.json
  operations/mimir-mixin-compiled/dashboards/mimir-tenants.json
  operations/mimir-mixin-compiled/dashboards/mimir-top-tenants.json
  operations/mimir-mixin-compiled/dashboards/mimir-writes.json
  operations/mimir-mixin/dashboards/dashboard-queries.libsonnet
Labels: mixin

#8218 mixin: Remove usage of cortex_distributor_replication_factor from MimirIngesterInstanceHasNoTenants
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/mixin-alerts.yaml
  operations/mimir-mixin-compiled-baremetal/alerts.yaml
  operations/mimir-mixin-compiled/alerts.yaml
  operations/mimir-mixin/alerts/alerts.libsonnet
Labels: mixin

#8224 Distributor: Don't drop time series with invalid exemplars
  CHANGELOG.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/mimirpb/timeseries.go
Labels: bug, component/distributor

#8238 Distributor: Don't drop time series with invalid exemplars (#8224)
  CHANGELOG.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/mimirpb/timeseries.go
Labels: backport
