Repository grafana/mimir, pull requests merged in 2024-12, with the labels that each got.

#10097 [release-2.13]: Upgrade to Go v1.22.9
  CHANGELOG.md
  Makefile
  mimir-build-image/Dockerfile
Labels: security

#10030 Ruler: Add support for arbitrary extra URL parameters to Alertmanager client's OAuth config
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/mimir/configure/configuration-parameters/index.md
  pkg/ruler/notifier.go
  pkg/ruler/notifier_test.go
  pkg/util/validation/limits.go
  pkg/util/validation/limits_map.go
  pkg/util/validation/limits_map_test.go
  tools/doc-generator/parse/parser.go
Labels: component/ruler

#9978 Add tuning documentation
  CHANGELOG.md
  docs/sources/mimir/manage/run-production-environment/production-tips/index.md
Labels: type/docs

#10156 ingest: use single configuration for fetch concurrency
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  development/mimir-ingest-storage/docker-compose.jsonnet
  development/mimir-ingest-storage/docker-compose.yml
  docs/sources/mimir/configure/configuration-parameters/index.md
  integration/configs.go
  pkg/storage/ingest/config.go
  pkg/storage/ingest/fetcher.go
  pkg/storage/ingest/fetcher_test.go
  pkg/storage/ingest/reader.go
  pkg/storage/ingest/reader_test.go
  pkg/storage/ingest/writer_test.go
Labels: release/notified-changelog-cut

#10100 Add missing steps to RELEASE.md
  RELEASE.md
Labels: type/docs, release

#10145 Distributor: remove samples with duplicated timestamps within a single timeseries
  CHANGELOG.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_ingest_storage_test.go
  pkg/distributor/distributor_test.go
  pkg/distributor/query_test.go
  pkg/distributor/validate.go
  pkg/mimirpb/timeseries.go
Labels: release/notified-changelog-cut

#10257 Runbooks: Add steps for checking Prometheus CPU
  CHANGELOG.md
  docs/sources/mimir/manage/mimir-runbooks/_index.md
Labels: enhancement, monitoring/runbooks

#10103 Query Frontend: Expose samples_processed in Server-Timing header
  CHANGELOG.md
  integration/query_frontend_test.go
  pkg/api/handlers.go
  pkg/frontend/transport/handler.go
  pkg/frontend/transport/handler_test.go
  pkg/querier/remote_read_test.go
  pkg/querier/stats/stats.go
  pkg/querier/stats/stats.pb.go
  pkg/querier/stats/stats.proto
  pkg/querier/stats/stats_test.go
  pkg/querier/stats_renderer.go
  pkg/querier/stats_renderer_test.go
Labels: release/notified-changelog-cut

#10312 Runbooks: Clarify that container being used to copy files must still be running
  docs/sources/mimir/manage/mimir-runbooks/_index.md
Labels: enhancement, monitoring/runbooks
