Repository grafana/mimir, pull requests merged in 2024-09, with the labels that each got.

#9145 MQE: Fix native histogram bugs
  CHANGELOG.md
  pkg/streamingpromql/aggregations/sum.go
  pkg/streamingpromql/operators/instant_vector_selector.go
  pkg/streamingpromql/operators/instant_vector_selector_test.go
  pkg/streamingpromql/testdata/ours/aggregators.test
Labels: backport r306

#9081 Small improvement to UTF-8 docs
  docs/sources/mimir/references/architecture/components/alertmanager.md
Labels: backport release-2.12, backport release-2.13

#9131 OTLP: Convert start timestamps to Prom created timestamps
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/configure/configuration-parameters/index.md
  go.mod
  go.sum
  pkg/api/handlers.go
  pkg/distributor/otel.go
  pkg/distributor/otlp/helper_generated.go
  pkg/distributor/otlp/metrics_to_prw_generated.go
  pkg/distributor/otlp/number_data_points_generated.go
  pkg/distributor/push_test.go
  pkg/querier/error_translate_queryable_test.go
  pkg/util/validation/limits.go
  vendor/github.com/prometheus/prometheus/storage/remote/otlptranslator/prometheusremotewrite/helper.go
  vendor/github.com/prometheus/prometheus/storage/remote/otlptranslator/prometheusremotewrite/metrics_to_prw.go
  vendor/github.com/prometheus/prometheus/storage/remote/otlptranslator/prometheusremotewrite/number_data_points.go
  vendor/github.com/prometheus/prometheus/storage/remote/write_handler.go
  vendor/github.com/prometheus/prometheus/web/api/v1/api.go
  vendor/modules.txt
Labels: enhancement, area/opentelemetry

#9207 Alertmanager: Fix config validation gap around unreferenced templates
  CHANGELOG.md
  pkg/alertmanager/api.go
  pkg/alertmanager/api_test.go
Labels: component/alertmanager

#9213 Attach consistency check debug logs to trace spans
  CHANGELOG.md
  pkg/querier/blocks_consistency_checker.go
  pkg/querier/blocks_consistency_checker_test.go
  pkg/querier/blocks_store_queryable.go
  pkg/querier/blocks_store_queryable_test.go
Labels: backport r306

#9125 Use grafana URL to test receivers
  pkg/alertmanager/alertmanager.go
  pkg/alertmanager/alertmanager_test.go
  pkg/alertmanager/multitenant.go
Labels: component/alertmanager

#9211 Alertmanager: Fix goroutine leak when stored config fails to apply and there is no existing tenant alertmanager
  CHANGELOG.md
  pkg/alertmanager/distributor_test.go
  pkg/alertmanager/multitenant.go
  pkg/alertmanager/multitenant_test.go
  pkg/util/test/leak.go
Labels: component/alertmanager

#9225 MQE: Remove workaround copying spans
  CHANGELOG.md
  pkg/streamingpromql/operators/instant_vector_selector.go
  pkg/streamingpromql/operators/range_vector_selector.go
Labels: backport r307

#9221 `newPerMetricSeriesLimitReachedError`: Fix doc comment typo
  pkg/ingester/errors.go
Labels: component/ingester

#9260 Mimir query engine: fix issue where `sum` and `avg` results over native histograms can be corrupted
  CHANGELOG.md
  pkg/streamingpromql/aggregations/aggregations_test.go
  pkg/streamingpromql/aggregations/avg.go
  pkg/streamingpromql/aggregations/sum.go
  pkg/streamingpromql/types/data.go
Labels: backport r307

#9272 MQE: Native histogram lookback should re-use existing histograms
  CHANGELOG.md
  pkg/streamingpromql/operators/instant_vector_selector.go
  pkg/streamingpromql/operators/instant_vector_selector_test.go
  pkg/streamingpromql/testdata/ours/aggregators.test
Labels: backport r307

#9331 fix a typo to make the scaledobject valid
  operations/helm/charts/mimir-distributed/templates/ruler-query-frontend/ruler-query-frontend-so.yaml
Labels: bug, helm

#9126 Update workflows to use actions that don't need organization secrets
  .github/workflows/publish-technical-documentation-next.yml
  .github/workflows/publish-technical-documentation-release-helm-charts.yml
  .github/workflows/publish-technical-documentation-release-mimir.yml
Labels: backport release-2.11, backport mimir-distributed-release-5.2, backport release-2.12, backport mimir-distributed-release-5.3, backport release-2.13, backport mimir-distributed-release-5.4, type/ci

#9371 MQE: fix `rate()` over native histograms where first point in range is a counter reset
  CHANGELOG.md
  pkg/streamingpromql/functions/rate.go
  pkg/streamingpromql/testdata/ours/native_histograms.test
Labels: backport r307, backport r308, backport r309

#9322 gRPC: Support S2 compression
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/configuration-parameters/index.md
  go.mod
  go.sum
  pkg/alertmanager/alertmanager_client.go
  pkg/frontend/v2/frontend.go
  pkg/ingester/client/client.go
  pkg/querier/worker/worker.go
  pkg/ruler/remotequerier.go
  pkg/ruler/ruler.go
  pkg/scheduler/scheduler.go
  pkg/util/grpcencoding/s2/s2.go
  pkg/util/grpcencoding/s2/s2_test.go
  vendor/modules.txt
Labels: enhancement, type/performance, area/grpc

#9412 mixin: fix errors on autoscaling metrics after series churn
  CHANGELOG.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/grafana-dashboards.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/mixin-alerts.yaml
  operations/mimir-mixin-compiled-baremetal/alerts.yaml
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-reads.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-remote-ruler-reads.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-writes.json
  operations/mimir-mixin-compiled/alerts.yaml
  operations/mimir-mixin-compiled/dashboards/mimir-reads.json
  operations/mimir-mixin-compiled/dashboards/mimir-remote-ruler-reads.json
  operations/mimir-mixin-compiled/dashboards/mimir-writes.json
  operations/mimir-mixin/alerts/autoscaling.libsonnet
  operations/mimir-mixin/dashboards/dashboard-utils.libsonnet
Labels: mixin

#9328 docs: adds instructions for collecting and sending native histograms with otel collector
  docs/sources/mimir/send/native-histograms/_index.md
  docs/sources/mimir/send/otel-exponential-histograms/_index.md
  docs/sources/mimir/send/otel-exponential-histograms/otel-pos-bucket-def.svg
Labels: type/docs, backport release-2.13

#9422 Add support for multiple triggers in ScaledObject when using ingest-store ingester autoscaling.
  CHANGELOG.md
  operations/mimir-tests/test-ingest-storage-autoscaling-multiple-triggers-generated.yaml
  operations/mimir-tests/test-ingest-storage-autoscaling-multiple-triggers.jsonnet
  operations/mimir-tests/test-ingest-storage-autoscaling-one-trigger-generated.yaml
  operations/mimir-tests/test-ingest-storage-autoscaling-one-trigger.jsonnet
  operations/mimir/ingest-storage-ingester-autoscaling.libsonnet
Labels: release/notified-changelog-cut

#9432 mixin: correct more autoscaling promQL joins
  CHANGELOG.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/grafana-dashboards.yaml
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-reads.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-remote-ruler-reads.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-writes.json
  operations/mimir-mixin-compiled/dashboards/mimir-reads.json
  operations/mimir-mixin-compiled/dashboards/mimir-remote-ruler-reads.json
  operations/mimir-mixin-compiled/dashboards/mimir-writes.json
  operations/mimir-mixin/dashboards/dashboard-utils.libsonnet
  operations/mimir-mixin/dashboards/reads.libsonnet
Labels: release/notified-changelog-cut

#9441 docs: deprecate redis-based caching
  docs/sources/mimir/configure/about-versioning.md
Labels: type/docs

#9402 Alertmanager: Add grafana config size limit
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/mimir/configure/configuration-parameters/index.md
  pkg/alertmanager/api_grafana.go
  pkg/alertmanager/api_grafana_test.go
  pkg/alertmanager/multitenant.go
  pkg/alertmanager/multitenant_test.go
  pkg/util/validation/limits.go
Labels: release/notified-changelog-cut

#9439 copyblocks: add option to bypass duration check for no-compact blocks
  CHANGELOG.md
  tools/copyblocks/README.md
  tools/copyblocks/main.go
Labels: release/notified-changelog-cut

#7175 Add support for ingesting out-of-order native histograms
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/configure/configuration-parameters/index.md
  go.mod
  go.sum
  integration/ooo_ingestion_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/util/validation/limits.go
  vendor/github.com/prometheus/prometheus/storage/interface.go
  vendor/github.com/prometheus/prometheus/tsdb/db.go
  vendor/github.com/prometheus/prometheus/tsdb/head.go
  vendor/github.com/prometheus/prometheus/tsdb/head_append.go
  vendor/github.com/prometheus/prometheus/tsdb/head_wal.go
  vendor/github.com/prometheus/prometheus/tsdb/ooo_head_read.go
  vendor/github.com/prometheus/prometheus/tsdb/testutil.go
  vendor/modules.txt
Labels: release/notified-changelog-cut

#9438 Alertmanager: Fix custom Grafana templates not defined
  pkg/alertmanager/alertmanager.go
  pkg/alertmanager/alertmanager_template.go
  pkg/alertmanager/alertmanager_template_test.go
  pkg/alertmanager/alertmanager_test.go
Labels: bug, component/alertmanager
