Repository grafana/mimir, pull requests merged in 2025-03, with the labels that each got.

#10659 [feature] helm: add service.extraPorts to all components
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/admin-api/admin-api-svc.yaml
  operations/helm/charts/mimir-distributed/templates/alertmanager/alertmanager-svc-headless.yaml
  operations/helm/charts/mimir-distributed/templates/alertmanager/alertmanager-svc.yaml
  operations/helm/charts/mimir-distributed/templates/compactor/compactor-svc.yaml
  operations/helm/charts/mimir-distributed/templates/continuous_test/continuous-test-svc-headless.yaml
  operations/helm/charts/mimir-distributed/templates/distributor/distributor-svc-headless.yaml
  operations/helm/charts/mimir-distributed/templates/distributor/distributor-svc.yaml
  operations/helm/charts/mimir-distributed/templates/federation-frontend/federation-frontend-svc.yaml
  operations/helm/charts/mimir-distributed/templates/gateway/gateway-svc.yaml
  operations/helm/charts/mimir-distributed/templates/graphite-proxy/graphite-querier/graphite-querier-svc.yaml
  operations/helm/charts/mimir-distributed/templates/graphite-proxy/graphite-write-proxy/graphite-write-proxy-svc.yaml
  operations/helm/charts/mimir-distributed/templates/ingester/ingester-svc-headless.yaml
  operations/helm/charts/mimir-distributed/templates/ingester/ingester-svc.yaml
  operations/helm/charts/mimir-distributed/templates/memcached/_memcached-svc.tpl
  operations/helm/charts/mimir-distributed/templates/nginx/nginx-svc.yaml
  operations/helm/charts/mimir-distributed/templates/overrides-exporter/overrides-exporter-svc.yaml
  operations/helm/charts/mimir-distributed/templates/querier/querier-svc.yaml
  operations/helm/charts/mimir-distributed/templates/query-frontend/query-frontend-svc-headless.yaml
  operations/helm/charts/mimir-distributed/templates/query-frontend/query-frontend-svc.yaml
  operations/helm/charts/mimir-distributed/templates/query-scheduler/query-scheduler-svc-headless.yaml
  operations/helm/charts/mimir-distributed/templates/query-scheduler/query-scheduler-svc.yaml
  operations/helm/charts/mimir-distributed/templates/ruler-querier/ruler-querier-svc.yaml
  operations/helm/charts/mimir-distributed/templates/ruler-query-frontend/ruler-query-frontend-svc.yaml
  operations/helm/charts/mimir-distributed/templates/ruler-query-scheduler/ruler-query-scheduler-svc-headless.yaml
  operations/helm/charts/mimir-distributed/templates/ruler-query-scheduler/ruler-query-scheduler-svc.yaml
  operations/helm/charts/mimir-distributed/templates/ruler/ruler-svc.yaml
  operations/helm/charts/mimir-distributed/templates/store-gateway/store-gateway-svc-headless.yaml
  operations/helm/charts/mimir-distributed/templates/store-gateway/store-gateway-svc.yaml
  operations/helm/charts/mimir-distributed/values.yaml
Labels: helm

#10845 CHANGELOG.md: Fix ordering
  CHANGELOG.md
Labels: chore

#9545 Upgrade github.com/gogo/protobuf/protoc-gen-gogoslick to v1.3.2
  Makefile
  mimir-build-image/Dockerfile
  pkg/alertmanager/alertmanagerpb/alertmanager.pb.go
  pkg/alertmanager/alertspb/alerts.pb.go
  pkg/blockbuilder/schedulerpb/scheduler.pb.go
  pkg/distributor/ha_tracker.pb.go
  pkg/frontend/querymiddleware/model.pb.go
  pkg/frontend/v1/frontendv1pb/frontend.pb.go
  pkg/frontend/v2/frontendv2pb/frontend.pb.go
  pkg/ingester/client/ingester.pb.go
  pkg/mimirpb/mimir.pb.go
  pkg/querier/stats/stats.pb.go
  pkg/ruler/ruler.pb.go
  pkg/ruler/rulespb/rules.pb.go
  pkg/scheduler/schedulerpb/scheduler.pb.go
  pkg/storage/indexheader/indexheaderpb/sparse.pb.go
  pkg/storegateway/hintspb/hints.pb.go
  pkg/storegateway/storepb/cache.pb.go
  pkg/storegateway/storepb/rpc.pb.go
  pkg/storegateway/storepb/types.pb.go
Labels: chore

#10685 updates doc on otel resource attributes promoted to labels
  docs/sources/mimir/configure/configure-otel-collector.md
Labels: type/docs

#10835 Distributor: Return specific error message when burst size limit exceeded
  CHANGELOG.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/errors.go
Labels: enhancement, component/distributor

#10874 docs: Use correct value for Prometheus HTTP prefix
  docs/configurations/prometheus-frontend.yml
  docs/sources/mimir/configure/configure-the-query-frontend-work-with-prometheus.md
Labels: type/docs

#10852 OTLP: Respond according to spec
  CHANGELOG.md
  go.mod
  go.sum
  pkg/distributor/otel.go
  pkg/distributor/push_test.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/LICENSE
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/internal/httprule/BUILD.bazel
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/internal/httprule/compile.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/internal/httprule/fuzz.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/internal/httprule/parse.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/internal/httprule/types.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/runtime/BUILD.bazel
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/runtime/context.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/runtime/convert.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/runtime/doc.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/runtime/errors.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/runtime/fieldmask.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/runtime/handler.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/runtime/marshal_httpbodyproto.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/runtime/marshal_json.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/runtime/marshal_jsonpb.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/runtime/marshal_proto.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/runtime/marshaler.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/runtime/marshaler_registry.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/runtime/mux.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/runtime/pattern.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/runtime/proto2_convert.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/runtime/query.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/utilities/BUILD.bazel
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/utilities/doc.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/utilities/pattern.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/utilities/readerfactory.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/utilities/string_array_flag.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/utilities/trie.go
  vendor/go.opentelemetry.io/proto/otlp/LICENSE
  vendor/go.opentelemetry.io/proto/otlp/collector/metrics/v1/metrics_service.pb.go
  vendor/go.opentelemetry.io/proto/otlp/collector/metrics/v1/metrics_service.pb.gw.go
  vendor/go.opentelemetry.io/proto/otlp/collector/metrics/v1/metrics_service_grpc.pb.go
  vendor/go.opentelemetry.io/proto/otlp/common/v1/common.pb.go
  vendor/go.opentelemetry.io/proto/otlp/metrics/v1/metrics.pb.go
  vendor/go.opentelemetry.io/proto/otlp/resource/v1/resource.pb.go
  vendor/google.golang.org/genproto/googleapis/api/httpbody/httpbody.pb.go
  vendor/google.golang.org/protobuf/types/known/structpb/struct.pb.go
  vendor/google.golang.org/protobuf/types/known/wrapperspb/wrappers.pb.go
  vendor/modules.txt
Labels: bug, component/distributor, area/opentelemetry

#10912 [v5.4.x] Remove relref shortcodes
  docs/sources/helm-charts/mimir-distributed/get-started-helm-charts/_index.md
  docs/sources/helm-charts/mimir-distributed/migration-guides/migrate-from-single-zone-with-helm.md
  docs/sources/helm-charts/mimir-distributed/migration-guides/migrate-helm-chart-4.x-to-5.0.md
  docs/sources/helm-charts/mimir-distributed/release-notes/v3.2.md
  docs/sources/helm-charts/mimir-distributed/release-notes/v4.0.md
  docs/sources/helm-charts/mimir-distributed/release-notes/v5.0.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/_index.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/configure-helm-ha-deduplication-consul/index.md
Labels: type/docs

#10911 [v5.5.x] Remove relref shortcodes
  docs/sources/helm-charts/mimir-distributed/get-started-helm-charts/_index.md
  docs/sources/helm-charts/mimir-distributed/migration-guides/migrate-from-single-zone-with-helm.md
  docs/sources/helm-charts/mimir-distributed/migration-guides/migrate-helm-chart-4.x-to-5.0.md
  docs/sources/helm-charts/mimir-distributed/release-notes/v3.2.md
  docs/sources/helm-charts/mimir-distributed/release-notes/v4.0.md
  docs/sources/helm-charts/mimir-distributed/release-notes/v5.0.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/_index.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/configure-helm-ha-deduplication-consul/index.md
Labels: type/docs

#10922 docs: Fix a few inconsistencies in the CHANGELOG before 2.16 release
  CHANGELOG.md
Labels: type/docs

#10925 OTLP: Set Content-Length header on responses
  pkg/distributor/otel.go
  pkg/distributor/otel_test.go
  pkg/distributor/push_test.go
Labels: enhancement, component/distributor, area/opentelemetry

#10909 Remove relref shortcodes
  docs/sources/helm-charts/mimir-distributed/get-started-helm-charts/_index.md
  docs/sources/helm-charts/mimir-distributed/migration-guides/migrate-from-single-zone-with-helm.md
  docs/sources/helm-charts/mimir-distributed/migration-guides/migrate-helm-chart-4.x-to-5.0.md
  docs/sources/helm-charts/mimir-distributed/release-notes/v3.2.md
  docs/sources/helm-charts/mimir-distributed/release-notes/v4.0.md
  docs/sources/helm-charts/mimir-distributed/release-notes/v5.0.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/_index.md
Labels: type/docs

#10918 mixin: include absolute value of ruler notifications
  CHANGELOG.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/grafana-dashboards.yaml
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-ruler.json
  operations/mimir-mixin-compiled-gem/dashboards/mimir-ruler.json
  operations/mimir-mixin-compiled/dashboards/mimir-ruler.json
  operations/mimir-mixin/dashboards/ruler.libsonnet
Labels: release/notified-changelog-cut

#10890 `MimirRolloutStuck`: critical if over 6h
  CHANGELOG.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/mixin-alerts.yaml
  operations/mimir-mixin-compiled-baremetal/alerts.yaml
  operations/mimir-mixin-compiled-gem/alerts.yaml
  operations/mimir-mixin-compiled/alerts.yaml
  operations/mimir-mixin/alerts/alerts.libsonnet
Labels: release/notified-changelog-cut

#10892 Ingester: Export native histogram and buckets gauge metrics for cost attribution
  CHANGELOG.md
  pkg/costattribution/active_tracker.go
  pkg/costattribution/active_tracker_test.go
  pkg/costattribution/manager_test.go
  pkg/ingester/activeseries/active_series.go
  pkg/ingester/activeseries/active_series_test.go
Labels: release/notified-changelog-cut

#10891 fix(mixin/dashboards/tenants): use 'per_instance_label' for legend
  CHANGELOG.md
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-tenants.json
  operations/mimir-mixin/dashboards/tenants.libsonnet
Labels: release/notified-changelog-cut

#10879 store-gateway: download sparse headers from object store
  CHANGELOG.md
  pkg/storage/indexheader/stream_binary_reader.go
  pkg/storage/indexheader/stream_binary_reader_test.go
Labels: release/notified-changelog-cut

#10888 Compactor: BlocksCleaner - Remove Inconsistent Deletion Markers
  CHANGELOG.md
  pkg/compactor/blocks_cleaner.go
  pkg/compactor/blocks_cleaner_test.go
  pkg/storage/tsdb/bucketindex/updater.go
Labels: release/notified-changelog-cut

#10865 helm: adds optional provisioner job to helm chart
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/ci/offline/test-enterprise-values.yaml
  operations/helm/charts/mimir-distributed/templates/_helpers.tpl
  operations/helm/charts/mimir-distributed/templates/provisioner/provisioner-job.yaml
  operations/helm/charts/mimir-distributed/templates/provisioner/provisioner-rbac.yaml
  operations/helm/charts/mimir-distributed/templates/provisioner/provisioner-serviceaccount.yaml
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/provisioner/provisioner-job.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/provisioner/provisioner-rbac.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/provisioner/provisioner-serviceaccount.yaml
Labels: helm

#10961 helm: Cut changelog for 5.7 RC
  operations/helm/charts/mimir-distributed/CHANGELOG.md
Labels: helm

#10972 Renovate: Exclude grpc dependency
  renovate.json5
Labels: chore

#10989 Alerting: Update alertmanager module
  CHANGELOG.md
  go.mod
  go.sum
  pkg/alertmanager/multitenant_test.go
  vendor/github.com/prometheus/alertmanager/notify/notify.go
  vendor/modules.txt
Labels: component/alertmanager

#10379 Exclude G301 gosec
  .golangci.yml
Labels: release/notified-changelog-cut

#10380 Exclude G306 gosec
  .golangci.yml
Labels: release/notified-changelog-cut

#10945 Add support for all prometheus query operators (=, !=, =~ and !~) in KEDA Autoscaling
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/ci/offline/keda-autoscaling-global-values.yaml
  operations/helm/charts/mimir-distributed/templates/lib/toPromQLLabelSelector.tpl
  operations/helm/charts/mimir-distributed/values.yaml
Labels: backport mimir-distributed-release-5.7

#11049 Upgrade golangci-lint to v1.64.8
  .golangci.yml
  Makefile
  mimir-build-image/Dockerfile
  pkg/frontend/transport/handler.go
  pkg/ruler/notifier.go
Labels: chore
