Repository grafana/mimir, pull requests merged in 2025-04, with the labels that each got.

#11091 [mimir-distributed-release-5.7] Update mimir version to 2.16.0
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/values.yaml
Labels: helm, release

#11101 feat(rw2): prepare for RW2 support
  pkg/mimirpb/compat_rw2_test.go
  pkg/mimirpb/mimir.pb.go
  pkg/mimirpb/mimir.pb.go.expdiff
  pkg/mimirpb/mimir.proto
  pkg/util/test/shape.go
Labels: enhancement, component/distributor

#11118 mimir-build-image: Upgrade to google.golang.org/protobuf/cmd/protoc-gen-go@v1.36.6
  Makefile
  mimir-build-image/Dockerfile
Labels: area/build

#11151 Renovate: Disable dependency dashboard
  renovate.json5
Labels: type/ci

#11156 MQE: use more accurate estimation of histogram point size
  pkg/streamingpromql/types/limiting_pool.go
Labels: component/querier, squad/query

#10358 Bug fix for issue #8914 - Alertmanager error using custom function queryFromGeneratorURL
  CHANGELOG.md
  pkg/alertmanager/alertmanager_template.go
Labels: release/notified-changelog-cut

#11143 feat(nhcb): add support for NHCB over RW1/RW2
  CHANGELOG.md
  docs/sources/mimir/manage/mimir-runbooks/_index.md
  integration/distributor_test.go
  pkg/blockbuilder/tsdb.go
  pkg/distributor/validate.go
  pkg/distributor/validate_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/mimirpb/compat.go
  pkg/mimirpb/custom.go
  pkg/storage/soft_append_error_processor.go
  pkg/util/globalerror/user.go
  pkg/util/test/histogram.go
Labels: enhancement, component/distributor

#11237 gRPC/HTTP clients: Rename metric cortex_client_request_invalid_cluster_validation_labels_total
  CHANGELOG.md
  docs/sources/mimir/configure/about-versioning.md
  integration/ingester_test.go
  pkg/alertmanager/multitenant_test.go
  pkg/frontend/frontend_test.go
  pkg/ruler/client_pool_test.go
  pkg/util/metrics.go
Labels: type/change

#11241 Upgrade to dskit@main
  CHANGELOG.md
  go.mod
  go.sum
  pkg/alertmanager/multitenant_test.go
  pkg/frontend/frontend_test.go
  pkg/ruler/client_pool_test.go
  vendor/github.com/grafana/dskit/middleware/grpc_cluster.go
  vendor/github.com/grafana/dskit/middleware/http_cluster.go
  vendor/github.com/grafana/dskit/middleware/metrics.go
  vendor/github.com/grafana/dskit/server/metrics.go
  vendor/github.com/grafana/dskit/server/server.go
  vendor/modules.txt
Labels: enhancement

#11245 Upgrade r338 to dskit@d8712729db54
  CHANGELOG.md
  go.mod
  go.sum
  pkg/alertmanager/multitenant_test.go
  pkg/frontend/frontend_test.go
  pkg/ruler/client_pool_test.go
  vendor/github.com/grafana/dskit/middleware/grpc_cluster.go
  vendor/github.com/grafana/dskit/middleware/http_cluster.go
  vendor/github.com/grafana/dskit/middleware/metrics.go
  vendor/github.com/grafana/dskit/server/metrics.go
  vendor/github.com/grafana/dskit/server/server.go
  vendor/modules.txt
Labels: enhancement, backport

#11277 Upgrade dskit
  CHANGELOG.md
  go.mod
  go.sum
  pkg/alertmanager/multitenant_test.go
  pkg/frontend/frontend_test.go
  pkg/ruler/client_pool_test.go
  vendor/github.com/grafana/dskit/middleware/metrics.go
  vendor/github.com/grafana/dskit/server/metrics.go
  vendor/modules.txt
Labels: backport r339

#11278 about-versioning.md: Fixes regarding cluster validation
  docs/sources/mimir/configure/about-versioning.md
Labels: type/docs

#11282 Alerts: Fix alerts for invalid cluster validation labels
  CHANGELOG.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/mixin-alerts.yaml
  operations/mimir-mixin-compiled-baremetal/alerts.yaml
  operations/mimir-mixin-compiled-gem/alerts.yaml
  operations/mimir-mixin-compiled/alerts.yaml
  operations/mimir-mixin/alerts/alerts.libsonnet
Labels: bug, monitoring/alerts

#11288 Alerts: Enhance MimirRolloutStuck so it ignores kube-state-metrics instances
  CHANGELOG.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/mixin-alerts.yaml
  operations/mimir-mixin-compiled-baremetal/alerts.yaml
  operations/mimir-mixin-compiled-gem/alerts.yaml
  operations/mimir-mixin-compiled/alerts.yaml
  operations/mimir-mixin/alerts/alerts.libsonnet
Labels: bug, monitoring/alerts
