Repository grafana/mimir, pull requests merged in 2025-02, with the labels that each got.

#10410 Make use of LabelHints.Limit for `LabelNames` and `LabelValues` requests (#8805)
  CHANGELOG.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/ingester/client/compat.go
  pkg/ingester/client/compat_test.go
  pkg/ingester/client/ingester.pb.go
  pkg/ingester/client/ingester.proto
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/querier/blocks_store_queryable.go
  pkg/querier/distributor_queryable.go
  pkg/querier/distributor_queryable_test.go
  pkg/querier/querier_test.go
  pkg/querier/tenantfederation/merge_queryable_test.go
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_e2e_test.go
  pkg/storegateway/storepb/rpc.pb.go
  pkg/storegateway/storepb/rpc.proto
Labels: component/ingester, component/store-gateway, component/querier, component/distributor

#10579 Renovate: Disable updating of jaegertracing/all-in-one Docker image
  renovate.json5
Labels: chore

#10572 Update grpc_push_check to support reads in ingesters
  pkg/distributor/distributor.go
  pkg/ingester/active_series.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/mimir/grpc_call_check.go
  pkg/mimir/grpc_call_check_test.go
  pkg/mimir/modules.go
Labels: component/ingester, squad/ingest

#10545 influx: rename extra label to match existing series
  integration/influx_ingestion_test.go
  pkg/distributor/influx.go
  pkg/distributor/influx_test.go
  pkg/distributor/influxpush/parser.go
  pkg/distributor/influxpush/parser_test.go
Labels: component/distributor

#10574 Add reactive limiters for ingesters
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/configure/configuration-parameters/index.md
  docs/sources/mimir/manage/mimir-runbooks/_index.md
  go.mod
  go.sum
  pkg/ingester/errors.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/ingester/metrics.go
  pkg/ingester/reactivelimiter.go
  pkg/mimir/grpc_call_check.go
  pkg/util/globalerror/user.go
  pkg/util/math/ewma.go
  pkg/util/math/ewma_test.go
  pkg/util/math/log.go
  pkg/util/math/log_test.go
  pkg/util/math/median.go
  pkg/util/math/median_test.go
  pkg/util/math/windows.go
  pkg/util/math/windows_test.go
  pkg/util/reactivelimiter/prioritizer.go
  pkg/util/reactivelimiter/prioritizer_test.go
  pkg/util/reactivelimiter/prioritylimiter.go
  pkg/util/reactivelimiter/prioritylimiter_test.go
  pkg/util/reactivelimiter/reactivelimiter.go
  pkg/util/reactivelimiter/reactivelimiter_test.go
  pkg/util/sync/semaphore.go
  pkg/util/sync/semaphore_test.go
  vendor/github.com/influxdata/tdigest/.gitignore
  vendor/github.com/influxdata/tdigest/LICENSE
  vendor/github.com/influxdata/tdigest/README.md
  vendor/github.com/influxdata/tdigest/centroid.go
  vendor/github.com/influxdata/tdigest/tdigest.go
  vendor/modules.txt
Labels: component/ingester, squad/ingest

#10590 Add dashboard panels for ingester reactive limiters
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/grafana-dashboards.yaml
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-writes.json
  operations/mimir-mixin-compiled/dashboards/mimir-writes.json
  operations/mimir-mixin/config.libsonnet
  operations/mimir-mixin/dashboards/reads.libsonnet
  operations/mimir-mixin/dashboards/writes.libsonnet
Labels: monitoring/dashboards, squad/ingest

#10591 Add doc page on ingester reactive limiters
  docs/sources/mimir/configure/about-reactive-limiters.md
Labels: type/docs, component/ingester, squad/ingest

#10641 Add warning alert for too high distributor GC CPU utilization
  CHANGELOG.md
  docs/sources/mimir/manage/mimir-runbooks/_index.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/mixin-alerts.yaml
  operations/mimir-mixin-compiled-baremetal/alerts.yaml
  operations/mimir-mixin-compiled/alerts.yaml
  operations/mimir-mixin/alerts.libsonnet
  operations/mimir-mixin/alerts/distributor.libsonnet
  pkg/mimir/mimir.go
Labels: enhancement, monitoring/alerts

#10635 [Docs] Move metamonitoring topic to Mimir docs
  docs/sources/helm-charts/mimir-distributed/get-started-helm-charts/gs-external-access.md
  docs/sources/helm-charts/mimir-distributed/run-production-environment-with-helm/configure-helm-ha-deduplication-consul/index.md
  docs/sources/mimir/manage/monitor-grafana-mimir/monitor-system-health.md
Labels: type/docs

#10702 Ingester: Ensure cost attribution tracker is updated when configuration changes
  CHANGELOG.md
  pkg/costattribution/active_tracker.go
  pkg/costattribution/manager.go
  pkg/ingester/activeseries/active_series.go
  pkg/ingester/activeseries/active_series_test.go
  pkg/ingester/ingester.go
Labels: backport r329, backport r330, backport r328

#10682 fix: update azure blob storage documentation
  docs/sources/mimir/configure/configure-object-storage-backend.md
Labels: bug, type/docs

#10266 KEDA autoscaling additional requirement
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/ci/offline/keda-autoscaling-global-values.yaml
  operations/helm/charts/mimir-distributed/templates/distributor/distributor-so.yaml
  operations/helm/charts/mimir-distributed/templates/keda/keda-trigger-auth.yaml
  operations/helm/charts/mimir-distributed/templates/lib/toPromQLLabelSelector.tpl
  operations/helm/charts/mimir-distributed/templates/querier/querier-so.yaml
  operations/helm/charts/mimir-distributed/templates/query-frontend/query-frontend-so.yaml
  operations/helm/charts/mimir-distributed/templates/ruler-querier/ruler-querier-so.yaml
  operations/helm/charts/mimir-distributed/templates/ruler-query-frontend/ruler-query-frontend-so.yaml
  operations/helm/charts/mimir-distributed/templates/ruler/ruler-so.yaml
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/keda-autoscaling-global-values-generated/mimir-distributed/templates/distributor/distributor-so.yaml
  operations/helm/tests/keda-autoscaling-global-values-generated/mimir-distributed/templates/keda/keda-trigger-auth.yaml
  operations/helm/tests/keda-autoscaling-global-values-generated/mimir-distributed/templates/querier/querier-so.yaml
  operations/helm/tests/keda-autoscaling-global-values-generated/mimir-distributed/templates/query-frontend/query-frontend-so.yaml
  operations/helm/tests/keda-autoscaling-global-values-generated/mimir-distributed/templates/ruler/ruler-so.yaml
  operations/helm/tests/keda-autoscaling-metamonitoring-values-generated/mimir-distributed/templates/distributor/distributor-so.yaml
  operations/helm/tests/keda-autoscaling-metamonitoring-values-generated/mimir-distributed/templates/querier/querier-so.yaml
  operations/helm/tests/keda-autoscaling-metamonitoring-values-generated/mimir-distributed/templates/query-frontend/query-frontend-so.yaml
  operations/helm/tests/keda-autoscaling-metamonitoring-values-generated/mimir-distributed/templates/ruler/ruler-so.yaml
  operations/helm/tests/keda-autoscaling-values-generated/mimir-distributed/templates/distributor/distributor-so.yaml
  operations/helm/tests/keda-autoscaling-values-generated/mimir-distributed/templates/querier/querier-so.yaml
  operations/helm/tests/keda-autoscaling-values-generated/mimir-distributed/templates/query-frontend/query-frontend-so.yaml
  operations/helm/tests/keda-autoscaling-values-generated/mimir-distributed/templates/ruler-querier/ruler-querier-so.yaml
  operations/helm/tests/keda-autoscaling-values-generated/mimir-distributed/templates/ruler-query-frontend/ruler-query-frontend-so.yaml
  operations/helm/tests/keda-autoscaling-values-generated/mimir-distributed/templates/ruler/ruler-so.yaml
Labels: release/notified-changelog-cut
