Repository grafana/mimir, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/mimir-maintainers, @grafana/docs-metrics, @grafana/mimir-ruler-and-alertmanager-maintainers, @wilfriedroset, @vaxvms, @bubu11e, @grafanabot

Call cleanupAfterPushFinished from defer.
  pkg/distributor/distributor.go
Owners: @grafana/mimir-maintainers

Use suffix check.
  pkg/mimir/grpc_push_check.go
Owners: @grafana/mimir-maintainers

Separate httpgrpcRequestSize and writeRequestSize.
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/mimir/grpc_push_check.go
Owners: @grafana/mimir-maintainers

Mention new flags in docs/sources/mimir/configure/about-versioning.md.
  docs/sources/mimir/configure/about-versioning.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Extract message size only when handling distributor push request. Use prefix in tests.
  pkg/mimir/grpc_push_check.go
  pkg/mimir/grpc_push_check_test.go
Owners: @grafana/mimir-maintainers

Update comment for startPushRequest, mention wrapping to util_log.DoNotLogError.
  pkg/distributor/distributor.go
Owners: @grafana/mimir-maintainers

Fix linter unhappiness.
  pkg/mimir/grpc_push_check.go
  pkg/mimir/grpc_push_check_test.go
Owners: @grafana/mimir-maintainers

update to latest dskit release
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  go.mod
  go.sum
  vendor/github.com/grafana/dskit/cache/client.go
  vendor/github.com/grafana/dskit/cache/memcached_client.go
  vendor/github.com/grafana/gomemcache/memcache/memcache.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics, @grafanabot

fixed unit tests
  pkg/frontend/querymiddleware/results_cache_test.go
  pkg/storage/tsdb/index_cache_test.go
Owners: @grafana/mimir-maintainers

distributor: do inflight checks before reading request (for httpgrpc requests) (#6300)
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/api/api.go
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/mimir/grpc_push_check.go
  pkg/mimir/grpc_push_check_test.go
  pkg/mimir/modules.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

Memcached: allow to configure write and read buffer size (#6468)
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/references/configuration-parameters/index.md
  go.mod
  go.sum
  pkg/frontend/querymiddleware/results_cache_test.go
  pkg/storage/tsdb/index_cache_test.go
  vendor/github.com/grafana/dskit/cache/memcached_client.go
  vendor/github.com/grafana/gomemcache/memcache/memcache.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics, @grafanabot

Backport to r261: https://github.com/prometheus/prometheus/pull/13012
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/promql/engine.go
  vendor/github.com/prometheus/prometheus/promql/functions.go
  vendor/github.com/prometheus/prometheus/util/annotations/annotations.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Backport to r261: https://github.com/prometheus/prometheus/pull/13012 (#6476)
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/promql/engine.go
  vendor/github.com/prometheus/prometheus/promql/functions.go
  vendor/github.com/prometheus/prometheus/util/annotations/annotations.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

refactor interface between scheduler request queue dispatching and tenant queue broker (#6448)
  pkg/frontend/v1/frontend.go
  pkg/scheduler/queue/queue.go
  pkg/scheduler/queue/queue_test.go
  pkg/scheduler/queue/tenant_queues.go
  pkg/scheduler/queue/tenant_queues_test.go
  pkg/scheduler/queue/user_queues_test.go
  pkg/scheduler/scheduler.go
Owners: @grafana/mimir-maintainers

Fix double counting; consolidate used bytes counting
  pkg/frontend/querymiddleware/split_and_cache.go
Owners: @grafana/mimir-maintainers

add tree queue data structures
  pkg/scheduler/queue/tree_queue.go
  pkg/scheduler/queue/tree_queue_test.go
Owners: @grafana/mimir-maintainers

Linting, formatting
  pkg/util/objtools/abs.go
  pkg/util/objtools/bucket.go
  pkg/util/objtools/s3.go
  tools/copyprefix/main.go
  tools/undelete-blocks/main.go
Owners: @grafana/mimir-maintainers

tree queue usage in queue broker passing all tests; cleanup required
  pkg/scheduler/queue/queue.go
  pkg/scheduler/queue/tenant_queues.go
  pkg/scheduler/queue/tree_queue.go
  pkg/scheduler/queue/tree_queue_test.go
Owners: @grafana/mimir-maintainers

add tree queue data structures
  pkg/scheduler/queue/tree_queue.go
  pkg/scheduler/queue/tree_queue_test.go
Owners: @grafana/mimir-maintainers

Fix distributor_test error bug
  pkg/distributor/distributor_test.go
  pkg/distributor/push_test.go
Owners: @grafana/mimir-maintainers

add child queue deletion and max queue len to tree queue data structures
  pkg/scheduler/queue/tree_queue.go
  pkg/scheduler/queue/tree_queue_test.go
Owners: @grafana/mimir-maintainers

convert queuebroker len check to isEmpty
  pkg/scheduler/queue/queue.go
  pkg/scheduler/queue/tenant_queues.go
Owners: @grafana/mimir-maintainers

Address PR feedback
  pkg/util/grpc.go
Owners: @grafana/mimir-maintainers

Allow no changes for mimir release tech docs (#6423)
  .github/workflows/publish-technical-documentation-release-mimir.yml
Owners: @grafana/mimir-maintainers

Fixing review findings
  pkg/distributor/distributor_test.go
Owners: @grafana/mimir-maintainers

Check for inflight requests and inflight bytes while request is executing.
  pkg/distributor/distributor_test.go
Owners: @grafana/mimir-maintainers

Improve distributor_test (#6479)
  pkg/distributor/distributor_test.go
  pkg/distributor/push_test.go
Owners: @grafana/mimir-maintainers

messy fix that appears to pass previously failed integration tests
  pkg/scheduler/queue/queue.go
  pkg/scheduler/queue/tenant_queues.go
  pkg/scheduler/queue/tree_queue.go
Owners: @grafana/mimir-maintainers

Add more details to assertions
  integration/ingester_test.go
Owners: @grafana/mimir-maintainers

Extract method
  pkg/ingester/client/streaming.go
Owners: @grafana/mimir-maintainers

Fix race between query evaluation finishing and ingester chunks streaming goroutine closing the gRPC stream.
  pkg/ingester/client/streaming.go
  pkg/ingester/client/streaming_test.go
Owners: @grafana/mimir-maintainers

Refactor SeriesChunksStreamReader to follow same structure as for store-gateway chunk stream reader
  pkg/ingester/client/streaming.go
Owners: @grafana/mimir-maintainers

Update changelog entry.
  CHANGELOG.md
Owners: none

Fix race between query evaluation finishing and store-gateway chunks streaming goroutine closing the gRPC stream.
  pkg/querier/block_streaming.go
  pkg/querier/block_streaming_test.go
Owners: @grafana/mimir-maintainers

Document native histograms promql differences and use cases
  docs/sources/mimir/visualize/native-histograms/_index.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Minor improvement
  docs/sources/mimir/visualize/native-histograms/_index.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Use custom type for context keys to make lint happy.
  pkg/distributor/distributor_test.go
Owners: @grafana/mimir-maintainers

Comment.
  pkg/distributor/distributor_test.go
Owners: @grafana/mimir-maintainers

Upgrade mimir-prometheus to 478c4325
  CHANGELOG.md
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/tsdb/postings_for_matchers_cache.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Improve distributor's TestStartFinishRequest test. (#6481)
  pkg/distributor/distributor_test.go
Owners: @grafana/mimir-maintainers

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/mimir-maintainers

# Documentation.
/docs/ @grafana/docs-metrics @grafana/mimir-maintainers

# Alertmanager and ruler.
/pkg/alertmanager/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers
/pkg/ruler/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers

# Packages.
/Makefile @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers
/packaging/ @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers

# No owners - allows sub-maintainers to merge changes.
CHANGELOG.md

# Dependencies
go.mod @grafana/mimir-maintainers @grafanabot
go.sum @grafana/mimir-maintainers @grafanabot
/vendor/ @grafana/mimir-maintainers @grafanabot
