Repository grafana/mimir, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/mimir-maintainers, @grafana/docs-tooling, @jdbaldry, @grafana/mimir-ruler-and-alertmanager-maintainers, @wilfriedroset, @vaxvms, @bubu11e, @grafanabot

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/mimir-maintainers

# Documentation.
/.github/workflows/publish-technical-documentation-next.yml                 @grafana/docs-tooling @grafana/mimir-maintainers
/.github/workflows/publish-technical-documentation-release-helm-charts.yml  @grafana/docs-tooling @grafana/mimir-maintainers
/.github/workflows/publish-technical-documentation-release-mimir.yml        @grafana/docs-tooling @grafana/mimir-maintainers
/.github/workflows/update-make-docs.yml                                     @grafana/docs-tooling @grafana/mimir-maintainers

/docs/                                                                      @jdbaldry @grafana/mimir-maintainers
/docs/docs.mk                                                               @grafana/docs-tooling @grafana/mimir-maintainers
/docs/internal/                                                             @grafana/mimir-maintainers
/docs/make-docs                                                             @grafana/docs-tooling @grafana/mimir-maintainers
/docs/proposals/                                                            @grafana/mimir-maintainers
/docs/variables.mk                                                          @grafana/docs-tooling @grafana/mimir-maintainers

# Alertmanager and ruler.
/pkg/alertmanager/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers
/pkg/ruler/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers

# Packages.
/Makefile @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers
/packaging/ @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers

# No owners - allows sub-maintainers to merge changes.
CHANGELOG.md

# Dependencies
go.mod @grafana/mimir-maintainers @grafanabot
go.sum @grafana/mimir-maintainers @grafanabot
/vendor/ @grafana/mimir-maintainers @grafanabot
/vendor/github.com/prometheus/alertmanager @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers @grafanabot

Optimize marking blocks as queried
  pkg/storegateway/bucket.go
Owners: @grafana/mimir-maintainers

Helm 5.2.3 release (#7633)
  docs/sources/helm-charts/mimir-distributed/release-notes/v5.2.md
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/ci/test-enterprise-configmap-values.yaml
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/admin-cache/admin-cache-pdb.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/admin-cache/admin-cache-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/admin-cache/admin-cache-svc-headless.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/chunks-cache/chunks-cache-pdb.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/chunks-cache/chunks-cache-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/chunks-cache/chunks-cache-svc-headless.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/index-cache/index-cache-pdb.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/index-cache/index-cache-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/index-cache/index-cache-svc-headless.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/metadata-cache/metadata-cache-pdb.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/metadata-cache/metadata-cache-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/metadata-cache/metadata-cache-svc-headless.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/results-cache/results-cache-pdb.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/results-cache/results-cache-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/results-cache/results-cache-svc-headless.yaml
Owners: @jdbaldry, @grafana/mimir-maintainers

Convert continuousTestManager to service
  cmd/mimir-continuous-test/main.go
  pkg/continuoustest/manager.go
  pkg/continuoustest/manager_test.go
Owners: @grafana/mimir-maintainers

Use continuousTest as a module
  pkg/mimir/modules.go
Owners: @grafana/mimir-maintainers

store-gateway: record request ambient time for LabelNames and LabelValues (#7622)
  CHANGELOG.md
  pkg/storegateway/bucket.go
Owners: @grafana/mimir-maintainers

changes to parsing label matchers and handling optional timestamps
  pkg/frontend/querymiddleware/codec.go
  pkg/frontend/querymiddleware/codec_test.go
  pkg/frontend/querymiddleware/model.pb.go
  pkg/frontend/querymiddleware/model.proto
  pkg/frontend/querymiddleware/model_extra.go
Owners: @grafana/mimir-maintainers

fix usage
  pkg/frontend/v2/frontend_scheduler_adapter.go
Owners: @grafana/mimir-maintainers

Not private
  pkg/mimir/modules.go
Owners: @grafana/mimir-maintainers

undo renames to shrink PR
  pkg/frontend/querymiddleware/blocker.go
  pkg/frontend/querymiddleware/blocker_test.go
  pkg/frontend/querymiddleware/cardinality.go
  pkg/frontend/querymiddleware/cardinality_test.go
  pkg/frontend/querymiddleware/codec.go
  pkg/frontend/querymiddleware/codec_test.go
  pkg/frontend/querymiddleware/instrumentation.go
  pkg/frontend/querymiddleware/limits.go
  pkg/frontend/querymiddleware/limits_test.go
  pkg/frontend/querymiddleware/model_extra.go
  pkg/frontend/querymiddleware/querysharding.go
  pkg/frontend/querymiddleware/querysharding_test.go
  pkg/frontend/querymiddleware/results_cache.go
  pkg/frontend/querymiddleware/results_cache_test.go
  pkg/frontend/querymiddleware/retry.go
  pkg/frontend/querymiddleware/retry_test.go
  pkg/frontend/querymiddleware/roundtrip.go
  pkg/frontend/querymiddleware/shard_active_series_test.go
  pkg/frontend/querymiddleware/sharded_queryable.go
  pkg/frontend/querymiddleware/sharded_queryable_test.go
  pkg/frontend/querymiddleware/split_and_cache.go
  pkg/frontend/querymiddleware/split_and_cache_test.go
  pkg/frontend/querymiddleware/split_by_instant_interval.go
  pkg/frontend/querymiddleware/split_by_instant_interval_test.go
  pkg/frontend/querymiddleware/stats.go
  pkg/frontend/querymiddleware/stats_test.go
  pkg/frontend/querymiddleware/step_align.go
  pkg/frontend/querymiddleware/step_align_test.go
  pkg/mimir/modules.go
Owners: @grafana/mimir-maintainers

Add block compaction delay summary metric
  pkg/compactor/bucket_compactor.go
  pkg/compactor/job.go
  pkg/storage/tsdb/block/block.go
  pkg/storage/tsdb/block/fetcher.go
  pkg/storage/tsdb/block/fetcher_test.go
  pkg/storage/tsdb/block/meta.go
Owners: @grafana/mimir-maintainers

Get rid of -querier.prefer-streaming-chunks-from-ingesters and -querier.minimize-ingester-requests
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/configure/configuration-parameters/index.md
  docs/sources/mimir/release-notes/v2.12.md
  integration/ingester_test.go
  integration/querier_test.go
  pkg/distributor/distributor.go
  pkg/distributor/distributor_ingest_storage_test.go
  pkg/distributor/distributor_test.go
  pkg/distributor/query.go
  pkg/distributor/query_ingest_storage_test.go
  pkg/distributor/query_test.go
  pkg/mimir/modules.go
  pkg/querier/querier.go
Owners: @grafana/mimir-maintainers, @jdbaldry

simplify protos and interfaces; introduce label values type and parsing
  pkg/frontend/querymiddleware/codec.go
  pkg/frontend/querymiddleware/codec_test.go
  pkg/frontend/querymiddleware/model.pb.go
  pkg/frontend/querymiddleware/model.proto
  pkg/frontend/querymiddleware/model_extra.go
Owners: @grafana/mimir-maintainers

Fix out of order exemplar error for native histograms
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/mimirpb/compat.go
Owners: @grafana/mimir-maintainers

Update changelog.
  CHANGELOG.md
Owners: none

Remove redundant word from Changelog
  CHANGELOG.md
Owners: none

querytee: Add support to log comparatively slow queries (#7346)
  CHANGELOG.md
  docs/sources/mimir/manage/tools/query-tee.md
  tools/querytee/proxy.go
  tools/querytee/proxy_endpoint.go
  tools/querytee/proxy_endpoint_test.go
Owners: @jdbaldry, @grafana/mimir-maintainers

Address review feedback.
  pkg/ingester/ingester.go
  pkg/ingester/owned_series.go
  pkg/ingester/owned_series_test.go
Owners: @grafana/mimir-maintainers

Remove unnecessary changes.
  pkg/ingester/errors.go
Owners: @grafana/mimir-maintainers

Restore original comment.
  pkg/ingester/ingester.go
Owners: @grafana/mimir-maintainers

Fix comment.
  pkg/ingester/ingester.go
Owners: @grafana/mimir-maintainers

Fix comment.
  pkg/ingester/owned_series.go
Owners: @grafana/mimir-maintainers

Fix comment.
  pkg/ingester/owned_series.go
Owners: @grafana/mimir-maintainers

Remove ID from Grafana Alertmanager configuration
  pkg/alertmanager/api_grafana.go
Owners: @grafana/mimir-ruler-and-alertmanager-maintainers, @grafana/mimir-maintainers

mimir: simplify grpc in-flight limiter (#7634)
  pkg/mimir/grpc_push_check.go
  pkg/mimir/grpc_push_check_test.go
  pkg/mimir/modules.go
Owners: @grafana/mimir-maintainers

remove Grafana Alertmanager config ID everywhere else
  integration/e2emimir/client.go
  pkg/alertmanager/alertspb/alerts.pb.go
  pkg/alertmanager/alertspb/alerts.proto
  pkg/alertmanager/alertspb/compat.go
  pkg/alertmanager/alertstore/store_test.go
  pkg/alertmanager/api_grafana.go
  pkg/alertmanager/api_grafana_test.go
Owners: @grafana/mimir-maintainers, @grafana/mimir-ruler-and-alertmanager-maintainers

Move -querier.minimize-ingester-requests from experimental to advanced
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/configure/configuration-parameters/index.md
  docs/sources/mimir/release-notes/v2.12.md
  pkg/querier/querier.go
Owners: @grafana/mimir-maintainers, @jdbaldry

remove IDs from alertmanager_test.go
  integration/alertmanager_test.go
Owners: @grafana/mimir-maintainers

remove IDs from api_grafana_test.go
  pkg/alertmanager/api_grafana_test.go
Owners: @grafana/mimir-ruler-and-alertmanager-maintainers, @grafana/mimir-maintainers

chore: remove repetitive words
  docs/sources/mimir/release-notes/v2.1.md
  docs/sources/mimir/release-notes/v2.12.md
  operations/helm/charts/mimir-distributed/values.yaml
Owners: @jdbaldry, @grafana/mimir-maintainers

Owned series: modify owned series lifecycle (#7583)
  pkg/ingester/ingester.go
  pkg/ingester/owned_series.go
  pkg/ingester/owned_series_test.go
Owners: @grafana/mimir-maintainers

Remove ID from Grafana Alertmanager configuration (#7643)
  integration/alertmanager_test.go
  integration/e2emimir/client.go
  pkg/alertmanager/alertspb/alerts.pb.go
  pkg/alertmanager/alertspb/alerts.proto
  pkg/alertmanager/alertspb/compat.go
  pkg/alertmanager/alertstore/store_test.go
  pkg/alertmanager/api_grafana.go
  pkg/alertmanager/api_grafana_test.go
Owners: @grafana/mimir-maintainers, @grafana/mimir-ruler-and-alertmanager-maintainers

Sort exemplars on ingestion
  CHANGELOG.md
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
Owners: @grafana/mimir-maintainers

chore: remove repetitive words (#7646)
  docs/sources/mimir/release-notes/v2.1.md
  docs/sources/mimir/release-notes/v2.12.md
  operations/helm/charts/mimir-distributed/values.yaml
Owners: @jdbaldry, @grafana/mimir-maintainers

Move -querier.minimize-ingester-requests from experimental to advanced (#7638)
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/configure/configuration-parameters/index.md
  docs/sources/mimir/release-notes/v2.12.md
  pkg/querier/querier.go
Owners: @grafana/mimir-maintainers, @jdbaldry

Add comment for utility function
  pkg/mimirpb/compat.go
Owners: @grafana/mimir-maintainers

distributor, ruler: expect METHOD_NOT_ALLOWED from pusher
  pkg/distributor/errors.go
  pkg/distributor/errors_test.go
  pkg/distributor/push.go
  pkg/distributor/push_test.go
  pkg/ruler/compat_test.go
Owners: @grafana/mimir-maintainers, @grafana/mimir-ruler-and-alertmanager-maintainers

Get rid of querier.prefer-streaming-chunks-from-ingesters
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/configure/configuration-parameters/index.md
  docs/sources/mimir/release-notes/v2.12.md
  integration/ingester_test.go
  integration/querier_test.go
  pkg/distributor/distributor.go
  pkg/distributor/query.go
  pkg/distributor/query_test.go
  pkg/mimir/modules.go
  pkg/querier/querier.go
Owners: @grafana/mimir-maintainers, @jdbaldry

Fixing a failing test
  pkg/distributor/query_test.go
Owners: @grafana/mimir-maintainers

Fixing failing tests
  pkg/distributor/distributor_test.go
  pkg/distributor/query_ingest_storage_test.go
  pkg/distributor/query_test.go
  pkg/ingester/client/chunkcompat.go
Owners: @grafana/mimir-maintainers

Fixing review findings
  integration/ingester_test.go
  integration/querier_test.go
Owners: @grafana/mimir-maintainers
