Repository grafana/mimir, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/mimir-maintainers, @grafana/docs-metrics, @grafana/mimir-ruler-and-alertmanager-maintainers, @wilfriedroset, @vaxvms, @bubu11e, @grafanabot

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/mimir-maintainers

# Documentation.
/docs/ @grafana/docs-metrics @grafana/mimir-maintainers

# Alertmanager and ruler.
/pkg/alertmanager/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers
/pkg/ruler/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers

# Packages.
/Makefile @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers
/packaging/ @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers

# No owners - allows sub-maintainers to merge changes.
CHANGELOG.md

# Dependencies
go.mod @grafana/mimir-maintainers @grafanabot
go.sum @grafana/mimir-maintainers @grafanabot
/vendor/ @grafana/mimir-maintainers @grafanabot

Improve support for variables in range (#6657)
  CHANGELOG.md
  pkg/mimirtool/analyze/grafana.go
Owners: @grafana/mimir-maintainers

Fix broken link and align text
  docs/sources/mimir/tutorials/play-with-grafana-mimir/index.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

/active_series: add support for protobuf response encoding
  pkg/api/handlers.go
  pkg/cardinality/request.go
  pkg/cardinality/request_test.go
  pkg/frontend/querymiddleware/cardinality_query_cache.go
  pkg/frontend/querymiddleware/generic_query_cache.go
  pkg/frontend/querymiddleware/labels_query_cache.go
  pkg/frontend/querymiddleware/labels_query_cache_test.go
  pkg/mimirpb/mimir.pb.go
  pkg/mimirpb/mimir.proto
  pkg/querier/active_series_handler.go
  pkg/querier/cardinality_analysis_handler.go
  pkg/querier/cardinality_analysis_handler_test.go
Owners: @grafana/mimir-maintainers

Ingester: Prefer memory utilization measurements from cgroup
  pkg/util/limiter/utilization.go
Owners: @grafana/mimir-maintainers

changelog
  CHANGELOG.md
Owners: none

Base memory utilization on Go heap size
  CHANGELOG.md
  pkg/util/limiter/utilization.go
Owners: @grafana/mimir-maintainers

Distributor: Don't use global logger in push handlers (#6652)
  CHANGELOG.md
  pkg/api/api.go
  pkg/distributor/otel.go
  pkg/distributor/push.go
  pkg/distributor/push_test.go
Owners: @grafana/mimir-maintainers

Add benchmark for querier.ActiveSeriesCardinalityHandler
  pkg/querier/cardinality_analysis_handler_test.go
Owners: @grafana/mimir-maintainers

use json-iterator instead of encoding/json
  pkg/querier/cardinality_analysis_handler.go
  pkg/querier/cardinality_analysis_handler_test.go
Owners: @grafana/mimir-maintainers

changelog
  CHANGELOG.md
Owners: none

analyze rule groups
  tools/rule-group-evals/main.go
Owners: @grafana/mimir-maintainers

Fix menu titles to fix #4486.
  docs/sources/mimir/configure/about-anonymous-usage-statistics-reporting.md
  docs/sources/mimir/configure/about-configurations.md
  docs/sources/mimir/configure/about-dns-service-discovery.md
  docs/sources/mimir/configure/about-ip-address-logging.md
  docs/sources/mimir/configure/about-runtime-configuration.md
  docs/sources/mimir/configure/about-tenant-ids.md
  docs/sources/mimir/configure/about-versioning.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Enable StatefulSetAutoDeletePVC feature for ingester
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/templates/ingester/ingester-statefulset.yaml
  operations/helm/charts/mimir-distributed/values.yaml
Owners: @grafana/mimir-maintainers

Update
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/templates/ingester/ingester-statefulset.yaml
  operations/helm/charts/mimir-distributed/values.yaml
Owners: @grafana/mimir-maintainers

Update requested
  operations/helm/charts/mimir-distributed/templates/ingester/ingester-statefulset.yaml
Owners: @grafana/mimir-maintainers

Enable autodeletionc PVC in other sts
  operations/helm/charts/mimir-distributed/templates/alertmanager/alertmanager-statefulset.yaml
  operations/helm/charts/mimir-distributed/templates/compactor/compactor-statefulset.yaml
  operations/helm/charts/mimir-distributed/templates/ingester/ingester-statefulset.yaml
  operations/helm/charts/mimir-distributed/templates/store-gateway/store-gateway-statefulset.yaml
  operations/helm/charts/mimir-distributed/values.yaml
Owners: @grafana/mimir-maintainers

storegateway tests: disable tsdb transaction isolation
  pkg/storegateway/bucket_test.go
Owners: @grafana/mimir-maintainers

storegateway tests: commit appender periodically
  pkg/storegateway/bucket_test.go
  pkg/storegateway/postings_codec_test.go
  pkg/storegateway/series_refs_test.go
Owners: @grafana/mimir-maintainers

storegateway tests: reduce overhad from testify
  pkg/storegateway/series_refs_test.go
Owners: @grafana/mimir-maintainers

storegateway tests: avoid Testify overhead when checking results
  pkg/storegateway/prometheus_test.go
Owners: @grafana/mimir-maintainers

storegateway tests: re-use details when creating test block
  pkg/storegateway/series_refs_test.go
Owners: @grafana/mimir-maintainers

Add more debugging info
  tools/rule-group-evals/main.go
Owners: @grafana/mimir-maintainers

fixup! storegateway tests: commit appender periodically
  pkg/storegateway/bucket_test.go
Owners: @grafana/mimir-maintainers

Remove "About" from menuTitle for TOC.
  docs/sources/mimir/configure/about-anonymous-usage-statistics-reporting.md
  docs/sources/mimir/configure/about-configurations.md
  docs/sources/mimir/configure/about-dns-service-discovery.md
  docs/sources/mimir/configure/about-ip-address-logging.md
  docs/sources/mimir/configure/about-runtime-configuration.md
  docs/sources/mimir/configure/about-tenant-ids.md
  docs/sources/mimir/configure/about-versioning.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Remove "About" from menuTitle for TOC. (#6672)
  docs/sources/mimir/configure/about-anonymous-usage-statistics-reporting.md
  docs/sources/mimir/configure/about-configurations.md
  docs/sources/mimir/configure/about-dns-service-discovery.md
  docs/sources/mimir/configure/about-ip-address-logging.md
  docs/sources/mimir/configure/about-runtime-configuration.md
  docs/sources/mimir/configure/about-tenant-ids.md
  docs/sources/mimir/configure/about-versioning.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Remove -querier.query-ingesters-within config
  pkg/mimir/mimir_test.go
  pkg/mimir/modules.go
  pkg/querier/querier.go
Owners: @grafana/mimir-maintainers

Remove -querier.iterators and -querier.batch-iterators
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/querier/querier.go
  pkg/querier/querier_test.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

Remove deprecated bucket store flags
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  operations/compare-helm-with-jsonnet/components/config/kustomization.yaml
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  pkg/storage/tsdb/config.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

Distributor: growStack before pushing to ingesters
  pkg/distributor/distributor.go
Owners: @grafana/mimir-maintainers

Add utilization based limiter benchmarks
  pkg/util/limiter/utilization_test.go
Owners: @grafana/mimir-maintainers

Ingester: Base memory utilization on Go heap size (#6584)
  CHANGELOG.md
  pkg/util/limiter/utilization.go
  pkg/util/limiter/utilization_test.go
Owners: @grafana/mimir-maintainers

Rewrite the introduction to make the language more concise.
  docs/sources/mimir/visualize/native-histograms/_index.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

do not use v1.Response
  pkg/querier/cardinality_analysis_handler.go
  pkg/querier/cardinality_analysis_handler_test.go
Owners: @grafana/mimir-maintainers

`/active_series`: improve json encoding performance (#6667)
  CHANGELOG.md
  pkg/querier/cardinality_analysis_handler.go
  pkg/querier/cardinality_analysis_handler_test.go
Owners: @grafana/mimir-maintainers

Support downloading rules too
  tools/rule-group-evals/main.go
Owners: @grafana/mimir-maintainers

make memcached connection limit configurable
  operations/helm/charts/mimir-distributed/templates/memcached/_memcached-statefulset.tpl
  operations/helm/charts/mimir-distributed/values.yaml
  operations/mimir/config.libsonnet
  operations/mimir/memcached.libsonnet
Owners: @grafana/mimir-maintainers

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Remove -blocks-storage.bucket-store.bucket-index.enabled config
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  integration/backward_compatibility_test.go
  integration/configs.go
  integration/getting_started_with_gossiped_ring_test.go
  integration/ingester_limits_test.go
  integration/querier_test.go
  integration/ruler_test.go
  pkg/querier/blocks_store_queryable.go
  pkg/storage/tsdb/config.go
  pkg/storegateway/bucket_stores.go
  pkg/storegateway/bucket_stores_test.go
  pkg/storegateway/gateway_test.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

address review comments
  CHANGELOG.md
  docs/sources/mimir/manage/mimir-runbooks/_index.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/mixin-alerts.yaml
  operations/mimir-mixin-compiled-baremetal/alerts.yaml
  operations/mimir-mixin-compiled/alerts.yaml
  operations/mimir-mixin/alerts/alerts.libsonnet
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Address PR feedback: remove implicit circular dependency.
  pkg/frontend/querymiddleware/roundtrip.go
  pkg/frontend/querymiddleware/roundtrip_test.go
  pkg/frontend/querymiddleware/running.go
  pkg/frontend/querymiddleware/running_test.go
  pkg/mimir/modules.go
Owners: @grafana/mimir-maintainers
