Repository grafana/mimir, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/mimir-maintainers, @grafana/docs-metrics, @grafana/mimir-ruler-and-alertmanager-maintainers, @wilfriedroset, @vaxvms, @bubu11e, @grafanabot

chore: added logic for not setting replicas for more dep
  operations/helm/charts/mimir-distributed/templates/distributor/distributor-dep.yaml
  operations/helm/charts/mimir-distributed/templates/querier/querier-dep.yaml
  operations/helm/charts/mimir-distributed/templates/query-frontend/query-frontend-dep.yaml
  operations/helm/charts/mimir-distributed/values.yaml
Owners: @grafana/mimir-maintainers

chore: remove testing comment
  operations/helm/charts/mimir-distributed/templates/distributor/distributor-dep.yaml
Owners: @grafana/mimir-maintainers

chore: support setting replicas using --set
  operations/helm/charts/mimir-distributed/templates/distributor/distributor-dep.yaml
Owners: @grafana/mimir-maintainers

chore: use kind is to test if replicas null
  operations/helm/charts/mimir-distributed/templates/distributor/distributor-dep.yaml
Owners: @grafana/mimir-maintainers

chore: add support for not setting replicas helm chart
  operations/helm/charts/mimir-distributed/templates/distributor/distributor-dep.yaml
Owners: @grafana/mimir-maintainers

chore: added changelog entry
  operations/helm/charts/mimir-distributed/CHANGELOG.md
Owners: none

Add destination label to cortex_distributor_received_samples_total
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
Owners: @grafana/mimir-maintainers

Added HyperMinimizedWriteRequest but doesn't play well with compression
  pkg/mimirpb/mimir.pb.go
  pkg/mimirpb/mimir.proto
  tools/analyze-write-request-sampling/main.go
  tools/analyze-write-request-sampling/minimized_write_request.go
  tools/analyze-write-request-sampling/minimized_write_request_test.go
Owners: @grafana/mimir-maintainers

changelog
  CHANGELOG.md
Owners: none

Change scaleDownPeriod to scale_down_period in autoscaling jsonnet
  operations/mimir/autoscaling.libsonnet
Owners: @grafana/mimir-maintainers

Fix test.
  pkg/distributor/distributor_test.go
Owners: @grafana/mimir-maintainers

Change scaleDownPeriod to scale_down_period in autoscaling jsonnet (#6499)
  operations/mimir/autoscaling.libsonnet
Owners: @grafana/mimir-maintainers

distributor: pass write request size via metadata (#6490)
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
Owners: @grafana/mimir-maintainers

Retry query without sharding when sharded version results in monotonicity bug for histogram_quantile on classic histogram buckets
  pkg/frontend/querymiddleware/querysharding.go
Owners: @grafana/mimir-maintainers

Temp commit to make it build until this change is upstreamed
  vendor/github.com/prometheus/prometheus/util/annotations/annotations.go
Owners: @grafana/mimir-maintainers, @grafanabot

Fix according to code review
  pkg/frontend/querymiddleware/querysharding.go
Owners: @grafana/mimir-maintainers

remove old methods and now passing integration tests; TODO clean up unit tests that rely on deleted helper methods
  pkg/scheduler/queue/queue.go
  pkg/scheduler/queue/tenant_queues.go
  pkg/scheduler/queue/tenant_queues_test.go
  pkg/scheduler/queue/tree_queue.go
Owners: @grafana/mimir-maintainers

WIP on code cleanup; re-introducing commented tests with fixes for new data structures; TODO update tests to reflect new interface boundaries
  pkg/scheduler/queue/tenant_queues.go
  pkg/scheduler/queue/tenant_queues_test.go
  pkg/scheduler/queue/tree_queue.go
Owners: @grafana/mimir-maintainers

Helm: switch to github app for repo authz
  .github/workflows/helm-release.yaml
Owners: @grafana/mimir-maintainers

Update Mimir images to latest r261
  operations/helm/charts/mimir-distributed/values.yaml
Owners: @grafana/mimir-maintainers

Helm: switch to github app for repo authz (#6503)
  .github/workflows/helm-release.yaml
Owners: @grafana/mimir-maintainers

Use more efficient spanlog.DebugLog in more places
  pkg/frontend/querymiddleware/generic_query_cache.go
  pkg/frontend/querymiddleware/querysharding.go
  pkg/frontend/querymiddleware/split_by_instant_interval.go
  pkg/frontend/v2/frontend.go
  pkg/ingester/ingester.go
  pkg/querier/blocks_store_queryable.go
  pkg/querier/distributor_queryable.go
  pkg/querier/querier.go
  pkg/querier/querier_test.go
  pkg/querier/tenantfederation/merge_metadata.go
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_index_reader.go
  pkg/storegateway/indexcache/tracing.go
  pkg/storegateway/series_chunks.go
  pkg/storegateway/series_refs.go
Owners: @grafana/mimir-maintainers

Apply suggestions from code review
  pkg/ingester/client/streaming.go
  pkg/querier/block_streaming.go
Owners: @grafana/mimir-maintainers

Fix issue where successful streaming gRPC requests are incorrectly reported as cancelled (#6471)
  CHANGELOG.md
  integration/ingester_test.go
  pkg/distributor/distributor.go
  pkg/distributor/query.go
  pkg/frontend/v2/frontend_scheduler_worker.go
  pkg/ingester/client/streaming.go
  pkg/ingester/client/streaming_test.go
  pkg/querier/block_streaming.go
  pkg/querier/block_streaming_test.go
  pkg/querier/blocks_store_queryable.go
  pkg/util/grpc.go
Owners: @grafana/mimir-maintainers

Use more efficient spanlog.DebugLog in more places (#5965)
  pkg/frontend/querymiddleware/generic_query_cache.go
  pkg/frontend/querymiddleware/querysharding.go
  pkg/frontend/querymiddleware/split_by_instant_interval.go
  pkg/frontend/v2/frontend.go
  pkg/ingester/ingester.go
  pkg/querier/blocks_store_queryable.go
  pkg/querier/distributor_queryable.go
  pkg/querier/querier.go
  pkg/querier/querier_test.go
  pkg/querier/tenantfederation/merge_metadata.go
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_index_reader.go
  pkg/storegateway/indexcache/tracing.go
  pkg/storegateway/series_chunks.go
  pkg/storegateway/series_refs.go
Owners: @grafana/mimir-maintainers

Add TestQuerySharding_NonMonotonicHistogramBuckets
  pkg/frontend/querymiddleware/querysharding_test.go
Owners: @grafana/mimir-maintainers

Fix typo in comment.
  pkg/ingester/client/streaming.go
Owners: @grafana/mimir-maintainers

Use more efficient `SpanLogger.DebugLog()` method in more places.
  pkg/querier/block_streaming.go
Owners: @grafana/mimir-maintainers

Add linting rule to forbid the direct use of CloseSend().
  .golangci.yml
  pkg/scheduler/scheduler_test.go
  pkg/util/grpc.go
Owners: @grafana/mimir-maintainers

Add documentation to CloseAndExhaust.
  pkg/util/grpc.go
Owners: @grafana/mimir-maintainers

Update changelog entry.
  CHANGELOG.md
Owners: none

Report correct error when closing loop fails
  pkg/frontend/v2/frontend_scheduler_worker.go
Owners: @grafana/mimir-maintainers

Avoid reading entire store-gateway query stream response when one or more calls fail.
  pkg/querier/blocks_store_queryable.go
Owners: @grafana/mimir-maintainers

Silence linting warnings.
  pkg/querier/blocks_store_queryable.go
Owners: @grafana/mimir-maintainers

Ensure CloseAndExhaust never blocks forever.
  pkg/util/grpc.go
  pkg/util/grpc_test.go
Owners: @grafana/mimir-maintainers

Fix race in ingester streaming tests: there's no guarantee we'll close the stream synchronously after encountering an error
  pkg/ingester/client/streaming_test.go
Owners: @grafana/mimir-maintainers

Fix references to renamed configuration options.
  pkg/api/api_test.go
  pkg/mimir/mimir_test.go
  tools/querytee/proxy.go
Owners: @grafana/mimir-maintainers

Address PR feedback: reduce timeout.
  pkg/util/grpc.go
  pkg/util/grpc_test.go
Owners: @grafana/mimir-maintainers

Modify TestQuerySharding_NonMonotonicHistogramBuckets to fail and reproduce the bug
  pkg/frontend/querymiddleware/querysharding_test.go
Owners: @grafana/mimir-maintainers

Address post-merge feedback for #6471 (#6505)
  .golangci.yml
  CHANGELOG.md
  pkg/frontend/v2/frontend_scheduler_worker.go
  pkg/ingester/client/streaming.go
  pkg/ingester/client/streaming_test.go
  pkg/querier/block_streaming.go
  pkg/querier/blocks_store_queryable.go
  pkg/scheduler/scheduler_test.go
  pkg/util/grpc.go
  pkg/util/grpc_test.go
Owners: @grafana/mimir-maintainers

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/mimir-maintainers

# Documentation.
/docs/ @grafana/docs-metrics @grafana/mimir-maintainers

# Alertmanager and ruler.
/pkg/alertmanager/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers
/pkg/ruler/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers

# Packages.
/Makefile @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers
/packaging/ @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers

# No owners - allows sub-maintainers to merge changes.
CHANGELOG.md

# Dependencies
go.mod @grafana/mimir-maintainers @grafanabot
go.sum @grafana/mimir-maintainers @grafanabot
/vendor/ @grafana/mimir-maintainers @grafanabot
