Repository grafana/mimir, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/mimir-maintainers, @grafana/docs-metrics, @grafana/mimir-ruler-and-alertmanager-maintainers, @wilfriedroset, @vaxvms, @bubu11e, @grafanabot

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/mimir-maintainers

# Documentation.
/docs/ @grafana/docs-metrics @grafana/mimir-maintainers

# Alertmanager and ruler.
/pkg/alertmanager/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers
/pkg/ruler/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers

# Packages.
/Makefile @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers
/packaging/ @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers

# No owners - allows sub-maintainers to merge changes.
CHANGELOG.md

# Dependencies
go.mod @grafana/mimir-maintainers @grafanabot
go.sum @grafana/mimir-maintainers @grafanabot
/vendor/ @grafana/mimir-maintainers @grafanabot

Add startupProbe to ruler statefulset helm template
  operations/helm/charts/mimir-distributed/templates/ruler/ruler-dep.yaml
Owners: @grafana/mimir-maintainers

Add startupProbe to store-gateway statefulset helm template
  operations/helm/charts/mimir-distributed/templates/store-gateway/store-gateway-statefulset.yaml
Owners: @grafana/mimir-maintainers

Optionally wait for the query-frontend to start up before rejecting requests (#6621)
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/frontend/querymiddleware/roundtrip.go
  pkg/frontend/querymiddleware/running.go
  pkg/frontend/querymiddleware/running_test.go
  pkg/frontend/v2/frontend.go
  pkg/mimir/mimir.go
  pkg/mimir/modules.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

Include more information in "context canceled" errors returned from chunks streaming
  pkg/ingester/client/streaming.go
  pkg/querier/block_streaming.go
  pkg/querier/worker/scheduler_processor.go
Owners: @grafana/mimir-maintainers

Add changelog entry
  CHANGELOG.md
Owners: none

Update operations/helm/charts/mimir-distributed/templates/store-gateway/store-gateway-statefulset.yaml
  operations/helm/charts/mimir-distributed/templates/store-gateway/store-gateway-statefulset.yaml
Owners: @grafana/mimir-maintainers

Update operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/charts/mimir-distributed/values.yaml
Owners: @grafana/mimir-maintainers

Update operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/charts/mimir-distributed/values.yaml
Owners: @grafana/mimir-maintainers

Update operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/charts/mimir-distributed/values.yaml
Owners: @grafana/mimir-maintainers

Update operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/charts/mimir-distributed/values.yaml
Owners: @grafana/mimir-maintainers

Update operations/helm/charts/mimir-distributed/templates/compactor/compactor-statefulset.yaml
  operations/helm/charts/mimir-distributed/templates/compactor/compactor-statefulset.yaml
Owners: @grafana/mimir-maintainers

Update operations/helm/charts/mimir-distributed/templates/ingester/ingester-statefulset.yaml
  operations/helm/charts/mimir-distributed/templates/ingester/ingester-statefulset.yaml
Owners: @grafana/mimir-maintainers

Update operations/helm/charts/mimir-distributed/templates/store-gateway/store-gateway-statefulset.yaml
  operations/helm/charts/mimir-distributed/templates/store-gateway/store-gateway-statefulset.yaml
Owners: @grafana/mimir-maintainers

Update operations/helm/charts/mimir-distributed/templates/alertmanager/alertmanager-statefulset.yaml
  operations/helm/charts/mimir-distributed/templates/alertmanager/alertmanager-statefulset.yaml
Owners: @grafana/mimir-maintainers

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update mimir-distributed chart to 5.2.0-weekly.265
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/values.yaml
Owners: @grafana/mimir-maintainers

Fix changelog, flag not removed
  CHANGELOG.md
Owners: none

Align with Writers’ Toolkit wrt numbering.
  docs/sources/mimir/set-up/migrate/migrate-from-thanos-or-prometheus.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Add tls skip to ruler
  pkg/mimirtool/commands/analyse.go
Owners: @grafana/mimir-maintainers

WIP
  pkg/distributor/chunk_buffer.go
  pkg/distributor/chunk_uploader.go
  pkg/distributor/chunk_writer.go
Owners: @grafana/mimir-maintainers

Fix changelog, flag not removed (#6699)
  CHANGELOG.md
Owners: none

WIP
  pkg/distributor/chunk_buffer.go
  pkg/distributor/chunk_uploader.go
  pkg/distributor/chunk_writer.go
Owners: @grafana/mimir-maintainers

WIP
  pkg/distributor/chunk_buffer.go
  pkg/distributor/chunk_buffer_test.go
Owners: @grafana/mimir-maintainers

Align with Writers’ Toolkit wrt numbering. (#6700)
  docs/sources/mimir/set-up/migrate/migrate-from-thanos-or-prometheus.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Release mimir-distributed Helm chart 5.2.0-weekly.265 (#6698)
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/values.yaml
Owners: @grafana/mimir-maintainers

Address PR feedback: ensure context cancellation causes returns true for `errors.Is(cause, context.Canceled)`
  pkg/querier/worker/scheduler_processor.go
  pkg/util/cancellation.go
  pkg/util/cancellation_test.go
Owners: @grafana/mimir-maintainers

Draft release notes for 2.11
  docs/sources/mimir/release-notes/v2.11.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Warn if query-scheduler queue contains requests while shutting down
  pkg/scheduler/queue/queue.go
Owners: @grafana/mimir-maintainers

Always report query result to query frontend
  pkg/querier/worker/scheduler_processor.go
  pkg/querier/worker/scheduler_processor_test.go
Owners: @grafana/mimir-maintainers

Add changelog entry.
  CHANGELOG.md
Owners: none

Warn if query-scheduler queue contains requests while shutting down (#6704)
  pkg/scheduler/queue/queue.go
Owners: @grafana/mimir-maintainers

Ensure test server has completed shut down before test ends.
  pkg/querier/worker/scheduler_processor_test.go
Owners: @grafana/mimir-maintainers

WIP
  pkg/distributor/chunk_buffer_test.go
Owners: @grafana/mimir-maintainers

Moved to streams/ package
  pkg/streams/chunk_buffer.go
  pkg/streams/chunk_buffer_test.go
  pkg/streams/chunk_uploader.go
  pkg/streams/chunk_writer.go
Owners: @grafana/mimir-maintainers

Fixed TestChunkBufferMarshaller_Read
  pkg/streams/chunk_buffer_test.go
Owners: @grafana/mimir-maintainers

Tested the Writer
  pkg/streams/chunk_buffer.go
  pkg/streams/chunk_uploader.go
  pkg/streams/chunk_writer.go
  pkg/streams/chunk_writer_test.go
Owners: @grafana/mimir-maintainers

Added ingest storage config
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/distributor/distributor.go
  pkg/mimir/mimir.go
  pkg/mimir/modules.go
  pkg/streams/config.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

Push segments to object storage when enabled
  development/mimir-read-write-mode/config/mimir.yaml
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/streams/chunk_buffer.go
  pkg/streams/chunk_buffer_test.go
Owners: @grafana/mimir-maintainers

Make PrometheusCodec return apierror.TypeInternal
  pkg/frontend/querymiddleware/codec.go
  pkg/frontend/querymiddleware/codec_test.go
  pkg/frontend/querymiddleware/querysharding.go
  pkg/frontend/querymiddleware/querysharding_test.go
Owners: @grafana/mimir-maintainers

Simplify
  pkg/distributor/otel.go
Owners: @grafana/mimir-maintainers
