Repository grafana/mimir, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/mimir-maintainers, @grafana/docs-metrics, @grafana/mimir-ruler-and-alertmanager-maintainers, @wilfriedroset, @vaxvms, @bubu11e, @grafanabot

Add nolint rule
  pkg/ruler/ruler.go
Owners: @grafana/mimir-ruler-and-alertmanager-maintainers, @grafana/mimir-maintainers

Make linter happy and move on
  pkg/ruler/ruler.go
Owners: @grafana/mimir-ruler-and-alertmanager-maintainers, @grafana/mimir-maintainers

Update dskit, add `-server.http-read-header-timeout` option (#6517)
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  go.mod
  go.sum
  vendor/github.com/grafana/dskit/server/server.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics, @grafanabot

Add tracing span to Ruler.getLocalRules() (#6515)
  pkg/ruler/ruler.go
  pkg/ruler/ruler_test.go
Owners: @grafana/mimir-ruler-and-alertmanager-maintainers, @grafana/mimir-maintainers

Apply suggestions from code review
  .github/workflows/member_pr.yml
  .github/workflows/push-mimir-build-image.yml
Owners: @grafana/mimir-maintainers

Update .github/workflows/push-mimir-build-image.yml
  .github/workflows/push-mimir-build-image.yml
Owners: @grafana/mimir-maintainers

Ensure that DoNotLogErrors set DoNotLogError header in the HTTP response
  go.mod
  go.sum
  pkg/distributor/distributor.go
  pkg/distributor/errors_test.go
  pkg/distributor/push.go
  pkg/distributor/push_test.go
  pkg/ingester/errors.go
  pkg/ingester/errors_test.go
  pkg/ingester/ingester.go
  pkg/util/log/log.go
  vendor/github.com/grafana/dskit/httpgrpc/httpgrpc.go
  vendor/github.com/grafana/dskit/httpgrpc/server/server.go
  vendor/github.com/grafana/dskit/middleware/grpc_logging.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Add tooling to easily download chunks from ingesters and parse it
  tools/grpcurl-query-ingesters/download-chunks-from-ingesters-query.json
  tools/grpcurl-query-ingesters/download-chunks-from-ingesters.sh
  tools/grpcurl-query-ingesters/main.go
  tools/grpcurl-query-ingesters/response.go
Owners: @grafana/mimir-maintainers

Added README
  tools/grpcurl-query-ingesters/README.md
  tools/grpcurl-query-ingesters/download-chunks-from-ingesters.sh
Owners: @grafana/mimir-maintainers

Fixed linter
  tools/grpcurl-query-ingesters/main.go
Owners: @grafana/mimir-maintainers

fix interface conversion mismatch in query-scheduler (#6516)
  pkg/scheduler/queue/queue.go
  pkg/scheduler/queue/queue_test.go
  pkg/scheduler/queue/tenant_queues.go
Owners: @grafana/mimir-maintainers

Validate native histogram sample against metricname
  pkg/distributor/distributor.go
Owners: @grafana/mimir-maintainers

Added missing license
  tools/grpcurl-query-ingesters/download-chunks-from-ingesters.sh
  tools/grpcurl-query-ingesters/main.go
  tools/grpcurl-query-ingesters/response.go
Owners: @grafana/mimir-maintainers

Validate native histogram sample against metricname
  pkg/distributor/distributor.go
Owners: @grafana/mimir-maintainers

Ensure that DoNotLogErrors set DoNotLogError header in the HTTP response (#6522)
  go.mod
  go.sum
  pkg/distributor/distributor.go
  pkg/distributor/errors_test.go
  pkg/distributor/push.go
  pkg/distributor/push_test.go
  pkg/ingester/errors.go
  pkg/ingester/errors_test.go
  pkg/ingester/ingester.go
  pkg/util/log/log.go
  vendor/github.com/grafana/dskit/httpgrpc/httpgrpc.go
  vendor/github.com/grafana/dskit/httpgrpc/server/server.go
  vendor/github.com/grafana/dskit/middleware/grpc_logging.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

fix interface conversion mismatch in query-scheduler (#6516) (#6524)
  pkg/scheduler/queue/queue.go
  pkg/scheduler/queue/queue_test.go
  pkg/scheduler/queue/tenant_queues.go
Owners: @grafana/mimir-maintainers

Renovate: Ignore opentracing-contrib/go-grpc fork (#6512)
  renovate.json
Owners: @grafana/mimir-maintainers

Ensure that DoNotLogErrors set DoNotLogError header in the HTTP response (#6522)
  go.mod
  go.sum
  pkg/distributor/distributor.go
  pkg/distributor/errors_test.go
  pkg/distributor/push.go
  pkg/distributor/push_test.go
  pkg/ingester/errors.go
  pkg/ingester/errors_test.go
  pkg/ingester/ingester.go
  pkg/util/log/log.go
  vendor/github.com/grafana/dskit/httpgrpc/httpgrpc.go
  vendor/github.com/grafana/dskit/httpgrpc/server/server.go
  vendor/github.com/grafana/dskit/middleware/grpc_logging.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Update mimir-prometheus (#6520)
  CHANGELOG.md
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/rules/group.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Add tracing span to Ruler.getLocalRules() (#6515)
  pkg/ruler/ruler.go
  pkg/ruler/ruler_test.go
Owners: @grafana/mimir-ruler-and-alertmanager-maintainers, @grafana/mimir-maintainers

Update dskit, add `-server.http-read-header-timeout` option (#6517)
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  go.mod
  go.sum
  vendor/github.com/grafana/dskit/server/server.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics, @grafanabot

Update build image version to pr6519-fb5d96e52f
  Makefile
Owners: @wilfriedroset, @vaxvms, @bubu11e, @grafana/mimir-maintainers

Log info about invalid chunks
  pkg/storage/tsdb/block/index.go
Owners: @grafana/mimir-maintainers

Print labels
  pkg/storage/tsdb/block/index.go
Owners: @grafana/mimir-maintainers

re-fix merge resolution
  pkg/scheduler/queue/queue_test.go
  pkg/scheduler/queue/tenant_queues.go
Owners: @grafana/mimir-maintainers

address linting
  pkg/scheduler/queue/tree_queue.go
  pkg/scheduler/queue/tree_queue_test.go
Owners: @grafana/mimir-maintainers

WIP on code cleanup; re-introducing commented tests with fixes for new data structures; TODO update tests to reflect new interface boundaries
  pkg/scheduler/queue/tenant_queues.go
  pkg/scheduler/queue/tenant_queues_test.go
  pkg/scheduler/queue/tree_queue.go
Owners: @grafana/mimir-maintainers

address linting
  pkg/scheduler/queue/tree_queue.go
  pkg/scheduler/queue/tree_queue_test.go
Owners: @grafana/mimir-maintainers

messy fix that appears to pass previously failed integration tests
  pkg/scheduler/queue/queue.go
  pkg/scheduler/queue/tenant_queues.go
  pkg/scheduler/queue/tree_queue.go
Owners: @grafana/mimir-maintainers

convert queuebroker len check to isEmpty
  pkg/scheduler/queue/queue.go
  pkg/scheduler/queue/tenant_queues.go
Owners: @grafana/mimir-maintainers

add child queue deletion and max queue len to tree queue data structures
  pkg/scheduler/queue/tree_queue.go
  pkg/scheduler/queue/tree_queue_test.go
Owners: @grafana/mimir-maintainers

add tree queue data structures
  pkg/scheduler/queue/tree_queue.go
  pkg/scheduler/queue/tree_queue_test.go
Owners: @grafana/mimir-maintainers

remove old methods and now passing integration tests; TODO clean up unit tests that rely on deleted helper methods
  pkg/scheduler/queue/queue.go
  pkg/scheduler/queue/tenant_queues.go
  pkg/scheduler/queue/tenant_queues_test.go
  pkg/scheduler/queue/tree_queue.go
Owners: @grafana/mimir-maintainers

add connection-string for azure
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/storage/bucket/azure/bucket_client.go
  pkg/storage/bucket/azure/bucket_client_test.go
  pkg/storage/bucket/azure/config.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

updated changelog updated docs
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  pkg/storage/bucket/azure/config.go
Owners: @grafana/mimir-maintainers

Operations: Use metric_name as trigger name
  operations/mimir/autoscaling.libsonnet
Owners: @grafana/mimir-maintainers

Update compiled versions of dashboards and tests
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/grafana-dashboards.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/mixin-alerts.yaml
  operations/mimir-mixin-compiled-baremetal/alerts.yaml
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-reads.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-remote-ruler-reads.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-writes.json
  operations/mimir-mixin-compiled/alerts.yaml
  operations/mimir-mixin-compiled/dashboards/mimir-reads.json
  operations/mimir-mixin-compiled/dashboards/mimir-remote-ruler-reads.json
  operations/mimir-mixin-compiled/dashboards/mimir-writes.json
  operations/mimir-tests/test-autoscaling-custom-target-utilization-generated.yaml
  operations/mimir-tests/test-autoscaling-generated.yaml
  operations/mimir-tests/test-read-write-deployment-mode-s3-autoscaled-generated.yaml
Owners: @grafana/mimir-maintainers

Update KEDA alerts to use new operator metrics
  operations/mimir-mixin/alerts/autoscaling.libsonnet
Owners: @grafana/mimir-maintainers

Simplify autoscaling jsonnet
  operations/mimir/autoscaling.libsonnet
Owners: @grafana/mimir-maintainers

Update mixin dashboards for new autoscaling metrics
  operations/mimir-mixin/config.libsonnet
  operations/mimir-mixin/dashboards/dashboard-utils.libsonnet
  operations/mimir-mixin/dashboards/reads.libsonnet
  operations/mimir-mixin/dashboards/remote-ruler-reads.libsonnet
Owners: @grafana/mimir-maintainers

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/mimir-maintainers

# Documentation.
/docs/ @grafana/docs-metrics @grafana/mimir-maintainers

# Alertmanager and ruler.
/pkg/alertmanager/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers
/pkg/ruler/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers

# Packages.
/Makefile @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers
/packaging/ @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers

# No owners - allows sub-maintainers to merge changes.
CHANGELOG.md

# Dependencies
go.mod @grafana/mimir-maintainers @grafanabot
go.sum @grafana/mimir-maintainers @grafanabot
/vendor/ @grafana/mimir-maintainers @grafanabot
