Repository grafana/mimir, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/mimir-maintainers, @grafana/docs-metrics, @grafana/mimir-ruler-and-alertmanager-maintainers, @wilfriedroset, @vaxvms, @bubu11e, @grafanabot

Update Grafana links.
  docs/sources/mimir/visualize/native-histograms/_index.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Log how much time did query spend in the queue (in frontend or query-scheduler).
  pkg/frontend/transport/handler.go
  pkg/frontend/v1/frontend.go
  pkg/frontend/v1/frontendv1pb/frontend.pb.go
  pkg/frontend/v1/frontendv1pb/frontend.proto
  pkg/querier/stats/stats.go
  pkg/querier/stats/stats.pb.go
  pkg/querier/stats/stats.proto
  pkg/querier/worker/frontend_processor.go
  pkg/querier/worker/scheduler_processor.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/schedulerpb/scheduler.pb.go
  pkg/scheduler/schedulerpb/scheduler.proto
Owners: @grafana/mimir-maintainers

Update native histograms Send documentation
  docs/sources/mimir/send/native-histograms/_index.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

mimir-build-image: Upgrade to Node.js 20
  CHANGELOG.md
  mimir-build-image/Dockerfile
Owners: @grafana/mimir-maintainers

Update changelog
  CHANGELOG.md
Owners: none

Update changelog
  CHANGELOG.md
Owners: none

Update build image version to pr6540-8b3fe039e9
  Makefile
Owners: @wilfriedroset, @vaxvms, @bubu11e, @grafana/mimir-maintainers

mimir-build-image: Upgrade to Node.js 20 (#6540)
  CHANGELOG.md
  Makefile
  mimir-build-image/Dockerfile
Owners: @wilfriedroset, @vaxvms, @bubu11e, @grafana/mimir-maintainers

Update native histograms Send documentation (#6539)
  CHANGELOG.md
  docs/sources/mimir/send/native-histograms/_index.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Release mimir-distributed Helm chart 5.2.0-weekly.262 (#6513)
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/values.yaml
Owners: @grafana/mimir-maintainers

update agent version and config in development
  development/mimir-microservices-mode/config/grafana-agent.yaml
  development/mimir-microservices-mode/docker-compose.jsonnet
  development/mimir-microservices-mode/docker-compose.yml
  development/mimir-monolithic-mode-with-swift-storage/config/grafana-agent.yaml
  development/mimir-monolithic-mode-with-swift-storage/docker-compose.yml
  development/mimir-monolithic-mode/config/grafana-agent.yaml
  development/mimir-monolithic-mode/docker-compose.yml
  development/mimir-read-write-mode/config/grafana-agent.yaml
  development/mimir-read-write-mode/docker-compose.jsonnet
  development/mimir-read-write-mode/docker-compose.yml
Owners: @grafana/mimir-maintainers

Clean up store-gateway index-header instrumentation
  pkg/storegateway/indexheader/encoding/encoding_test.go
  pkg/storegateway/indexheader/encoding/factory.go
  pkg/storegateway/indexheader/encoding/factory_test.go
  pkg/storegateway/indexheader/index/symbols_test.go
  pkg/storegateway/indexheader/stream_binary_reader.go
  pkg/storegateway/indexheader/stream_binary_reader_test.go
Owners: @grafana/mimir-maintainers

update agent version and config in development (#6545)
  development/mimir-microservices-mode/config/grafana-agent.yaml
  development/mimir-microservices-mode/docker-compose.jsonnet
  development/mimir-microservices-mode/docker-compose.yml
  development/mimir-monolithic-mode-with-swift-storage/config/grafana-agent.yaml
  development/mimir-monolithic-mode-with-swift-storage/docker-compose.yml
  development/mimir-monolithic-mode/config/grafana-agent.yaml
  development/mimir-monolithic-mode/docker-compose.yml
  development/mimir-read-write-mode/config/grafana-agent.yaml
  development/mimir-read-write-mode/docker-compose.jsonnet
  development/mimir-read-write-mode/docker-compose.yml
Owners: @grafana/mimir-maintainers

Add new alert on metric to track ruler queries with zero fetched series
  CHANGELOG.md
  docs/sources/mimir/manage/mimir-runbooks/_index.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/mixin-alerts.yaml
  operations/mimir-mixin-compiled-baremetal/alerts.yaml
  operations/mimir-mixin-compiled/alerts.yaml
  operations/mimir-mixin/alerts/alerts.libsonnet
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Add unit tests.
  pkg/frontend/transport/handler_test.go
  pkg/frontend/v1/frontend_test.go
  pkg/querier/stats/stats_test.go
  pkg/querier/worker/frontend_processor_test.go
  pkg/querier/worker/scheduler_processor_test.go
  pkg/scheduler/scheduler_test.go
Owners: @grafana/mimir-maintainers

CHANGELOG.md entry
  CHANGELOG.md
Owners: none

Code review
  pkg/storegateway/indexheader/stream_binary_reader.go
  pkg/storegateway/indexheader/stream_binary_reader_test.go
Owners: @grafana/mimir-maintainers

Lint
  pkg/storegateway/indexheader/stream_binary_reader_test.go
Owners: @grafana/mimir-maintainers

Lint
  pkg/storegateway/indexheader/stream_binary_reader.go
Owners: @grafana/mimir-maintainers

Lint. Again.
  pkg/storegateway/indexheader/stream_binary_reader_test.go
Owners: @grafana/mimir-maintainers

Clean up store-gateway index-header instrumentation (#6547)
  pkg/storegateway/indexheader/encoding/encoding_test.go
  pkg/storegateway/indexheader/encoding/factory.go
  pkg/storegateway/indexheader/encoding/factory_test.go
  pkg/storegateway/indexheader/index/symbols_test.go
  pkg/storegateway/indexheader/stream_binary_reader.go
  pkg/storegateway/indexheader/stream_binary_reader_test.go
Owners: @grafana/mimir-maintainers

Aggregate dashboards by cluster+namespace
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/grafana-dashboards.yaml
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-reads.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-remote-ruler-reads.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-writes.json
  operations/mimir-mixin-compiled/dashboards/mimir-reads.json
  operations/mimir-mixin-compiled/dashboards/mimir-remote-ruler-reads.json
  operations/mimir-mixin-compiled/dashboards/mimir-writes.json
  operations/mimir-mixin/dashboards/dashboard-utils.libsonnet
  operations/mimir-mixin/dashboards/reads.libsonnet
Owners: @grafana/mimir-maintainers

Fix issue for ingester chunk streaming.
  pkg/distributor/query.go
  pkg/ingester/client/streaming.go
  pkg/ingester/client/streaming_test.go
  pkg/querier/distributor_queryable_streaming_test.go
Owners: @grafana/mimir-maintainers

Fix issue for store-gateway chunk streaming.
  pkg/querier/block_streaming.go
  pkg/querier/block_streaming_test.go
  pkg/querier/blocks_store_queryable.go
Owners: @grafana/mimir-maintainers

Add changelog entry.
  CHANGELOG.md
Owners: none

Add the min replicas to the autoscaling dashboards
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/grafana-dashboards.yaml
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-reads.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-remote-ruler-reads.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-writes.json
  operations/mimir-mixin-compiled/dashboards/mimir-reads.json
  operations/mimir-mixin-compiled/dashboards/mimir-remote-ruler-reads.json
  operations/mimir-mixin-compiled/dashboards/mimir-writes.json
  operations/mimir-mixin/dashboards/dashboard-utils.libsonnet
  operations/mimir-mixin/dashboards/reads.libsonnet
Owners: @grafana/mimir-maintainers

Update changelog
  CHANGELOG.md
Owners: none

Reorder changelog
  CHANGELOG.md
Owners: none

Add trace span for time taken to load index reader for each block.
  pkg/storegateway/bucket.go
Owners: @grafana/mimir-maintainers

Update operations to use new KEDA operator metrics (#6528)
  CHANGELOG.md
  docs/sources/mimir/manage/mimir-runbooks/_index.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/grafana-dashboards.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/mixin-alerts.yaml
  operations/mimir-mixin-compiled-baremetal/alerts.yaml
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-reads.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-remote-ruler-reads.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-writes.json
  operations/mimir-mixin-compiled/alerts.yaml
  operations/mimir-mixin-compiled/dashboards/mimir-reads.json
  operations/mimir-mixin-compiled/dashboards/mimir-remote-ruler-reads.json
  operations/mimir-mixin-compiled/dashboards/mimir-writes.json
  operations/mimir-mixin/alerts/autoscaling.libsonnet
  operations/mimir-mixin/config.libsonnet
  operations/mimir-mixin/dashboards/dashboard-utils.libsonnet
  operations/mimir-mixin/dashboards/reads.libsonnet
  operations/mimir-mixin/dashboards/remote-ruler-reads.libsonnet
  operations/mimir-tests/test-autoscaling-custom-target-utilization-generated.yaml
  operations/mimir-tests/test-autoscaling-generated.yaml
  operations/mimir-tests/test-read-write-deployment-mode-s3-autoscaled-generated.yaml
  operations/mimir/autoscaling.libsonnet
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Vendor update mimir-prometheus at 790cede0a18a
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/discovery/manager.go
  vendor/github.com/prometheus/prometheus/model/histogram/generic.go
  vendor/github.com/prometheus/prometheus/model/labels/regexp.go
  vendor/github.com/prometheus/prometheus/promql/engine.go
  vendor/github.com/prometheus/prometheus/promql/functions.go
  vendor/github.com/prometheus/prometheus/promql/parser/lex.go
  vendor/github.com/prometheus/prometheus/promql/parser/parse.go
  vendor/github.com/prometheus/prometheus/rules/alerting.go
  vendor/github.com/prometheus/prometheus/rules/manager.go
  vendor/github.com/prometheus/prometheus/scrape/manager.go
  vendor/github.com/prometheus/prometheus/scrape/scrape.go
  vendor/github.com/prometheus/prometheus/scrape/target.go
  vendor/github.com/prometheus/prometheus/storage/interface.go
  vendor/github.com/prometheus/prometheus/storage/remote/azuread/azuread.go
  vendor/github.com/prometheus/prometheus/storage/remote/codec.go
  vendor/github.com/prometheus/prometheus/storage/remote/otlptranslator/prometheus/normalize_label.go
  vendor/github.com/prometheus/prometheus/storage/remote/otlptranslator/prometheus/normalize_name.go
  vendor/github.com/prometheus/prometheus/tsdb/chunkenc/histogram_meta.go
  vendor/github.com/prometheus/prometheus/tsdb/chunks/chunks.go
  vendor/github.com/prometheus/prometheus/tsdb/head.go
  vendor/github.com/prometheus/prometheus/tsdb/head_read.go
  vendor/github.com/prometheus/prometheus/tsdb/index/index.go
  vendor/github.com/prometheus/prometheus/tsdb/postings_for_matchers_cache.go
  vendor/github.com/prometheus/prometheus/tsdb/querier.go
  vendor/github.com/prometheus/prometheus/tsdb/wlog/live_reader.go
  vendor/github.com/prometheus/prometheus/tsdb/wlog/wlog.go
  vendor/github.com/prometheus/prometheus/util/testutil/context.go
  vendor/github.com/prometheus/prometheus/util/testutil/directory.go
  vendor/github.com/prometheus/prometheus/web/api/v1/api.go
  vendor/go.opentelemetry.io/collector/pdata/pmetric/metrics.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Vendor update mimir-prometheus at 790cede0a18a (#6552)
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/discovery/manager.go
  vendor/github.com/prometheus/prometheus/model/histogram/generic.go
  vendor/github.com/prometheus/prometheus/model/labels/regexp.go
  vendor/github.com/prometheus/prometheus/promql/engine.go
  vendor/github.com/prometheus/prometheus/promql/functions.go
  vendor/github.com/prometheus/prometheus/promql/parser/lex.go
  vendor/github.com/prometheus/prometheus/promql/parser/parse.go
  vendor/github.com/prometheus/prometheus/rules/alerting.go
  vendor/github.com/prometheus/prometheus/rules/manager.go
  vendor/github.com/prometheus/prometheus/scrape/manager.go
  vendor/github.com/prometheus/prometheus/scrape/scrape.go
  vendor/github.com/prometheus/prometheus/scrape/target.go
  vendor/github.com/prometheus/prometheus/storage/interface.go
  vendor/github.com/prometheus/prometheus/storage/remote/azuread/azuread.go
  vendor/github.com/prometheus/prometheus/storage/remote/codec.go
  vendor/github.com/prometheus/prometheus/storage/remote/otlptranslator/prometheus/normalize_label.go
  vendor/github.com/prometheus/prometheus/storage/remote/otlptranslator/prometheus/normalize_name.go
  vendor/github.com/prometheus/prometheus/tsdb/chunkenc/histogram_meta.go
  vendor/github.com/prometheus/prometheus/tsdb/chunks/chunks.go
  vendor/github.com/prometheus/prometheus/tsdb/head.go
  vendor/github.com/prometheus/prometheus/tsdb/head_read.go
  vendor/github.com/prometheus/prometheus/tsdb/index/index.go
  vendor/github.com/prometheus/prometheus/tsdb/postings_for_matchers_cache.go
  vendor/github.com/prometheus/prometheus/tsdb/querier.go
  vendor/github.com/prometheus/prometheus/tsdb/wlog/live_reader.go
  vendor/github.com/prometheus/prometheus/tsdb/wlog/wlog.go
  vendor/github.com/prometheus/prometheus/util/testutil/context.go
  vendor/github.com/prometheus/prometheus/util/testutil/directory.go
  vendor/github.com/prometheus/prometheus/web/api/v1/api.go
  vendor/go.opentelemetry.io/collector/pdata/pmetric/metrics.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Vendor update mimir-prometheus at 790cede0a18a (#6552)
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/discovery/manager.go
  vendor/github.com/prometheus/prometheus/model/histogram/generic.go
  vendor/github.com/prometheus/prometheus/model/labels/regexp.go
  vendor/github.com/prometheus/prometheus/promql/engine.go
  vendor/github.com/prometheus/prometheus/promql/functions.go
  vendor/github.com/prometheus/prometheus/promql/parser/lex.go
  vendor/github.com/prometheus/prometheus/promql/parser/parse.go
  vendor/github.com/prometheus/prometheus/rules/alerting.go
  vendor/github.com/prometheus/prometheus/rules/manager.go
  vendor/github.com/prometheus/prometheus/scrape/manager.go
  vendor/github.com/prometheus/prometheus/scrape/scrape.go
  vendor/github.com/prometheus/prometheus/scrape/target.go
  vendor/github.com/prometheus/prometheus/storage/interface.go
  vendor/github.com/prometheus/prometheus/storage/remote/azuread/azuread.go
  vendor/github.com/prometheus/prometheus/storage/remote/codec.go
  vendor/github.com/prometheus/prometheus/storage/remote/otlptranslator/prometheus/normalize_label.go
  vendor/github.com/prometheus/prometheus/storage/remote/otlptranslator/prometheus/normalize_name.go
  vendor/github.com/prometheus/prometheus/tsdb/chunkenc/histogram_meta.go
  vendor/github.com/prometheus/prometheus/tsdb/chunks/chunks.go
  vendor/github.com/prometheus/prometheus/tsdb/head.go
  vendor/github.com/prometheus/prometheus/tsdb/head_read.go
  vendor/github.com/prometheus/prometheus/tsdb/index/index.go
  vendor/github.com/prometheus/prometheus/tsdb/postings_for_matchers_cache.go
  vendor/github.com/prometheus/prometheus/tsdb/querier.go
  vendor/github.com/prometheus/prometheus/tsdb/wlog/live_reader.go
  vendor/github.com/prometheus/prometheus/tsdb/wlog/wlog.go
  vendor/github.com/prometheus/prometheus/util/testutil/context.go
  vendor/github.com/prometheus/prometheus/util/testutil/directory.go
  vendor/github.com/prometheus/prometheus/web/api/v1/api.go
  vendor/go.opentelemetry.io/collector/pdata/pmetric/metrics.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Add tooling to easily download chunks from ingesters and parse it (#6523)
  tools/grpcurl-query-ingesters/README.md
  tools/grpcurl-query-ingesters/download-chunks-from-ingesters-query.json
  tools/grpcurl-query-ingesters/download-chunks-from-ingesters.sh
  tools/grpcurl-query-ingesters/main.go
  tools/grpcurl-query-ingesters/response.go
Owners: @grafana/mimir-maintainers

Fix race in the test.
  pkg/frontend/v1/frontend_test.go
Owners: @grafana/mimir-maintainers

Fix bugs found by review.
  pkg/querier/stats/stats_test.go
  pkg/querier/worker/scheduler_processor_test.go
Owners: @grafana/mimir-maintainers

Vendor update mimir-prometheus at 790cede0a18a (#6552) (#6553)
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/discovery/manager.go
  vendor/github.com/prometheus/prometheus/model/histogram/generic.go
  vendor/github.com/prometheus/prometheus/model/labels/regexp.go
  vendor/github.com/prometheus/prometheus/promql/engine.go
  vendor/github.com/prometheus/prometheus/promql/functions.go
  vendor/github.com/prometheus/prometheus/promql/parser/lex.go
  vendor/github.com/prometheus/prometheus/promql/parser/parse.go
  vendor/github.com/prometheus/prometheus/rules/alerting.go
  vendor/github.com/prometheus/prometheus/rules/manager.go
  vendor/github.com/prometheus/prometheus/scrape/manager.go
  vendor/github.com/prometheus/prometheus/scrape/scrape.go
  vendor/github.com/prometheus/prometheus/scrape/target.go
  vendor/github.com/prometheus/prometheus/storage/interface.go
  vendor/github.com/prometheus/prometheus/storage/remote/azuread/azuread.go
  vendor/github.com/prometheus/prometheus/storage/remote/codec.go
  vendor/github.com/prometheus/prometheus/storage/remote/otlptranslator/prometheus/normalize_label.go
  vendor/github.com/prometheus/prometheus/storage/remote/otlptranslator/prometheus/normalize_name.go
  vendor/github.com/prometheus/prometheus/tsdb/chunkenc/histogram_meta.go
  vendor/github.com/prometheus/prometheus/tsdb/chunks/chunks.go
  vendor/github.com/prometheus/prometheus/tsdb/head.go
  vendor/github.com/prometheus/prometheus/tsdb/head_read.go
  vendor/github.com/prometheus/prometheus/tsdb/index/index.go
  vendor/github.com/prometheus/prometheus/tsdb/postings_for_matchers_cache.go
  vendor/github.com/prometheus/prometheus/tsdb/querier.go
  vendor/github.com/prometheus/prometheus/tsdb/wlog/live_reader.go
  vendor/github.com/prometheus/prometheus/tsdb/wlog/wlog.go
  vendor/github.com/prometheus/prometheus/util/testutil/context.go
  vendor/github.com/prometheus/prometheus/util/testutil/directory.go
  vendor/github.com/prometheus/prometheus/web/api/v1/api.go
  vendor/go.opentelemetry.io/collector/pdata/pmetric/metrics.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Give me the tokens.
  .github/workflows/test-build-deploy.yml
Owners: @grafana/mimir-maintainers

Change build image too.
  mimir-build-image/Dockerfile
Owners: @grafana/mimir-maintainers

Remove all other actions.
  .github/workflows/test-build-deploy.yml
Owners: @grafana/mimir-maintainers

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/mimir-maintainers

# Documentation.
/docs/ @grafana/docs-metrics @grafana/mimir-maintainers

# Alertmanager and ruler.
/pkg/alertmanager/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers
/pkg/ruler/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers

# Packages.
/Makefile @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers
/packaging/ @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers

# No owners - allows sub-maintainers to merge changes.
CHANGELOG.md

# Dependencies
go.mod @grafana/mimir-maintainers @grafanabot
go.sum @grafana/mimir-maintainers @grafanabot
/vendor/ @grafana/mimir-maintainers @grafanabot
