Repository grafana/mimir, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/mimir-maintainers, @grafana/docs-metrics, @grafana/mimir-ruler-and-alertmanager-maintainers, @wilfriedroset, @vaxvms, @bubu11e, @grafanabot

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/mimir-maintainers

# Documentation.
/docs/ @grafana/docs-metrics @grafana/mimir-maintainers

# Alertmanager and ruler.
/pkg/alertmanager/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers
/pkg/ruler/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers

# Packages.
/Makefile @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers
/packaging/ @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers

# No owners - allows sub-maintainers to merge changes.
CHANGELOG.md

# Dependencies
go.mod @grafana/mimir-maintainers @grafanabot
go.sum @grafana/mimir-maintainers @grafanabot
/vendor/ @grafana/mimir-maintainers @grafanabot

Backport 6562 to r263
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  go.mod
  go.sum
  integration/ingester_test.go
  pkg/ingester/client/client.go
  vendor/github.com/grafana/dskit/grpcclient/instrumentation.go
  vendor/github.com/grafana/dskit/grpcutil/cancel.go
  vendor/github.com/grafana/dskit/grpcutil/status.go
  vendor/github.com/grafana/dskit/httpgrpc/httpgrpc.go
  vendor/github.com/grafana/dskit/middleware/grpc_instrumentation.go
  vendor/github.com/grafana/dskit/server/server.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics, @grafanabot

Backport 6562 to r263 (#6583)
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  go.mod
  go.sum
  integration/ingester_test.go
  pkg/ingester/client/client.go
  vendor/github.com/grafana/dskit/grpcclient/instrumentation.go
  vendor/github.com/grafana/dskit/grpcutil/cancel.go
  vendor/github.com/grafana/dskit/grpcutil/status.go
  vendor/github.com/grafana/dskit/httpgrpc/httpgrpc.go
  vendor/github.com/grafana/dskit/middleware/grpc_instrumentation.go
  vendor/github.com/grafana/dskit/server/server.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics, @grafanabot

Release markblocks tool
  Makefile
Owners: @wilfriedroset, @vaxvms, @bubu11e, @grafana/mimir-maintainers

Release markblocks tool (#6587)
  Makefile
Owners: @wilfriedroset, @vaxvms, @bubu11e, @grafana/mimir-maintainers

Increase scale down period for distributors
  CHANGELOG.md
  operations/mimir-tests/test-autoscaling-custom-target-utilization-generated.yaml
  operations/mimir-tests/test-autoscaling-generated.yaml
  operations/mimir/autoscaling.libsonnet
Owners: @grafana/mimir-maintainers

Add S3 part_size parameter
  pkg/storage/bucket/s3/bucket_client.go
  pkg/storage/bucket/s3/config.go
Owners: @grafana/mimir-maintainers

add numtokens as config for store-gateway
  cmd/mimir/config-descriptor.json
  pkg/mimirtool/config/descriptors/cortex-v1.11.0.json
  pkg/mimirtool/config/descriptors/gem-v1.7.0.json
  pkg/mimirtool/config/descriptors/gem-v2.6.0.json
  pkg/mimirtool/config/descriptors/mimir-v2.6.0.json
  pkg/storegateway/gateway.go
  pkg/storegateway/gateway_ring.go
  pkg/storegateway/gateway_test.go
Owners: @grafana/mimir-maintainers

Update documentation
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

querier: track consistency check failures without retries
  pkg/querier/blocks_consistency_checker.go
  pkg/querier/blocks_consistency_checker_test.go
  pkg/querier/blocks_store_queryable.go
  pkg/querier/blocks_store_queryable_test.go
Owners: @grafana/mimir-maintainers

Add CHANGELOG.md entry
  CHANGELOG.md
Owners: none

update changelog
  CHANGELOG.md
Owners: none

update help-all.txt.tmpl
  cmd/mimir/help-all.txt.tmpl
Owners: @grafana/mimir-maintainers

Update changelog
  CHANGELOG.md
Owners: none

update comment
  pkg/storegateway/gateway_test.go
Owners: @grafana/mimir-maintainers

update comment
  pkg/storegateway/gateway_test.go
Owners: @grafana/mimir-maintainers

Add num-tokens config for store-gateways
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  pkg/mimirtool/config/descriptors/cortex-v1.11.0.json
  pkg/mimirtool/config/descriptors/gem-v1.7.0.json
  pkg/mimirtool/config/descriptors/gem-v2.6.0.json
  pkg/mimirtool/config/descriptors/mimir-v2.6.0.json
  pkg/storegateway/gateway.go
  pkg/storegateway/gateway_ring.go
  pkg/storegateway/gateway_test.go
Owners: @grafana/mimir-maintainers

Track checksTotal along with checksFailed
  pkg/querier/blocks_consistency_checker.go
Owners: @grafana/mimir-maintainers

Properly size queried map
  pkg/querier/blocks_consistency_checker.go
Owners: @grafana/mimir-maintainers

Update index.md
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

Update store-gateway config description
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
Owners: @grafana/mimir-maintainers

Sort blocks in newStoreConsistencyCheckFailedError
  pkg/querier/blocks_store_queryable.go
Owners: @grafana/mimir-maintainers

address comments dimitar
  pkg/mimirtool/config/descriptors/cortex-v1.11.0.json
  pkg/mimirtool/config/descriptors/gem-v1.7.0.json
  pkg/mimirtool/config/descriptors/gem-v2.6.0.json
  pkg/mimirtool/config/descriptors/mimir-v2.6.0.json
  pkg/storegateway/gateway_test.go
Owners: @grafana/mimir-maintainers

Reference correct config option in creation grace period error runbooks
  docs/sources/mimir/manage/mimir-runbooks/_index.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Address PR feedback: move comment closer to where it's relevant
  pkg/storegateway/bucket.go
Owners: @grafana/mimir-maintainers

Address PR feedback: add more details to error messages, and use cancellation cause if available
  pkg/ingester/client/streaming.go
  pkg/querier/block_streaming.go
Owners: @grafana/mimir-maintainers

Improve signal-to-noise ratio of MimirGossipMembersMismatch warning by replacing it with two new warnings.
  docs/sources/mimir/manage/mimir-runbooks/_index.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/mixin-alerts.yaml
  operations/mimir-mixin-compiled-baremetal/alerts.yaml
  operations/mimir-mixin-compiled/alerts.yaml
  operations/mimir-mixin/alerts/alerts.libsonnet
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Increase `for` period to reduce noise during rollouts.
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/mixin-alerts.yaml
  operations/mimir-mixin-compiled-baremetal/alerts.yaml
  operations/mimir-mixin-compiled/alerts.yaml
  operations/mimir-mixin/alerts/alerts.libsonnet
Owners: @grafana/mimir-maintainers

Add changelog entry.
  CHANGELOG.md
Owners: none

Add trace span for time taken to load index reader for each block. (#6551)
  pkg/storegateway/bucket.go
Owners: @grafana/mimir-maintainers

Recalculate owned series after WAL replay and compaction
  pkg/ingester/ingester.go
  pkg/ingester/user_tsdb.go
Owners: @grafana/mimir-maintainers

Reference correct config option in creation grace period error runbooks (#6596)
  docs/sources/mimir/manage/mimir-runbooks/_index.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Improve signal-to-noise ratio of MimirGossipMembersMismatch warning by replacing it with two new warnings (#6508)
  CHANGELOG.md
  docs/sources/mimir/manage/mimir-runbooks/_index.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/mixin-alerts.yaml
  operations/mimir-mixin-compiled-baremetal/alerts.yaml
  operations/mimir-mixin-compiled/alerts.yaml
  operations/mimir-mixin/alerts/alerts.libsonnet
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Fix issue where queries fail with "context canceled" when ingester or store-gateway fails healthcheck (#6550)
  CHANGELOG.md
  pkg/distributor/query.go
  pkg/ingester/client/streaming.go
  pkg/ingester/client/streaming_test.go
  pkg/querier/block_streaming.go
  pkg/querier/block_streaming_test.go
  pkg/querier/blocks_store_queryable.go
  pkg/querier/distributor_queryable_streaming_test.go
Owners: @grafana/mimir-maintainers

Update dskit
  go.mod
  go.sum
  vendor/github.com/grafana/dskit/grpcclient/instrumentation.go
  vendor/github.com/grafana/dskit/grpcutil/cancel.go
  vendor/github.com/grafana/dskit/grpcutil/status.go
  vendor/github.com/grafana/dskit/httpgrpc/httpgrpc.go
  vendor/github.com/grafana/dskit/middleware/grpc_instrumentation.go
  vendor/github.com/grafana/dskit/ring/ring.go
  vendor/github.com/grafana/dskit/server/server.go
  vendor/github.com/prometheus/prometheus/config/config.go
  vendor/github.com/prometheus/prometheus/promql/engine.go
  vendor/github.com/prometheus/prometheus/promql/functions.go
  vendor/github.com/prometheus/prometheus/promql/parser/ast.go
  vendor/github.com/prometheus/prometheus/promql/parser/lex.go
  vendor/github.com/prometheus/prometheus/promql/parser/parse.go
  vendor/github.com/prometheus/prometheus/scrape/scrape.go
  vendor/github.com/prometheus/prometheus/scrape/target.go
  vendor/github.com/prometheus/prometheus/storage/buffer.go
  vendor/github.com/prometheus/prometheus/storage/merge.go
  vendor/github.com/prometheus/prometheus/storage/remote/azuread/azuread.go
  vendor/github.com/prometheus/prometheus/storage/remote/read_handler.go
  vendor/github.com/prometheus/prometheus/storage/remote/write_handler.go
  vendor/github.com/prometheus/prometheus/template/template.go
  vendor/github.com/prometheus/prometheus/tsdb/chunkenc/float_histogram.go
  vendor/github.com/prometheus/prometheus/tsdb/chunkenc/histogram.go
  vendor/github.com/prometheus/prometheus/tsdb/chunkenc/xor.go
  vendor/github.com/prometheus/prometheus/tsdb/errors/errors.go
  vendor/github.com/prometheus/prometheus/tsdb/head_wal.go
  vendor/github.com/prometheus/prometheus/tsdb/ooo_head_read.go
  vendor/github.com/prometheus/prometheus/tsdb/symbols_batch.go
  vendor/github.com/prometheus/prometheus/tsdb/wal.go
  vendor/github.com/prometheus/prometheus/tsdb/wlog/wlog.go
  vendor/github.com/prometheus/prometheus/util/annotations/annotations.go
  vendor/github.com/prometheus/prometheus/web/api/v1/api.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Distributor: improve extracting status code from ingester.Push() errors
  pkg/distributor/distributor.go
Owners: @grafana/mimir-maintainers

Distributor: improve extracting status code from ingester.Push() errors (#6598)
  pkg/distributor/distributor.go
Owners: @grafana/mimir-maintainers

commit diff after make reference command
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
Owners: @grafana/mimir-maintainers

address Dimitars comments
  pkg/storegateway/gateway.go
Owners: @grafana/mimir-maintainers

commit missed file
  pkg/storegateway/gateway_test.go
Owners: @grafana/mimir-maintainers

Update dskit
  go.mod
  go.sum
  vendor/github.com/grafana/dskit/ring/ring.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot
