Repository grafana/mimir, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/mimir-maintainers, @grafana/docs-metrics, @grafana/mimir-ruler-and-alertmanager-maintainers, @wilfriedroset, @vaxvms, @bubu11e, @grafanabot

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/mimir-maintainers

# Documentation.
/docs/ @grafana/docs-metrics @grafana/mimir-maintainers

# Alertmanager and ruler.
/pkg/alertmanager/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers
/pkg/ruler/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers

# Packages.
/Makefile @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers
/packaging/ @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers

# No owners - allows sub-maintainers to merge changes.
CHANGELOG.md

# Dependencies
go.mod @grafana/mimir-maintainers @grafanabot
go.sum @grafana/mimir-maintainers @grafanabot
/vendor/ @grafana/mimir-maintainers @grafanabot

Update operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/CHANGELOG.md
Owners: none

Helm: release 5.1.2 (#6427)
  docs/sources/helm-charts/mimir-distributed/release-notes/v5.1.md
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/values.yaml
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

dumpContextError: Log with debug level instead of warn
  pkg/ingester/ingester.go
Owners: @grafana/mimir-maintainers

Make ingester errors use mimirpb.ErrorCause (#6424)
  pkg/ingester/errors.go
  pkg/ingester/errors_test.go
  pkg/ingester/instance_limits_test.go
  pkg/mimirpb/mimir.pb.go
  pkg/mimirpb/mimir.proto
Owners: @grafana/mimir-maintainers

Introduce TENANT_LIMIT as a possible ingester error cause
  pkg/ingester/errors.go
  pkg/ingester/errors_test.go
  pkg/mimirpb/mimir.pb.go
  pkg/mimirpb/mimir.proto
Owners: @grafana/mimir-maintainers

Dedupe scaled object creation functions (#6411)
  CHANGELOG.md
  operations/mimir-tests/test-autoscaling-custom-target-utilization-generated.yaml
  operations/mimir-tests/test-autoscaling-generated.yaml
  operations/mimir/autoscaling.libsonnet
Owners: @grafana/mimir-maintainers

convert tree_queue internal to List
  pkg/scheduler/queue/tree_queue.go
  pkg/scheduler/queue/tree_queue_test.go
Owners: @grafana/mimir-maintainers

naming
  pkg/scheduler/queue/tree_queue.go
  pkg/scheduler/queue/tree_queue_test.go
Owners: @grafana/mimir-maintainers

removing isEmpty check as it is implicit
  pkg/scheduler/queue/tree_queue.go
Owners: @grafana/mimir-maintainers

improved tree queue with deleting empty nodes
  pkg/scheduler/queue/tree_queue.go
  pkg/scheduler/queue/tree_queue_test.go
Owners: @grafana/mimir-maintainers

simplifying
  pkg/scheduler/queue/tree_queue.go
  pkg/scheduler/queue/tree_queue_test.go
Owners: @grafana/mimir-maintainers

basic tree queue data structure and tests
  pkg/scheduler/queue/tree_queue.go
  pkg/scheduler/queue/tree_queue_test.go
Owners: @grafana/mimir-maintainers

simplifying dequeue
  pkg/scheduler/queue/tree_queue.go
  pkg/scheduler/queue/tree_queue_test.go
Owners: @grafana/mimir-maintainers

basic tree queue data structure and tests
  pkg/scheduler/queue/tree_queue_test.go
Owners: @grafana/mimir-maintainers

re-adding orphaned state with updated tree queue
  pkg/scheduler/queue/tree_queue.go
  pkg/scheduler/queue/tree_queue_test.go
Owners: @grafana/mimir-maintainers

cleanup
  pkg/scheduler/queue/tree_queue.go
Owners: @grafana/mimir-maintainers

re-add isEmpty
  pkg/scheduler/queue/tree_queue.go
Owners: @grafana/mimir-maintainers

push enqueue request logic down into user queue; more consistent error generation
  pkg/scheduler/queue/queue.go
  pkg/scheduler/queue/user_queues.go
  pkg/scheduler/queue/user_queues_test.go
Owners: @grafana/mimir-maintainers

Don't continue querying further ingesters after a limit is reached (#6402)
  CHANGELOG.md
  pkg/distributor/distributor_test.go
  pkg/distributor/query.go
  pkg/distributor/query_test.go
Owners: @grafana/mimir-maintainers

Return any previous error if a chunks stream fails but the PromQL engine continues returning series
  pkg/ingester/client/streaming.go
  pkg/ingester/client/streaming_test.go
  pkg/querier/block_streaming.go
  pkg/querier/block_streaming_test.go
Owners: @grafana/mimir-maintainers

Update changelog entry
  CHANGELOG.md
Owners: none

Add note about recreating pods to runbook for EtcdAllocatingTooMuchMemory alert.
  docs/sources/mimir/manage/mimir-runbooks/_index.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Clarify why recreating pods is required
  docs/sources/mimir/manage/mimir-runbooks/_index.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Return any previous error if a chunks stream fails but the PromQL engine continues returning series (#6433)
  CHANGELOG.md
  pkg/ingester/client/streaming.go
  pkg/ingester/client/streaming_test.go
  pkg/querier/block_streaming.go
  pkg/querier/block_streaming_test.go
Owners: @grafana/mimir-maintainers

fix typo
  pkg/scheduler/queue/queue.go
Owners: @grafana/mimir-maintainers

Put functionality behind flag
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/ingester/ingester.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

Add changelog entry
  CHANGELOG.md
Owners: none

Fix comparison
  pkg/ingester/ingester.go
Owners: @grafana/mimir-maintainers

fix typo (#6439)
  pkg/scheduler/queue/queue.go
Owners: @grafana/mimir-maintainers

Update tools/release/common.sh
  tools/release/common.sh
Owners: @grafana/mimir-maintainers

Use context.WithoutCancel
  pkg/ingester/ingester.go
Owners: @grafana/mimir-maintainers

Remove experimental from help text
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/ingester/ingester.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

Document feature better
  CHANGELOG.md
  docs/sources/mimir/configure/about-versioning.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Ingester.QueryStream: Add support for ignoring context cancellation for chunk queriers (#6408)
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/ingester/ingester.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

Ingester.QueryStream: Add support for ignoring context cancellation for chunk queriers (#6408)
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/ingester/ingester.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

Ingester.QueryStream: Add support for ignoring context cancellation for chunk queriers (#6408) (#6440)
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/ingester/ingester.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

Upgrade mimir-prometheus to 97933fb7d38e
  go.mod
  go.sum
  pkg/ingester/ingester.go
  pkg/ingester/user_tsdb.go
  vendor/github.com/prometheus/prometheus/tsdb/db.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Upgrade mimir-prometheus to 97933fb7d38e (#6441)
  go.mod
  go.sum
  pkg/ingester/ingester.go
  pkg/ingester/user_tsdb.go
  vendor/github.com/prometheus/prometheus/tsdb/db.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

helm: quote checksum/config when using external config (#6407)
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/templates/_helpers.tpl
Owners: @grafana/mimir-maintainers

push leaky tryDispatchRequest logic down into dequeueRequestForQuerier
  pkg/scheduler/queue/queue.go
  pkg/scheduler/queue/tree_queue.go
  pkg/scheduler/queue/tree_queue_test.go
  pkg/scheduler/queue/user_queues.go
Owners: @grafana/mimir-maintainers
