Repository grafana/mimir, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/mimir-maintainers, @grafana/docs-metrics, @grafana/mimir-ruler-and-alertmanager-maintainers, @wilfriedroset, @vaxvms, @bubu11e, @grafanabot

Update Makefile
  Makefile
Owners: @wilfriedroset, @vaxvms, @bubu11e, @grafana/mimir-maintainers

Add CHANGELOG.md
  operations/helm/charts/mimir-distributed/CHANGELOG.md
Owners: none

Chore: Update renovate PR when build image version is different (#6405)
  .github/workflows/push-mimir-build-image.yml
Owners: @grafana/mimir-maintainers

Add `engine` label to federation metrics added in #6374
  CHANGELOG.md
  pkg/mimir/modules.go
Owners: @grafana/mimir-maintainers

critical compactor alert for multiple out-of-order chunks
  operations/mimir-mixin/alerts/compactor.libsonnet
Owners: @grafana/mimir-maintainers

updated changelog
  CHANGELOG.md
Owners: none

make build-mixin format-mixin
  operations/mimir-mixin-compiled-baremetal/alerts.yaml
  operations/mimir-mixin-compiled/alerts.yaml
Owners: @grafana/mimir-maintainers

make build-helm-tests
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/mixin-alerts.yaml
Owners: @grafana/mimir-maintainers

critical compactor alert for multiple out-of-order chunks (#6410)
  CHANGELOG.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/mixin-alerts.yaml
  operations/mimir-mixin-compiled-baremetal/alerts.yaml
  operations/mimir-mixin-compiled/alerts.yaml
  operations/mimir-mixin/alerts/compactor.libsonnet
Owners: @grafana/mimir-maintainers

Add `engine` label to federation metrics added in #6374 (#6409)
  CHANGELOG.md
  pkg/mimir/modules.go
Owners: @grafana/mimir-maintainers

Dedupe scaled object creation functions
  operations/mimir/autoscaling.libsonnet
Owners: @grafana/mimir-maintainers

Allow injection of tenant.Resolver for tenantfederation queryable
  pkg/querier/tenantfederation/merge_queryable.go
Owners: @grafana/mimir-maintainers

Allow injection of tenant.Resolver for tenantfederation queryable (#6412)
  pkg/querier/tenantfederation/merge_queryable.go
Owners: @grafana/mimir-maintainers

Count memory at 0 if no containers are up
  operations/mimir-tests/test-autoscaling-custom-target-utilization-generated.yaml
  operations/mimir-tests/test-autoscaling-generated.yaml
  operations/mimir/autoscaling.libsonnet
Owners: @grafana/mimir-maintainers

Update CHANGELOG
  CHANGELOG.md
Owners: none

ruler: gracefully stop subservices when starting fails
  pkg/ruler/ruler.go
Owners: @grafana/mimir-ruler-and-alertmanager-maintainers, @grafana/mimir-maintainers

Ingester: replace grpc/status usages with gogo/status
  pkg/ingester/errors.go
  pkg/ingester/errors_test.go
  pkg/ingester/ingester_test.go
Owners: @grafana/mimir-maintainers

Ingester.QueryStream: Ignore context cancellation for chunk queriers
  pkg/ingester/ingester.go
Owners: @grafana/mimir-maintainers

Move handlePushError from ingester.go to errors.go
  pkg/ingester/errors.go
  pkg/ingester/errors_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
Owners: @grafana/mimir-maintainers

Ingester.QueryStream: Pass independent context for chunk queriers
  pkg/ingester/ingester.go
Owners: @grafana/mimir-maintainers

Set VERSION to 2.10.3
  CHANGELOG.md
  VERSION
Owners: @grafana/mimir-maintainers

Fixing review findings
  pkg/ingester/errors_test.go
Owners: @grafana/mimir-maintainers

Set VERSION to 2.10.3 (#6418)
  CHANGELOG.md
  VERSION
Owners: @grafana/mimir-maintainers

Ingester: replace grpc/status usages with gogo/status (#6416)
  pkg/ingester/errors.go
  pkg/ingester/errors_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
Owners: @grafana/mimir-maintainers

Update grpc to 1.57.2-dev
  go.mod
  go.sum
  vendor/google.golang.org/grpc/server.go
  vendor/google.golang.org/grpc/version.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update grpc to 1.57.2-dev (#6419)
  CHANGELOG.md
  go.mod
  go.sum
  vendor/google.golang.org/grpc/server.go
  vendor/google.golang.org/grpc/version.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Let dumpContextError figure out timeout
  pkg/ingester/ingester.go
Owners: @grafana/mimir-maintainers

Improve error messages
  pkg/ingester/ingester.go
Owners: @grafana/mimir-maintainers

Allow no changes for mimir release tech docs
  .github/workflows/publish-technical-documentation-release-mimir.yml
Owners: @grafana/mimir-maintainers

Fix pending jsonnet tests
  operations/mimir-tests/test-all-components-generated.yaml
  operations/mimir-tests/test-all-components-with-tsdb-head-early-compaction-generated.yaml
  operations/mimir-tests/test-multi-zone-with-store-gateway-automated-downscaling-generated.yaml
Owners: @grafana/mimir-maintainers

Update .github/workflows/publish-technical-documentation-release-mimir.yml
  .github/workflows/publish-technical-documentation-release-mimir.yml
Owners: @grafana/mimir-maintainers

Init vault for Ruler query frontend when running in remote mode
  pkg/mimir/modules.go
  pkg/mimir/modules_test.go
Owners: @grafana/mimir-maintainers

Make ingester errors use mimirpb.ErrorCause
  pkg/ingester/errors.go
  pkg/ingester/errors_test.go
  pkg/ingester/instance_limits_test.go
  pkg/mimirpb/mimir.pb.go
  pkg/mimirpb/mimir.proto
Owners: @grafana/mimir-maintainers

Distributor: improve wrapping of gRPC errors returned by the ingester
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
Owners: @grafana/mimir-maintainers

Get rid of a redundant nil check in pushSamplesToAppender()
  pkg/ingester/ingester.go
Owners: @grafana/mimir-maintainers

Init vault for Ruler query frontend when running in remote mode (#6425)
  pkg/mimir/modules.go
  pkg/mimir/modules_test.go
Owners: @grafana/mimir-maintainers

Helm: release 5.1.2
  docs/sources/helm-charts/mimir-distributed/release-notes/v5.1.md
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/values.yaml
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Distributor: improve wrapping of gRPC errors returned by the ingester (#6426)
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
Owners: @grafana/mimir-maintainers

Get rid of a redundant nil check in pushSamplesToAppender() (#6428)
  pkg/ingester/ingester.go
Owners: @grafana/mimir-maintainers

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/mimir-maintainers

# Documentation.
/docs/ @grafana/docs-metrics @grafana/mimir-maintainers

# Alertmanager and ruler.
/pkg/alertmanager/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers
/pkg/ruler/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers

# Packages.
/Makefile @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers
/packaging/ @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers

# No owners - allows sub-maintainers to merge changes.
CHANGELOG.md

# Dependencies
go.mod @grafana/mimir-maintainers @grafanabot
go.sum @grafana/mimir-maintainers @grafanabot
/vendor/ @grafana/mimir-maintainers @grafanabot
