Repository grafana/mimir, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/mimir-maintainers, @grafana/docs-metrics, @grafana/mimir-ruler-and-alertmanager-maintainers, @wilfriedroset, @vaxvms, @bubu11e, @grafanabot

Update outdated comment.
  pkg/frontend/v2/frontend.go
Owners: @grafana/mimir-maintainers

Make method and trace span names consistent
  pkg/frontend/querymiddleware/running.go
  pkg/frontend/querymiddleware/running_test.go
Owners: @grafana/mimir-maintainers

Return a clearer message when a query-frontend receives a request after it has stopped, and return HTTP 503 rather than 500
  pkg/frontend/transport/handler.go
Owners: @grafana/mimir-maintainers

Add changelog entry.
  CHANGELOG.md
Owners: none

Return a clearer message when a query-frontend receives a request after it has stopped, and return HTTP 503 rather than 500 (#6675)
  CHANGELOG.md
  pkg/frontend/transport/handler.go
Owners: @grafana/mimir-maintainers

Add `about-versioning.md` update to PR template
  .github/pull_request_template.md
Owners: @grafana/mimir-maintainers

Upgrade otel-collector image
  development/mimir-microservices-mode/config/otel-collector.yaml
  development/mimir-microservices-mode/docker-compose.jsonnet
Owners: @grafana/mimir-maintainers

Distributor pushes to ingesters through a goroutines pool (#6660)
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/references/configuration-parameters/index.md
  go.mod
  go.sum
  pkg/alertmanager/distributor.go
  pkg/alertmanager/multitenant.go
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  vendor/github.com/grafana/dskit/concurrency/worker.go
  vendor/github.com/grafana/dskit/kv/memberlist/memberlist_client.go
  vendor/github.com/grafana/dskit/ring/batch.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics, @grafanabot, @grafana/mimir-ruler-and-alertmanager-maintainers

Add `about-versioning.md` update to PR template (#6676)
  .github/pull_request_template.md
Owners: @grafana/mimir-maintainers

Fix broken link and align text (#6665)
  docs/sources/mimir/tutorials/play-with-grafana-mimir/index.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Speed up some store-gateway tests (#6671)
  pkg/storegateway/bucket_test.go
  pkg/storegateway/postings_codec_test.go
  pkg/storegateway/prometheus_test.go
  pkg/storegateway/series_refs_test.go
Owners: @grafana/mimir-maintainers

Use explicit unit in OTLP integration test
  integration/otlp_ingestion_test.go
Owners: @grafana/mimir-maintainers

Fix changelog
  CHANGELOG.md
Owners: none

Remove deprecated configurations (#6673)
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  integration/backward_compatibility_test.go
  integration/configs.go
  integration/getting_started_with_gossiped_ring_test.go
  integration/ingester_limits_test.go
  integration/querier_test.go
  integration/ruler_test.go
  operations/compare-helm-with-jsonnet/components/config/kustomization.yaml
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  pkg/mimir/mimir_test.go
  pkg/mimir/modules.go
  pkg/querier/blocks_store_queryable.go
  pkg/querier/querier.go
  pkg/querier/querier_test.go
  pkg/storage/tsdb/config.go
  pkg/storegateway/bucket_stores.go
  pkg/storegateway/bucket_stores_test.go
  pkg/storegateway/gateway_test.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

Ingester error handling: add related experimental CLI flags to about-versioning
  docs/sources/mimir/configure/about-versioning.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Ingester error handling: add related experimental CLI flags to about-versioning (#6693)
  docs/sources/mimir/configure/about-versioning.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Upgrade and tidy
  go.mod
  go.sum
Owners: @grafana/mimir-maintainers, @grafanabot

Vendor
  vendor/github.com/prometheus/alertmanager/api/v2/models/alert_group.go
  vendor/github.com/prometheus/alertmanager/api/v2/models/alert_groups.go
  vendor/github.com/prometheus/alertmanager/api/v2/models/alertmanager_status.go
  vendor/github.com/prometheus/alertmanager/api/v2/models/cluster_status.go
  vendor/github.com/prometheus/alertmanager/api/v2/models/gettable_alert.go
  vendor/github.com/prometheus/alertmanager/api/v2/models/gettable_alerts.go
  vendor/github.com/prometheus/alertmanager/api/v2/models/gettable_silence.go
  vendor/github.com/prometheus/alertmanager/api/v2/models/gettable_silences.go
  vendor/github.com/prometheus/alertmanager/api/v2/models/matchers.go
  vendor/github.com/prometheus/alertmanager/api/v2/models/postable_alert.go
  vendor/github.com/prometheus/alertmanager/api/v2/models/postable_alerts.go
  vendor/github.com/prometheus/alertmanager/api/v2/restapi/operations/alertmanager_api.go
  vendor/github.com/prometheus/alertmanager/config/config.go
  vendor/github.com/prometheus/alertmanager/config/notifiers.go
  vendor/github.com/prometheus/alertmanager/dispatch/route.go
  vendor/github.com/prometheus/alertmanager/featurecontrol/featurecontrol.go
  vendor/github.com/prometheus/alertmanager/notify/notify.go
  vendor/github.com/prometheus/alertmanager/notify/pushover/pushover.go
  vendor/github.com/prometheus/alertmanager/timeinterval/timeinterval.go
  vendor/github.com/prometheus/alertmanager/types/types.go
  vendor/github.com/prometheus/alertmanager/ui/web.go
  vendor/github.com/rs/cors/README.md
  vendor/github.com/rs/cors/cors.go
  vendor/github.com/rs/cors/utils.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Update alertmanager builder code with public API changes
  pkg/alertmanager/alertmanager.go
Owners: @grafana/mimir-ruler-and-alertmanager-maintainers, @grafana/mimir-maintainers

Enable classic matcher parsing
  pkg/alertmanager/alertmanager.go
Owners: @grafana/mimir-ruler-and-alertmanager-maintainers, @grafana/mimir-maintainers

Bump and re-vendor
  go.mod
  go.sum
  vendor/github.com/prometheus/alertmanager/featurecontrol/featurecontrol.go
  vendor/github.com/prometheus/alertmanager/notify/discord/discord.go
  vendor/github.com/prometheus/alertmanager/pkg/labels/matcher.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

tidy
  go.sum
Owners: @grafana/mimir-maintainers, @grafanabot

Use new constant for feature flag
  pkg/alertmanager/alertmanager.go
Owners: @grafana/mimir-ruler-and-alertmanager-maintainers, @grafana/mimir-maintainers

Update Alertmanager vendor (#6560)
  go.mod
  go.sum
  pkg/alertmanager/alertmanager.go
  vendor/github.com/prometheus/alertmanager/api/v2/models/alert_group.go
  vendor/github.com/prometheus/alertmanager/api/v2/models/alert_groups.go
  vendor/github.com/prometheus/alertmanager/api/v2/models/alertmanager_status.go
  vendor/github.com/prometheus/alertmanager/api/v2/models/cluster_status.go
  vendor/github.com/prometheus/alertmanager/api/v2/models/gettable_alert.go
  vendor/github.com/prometheus/alertmanager/api/v2/models/gettable_alerts.go
  vendor/github.com/prometheus/alertmanager/api/v2/models/gettable_silence.go
  vendor/github.com/prometheus/alertmanager/api/v2/models/gettable_silences.go
  vendor/github.com/prometheus/alertmanager/api/v2/models/matchers.go
  vendor/github.com/prometheus/alertmanager/api/v2/models/postable_alert.go
  vendor/github.com/prometheus/alertmanager/api/v2/models/postable_alerts.go
  vendor/github.com/prometheus/alertmanager/api/v2/restapi/operations/alertmanager_api.go
  vendor/github.com/prometheus/alertmanager/config/config.go
  vendor/github.com/prometheus/alertmanager/config/notifiers.go
  vendor/github.com/prometheus/alertmanager/dispatch/route.go
  vendor/github.com/prometheus/alertmanager/featurecontrol/featurecontrol.go
  vendor/github.com/prometheus/alertmanager/notify/discord/discord.go
  vendor/github.com/prometheus/alertmanager/notify/notify.go
  vendor/github.com/prometheus/alertmanager/notify/pushover/pushover.go
  vendor/github.com/prometheus/alertmanager/pkg/labels/matcher.go
  vendor/github.com/prometheus/alertmanager/timeinterval/timeinterval.go
  vendor/github.com/prometheus/alertmanager/types/types.go
  vendor/github.com/prometheus/alertmanager/ui/web.go
  vendor/github.com/rs/cors/README.md
  vendor/github.com/rs/cors/cors.go
  vendor/github.com/rs/cors/utils.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot, @grafana/mimir-ruler-and-alertmanager-maintainers

vendor dskit: httpgrpc request wrap and unwrap utils
  go.mod
  go.sum
  pkg/frontend/transport/roundtripper.go
  vendor/github.com/grafana/dskit/httpgrpc/server/server.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

vendor dskit: update httpgrpc utils import paths
  go.mod
  go.sum
  pkg/frontend/transport/handler.go
  pkg/frontend/transport/roundtripper.go
  vendor/github.com/grafana/dskit/httpgrpc/httpgrpc.go
  vendor/github.com/grafana/dskit/httpgrpc/server/server.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Add startupProbe to admin-api deployment helm template
  operations/helm/charts/mimir-distributed/templates/admin-api/admin-api-dep.yaml
Owners: @grafana/mimir-maintainers

Add startupProbe to alertmanager deployment and statefulset helm templates
  operations/helm/charts/mimir-distributed/templates/alertmanager/alertmanager-dep.yaml
  operations/helm/charts/mimir-distributed/templates/alertmanager/alertmanager-statefulset.yaml
Owners: @grafana/mimir-maintainers

Add startupProbe to compactor deployment helm template
  operations/helm/charts/mimir-distributed/templates/compactor/compactor-statefulset.yaml
Owners: @grafana/mimir-maintainers

Add startupProbe to distributor deployment helm template
  operations/helm/charts/mimir-distributed/templates/distributor/distributor-dep.yaml
Owners: @grafana/mimir-maintainers

Add startupProbe and livenessProbe to gateway(nginx) deployment helm template
  operations/helm/charts/mimir-distributed/templates/gateway/gateway-dep.yaml
Owners: @grafana/mimir-maintainers

Add startupProbe to ingester statefulset helm template
  operations/helm/charts/mimir-distributed/templates/ingester/ingester-statefulset.yaml
Owners: @grafana/mimir-maintainers

wip
  cmd/mimir/main.go
  go.mod
  go.sum
  pkg/alertmanager/alertmanager.go
  pkg/alertmanager/alertmanager_test.go
  pkg/alertmanager/matcher.go
  pkg/alertmanager/matcher_test.go
  pkg/alertmanager/multitenant.go
  pkg/alertmanager/multitenant_test.go
  pkg/mimir/mimir.go
  pkg/mimir/modules.go
  vendor/github.com/prometheus/alertmanager/api/v1/api.go
  vendor/github.com/prometheus/alertmanager/api/v2/api.go
  vendor/github.com/prometheus/alertmanager/config/config.go
  vendor/github.com/prometheus/alertmanager/matchers/compat/parse.go
  vendor/github.com/prometheus/alertmanager/matchers/parse/lexer.go
  vendor/github.com/prometheus/alertmanager/matchers/parse/parse.go
  vendor/github.com/prometheus/alertmanager/matchers/parse/token.go
  vendor/github.com/prometheus/alertmanager/silence/silence.go
  vendor/github.com/prometheus/alertmanager/types/types.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot, @grafana/mimir-ruler-and-alertmanager-maintainers

vendor dskit: httpgrpc FromHTTPRequest and ToHTTPRequest utils with import path updates (#6694)
  go.mod
  go.sum
  pkg/frontend/transport/handler.go
  pkg/frontend/transport/roundtripper.go
  vendor/github.com/grafana/dskit/httpgrpc/httpgrpc.go
  vendor/github.com/grafana/dskit/httpgrpc/server/server.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Add startupProbe and livenessProbe to nginx deployment helm template
  operations/helm/charts/mimir-distributed/templates/nginx/nginx-dep.yaml
Owners: @grafana/mimir-maintainers

Add startupProbe to overrides-exporter deployment helm template
  operations/helm/charts/mimir-distributed/templates/overrides-exporter/overrides-exporter-dep.yaml
Owners: @grafana/mimir-maintainers

Add startupProbe to querier deployment helm template
  operations/helm/charts/mimir-distributed/templates/querier/querier-dep.yaml
Owners: @grafana/mimir-maintainers

Fix lint
  cmd/mimir/main.go
  pkg/alertmanager/alertmanager.go
  pkg/alertmanager/matcher.go
  pkg/alertmanager/matcher_test.go
  pkg/alertmanager/multitenant.go
  pkg/alertmanager/multitenant_test.go
  pkg/mimir/mimir.go
Owners: @grafana/mimir-maintainers, @grafana/mimir-ruler-and-alertmanager-maintainers

Add startupProbe to query-frontend deployment helm template
  operations/helm/charts/mimir-distributed/templates/query-frontend/query-frontend-dep.yaml
Owners: @grafana/mimir-maintainers

Add startupProbe to query-scheduler deployment helm template
  operations/helm/charts/mimir-distributed/templates/query-scheduler/query-scheduler-dep.yaml
Owners: @grafana/mimir-maintainers

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/mimir-maintainers

# Documentation.
/docs/ @grafana/docs-metrics @grafana/mimir-maintainers

# Alertmanager and ruler.
/pkg/alertmanager/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers
/pkg/ruler/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers

# Packages.
/Makefile @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers
/packaging/ @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers

# No owners - allows sub-maintainers to merge changes.
CHANGELOG.md

# Dependencies
go.mod @grafana/mimir-maintainers @grafanabot
go.sum @grafana/mimir-maintainers @grafanabot
/vendor/ @grafana/mimir-maintainers @grafanabot
