Repository grafana/mimir, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/mimir-maintainers, @grafana/docs-tooling, @jdbaldry, @grafana/mimir-ruler-and-alertmanager-maintainers, @wilfriedroset, @vaxvms, @bubu11e, @grafanabot

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/mimir-maintainers

# Documentation.
/.github/workflows/publish-technical-documentation-next.yml                 @grafana/docs-tooling @grafana/mimir-maintainers
/.github/workflows/publish-technical-documentation-release-helm-charts.yml  @grafana/docs-tooling @grafana/mimir-maintainers
/.github/workflows/publish-technical-documentation-release-mimir.yml        @grafana/docs-tooling @grafana/mimir-maintainers
/.github/workflows/update-make-docs.yml                                     @grafana/docs-tooling @grafana/mimir-maintainers

/docs/                                                                      @jdbaldry @grafana/mimir-maintainers
/docs/docs.mk                                                               @grafana/docs-tooling @grafana/mimir-maintainers
/docs/internal/                                                             @grafana/mimir-maintainers
/docs/make-docs                                                             @grafana/docs-tooling @grafana/mimir-maintainers
/docs/proposals/                                                            @grafana/mimir-maintainers
/docs/variables.mk                                                          @grafana/docs-tooling @grafana/mimir-maintainers

# Alertmanager and ruler.
/pkg/alertmanager/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers
/pkg/ruler/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers

# Packages.
/Makefile @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers
/packaging/ @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers

# No owners - allows sub-maintainers to merge changes.
CHANGELOG.md

# Dependencies
go.mod @grafana/mimir-maintainers @grafanabot
go.sum @grafana/mimir-maintainers @grafanabot
/vendor/ @grafana/mimir-maintainers @grafanabot
/vendor/github.com/prometheus/alertmanager @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers @grafanabot

Make lint happy
  pkg/distributor/distributor_test.go
  pkg/distributor/query_ingest_storage_test.go
  pkg/distributor/query_test.go
  pkg/ingester/client/chunkcompat.go
Owners: @grafana/mimir-maintainers

Move -querier.minimize-ingester-requests from experimental to advanced
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/configure/configuration-parameters/index.md
  docs/sources/mimir/release-notes/v2.12.md
  pkg/querier/querier.go
Owners: @grafana/mimir-maintainers, @jdbaldry

ingester: map METHOD_NOT_ALLOWED to status error
  pkg/ingester/errors.go
  pkg/ingester/errors_test.go
Owners: @grafana/mimir-maintainers

Move -querier.minimize-ingester-requests from experimental to advanced (#7649)
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/configure/configuration-parameters/index.md
  docs/sources/mimir/release-notes/v2.12.md
  pkg/querier/querier.go
Owners: @grafana/mimir-maintainers, @jdbaldry

distributor, ruler: expect METHOD_NOT_ALLOWED from pusher (#7645)
  pkg/distributor/errors.go
  pkg/distributor/errors_test.go
  pkg/distributor/push.go
  pkg/distributor/push_test.go
  pkg/ingester/errors.go
  pkg/ingester/errors_test.go
  pkg/ruler/compat_test.go
Owners: @grafana/mimir-maintainers, @grafana/mimir-ruler-and-alertmanager-maintainers

Don't panic on nil query-frontend service when using downstream-url
  CHANGELOG.md
  pkg/mimir/modules.go
Owners: @grafana/mimir-maintainers

Don't panic on nil query-frontend service when using downstream-url (#7651)
  CHANGELOG.md
  pkg/mimir/modules.go
Owners: @grafana/mimir-maintainers

reuse the iterator, this builds but fails tests with EOF
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_chunk_reader_test.go
  pkg/storegateway/series_refs.go
  pkg/storegateway/series_refs_test.go
Owners: @grafana/mimir-maintainers

Add initial support for resetting `loadingSeriesChunkRefsSetIterator`
  pkg/storegateway/series_refs.go
  pkg/storegateway/series_refs_test.go
Owners: @grafana/mimir-maintainers

add reset funcs in preparation but don't use them yet
  pkg/storegateway/series_chunks.go
  pkg/storegateway/series_chunks_test.go
  pkg/storegateway/series_refs.go
  pkg/storegateway/series_refs_test.go
Owners: @grafana/mimir-maintainers

Add important TODO
  pkg/storegateway/series_refs.go
Owners: @grafana/mimir-maintainers

Fix outdated comment
  pkg/storegateway/bucket.go
Owners: @grafana/mimir-maintainers

try changing strategy up front
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_test.go
  pkg/storegateway/series_refs_test.go
Owners: @grafana/mimir-maintainers

unify codec approach into cachekeygenerator - fix parse labels time params consuming body
  pkg/frontend/querymiddleware/cardinality_query_cache.go
  pkg/frontend/querymiddleware/codec.go
  pkg/frontend/querymiddleware/codec_test.go
  pkg/frontend/querymiddleware/generic_query_cache.go
  pkg/frontend/querymiddleware/generic_query_cache_test.go
  pkg/frontend/querymiddleware/labels_query_cache.go
  pkg/frontend/querymiddleware/labels_query_cache_test.go
  pkg/frontend/querymiddleware/results_cache.go
  pkg/frontend/querymiddleware/results_cache_test.go
  pkg/frontend/querymiddleware/roundtrip.go
Owners: @grafana/mimir-maintainers

linting
  pkg/frontend/querymiddleware/labels_query_cache.go
Owners: @grafana/mimir-maintainers

Fixing review findings
  pkg/distributor/distributor_test.go
  pkg/distributor/query_ingest_storage_test.go
  pkg/ingester/client/chunkcompat.go
Owners: @grafana/mimir-maintainers

[query-frontend] close response body in request handler
  pkg/frontend/transport/handler.go
Owners: @grafana/mimir-maintainers

changelog
  CHANGELOG.md
Owners: none

check for nil
  pkg/frontend/transport/handler.go
Owners: @grafana/mimir-maintainers
