Repository grafana/mimir, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/mimir-maintainers, @grafana/docs-metrics, @grafana/mimir-ruler-and-alertmanager-maintainers, @wilfriedroset, @vaxvms, @bubu11e, @grafanabot

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/mimir-maintainers

# Documentation.
/docs/ @grafana/docs-metrics @grafana/mimir-maintainers

# Alertmanager and ruler.
/pkg/alertmanager/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers
/pkg/ruler/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers

# Packages.
/Makefile @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers
/packaging/ @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers

# No owners - allows sub-maintainers to merge changes.
CHANGELOG.md

# Dependencies
go.mod @grafana/mimir-maintainers @grafanabot
go.sum @grafana/mimir-maintainers @grafanabot
/vendor/ @grafana/mimir-maintainers @grafanabot

Update runbook to use new keda operator metrics
  docs/sources/mimir/manage/mimir-runbooks/_index.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Update mimir-prometheus to `5f9db04c2d53`
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/config/config.go
  vendor/github.com/prometheus/prometheus/promql/engine.go
  vendor/github.com/prometheus/prometheus/promql/functions.go
  vendor/github.com/prometheus/prometheus/promql/parser/ast.go
  vendor/github.com/prometheus/prometheus/promql/parser/lex.go
  vendor/github.com/prometheus/prometheus/promql/parser/parse.go
  vendor/github.com/prometheus/prometheus/scrape/scrape.go
  vendor/github.com/prometheus/prometheus/scrape/target.go
  vendor/github.com/prometheus/prometheus/storage/buffer.go
  vendor/github.com/prometheus/prometheus/storage/merge.go
  vendor/github.com/prometheus/prometheus/storage/remote/azuread/azuread.go
  vendor/github.com/prometheus/prometheus/storage/remote/read_handler.go
  vendor/github.com/prometheus/prometheus/storage/remote/write_handler.go
  vendor/github.com/prometheus/prometheus/template/template.go
  vendor/github.com/prometheus/prometheus/tsdb/chunkenc/float_histogram.go
  vendor/github.com/prometheus/prometheus/tsdb/chunkenc/histogram.go
  vendor/github.com/prometheus/prometheus/tsdb/chunkenc/xor.go
  vendor/github.com/prometheus/prometheus/tsdb/errors/errors.go
  vendor/github.com/prometheus/prometheus/tsdb/head_wal.go
  vendor/github.com/prometheus/prometheus/tsdb/ooo_head_read.go
  vendor/github.com/prometheus/prometheus/tsdb/symbols_batch.go
  vendor/github.com/prometheus/prometheus/tsdb/wal.go
  vendor/github.com/prometheus/prometheus/tsdb/wlog/wlog.go
  vendor/github.com/prometheus/prometheus/util/annotations/annotations.go
  vendor/github.com/prometheus/prometheus/web/api/v1/api.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

fixed docs
  docs/sources/mimir/references/configuration-parameters/index.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

grpc push check: use size from metadata for ingester push requests.
  pkg/mimir/grpc_push_check.go
  pkg/mimir/grpc_push_check_test.go
Owners: @grafana/mimir-maintainers

Implement inflight bytes check.
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/ingester/instance_limits.go
  pkg/ingester/metrics.go
  pkg/ingester/user_metrics_metadata_test.go
  pkg/util/globalerror/errors.go
Owners: @grafana/mimir-maintainers

Add test for inflight bytes check.
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/ingester/metrics.go
Owners: @grafana/mimir-maintainers

changelog entry
  CHANGELOG.md
Owners: none

docs, help
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

CHANGELOG.md
  CHANGELOG.md
Owners: none

Make sure to check for inflight bytes even if new request size is not known.
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
Owners: @grafana/mimir-maintainers

Make ctx param first.
  pkg/ingester/ingester_test.go
Owners: @grafana/mimir-maintainers

Make linter happy.
  pkg/mimir/grpc_push_check.go
  pkg/mimir/grpc_push_check_test.go
Owners: @grafana/mimir-maintainers

Add documentation for err-mimir-ingester-max-inflight-push-requests-bytes error.
  docs/sources/mimir/manage/mimir-runbooks/_index.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

add connection-string for azure (#6487)
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/storage/bucket/azure/bucket_client.go
  pkg/storage/bucket/azure/bucket_client_test.go
  pkg/storage/bucket/azure/config.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

Update mimir-prometheus to `5f9db04c2d53` (#6529)
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/config/config.go
  vendor/github.com/prometheus/prometheus/promql/engine.go
  vendor/github.com/prometheus/prometheus/promql/functions.go
  vendor/github.com/prometheus/prometheus/promql/parser/ast.go
  vendor/github.com/prometheus/prometheus/promql/parser/lex.go
  vendor/github.com/prometheus/prometheus/promql/parser/parse.go
  vendor/github.com/prometheus/prometheus/scrape/scrape.go
  vendor/github.com/prometheus/prometheus/scrape/target.go
  vendor/github.com/prometheus/prometheus/storage/buffer.go
  vendor/github.com/prometheus/prometheus/storage/merge.go
  vendor/github.com/prometheus/prometheus/storage/remote/azuread/azuread.go
  vendor/github.com/prometheus/prometheus/storage/remote/read_handler.go
  vendor/github.com/prometheus/prometheus/storage/remote/write_handler.go
  vendor/github.com/prometheus/prometheus/template/template.go
  vendor/github.com/prometheus/prometheus/tsdb/chunkenc/float_histogram.go
  vendor/github.com/prometheus/prometheus/tsdb/chunkenc/histogram.go
  vendor/github.com/prometheus/prometheus/tsdb/chunkenc/xor.go
  vendor/github.com/prometheus/prometheus/tsdb/errors/errors.go
  vendor/github.com/prometheus/prometheus/tsdb/head_wal.go
  vendor/github.com/prometheus/prometheus/tsdb/ooo_head_read.go
  vendor/github.com/prometheus/prometheus/tsdb/symbols_batch.go
  vendor/github.com/prometheus/prometheus/tsdb/wal.go
  vendor/github.com/prometheus/prometheus/tsdb/wlog/wlog.go
  vendor/github.com/prometheus/prometheus/util/annotations/annotations.go
  vendor/github.com/prometheus/prometheus/web/api/v1/api.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Check that reporting of cortex_ingester_inflight_push_requests_bytes works.
  pkg/ingester/ingester_test.go
Owners: @grafana/mimir-maintainers

Update mimir-prometheus to 05b95612d
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/storage/buffer.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Add tracing span to Ruler.getLocalRules() (#6515)
  pkg/ruler/ruler.go
  pkg/ruler/ruler_test.go
Owners: @grafana/mimir-ruler-and-alertmanager-maintainers, @grafana/mimir-maintainers

Update mimir-prometheus to `5f9db04c2d53` (#6529)
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/config/config.go
  vendor/github.com/prometheus/prometheus/promql/engine.go
  vendor/github.com/prometheus/prometheus/promql/functions.go
  vendor/github.com/prometheus/prometheus/promql/parser/ast.go
  vendor/github.com/prometheus/prometheus/promql/parser/lex.go
  vendor/github.com/prometheus/prometheus/promql/parser/parse.go
  vendor/github.com/prometheus/prometheus/scrape/scrape.go
  vendor/github.com/prometheus/prometheus/scrape/target.go
  vendor/github.com/prometheus/prometheus/storage/buffer.go
  vendor/github.com/prometheus/prometheus/storage/merge.go
  vendor/github.com/prometheus/prometheus/storage/remote/azuread/azuread.go
  vendor/github.com/prometheus/prometheus/storage/remote/read_handler.go
  vendor/github.com/prometheus/prometheus/storage/remote/write_handler.go
  vendor/github.com/prometheus/prometheus/template/template.go
  vendor/github.com/prometheus/prometheus/tsdb/chunkenc/float_histogram.go
  vendor/github.com/prometheus/prometheus/tsdb/chunkenc/histogram.go
  vendor/github.com/prometheus/prometheus/tsdb/chunkenc/xor.go
  vendor/github.com/prometheus/prometheus/tsdb/errors/errors.go
  vendor/github.com/prometheus/prometheus/tsdb/head_wal.go
  vendor/github.com/prometheus/prometheus/tsdb/ooo_head_read.go
  vendor/github.com/prometheus/prometheus/tsdb/symbols_batch.go
  vendor/github.com/prometheus/prometheus/tsdb/wal.go
  vendor/github.com/prometheus/prometheus/tsdb/wlog/wlog.go
  vendor/github.com/prometheus/prometheus/util/annotations/annotations.go
  vendor/github.com/prometheus/prometheus/web/api/v1/api.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Update mimir-prometheus (#6520)
  CHANGELOG.md
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/rules/group.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Update dskit, add `-server.http-read-header-timeout` option (#6517)
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  go.mod
  go.sum
  vendor/github.com/grafana/dskit/server/server.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics, @grafanabot

Ensure that DoNotLogErrors set DoNotLogError header in the HTTP response (#6522)
  go.mod
  go.sum
  pkg/distributor/distributor.go
  pkg/distributor/errors_test.go
  pkg/distributor/push.go
  pkg/distributor/push_test.go
  pkg/ingester/errors.go
  pkg/ingester/errors_test.go
  pkg/ingester/ingester.go
  pkg/util/log/log.go
  vendor/github.com/grafana/dskit/httpgrpc/httpgrpc.go
  vendor/github.com/grafana/dskit/httpgrpc/server/server.go
  vendor/github.com/grafana/dskit/middleware/grpc_logging.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

add connection-string for azure (#6487)
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/storage/bucket/azure/bucket_client.go
  pkg/storage/bucket/azure/bucket_client_test.go
  pkg/storage/bucket/azure/config.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

Renovate: Ignore opentracing-contrib/go-grpc fork (#6512)
  renovate.json
Owners: @grafana/mimir-maintainers

Update mimir-prometheus to `5f9db04c2d53`
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/config/config.go
  vendor/github.com/prometheus/prometheus/promql/engine.go
  vendor/github.com/prometheus/prometheus/promql/functions.go
  vendor/github.com/prometheus/prometheus/promql/parser/ast.go
  vendor/github.com/prometheus/prometheus/promql/parser/lex.go
  vendor/github.com/prometheus/prometheus/promql/parser/parse.go
  vendor/github.com/prometheus/prometheus/rules/group.go
  vendor/github.com/prometheus/prometheus/scrape/scrape.go
  vendor/github.com/prometheus/prometheus/scrape/target.go
  vendor/github.com/prometheus/prometheus/storage/buffer.go
  vendor/github.com/prometheus/prometheus/storage/merge.go
  vendor/github.com/prometheus/prometheus/storage/remote/azuread/azuread.go
  vendor/github.com/prometheus/prometheus/storage/remote/read_handler.go
  vendor/github.com/prometheus/prometheus/storage/remote/write_handler.go
  vendor/github.com/prometheus/prometheus/template/template.go
  vendor/github.com/prometheus/prometheus/tsdb/chunkenc/float_histogram.go
  vendor/github.com/prometheus/prometheus/tsdb/chunkenc/histogram.go
  vendor/github.com/prometheus/prometheus/tsdb/chunkenc/xor.go
  vendor/github.com/prometheus/prometheus/tsdb/errors/errors.go
  vendor/github.com/prometheus/prometheus/tsdb/head_wal.go
  vendor/github.com/prometheus/prometheus/tsdb/ooo_head_read.go
  vendor/github.com/prometheus/prometheus/tsdb/symbols_batch.go
  vendor/github.com/prometheus/prometheus/tsdb/wal.go
  vendor/github.com/prometheus/prometheus/tsdb/wlog/wlog.go
  vendor/github.com/prometheus/prometheus/util/annotations/annotations.go
  vendor/github.com/prometheus/prometheus/web/api/v1/api.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

r261: Update mimir-prometheus to 05b95612d (#6530)
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/storage/buffer.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

ingester: implement request size instance limit (#6492)
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/manage/mimir-runbooks/_index.md
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/ingester/instance_limits.go
  pkg/ingester/metrics.go
  pkg/ingester/user_metrics_metadata_test.go
  pkg/mimir/grpc_push_check.go
  pkg/mimir/grpc_push_check_test.go
  pkg/util/globalerror/errors.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

r262: Update mimir-prometheus to 5f9db04c2d53 (#6531)
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/config/config.go
  vendor/github.com/prometheus/prometheus/promql/engine.go
  vendor/github.com/prometheus/prometheus/promql/functions.go
  vendor/github.com/prometheus/prometheus/promql/parser/ast.go
  vendor/github.com/prometheus/prometheus/promql/parser/lex.go
  vendor/github.com/prometheus/prometheus/promql/parser/parse.go
  vendor/github.com/prometheus/prometheus/rules/group.go
  vendor/github.com/prometheus/prometheus/scrape/scrape.go
  vendor/github.com/prometheus/prometheus/scrape/target.go
  vendor/github.com/prometheus/prometheus/storage/buffer.go
  vendor/github.com/prometheus/prometheus/storage/merge.go
  vendor/github.com/prometheus/prometheus/storage/remote/azuread/azuread.go
  vendor/github.com/prometheus/prometheus/storage/remote/read_handler.go
  vendor/github.com/prometheus/prometheus/storage/remote/write_handler.go
  vendor/github.com/prometheus/prometheus/template/template.go
  vendor/github.com/prometheus/prometheus/tsdb/chunkenc/float_histogram.go
  vendor/github.com/prometheus/prometheus/tsdb/chunkenc/histogram.go
  vendor/github.com/prometheus/prometheus/tsdb/chunkenc/xor.go
  vendor/github.com/prometheus/prometheus/tsdb/errors/errors.go
  vendor/github.com/prometheus/prometheus/tsdb/head_wal.go
  vendor/github.com/prometheus/prometheus/tsdb/ooo_head_read.go
  vendor/github.com/prometheus/prometheus/tsdb/symbols_batch.go
  vendor/github.com/prometheus/prometheus/tsdb/wal.go
  vendor/github.com/prometheus/prometheus/tsdb/wlog/wlog.go
  vendor/github.com/prometheus/prometheus/util/annotations/annotations.go
  vendor/github.com/prometheus/prometheus/web/api/v1/api.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Add ingester metric for local per-user max series limit
  pkg/ingester/ingester.go
  pkg/ingester/limiter.go
Owners: @grafana/mimir-maintainers

Update CHANGELOG
  CHANGELOG.md
Owners: none

Update local limit metrics in ingester UpdateLoop
  pkg/ingester/ingester.go
  pkg/ingester/limiter.go
  pkg/ingester/limiter_test.go
  pkg/ingester/metrics.go
  pkg/ingester/user_metrics_metadata_test.go
Owners: @grafana/mimir-maintainers

Fix tests
  pkg/ingester/limiter_test.go
  pkg/ingester/user_metrics_metadata_test.go
Owners: @grafana/mimir-maintainers

Update CHANGELOG entry per review comment
  CHANGELOG.md
Owners: none

Add ingester metric for local per-user max series limit (#6403)
  CHANGELOG.md
  pkg/ingester/ingester.go
  pkg/ingester/metrics.go
Owners: @grafana/mimir-maintainers

Update mimir-prometheus
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/rules/group.go
  vendor/github.com/prometheus/prometheus/tsdb/db.go
  vendor/github.com/prometheus/prometheus/tsdb/head.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Pass secondary hash function to user TSDBs
  pkg/ingester/ingester.go
  pkg/ingester/secondary_hash.go
  pkg/ingester/secondary_hash_stringlabels.go
Owners: @grafana/mimir-maintainers

Expose owned series as a metric
  pkg/ingester/ingester.go
  pkg/ingester/metrics.go
Owners: @grafana/mimir-maintainers

Reduce histogram resolution instead of rejecting
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/validate.go
  pkg/distributor/validate_test.go
  pkg/mimirpb/custom.go
  pkg/util/validation/limits.go
Owners: @grafana/mimir-maintainers

Update mimir-distributed chart to 5.2.0-weekly.262
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/values.yaml
Owners: @grafana/mimir-maintainers

Update reference help
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics
