Repository grafana/mimir, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/mimir-maintainers, @grafana/docs-metrics, @grafana/mimir-ruler-and-alertmanager-maintainers, @wilfriedroset, @vaxvms, @bubu11e, @grafanabot

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/mimir-maintainers

# Documentation.
/docs/ @grafana/docs-metrics @grafana/mimir-maintainers

# Alertmanager and ruler.
/pkg/alertmanager/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers
/pkg/ruler/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers

# Packages.
/Makefile @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers
/packaging/ @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers

# No owners - allows sub-maintainers to merge changes.
CHANGELOG.md

# Dependencies
go.mod @grafana/mimir-maintainers @grafanabot
go.sum @grafana/mimir-maintainers @grafanabot
/vendor/ @grafana/mimir-maintainers @grafanabot

some renaming and docstrings for clarity
  pkg/frontend/v1/frontend.go
  pkg/scheduler/queue/queue.go
  pkg/scheduler/queue/queue_test.go
  pkg/scheduler/queue/user_queues.go
  pkg/scheduler/scheduler.go
Owners: @grafana/mimir-maintainers

Add note about recreating pods to runbook for EtcdAllocatingTooMuchMemory alert (#6435)
  docs/sources/mimir/manage/mimir-runbooks/_index.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Fix find_prev_release() in tools/release/common.sh returns incorrect tag (#4825)
  tools/release/common.sh
  tools/release/create-draft-release-notes.sh
Owners: @grafana/mimir-maintainers

Update mimir-distributed chart to 5.2.0-weekly.260
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/values.yaml
Owners: @grafana/mimir-maintainers

Release mimir-distributed Helm chart 5.2.0-weekly.260 (#6417)
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/values.yaml
Owners: @grafana/mimir-maintainers

Split querier GRPC client config into two
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/mimir/modules.go
  pkg/mimir/modules_test.go
  pkg/querier/worker/frontend_processor.go
  pkg/querier/worker/scheduler_processor.go
  pkg/querier/worker/worker.go
  pkg/querier/worker/worker_test.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

Upgrade to mimir-prometheus@d0d6240125f9
  CHANGELOG.md
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/tsdb/postings_for_matchers_cache.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Upgrade to mimir-prometheus@d0d6240125f9 (#6446)
  CHANGELOG.md
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/tsdb/postings_for_matchers_cache.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Update Helm chart and jsonnet with new config value
  operations/helm/charts/mimir-distributed/values.yaml
  operations/mimir/querier.libsonnet
Owners: @grafana/mimir-maintainers

Upgrade to mimir-prometheus@b523086b421d
  CHANGELOG.md
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/tsdb/postings_for_matchers_cache.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Update helm tests
  operations/helm/tests/enterprise-https-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/gateway-enterprise-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/graphite-enabled-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/openshift-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/scheduler-name-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-legacy-label-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-logical-multizone-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-multizone-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-topology-spread-constraints-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-vault-agent-values-generated/mimir-distributed/templates/mimir-config.yaml
Owners: @grafana/mimir-maintainers

Upgrade to mimir-prometheus@b523086b421d (#6447)
  CHANGELOG.md
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/tsdb/postings_for_matchers_cache.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Add note about recreating pods to runbook for EtcdAllocatingTooMuchMemory alert (#6435)
  docs/sources/mimir/manage/mimir-runbooks/_index.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Fix find_prev_release() in tools/release/common.sh returns incorrect tag (#4825)
  tools/release/common.sh
  tools/release/create-draft-release-notes.sh
Owners: @grafana/mimir-maintainers

Upgrade to mimir-prometheus@d0d6240125f9 (#6446)
  CHANGELOG.md
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/tsdb/postings_for_matchers_cache.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Release mimir-distributed Helm chart 5.2.0-weekly.260 (#6417)
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/values.yaml
Owners: @grafana/mimir-maintainers

scheduler request queue: encapsulating dequeue logic down in queue broker; some docstrings and renaming for clarity
  pkg/frontend/v1/frontend.go
  pkg/scheduler/queue/queue.go
  pkg/scheduler/queue/queue_test.go
  pkg/scheduler/queue/user_queues.go
  pkg/scheduler/queue/user_queues_test.go
  pkg/scheduler/scheduler.go
Owners: @grafana/mimir-maintainers

fix enqueueRequestToBroker behavior to match existing error passing; improve comments and docstrings
  pkg/scheduler/queue/queue.go
  pkg/scheduler/queue/user_queues.go
Owners: @grafana/mimir-maintainers

address linting
  pkg/scheduler/queue/queue.go
  pkg/scheduler/queue/user_queues.go
  pkg/scheduler/queue/user_queues_test.go
Owners: @grafana/mimir-maintainers

remove unnecessary errors for empty tenant ID in tenant queue deletion paths
  pkg/scheduler/queue/queue.go
  pkg/scheduler/queue/user_queues.go
  pkg/scheduler/queue/user_queues_test.go
Owners: @grafana/mimir-maintainers

user queues to tenant queues file renaming
  pkg/scheduler/queue/tenant_queues.go
  pkg/scheduler/queue/tenant_queues_test.go
Owners: @grafana/mimir-maintainers

complete user -> tenant renaming in tenant queues files
  pkg/scheduler/queue/tenant_queues.go
  pkg/scheduler/queue/tenant_queues_test.go
Owners: @grafana/mimir-maintainers

pr feedback: docstring
  pkg/scheduler/queue/tenant_queues.go
Owners: @grafana/mimir-maintainers

ruler: gracefully stop subservices when starting fails (#6414)
  pkg/ruler/ruler.go
Owners: @grafana/mimir-ruler-and-alertmanager-maintainers, @grafana/mimir-maintainers

Check for errors when iterating through chunks or samples in response to a query.
  pkg/ingester/ingester.go
Owners: @grafana/mimir-maintainers

Add changelog entry.
  CHANGELOG.md
Owners: none

Update mimir-prometheus vendor to debd4b196ec2
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/promql/engine.go
  vendor/github.com/prometheus/prometheus/promql/functions.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Update mimir-prometheus vendor to debd4b196ec2 (#6458)
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/promql/engine.go
  vendor/github.com/prometheus/prometheus/promql/functions.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Upgrade to mimir-prometheus@693f219a88e2
  CHANGELOG.md
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/tsdb/postings_for_matchers_cache.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Upgrade to mimir-prometheus@693f219a88e2 (#6461)
  CHANGELOG.md
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/tsdb/postings_for_matchers_cache.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Update dskit, fix grpc push check.
  go.mod
  go.sum
  pkg/mimir/grpc_push_check.go
  pkg/mimir/grpc_push_check_test.go
  vendor/github.com/golang/glog/glog_file.go
  vendor/github.com/grafana/dskit/server/limits.go
  vendor/google.golang.org/grpc/README.md
  vendor/google.golang.org/grpc/attributes/attributes.go
  vendor/google.golang.org/grpc/balancer/balancer.go
  vendor/google.golang.org/grpc/balancer/grpclb/grpclb.go
  vendor/google.golang.org/grpc/balancer/grpclb/grpclb_picker.go
  vendor/google.golang.org/grpc/balancer/grpclb/grpclb_remote_balancer.go
  vendor/google.golang.org/grpc/balancer/grpclb/grpclb_util.go
  vendor/google.golang.org/grpc/clientconn.go
  vendor/google.golang.org/grpc/dialoptions.go
  vendor/google.golang.org/grpc/encoding/encoding.go
  vendor/google.golang.org/grpc/health/grpc_health_v1/health_grpc.pb.go
  vendor/google.golang.org/grpc/internal/backoff/backoff.go
  vendor/google.golang.org/grpc/internal/internal.go
  vendor/google.golang.org/grpc/internal/status/status.go
  vendor/google.golang.org/grpc/internal/transport/handler_server.go
  vendor/google.golang.org/grpc/internal/transport/http2_client.go
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/internal/transport/http_util.go
  vendor/google.golang.org/grpc/internal/transport/transport.go
  vendor/google.golang.org/grpc/resolver/manual/manual.go
  vendor/google.golang.org/grpc/server.go
  vendor/google.golang.org/grpc/tap/tap.go
  vendor/google.golang.org/grpc/version.go
  vendor/google.golang.org/grpc/vet.sh
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Mark -blocks-storage.bucket-store.index-header.eager-loading-startup-enabled as stable and enable it by default
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/storegateway/indexheader/header.go
  pkg/storegateway/indexheader/header_test.go
  pkg/storegateway/indexheader/reader_pool.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

Rename unused argument.
  pkg/mimir/grpc_push_check.go
Owners: @grafana/mimir-maintainers

Keep experimental
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/storegateway/indexheader/header.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

store-gateway: make eager loadign as experimental
  docs/sources/mimir/configure/about-versioning.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Enable -blocks-storage.bucket-store.index-header.eager-loading-startup-enabled by default (#6463)
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/storegateway/indexheader/header.go
  pkg/storegateway/indexheader/header_test.go
  pkg/storegateway/indexheader/reader_pool.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

store-gateway: make eager loadign as experimental (#6465)
  docs/sources/mimir/configure/about-versioning.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Update dskit and grpc-go to 1.59.0. (#6301)
  go.mod
  go.sum
  pkg/mimir/grpc_push_check.go
  pkg/mimir/grpc_push_check_test.go
  vendor/github.com/golang/glog/glog_file.go
  vendor/github.com/grafana/dskit/server/limits.go
  vendor/google.golang.org/grpc/README.md
  vendor/google.golang.org/grpc/attributes/attributes.go
  vendor/google.golang.org/grpc/balancer/balancer.go
  vendor/google.golang.org/grpc/balancer/grpclb/grpclb.go
  vendor/google.golang.org/grpc/balancer/grpclb/grpclb_picker.go
  vendor/google.golang.org/grpc/balancer/grpclb/grpclb_remote_balancer.go
  vendor/google.golang.org/grpc/balancer/grpclb/grpclb_util.go
  vendor/google.golang.org/grpc/clientconn.go
  vendor/google.golang.org/grpc/dialoptions.go
  vendor/google.golang.org/grpc/encoding/encoding.go
  vendor/google.golang.org/grpc/health/grpc_health_v1/health_grpc.pb.go
  vendor/google.golang.org/grpc/internal/backoff/backoff.go
  vendor/google.golang.org/grpc/internal/internal.go
  vendor/google.golang.org/grpc/internal/status/status.go
  vendor/google.golang.org/grpc/internal/transport/handler_server.go
  vendor/google.golang.org/grpc/internal/transport/http2_client.go
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/internal/transport/http_util.go
  vendor/google.golang.org/grpc/internal/transport/transport.go
  vendor/google.golang.org/grpc/resolver/manual/manual.go
  vendor/google.golang.org/grpc/server.go
  vendor/google.golang.org/grpc/tap/tap.go
  vendor/google.golang.org/grpc/version.go
  vendor/google.golang.org/grpc/vet.sh
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Ensure backwards compatibility
  cmd/mimir/config-descriptor.json
  docs/sources/mimir/references/configuration-parameters/index.md
  operations/helm/charts/mimir-distributed/values.yaml
  pkg/querier/worker/worker.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

Update helm-tests
  operations/helm/tests/enterprise-https-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/gateway-enterprise-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/graphite-enabled-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/openshift-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/scheduler-name-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-legacy-label-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-logical-multizone-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-multizone-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-topology-spread-constraints-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-vault-agent-values-generated/mimir-distributed/templates/mimir-config.yaml
Owners: @grafana/mimir-maintainers
