Repository grafana/mimir, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/mimir-maintainers, @grafana/docs-metrics, @grafana/mimir-ruler-and-alertmanager-maintainers, @wilfriedroset, @vaxvms, @bubu11e, @grafanabot

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/mimir-maintainers

# Documentation.
/docs/ @grafana/docs-metrics @grafana/mimir-maintainers

# Alertmanager and ruler.
/pkg/alertmanager/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers
/pkg/ruler/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers

# Packages.
/Makefile @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers
/packaging/ @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers

# No owners - allows sub-maintainers to merge changes.
CHANGELOG.md

# Dependencies
go.mod @grafana/mimir-maintainers @grafanabot
go.sum @grafana/mimir-maintainers @grafanabot
/vendor/ @grafana/mimir-maintainers @grafanabot

fix possibility of re-enqueuing request with outdated maxQueriers
  pkg/scheduler/queue/queue.go
  pkg/scheduler/queue/queue_test.go
  pkg/scheduler/queue/tenant_queues.go
  pkg/scheduler/queue/tenant_queues_test.go
Owners: @grafana/mimir-maintainers

re-use node deletion logic
  pkg/scheduler/queue/tree_queue.go
Owners: @grafana/mimir-maintainers

fix queueing fairness behavior regarding child queue ordering when creating a new child queue
  pkg/scheduler/queue/tree_queue.go
  pkg/scheduler/queue/tree_queue_test.go
Owners: @grafana/mimir-maintainers

convert tree queue methods to only use relative child paths
  pkg/scheduler/queue/queue_test.go
  pkg/scheduler/queue/tenant_queues.go
  pkg/scheduler/queue/tenant_queues_test.go
  pkg/scheduler/queue/tree_queue.go
  pkg/scheduler/queue/tree_queue_test.go
Owners: @grafana/mimir-maintainers

WIP tree queue introduce node and item counts and update tests to use them
  pkg/scheduler/queue/queue_test.go
  pkg/scheduler/queue/tenant_queues.go
  pkg/scheduler/queue/tree_queue.go
  pkg/scheduler/queue/tree_queue_test.go
Owners: @grafana/mimir-maintainers

testing and errors feedback addressed
  pkg/scheduler/queue/tree_queue.go
  pkg/scheduler/queue/tree_queue_test.go
Owners: @grafana/mimir-maintainers

re-use node deletion logic
  pkg/scheduler/queue/tree_queue.go
Owners: @grafana/mimir-maintainers

PR feedback: moving request-specific error up out of tree queue, plus other nits
  pkg/scheduler/queue/tenant_queues.go
  pkg/scheduler/queue/tenant_queues_test.go
  pkg/scheduler/queue/tree_queue.go
Owners: @grafana/mimir-maintainers

comment cleanup
  pkg/scheduler/queue/tenant_queues.go
Owners: @grafana/mimir-maintainers

try lazy init local queue
  pkg/scheduler/queue/tenant_queues_test.go
  pkg/scheduler/queue/tree_queue.go
Owners: @grafana/mimir-maintainers

unit testing improvements for tree queue
  pkg/scheduler/queue/tree_queue.go
  pkg/scheduler/queue/tree_queue_test.go
Owners: @grafana/mimir-maintainers

more comments and docstrings
  pkg/scheduler/queue/tree_queue.go
Owners: @grafana/mimir-maintainers

comments and minor test fixes
  pkg/scheduler/queue/tenant_queues_test.go
  pkg/scheduler/queue/tree_queue.go
  pkg/scheduler/queue/tree_queue_test.go
Owners: @grafana/mimir-maintainers

create clearer tests for tree queue using balanced tree cases
  pkg/scheduler/queue/tree_queue_test.go
Owners: @grafana/mimir-maintainers

remove path reporting from tree queue dequeue operations to avoid costly append operations
  pkg/scheduler/queue/tenant_queues.go
  pkg/scheduler/queue/tree_queue.go
  pkg/scheduler/queue/tree_queue_test.go
Owners: @grafana/mimir-maintainers

comment cleanup
  pkg/scheduler/queue/tenant_queues.go
Owners: @grafana/mimir-maintainers

changelog
  CHANGELOG.md
Owners: none

Enable ingester to querier chunks streaming and ingester query request minimisation by default (#6174)
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/querier/querier.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

Make formatting of newQueryTripperware consistent.
  pkg/frontend/querymiddleware/roundtrip.go
Owners: @grafana/mimir-maintainers

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

change the base to base second which is integer
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/distributor/distributor_retry.go
  pkg/distributor/distributor_retry_test.go
  pkg/distributor/push.go
  pkg/distributor/push_test.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

Check frontend is running earlier, to avoid unnecessary work and avoid other middleware running while frontend is in an inconsistent state
  pkg/frontend/querymiddleware/retry.go
  pkg/frontend/querymiddleware/retry_test.go
  pkg/frontend/querymiddleware/roundtrip.go
  pkg/frontend/querymiddleware/roundtrip_test.go
  pkg/frontend/querymiddleware/running.go
  pkg/frontend/querymiddleware/running_test.go
  pkg/frontend/v2/frontend.go
  pkg/mimir/mimir.go
  pkg/mimir/modules.go
  pkg/util/errors.go
Owners: @grafana/mimir-maintainers

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

update doc
  docs/sources/mimir/references/configuration-parameters/index.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

query-scheduler multi dimension queueing data structures (#6533)
  pkg/scheduler/queue/queue.go
  pkg/scheduler/queue/queue_test.go
  pkg/scheduler/queue/tenant_queues.go
  pkg/scheduler/queue/tenant_queues_test.go
  pkg/scheduler/queue/tree_queue.go
  pkg/scheduler/queue/tree_queue_test.go
Owners: @grafana/mimir-maintainers

/active_series: do not recompute response size (#6619)
  CHANGELOG.md
  pkg/ingester/active_series.go
Owners: @grafana/mimir-maintainers

/active_series: do not recompute response size (#6619) (#6647)
  CHANGELOG.md
  pkg/ingester/active_series.go
Owners: @grafana/mimir-maintainers

Distributor: replace ring.DoBatch with ring.DoBatchWithClientError (#6636) (#6648)
  go.mod
  go.sum
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/errors.go
  pkg/distributor/errors_test.go
  vendor/github.com/grafana/dskit/ring/batch.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

query-frontend: format query start/end/step, log query length (#6473)
  CHANGELOG.md
  pkg/frontend/querymiddleware/roundtrip.go
  pkg/frontend/querymiddleware/stats.go
  pkg/frontend/querymiddleware/stats_test.go
  pkg/frontend/transport/handler.go
  pkg/frontend/transport/handler_test.go
Owners: @grafana/mimir-maintainers

Ingester: Add alert and runbook.
  CHANGELOG.md
  docs/sources/mimir/manage/mimir-runbooks/_index.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/mixin-alerts.yaml
  operations/mimir-mixin-compiled-baremetal/alerts.yaml
  operations/mimir-mixin-compiled/alerts.yaml
  operations/mimir-mixin/alerts/alerts.libsonnet
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

query-frontend: results caching logs and tracing
  CHANGELOG.md
  pkg/frontend/querymiddleware/generic_query_cache.go
  pkg/frontend/querymiddleware/generic_query_cache_test.go
  pkg/frontend/querymiddleware/split_and_cache.go
  pkg/frontend/querymiddleware/stats.go
  pkg/frontend/transport/handler.go
  pkg/frontend/transport/handler_test.go
Owners: @grafana/mimir-maintainers

add active series API endpoint to experimental feature list
  docs/sources/mimir/configure/about-versioning.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

ingester_test.go: update exemplar related unit tests (#6597)
  pkg/ingester/ingester_test.go
Owners: @grafana/mimir-maintainers

changelog
  CHANGELOG.md
Owners: none

Add active series API endpoint to list of experimental features (#6651)
  CHANGELOG.md
  docs/sources/mimir/configure/about-versioning.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Update pkg/util/validation/limits.go
  pkg/util/validation/limits.go
Owners: @grafana/mimir-maintainers

Distributor: Don't use global logger in push handlers
  CHANGELOG.md
  pkg/api/api.go
  pkg/distributor/otel.go
  pkg/distributor/push.go
  pkg/distributor/push_test.go
Owners: @grafana/mimir-maintainers

update docs
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

feat/add discovered metrics to metricsUsed
  pkg/mimirtool/commands/analyse_dashboards.go
Owners: @grafana/mimir-maintainers

Helm: release 5.1.3
  docs/sources/helm-charts/mimir-distributed/release-notes/v5.1.md
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/values.yaml
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers
