Repository grafana/mimir, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/mimir-maintainers, @grafana/docs-metrics, @grafana/mimir-ruler-and-alertmanager-maintainers, @wilfriedroset, @vaxvms, @bubu11e, @grafanabot

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/mimir-maintainers

# Documentation.
/docs/ @grafana/docs-metrics @grafana/mimir-maintainers

# Alertmanager and ruler.
/pkg/alertmanager/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers
/pkg/ruler/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers

# Packages.
/Makefile @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers
/packaging/ @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers

# No owners - allows sub-maintainers to merge changes.
CHANGELOG.md

# Dependencies
go.mod @grafana/mimir-maintainers @grafanabot
go.sum @grafana/mimir-maintainers @grafanabot
/vendor/ @grafana/mimir-maintainers @grafanabot

Jsonnet: changed default autoscaling_query_frontend_cpu_target_utilizatio to 0.75 (#6395)
  CHANGELOG.md
  operations/mimir-tests/test-autoscaling-generated.yaml
  operations/mimir/autoscaling.libsonnet
Owners: @grafana/mimir-maintainers

Add license header
  tools/tsdb-labels/main.go
Owners: @grafana/mimir-maintainers

Rename metric based on code review
  pkg/querier/tenantfederation/merge_queryable.go
  pkg/querier/tenantfederation/merge_queryable_test.go
Owners: @grafana/mimir-maintainers

Note new metric name in CHANGELOG
  CHANGELOG.md
Owners: none

Should use 1.20.3 build image
  Makefile
Owners: @wilfriedroset, @vaxvms, @bubu11e, @grafana/mimir-maintainers

tsdb-labels: add tool for printing label values; rename tsdb-index (#6317)
  CHANGELOG.md
  docs/internal/tools/tsdb-tools.md
  tools/tsdb-labels/main.go
  tools/tsdb-series/main.go
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

storegateway: remove chunk ref in AggrChunk type
  pkg/storegateway/bucket_chunk_reader.go
  pkg/storegateway/bucket_test.go
  pkg/storegateway/series_chunks.go
  pkg/storegateway/series_chunks_test.go
  pkg/storegateway/storepb/types.pb.go
  pkg/storegateway/storepb/types.proto
Owners: @grafana/mimir-maintainers

fix unit test
  pkg/querier/block_streaming_test.go
  pkg/querier/block_test.go
Owners: @grafana/mimir-maintainers

Emit histogram for number of tenants queried by federation (#6374)
  CHANGELOG.md
  pkg/mimir/modules.go
  pkg/querier/tenantfederation/merge_exemplar_queryable.go
  pkg/querier/tenantfederation/merge_exemplar_queryable_test.go
  pkg/querier/tenantfederation/merge_queryable.go
  pkg/querier/tenantfederation/merge_queryable_test.go
Owners: @grafana/mimir-maintainers

Update migrate-from-cortex.md to fix word typo (#6359)
  docs/sources/mimir/set-up/migrate/migrate-from-cortex.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Introduce distributorError interface
  pkg/distributor/errors.go
  pkg/distributor/errors_test.go
  pkg/distributor/push.go
Owners: @grafana/mimir-maintainers

Fixing review findings
  pkg/distributor/errors.go
  pkg/mimirpb/mimir.pb.go
  pkg/mimirpb/mimir.proto
Owners: @grafana/mimir-maintainers

Ingester gRPC errors should be propagated as they are
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
Owners: @grafana/mimir-maintainers

Get rid of httpgrpc on distributor's write path
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/errors.go
  pkg/distributor/errors_test.go
  pkg/distributor/push.go
  pkg/distributor/push_test.go
  pkg/mimirpb/mimir.pb.go
  pkg/mimirpb/mimir.proto
Owners: @grafana/mimir-maintainers

Rename mimirpb.VALIDATION in mimirpb.BAD_DATA
  pkg/distributor/distributor_test.go
  pkg/distributor/errors.go
  pkg/distributor/errors_test.go
  pkg/distributor/push.go
  pkg/mimirpb/mimir.pb.go
  pkg/mimirpb/mimir.proto
Owners: @grafana/mimir-maintainers

Upgrade dskit
  go.mod
  go.sum
  vendor/github.com/grafana/dskit/ring/replication_set.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Upgrade dskit (#6401)
  go.mod
  go.sum
  vendor/github.com/grafana/dskit/ring/replication_set.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Update build image tag
  Makefile
Owners: @wilfriedroset, @vaxvms, @bubu11e, @grafana/mimir-maintainers

Give build image GitHub workflow permission to push commits
  .github/workflows/push-mimir-build-image.yml
Owners: @grafana/mimir-maintainers

Give build image GitHub workflow permission to push commits (#6404)
  .github/workflows/push-mimir-build-image.yml
Owners: @grafana/mimir-maintainers

Chore: Update renovate PR when build image version is different
  .github/workflows/push-mimir-build-image.yml
Owners: @grafana/mimir-maintainers

test
  mimir-build-image/Dockerfile
Owners: @grafana/mimir-maintainers

Fixing review findings
  pkg/distributor/errors.go
Owners: @grafana/mimir-maintainers

Get rid of httpgrpc on distributor's write path (#6377)
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/errors.go
  pkg/distributor/errors_test.go
  pkg/distributor/push.go
  pkg/distributor/push_test.go
  pkg/mimirpb/mimir.pb.go
  pkg/mimirpb/mimir.proto
Owners: @grafana/mimir-maintainers

Bump grafana agentin dev docker compose
  development/mimir-monolithic-mode/config/grafana-agent.river
  development/mimir-monolithic-mode/docker-compose.yml
Owners: @grafana/mimir-maintainers

Don't continue querying further ingesters after a limit is reached
  pkg/distributor/distributor_test.go
  pkg/distributor/query.go
  pkg/distributor/query_test.go
Owners: @grafana/mimir-maintainers

Add changelog entry
  CHANGELOG.md
Owners: none

Fix linting warning about copying lock
  pkg/distributor/distributor_test.go
Owners: @grafana/mimir-maintainers

Fix race in tests
  pkg/distributor/distributor_test.go
  pkg/distributor/query_test.go
Owners: @grafana/mimir-maintainers

Fix flaky test
  pkg/distributor/query_test.go
Owners: @grafana/mimir-maintainers

Update CHANGELOG to document new distributor.Push() errors
  CHANGELOG.md
Owners: none

Update build image version to pr6405-02e11fa3a2
  Makefile
Owners: @wilfriedroset, @vaxvms, @bubu11e, @grafana/mimir-maintainers

Adding the PR number
  CHANGELOG.md
Owners: none

Update CHANGELOG to document new distributor.Push() errors (#6406)
  CHANGELOG.md
Owners: none

Bump grafana agentin dev docker compose (#6221)
  development/mimir-monolithic-mode/config/grafana-agent.river
  development/mimir-monolithic-mode/docker-compose.yml
Owners: @grafana/mimir-maintainers

Update Dockerfile
  mimir-build-image/Dockerfile
Owners: @grafana/mimir-maintainers

Update Makefile
  Makefile
  mimir-build-image/Dockerfile
Owners: @wilfriedroset, @vaxvms, @bubu11e, @grafana/mimir-maintainers

helm: quote checksum/config when using external config
  operations/helm/charts/mimir-distributed/templates/_helpers.tpl
Owners: @grafana/mimir-maintainers

Update build image version to pr6405-02e11fa3a2
  Makefile
Owners: @wilfriedroset, @vaxvms, @bubu11e, @grafana/mimir-maintainers

Update Dockerfile
  mimir-build-image/Dockerfile
Owners: @grafana/mimir-maintainers
