Repository grafana/mimir, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/mimir-maintainers, @grafana/docs-tooling, @jdbaldry, @grafana/mimir-ruler-and-alertmanager-maintainers, @wilfriedroset, @vaxvms, @bubu11e, @grafanabot

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/mimir-maintainers

# Documentation.
/.github/workflows/publish-technical-documentation-next.yml                 @grafana/docs-tooling @grafana/mimir-maintainers
/.github/workflows/publish-technical-documentation-release-helm-charts.yml  @grafana/docs-tooling @grafana/mimir-maintainers
/.github/workflows/publish-technical-documentation-release-mimir.yml        @grafana/docs-tooling @grafana/mimir-maintainers
/.github/workflows/update-make-docs.yml                                     @grafana/docs-tooling @grafana/mimir-maintainers

/docs/                                                                      @jdbaldry @grafana/mimir-maintainers
/docs/docs.mk                                                               @grafana/docs-tooling @grafana/mimir-maintainers
/docs/internal/                                                             @grafana/mimir-maintainers
/docs/make-docs                                                             @grafana/docs-tooling @grafana/mimir-maintainers
/docs/proposals/                                                            @grafana/mimir-maintainers
/docs/variables.mk                                                          @grafana/docs-tooling @grafana/mimir-maintainers

# Alertmanager and ruler.
/pkg/alertmanager/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers
/pkg/ruler/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers

# Packages.
/Makefile @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers
/packaging/ @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers

# No owners - allows sub-maintainers to merge changes.
CHANGELOG.md

# Dependencies
go.mod @grafana/mimir-maintainers @grafanabot
go.sum @grafana/mimir-maintainers @grafanabot
/vendor/ @grafana/mimir-maintainers @grafanabot
/vendor/github.com/prometheus/alertmanager @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers @grafanabot

querier: don't cache context.Canceled errors for bucket index (#7620)
  CHANGELOG.md
  integration/ruler_test.go
  pkg/storage/tsdb/bucketindex/loader.go
  pkg/storage/tsdb/bucketindex/loader_test.go
Owners: @grafana/mimir-maintainers

store-gateway: record waiting at query gate as request stage (#7609)
  CHANGELOG.md
  pkg/storegateway/bucket.go
  pkg/storegateway/stats.go
Owners: @grafana/mimir-maintainers

Check the slowest/fastest backends are logged correctly
  tools/querytee/proxy_endpoint_test.go
Owners: @grafana/mimir-maintainers

Format "node_exporter"
  docs/sources/mimir/manage/monitor-grafana-mimir/requirements.md
Owners: @jdbaldry, @grafana/mimir-maintainers

Format "node_exporter"
  docs/sources/mimir/manage/monitor-grafana-mimir/requirements.md
Owners: @jdbaldry, @grafana/mimir-maintainers

docs: clarify monitor-grafana-mimir/requirements.md (#7631)
  docs/sources/mimir/manage/monitor-grafana-mimir/requirements.md
Owners: @jdbaldry, @grafana/mimir-maintainers

mimirtool: fix panic in loadgen (#7629)
  CHANGELOG.md
  pkg/mimirtool/commands/loadgen.go
Owners: @grafana/mimir-maintainers

ingester: don't over-count on calls to finish
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
Owners: @grafana/mimir-maintainers

ingester: enforce limits for Push requests coming via ingest.Store
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/mimir/grpc_push_check.go
  pkg/mimir/grpc_push_check_test.go
Owners: @grafana/mimir-maintainers

ingester: improve phrasing in the comments
  pkg/ingester/ingester.go
Owners: @grafana/mimir-maintainers

ingester: Enforce limits for Push requests coming via ingest.Store (#7621)
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/mimir/grpc_push_check.go
  pkg/mimir/grpc_push_check_test.go
Owners: @grafana/mimir-maintainers

Make owned series service wait for partition in the ring.
  pkg/ingester/ingester.go
  pkg/ingester/owned_series.go
  pkg/ingester/owned_series_test.go
Owners: @grafana/mimir-maintainers

Only wait for ring and check owned series in starting method when using partition ring.
  pkg/ingester/ingester.go
  pkg/ingester/owned_series.go
  pkg/ingester/owned_series_test.go
Owners: @grafana/mimir-maintainers

Start ownedSeriesService asynchonously, and make it enter Running state only after it checks for owned series at least once.
  pkg/ingester/errors.go
  pkg/ingester/ingester.go
  pkg/ingester/owned_series.go
Owners: @grafana/mimir-maintainers

Add test using ingester ring.
  pkg/ingester/owned_series_test.go
Owners: @grafana/mimir-maintainers

Don't make owned series service wait in Starting method. If ring is empty, it skips the check but runs with shorter interval in the Running state.
  pkg/ingester/ingester.go
  pkg/ingester/owned_series.go
Owners: @grafana/mimir-maintainers

Fix tests.
  pkg/ingester/owned_series_test.go
Owners: @grafana/mimir-maintainers

Minimize diff.
  pkg/ingester/ingester.go
Owners: @grafana/mimir-maintainers

Update comment after recent changes.
  pkg/ingester/ingester.go
Owners: @grafana/mimir-maintainers

Update pkg/ingester/owned_series.go
  pkg/ingester/owned_series.go
Owners: @grafana/mimir-maintainers

Fix comment.
  pkg/ingester/ingester.go
Owners: @grafana/mimir-maintainers

Fix comment.
  pkg/ingester/ingester.go
Owners: @grafana/mimir-maintainers

Don't pass ownedSeriesService to service manager.
  pkg/ingester/ingester.go
Owners: @grafana/mimir-maintainers

Fix tests.
  pkg/ingester/owned_series.go
  pkg/ingester/owned_series_test.go
Owners: @grafana/mimir-maintainers

Fix comment.
  pkg/ingester/ingester.go
Owners: @grafana/mimir-maintainers

Fix comment.
  pkg/ingester/owned_series.go
Owners: @grafana/mimir-maintainers

Break out config
  cmd/mimir-continuous-test/main.go
  pkg/continuoustest/config.go
Owners: @grafana/mimir-maintainers

Enable only the admin cache
  operations/helm/charts/mimir-distributed/ci/test-enterprise-configmap-values.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/admin-cache/admin-cache-pdb.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/admin-cache/admin-cache-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/admin-cache/admin-cache-svc-headless.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/chunks-cache/chunks-cache-pdb.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/chunks-cache/chunks-cache-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/chunks-cache/chunks-cache-svc-headless.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/index-cache/index-cache-pdb.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/index-cache/index-cache-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/index-cache/index-cache-svc-headless.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/metadata-cache/metadata-cache-pdb.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/metadata-cache/metadata-cache-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/metadata-cache/metadata-cache-svc-headless.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/results-cache/results-cache-statefulset.yaml
Owners: @grafana/mimir-maintainers

[Helm] Fix admin-cache max connections
  operations/helm/charts/mimir-distributed/values.yaml
Owners: @grafana/mimir-maintainers

Enable caches in enterprise test
  operations/helm/charts/mimir-distributed/ci/test-enterprise-configmap-values.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/admin-cache/admin-cache-pdb.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/admin-cache/admin-cache-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/admin-cache/admin-cache-svc-headless.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/chunks-cache/chunks-cache-pdb.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/chunks-cache/chunks-cache-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/chunks-cache/chunks-cache-svc-headless.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/index-cache/index-cache-pdb.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/index-cache/index-cache-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/index-cache/index-cache-svc-headless.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/metadata-cache/metadata-cache-pdb.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/metadata-cache/metadata-cache-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/metadata-cache/metadata-cache-svc-headless.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/results-cache/results-cache-pdb.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/results-cache/results-cache-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/results-cache/results-cache-svc-headless.yaml
Owners: @grafana/mimir-maintainers

Push updated tests
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/admin-cache/admin-cache-pdb.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/admin-cache/admin-cache-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/admin-cache/admin-cache-svc-headless.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/mimir-config.yaml
Owners: @grafana/mimir-maintainers

Fix typo
  operations/helm/charts/mimir-distributed/ci/test-enterprise-configmap-values.yaml
Owners: @grafana/mimir-maintainers

rebase main and add back all caches
  operations/helm/charts/mimir-distributed/ci/test-enterprise-configmap-values.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/chunks-cache/chunks-cache-pdb.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/chunks-cache/chunks-cache-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/chunks-cache/chunks-cache-svc-headless.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/index-cache/index-cache-pdb.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/index-cache/index-cache-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/index-cache/index-cache-svc-headless.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/metadata-cache/metadata-cache-pdb.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/metadata-cache/metadata-cache-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/metadata-cache/metadata-cache-svc-headless.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/results-cache/results-cache-pdb.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/results-cache/results-cache-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/results-cache/results-cache-svc-headless.yaml
Owners: @grafana/mimir-maintainers

Update CHANGELOG
  operations/helm/charts/mimir-distributed/CHANGELOG.md
Owners: none

[Helm] Fix admin-cache max connections (#7632)
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/ci/test-enterprise-configmap-values.yaml
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/admin-cache/admin-cache-pdb.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/admin-cache/admin-cache-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/admin-cache/admin-cache-svc-headless.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/chunks-cache/chunks-cache-pdb.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/chunks-cache/chunks-cache-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/chunks-cache/chunks-cache-svc-headless.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/index-cache/index-cache-pdb.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/index-cache/index-cache-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/index-cache/index-cache-svc-headless.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/metadata-cache/metadata-cache-pdb.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/metadata-cache/metadata-cache-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/metadata-cache/metadata-cache-svc-headless.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/results-cache/results-cache-pdb.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/results-cache/results-cache-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/results-cache/results-cache-svc-headless.yaml
Owners: @grafana/mimir-maintainers

[Helm] Fix admin-cache max connections (#7632)
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/ci/test-enterprise-configmap-values.yaml
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/admin-cache/admin-cache-pdb.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/admin-cache/admin-cache-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/admin-cache/admin-cache-svc-headless.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/chunks-cache/chunks-cache-pdb.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/chunks-cache/chunks-cache-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/chunks-cache/chunks-cache-svc-headless.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/index-cache/index-cache-pdb.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/index-cache/index-cache-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/index-cache/index-cache-svc-headless.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/metadata-cache/metadata-cache-pdb.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/metadata-cache/metadata-cache-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/metadata-cache/metadata-cache-svc-headless.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/results-cache/results-cache-pdb.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/results-cache/results-cache-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/results-cache/results-cache-svc-headless.yaml
Owners: @grafana/mimir-maintainers

Update version and release notes
  docs/sources/helm-charts/mimir-distributed/release-notes/v5.2.md
  operations/helm/charts/mimir-distributed/Chart.yaml
Owners: @jdbaldry, @grafana/mimir-maintainers

helm-docs
  operations/helm/charts/mimir-distributed/README.md
Owners: @grafana/mimir-maintainers

Rebuild helm tests
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/admin-cache/admin-cache-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/chunks-cache/chunks-cache-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/index-cache/index-cache-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/metadata-cache/metadata-cache-statefulset.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/results-cache/results-cache-statefulset.yaml
Owners: @grafana/mimir-maintainers

mimir: simplify grpc in-flight limiter
  pkg/mimir/grpc_push_check.go
  pkg/mimir/grpc_push_check_test.go
  pkg/mimir/modules.go
Owners: @grafana/mimir-maintainers
