Repository grafana/mimir, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/mimir-maintainers, @grafana/docs-metrics, @grafana/mimir-ruler-and-alertmanager-maintainers, @wilfriedroset, @vaxvms, @bubu11e, @grafanabot

Update migrate-from-cortex.md to fix word typo
  docs/sources/mimir/set-up/migrate/migrate-from-cortex.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Make chunk and series limit error messages returned by store-gateways consistent with those returned by queriers (#6347)
  CHANGELOG.md
  integration/store_gateway_limits_hit_test.go
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_e2e_test.go
  pkg/storegateway/bucket_test.go
  pkg/storegateway/gateway_test.go
  pkg/storegateway/limiter.go
  pkg/storegateway/limiter_test.go
  pkg/storegateway/series_refs.go
  pkg/storegateway/series_refs_test.go
Owners: @grafana/mimir-maintainers

Update x/net to 0.17
  CHANGELOG.md
  go.mod
  go.sum
Owners: @grafana/mimir-maintainers, @grafanabot

Update x/net to 0.17
  go.mod
  go.sum
Owners: @grafana/mimir-maintainers, @grafanabot

Update CHANGELOG after the /util/push removal
  CHANGELOG.md
Owners: none

Move tsdb-labels into its own tool
  docs/internal/tools/tsdb-tools.md
  go.mod
  tools/tsdb-index/main.go
  tools/tsdb-labels/main.go
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers, @grafanabot

Rename tsdb-index to tsdb-series
  docs/internal/tools/tsdb-tools.md
  tools/tsdb-series/main.go
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Update changelog
  CHANGELOG.md
Owners: none

Update changelog entry
  CHANGELOG.md
Owners: none

Fix linter
  tools/tsdb-labels/main.go
Owners: @grafana/mimir-maintainers

Add missing tests.
  operations/mimir-tests/test-all-components-generated.yaml
  operations/mimir-tests/test-all-components-with-tsdb-head-early-compaction-generated.yaml
  operations/mimir-tests/test-multi-zone-with-store-gateway-automated-downscaling-generated.yaml
Owners: @grafana/mimir-maintainers

Allow ingester.Push to proceed on soft errors only
  pkg/ingester/errors.go
  pkg/ingester/errors_test.go
  pkg/ingester/ingester.go
  pkg/ingester/instance_limits_test.go
Owners: @grafana/mimir-maintainers

Allow ingester.Push to proceed on soft errors only (#6366)
  pkg/ingester/errors.go
  pkg/ingester/errors_test.go
  pkg/ingester/ingester.go
  pkg/ingester/instance_limits_test.go
Owners: @grafana/mimir-maintainers

Run go mod tidy
  go.sum
Owners: @grafana/mimir-maintainers, @grafanabot

Helm: release 5.1.1
  docs/sources/helm-charts/mimir-distributed/release-notes/v5.1.md
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/values.yaml
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Emit histogram for number of tenants queried by federation
  CHANGELOG.md
  pkg/mimir/modules.go
  pkg/querier/tenantfederation/merge_exemplar_queryable.go
  pkg/querier/tenantfederation/merge_exemplar_queryable_test.go
  pkg/querier/tenantfederation/merge_queryable.go
  pkg/querier/tenantfederation/merge_queryable_test.go
Owners: @grafana/mimir-maintainers

Packaging: fix preremove script preventing upgrades on RHEL based OS. (#6067)
  CHANGELOG.md
  packaging/nfpm/mimir/preremove.sh
Owners: @wilfriedroset, @vaxvms, @bubu11e, @grafana/mimir-maintainers

Feat: minDomains optional field added
  operations/helm/charts/mimir-distributed/templates/lib/topologySpreadConstraints.tpl
  operations/helm/charts/mimir-distributed/values.yaml
Owners: @grafana/mimir-maintainers

Helm: release 5.1.1 (#6371)
  docs/sources/helm-charts/mimir-distributed/release-notes/v5.1.md
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/values.yaml
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Distributor: improve context.Canceled and context.DeadlineExceeded handling
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/errors.go
  pkg/distributor/push.go
  pkg/distributor/push_test.go
Owners: @grafana/mimir-maintainers

remove signature version v2
  pkg/storage/bucket/s3/bucket_client.go
  pkg/storage/bucket/s3/config.go
  pkg/storage/bucket/s3/config_test.go
Owners: @grafana/mimir-maintainers

update index.md
  docs/sources/mimir/references/configuration-parameters/index.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

update CHANGELOG
  CHANGELOG.md
Owners: none

Upgrade mimir-prometheus
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/rules/manager.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Increase JAEGER_REPORTER_MAX_QUEUE_SIZE for Docker Compose environments
  development/mimir-microservices-mode/docker-compose.jsonnet
  development/mimir-microservices-mode/docker-compose.yml
  development/mimir-monolithic-mode-with-swift-storage/docker-compose.yml
  development/mimir-monolithic-mode/docker-compose.yml
Owners: @grafana/mimir-maintainers

Add changelog entry
  CHANGELOG.md
Owners: none

Increase JAEGER_REPORTER_MAX_QUEUE_SIZE for Docker Compose environments (#6380)
  development/mimir-microservices-mode/docker-compose.jsonnet
  development/mimir-microservices-mode/docker-compose.yml
  development/mimir-monolithic-mode-with-swift-storage/docker-compose.yml
  development/mimir-monolithic-mode/docker-compose.yml
Owners: @grafana/mimir-maintainers

Upgrade mimir-prometheus (#6379)
  CHANGELOG.md
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/rules/manager.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Add changelog entries.
  CHANGELOG.md
Owners: none

Checking previous release should not be sorted by taggeddate
  tools/release/common.sh
Owners: @grafana/mimir-maintainers

Implement correct previous release finder
  tools/release/common.sh
  tools/release/create-draft-release-notes.sh
Owners: @grafana/mimir-maintainers

Update comment
  tools/release/common.sh
Owners: @grafana/mimir-maintainers

Do it for Helm too
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/values.yaml
  operations/helm/tests/enterprise-https-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/gateway-enterprise-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/templates/gateway/nginx-configmap.yaml
  operations/helm/tests/gateway-nginx-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/graphite-enabled-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/large-values-generated/mimir-distributed/templates/nginx/nginx-configmap.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/nginx/nginx-configmap.yaml
  operations/helm/tests/openshift-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/scheduler-name-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/scheduler-name-values-generated/mimir-distributed/templates/nginx/nginx-configmap.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/small-values-generated/mimir-distributed/templates/nginx/nginx-configmap.yaml
  operations/helm/tests/test-enterprise-configmap-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-k8s-1.25-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-legacy-label-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-enterprise-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-k8s-1.25-values-generated/mimir-distributed/templates/nginx/nginx-configmap.yaml
  operations/helm/tests/test-oss-logical-multizone-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-logical-multizone-values-generated/mimir-distributed/templates/nginx/nginx-configmap.yaml
  operations/helm/tests/test-oss-multizone-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-multizone-values-generated/mimir-distributed/templates/nginx/nginx-configmap.yaml
  operations/helm/tests/test-oss-topology-spread-constraints-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-oss-values-generated/mimir-distributed/templates/nginx/nginx-configmap.yaml
  operations/helm/tests/test-vault-agent-values-generated/mimir-distributed/templates/mimir-config.yaml
  operations/helm/tests/test-vault-agent-values-generated/mimir-distributed/templates/nginx/nginx-configmap.yaml
Owners: @grafana/mimir-maintainers

go mod vendor
  vendor/google.golang.org/grpc/idle.go
Owners: @grafana/mimir-maintainers, @grafanabot

set runtime config name
  pkg/mimir/modules.go
Owners: @grafana/mimir-maintainers

Jsonnet: changed default autoscaling_query_frontend_cpu_target_utilizatio to 0.75
  CHANGELOG.md
  operations/mimir-tests/test-autoscaling-generated.yaml
  operations/mimir/autoscaling.libsonnet
Owners: @grafana/mimir-maintainers

set runtime config name
  go.mod
  go.sum
  pkg/mimir/modules.go
  vendor/github.com/grafana/dskit/runtimeconfig/manager.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

undo previous change
  pkg/mimir/modules.go
Owners: @grafana/mimir-maintainers

update dskit again
  go.mod
  go.sum
  vendor/github.com/grafana/dskit/runtimeconfig/manager.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

update dskit (#6393)
  go.mod
  go.sum
  pkg/mimir/modules.go
  vendor/github.com/grafana/dskit/runtimeconfig/manager.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/mimir-maintainers

# Documentation.
/docs/ @grafana/docs-metrics @grafana/mimir-maintainers

# Alertmanager and ruler.
/pkg/alertmanager/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers
/pkg/ruler/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers

# Packages.
/Makefile @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers
/packaging/ @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers

# No owners - allows sub-maintainers to merge changes.
CHANGELOG.md

# Dependencies
go.mod @grafana/mimir-maintainers @grafanabot
go.sum @grafana/mimir-maintainers @grafanabot
/vendor/ @grafana/mimir-maintainers @grafanabot
