Repository grafana/mimir, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/mimir-maintainers, @grafana/docs-metrics, @grafana/mimir-ruler-and-alertmanager-maintainers, @wilfriedroset, @vaxvms, @bubu11e, @grafanabot

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/mimir-maintainers

# Documentation.
/docs/ @grafana/docs-metrics @grafana/mimir-maintainers

# Alertmanager and ruler.
/pkg/alertmanager/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers
/pkg/ruler/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers

# Packages.
/Makefile @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers
/packaging/ @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers

# No owners - allows sub-maintainers to merge changes.
CHANGELOG.md

# Dependencies
go.mod @grafana/mimir-maintainers @grafanabot
go.sum @grafana/mimir-maintainers @grafanabot
/vendor/ @grafana/mimir-maintainers @grafanabot

Chore: Make only member of team able to run build image workflow (#6071)
  .github/workflows/push-mimir-build-image.yml
Owners: @grafana/mimir-maintainers

Revert "Ingester.QueryStream: Add support for ignoring context cancellation for chunk queriers (#6408)"
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/ingester/ingester.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

Log total time that the query spent in the queue (#6537)
  CHANGELOG.md
  pkg/frontend/transport/handler.go
  pkg/frontend/transport/handler_test.go
  pkg/frontend/v1/frontend.go
  pkg/frontend/v1/frontend_test.go
  pkg/frontend/v1/frontendv1pb/frontend.pb.go
  pkg/frontend/v1/frontendv1pb/frontend.proto
  pkg/querier/stats/stats.go
  pkg/querier/stats/stats.pb.go
  pkg/querier/stats/stats.proto
  pkg/querier/stats/stats_test.go
  pkg/querier/worker/frontend_processor.go
  pkg/querier/worker/frontend_processor_test.go
  pkg/querier/worker/scheduler_processor.go
  pkg/querier/worker/scheduler_processor_test.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
  pkg/scheduler/schedulerpb/scheduler.pb.go
  pkg/scheduler/schedulerpb/scheduler.proto
Owners: @grafana/mimir-maintainers

query-frontend: log query start/end/step in milliseconds
  CHANGELOG.md
  pkg/frontend/querymiddleware/roundtrip.go
  pkg/frontend/querymiddleware/stats.go
  pkg/frontend/querymiddleware/stats_test.go
  pkg/frontend/transport/handler.go
  pkg/frontend/transport/handler_test.go
Owners: @grafana/mimir-maintainers

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Show rejected distributor requests in the dashboard.
  operations/mimir-mixin-compiled/dashboards/mimir-writes.json
  operations/mimir-mixin/config.libsonnet
  operations/mimir-mixin/dashboards/writes.libsonnet
Owners: @grafana/mimir-maintainers

CHANGELOG.md
  CHANGELOG.md
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-writes.json
Owners: @grafana/mimir-maintainers

CHANGELOG.md
  CHANGELOG.md
Owners: none

Fix runbook typos
  docs/sources/mimir/manage/mimir-runbooks/_index.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Revert "Ingester.QueryStream: Add support for ignoring context cancellation for chunk queriers (#6408)" (#6555)
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/ingester/ingester.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

make build-helm-tests
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/grafana-dashboards.yaml
Owners: @grafana/mimir-maintainers

Fix runbook typos (#6557)
  docs/sources/mimir/manage/mimir-runbooks/_index.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

test
  docs/sources/mimir/configure/mirror-requests-to-a-second-cluster/index.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Enable reporting gRPC codes as labels in cortex and ingester_client request duration metrics
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  go.mod
  go.sum
  pkg/ingester/client/client.go
  pkg/mimir/modules.go
  vendor/github.com/grafana/dskit/grpcclient/instrumentation.go
  vendor/github.com/grafana/dskit/grpcutil/cancel.go
  vendor/github.com/grafana/dskit/grpcutil/status.go
  vendor/github.com/grafana/dskit/httpgrpc/httpgrpc.go
  vendor/github.com/grafana/dskit/middleware/grpc_instrumentation.go
  vendor/github.com/grafana/dskit/server/server.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics, @grafanabot

Modify Mimir dashboards to allow reporting of gRPC status codes
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/grafana-dashboards.yaml
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-alertmanager.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-compactor.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-overview.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-reads.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-remote-ruler-reads.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-ruler.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-writes.json
  operations/mimir-mixin-compiled/dashboards/mimir-alertmanager.json
  operations/mimir-mixin-compiled/dashboards/mimir-compactor.json
  operations/mimir-mixin-compiled/dashboards/mimir-overview.json
  operations/mimir-mixin-compiled/dashboards/mimir-reads.json
  operations/mimir-mixin-compiled/dashboards/mimir-remote-ruler-reads.json
  operations/mimir-mixin-compiled/dashboards/mimir-ruler.json
  operations/mimir-mixin-compiled/dashboards/mimir-writes.json
  operations/mimir-mixin/dashboards/dashboard-utils.libsonnet
Owners: @grafana/mimir-maintainers

Add CHANGELOG and fix integration tests
  CHANGELOG.md
  integration/ingester_test.go
Owners: @grafana/mimir-maintainers

Add color for status OK
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/grafana-dashboards.yaml
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-alertmanager.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-compactor.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-overview.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-reads.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-remote-ruler-reads.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-ruler.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-writes.json
  operations/mimir-mixin-compiled/dashboards/mimir-alertmanager.json
  operations/mimir-mixin-compiled/dashboards/mimir-compactor.json
  operations/mimir-mixin-compiled/dashboards/mimir-overview.json
  operations/mimir-mixin-compiled/dashboards/mimir-reads.json
  operations/mimir-mixin-compiled/dashboards/mimir-remote-ruler-reads.json
  operations/mimir-mixin-compiled/dashboards/mimir-ruler.json
  operations/mimir-mixin-compiled/dashboards/mimir-writes.json
  operations/mimir-mixin/dashboards/dashboard-utils.libsonnet
Owners: @grafana/mimir-maintainers

Improve dashboard-utils.libsonnet
  operations/mimir-mixin/dashboards/dashboard-utils.libsonnet
Owners: @grafana/mimir-maintainers

scheduler processor is creating grpc connections to frontend to send result. It needs to use frontend client config.
  pkg/querier/worker/scheduler_processor.go
Owners: @grafana/mimir-maintainers

Test.
  pkg/querier/worker/scheduler_processor_test.go
Owners: @grafana/mimir-maintainers

CHANGELOG.md
  CHANGELOG.md
Owners: none

Fix bug in scheduler processor (#6573)
  CHANGELOG.md
  pkg/querier/worker/scheduler_processor.go
  pkg/querier/worker/scheduler_processor_test.go
Owners: @grafana/mimir-maintainers

Enable reporting gRPC codes as labels in cortex and ingester_client request duration metrics
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  go.mod
  go.sum
  integration/ingester_test.go
  pkg/ingester/client/client.go
  vendor/github.com/grafana/dskit/grpcclient/instrumentation.go
  vendor/github.com/grafana/dskit/grpcutil/cancel.go
  vendor/github.com/grafana/dskit/grpcutil/status.go
  vendor/github.com/grafana/dskit/httpgrpc/httpgrpc.go
  vendor/github.com/grafana/dskit/middleware/grpc_instrumentation.go
  vendor/github.com/grafana/dskit/server/server.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics, @grafanabot

Show rejected distributor requests in the dashboard. (#6556)
  CHANGELOG.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/grafana-dashboards.yaml
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-writes.json
  operations/mimir-mixin-compiled/dashboards/mimir-writes.json
  operations/mimir-mixin/config.libsonnet
  operations/mimir-mixin/dashboards/writes.libsonnet
Owners: @grafana/mimir-maintainers

Fix review findings
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  go.mod
  go.sum
  integration/ingester_test.go
  pkg/ingester/client/client.go
  vendor/github.com/grafana/dskit/server/server.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics, @grafanabot

Enable reporting gRPC codes as labels in cortex and ingester_client request duration metrics (#6562)
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  go.mod
  go.sum
  integration/ingester_test.go
  pkg/ingester/client/client.go
  vendor/github.com/grafana/dskit/grpcclient/instrumentation.go
  vendor/github.com/grafana/dskit/grpcutil/cancel.go
  vendor/github.com/grafana/dskit/grpcutil/status.go
  vendor/github.com/grafana/dskit/httpgrpc/httpgrpc.go
  vendor/github.com/grafana/dskit/middleware/grpc_instrumentation.go
  vendor/github.com/grafana/dskit/server/server.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics, @grafanabot

Allow dashboards to show gRPC codes as labels
  CHANGELOG.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/grafana-dashboards.yaml
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-alertmanager.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-compactor.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-overview.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-reads.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-remote-ruler-reads.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-ruler.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-writes.json
  operations/mimir-mixin-compiled/dashboards/mimir-alertmanager.json
  operations/mimir-mixin-compiled/dashboards/mimir-compactor.json
  operations/mimir-mixin-compiled/dashboards/mimir-overview.json
  operations/mimir-mixin-compiled/dashboards/mimir-reads.json
  operations/mimir-mixin-compiled/dashboards/mimir-remote-ruler-reads.json
  operations/mimir-mixin-compiled/dashboards/mimir-ruler.json
  operations/mimir-mixin-compiled/dashboards/mimir-writes.json
  operations/mimir-mixin/jsonnetfile.lock.json
Owners: @grafana/mimir-maintainers

Allow dashboards to show gRPC codes as labels (#6574)
  CHANGELOG.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/grafana-dashboards.yaml
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-alertmanager.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-compactor.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-overview.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-reads.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-remote-ruler-reads.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-ruler.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-writes.json
  operations/mimir-mixin-compiled/dashboards/mimir-alertmanager.json
  operations/mimir-mixin-compiled/dashboards/mimir-compactor.json
  operations/mimir-mixin-compiled/dashboards/mimir-overview.json
  operations/mimir-mixin-compiled/dashboards/mimir-reads.json
  operations/mimir-mixin-compiled/dashboards/mimir-remote-ruler-reads.json
  operations/mimir-mixin-compiled/dashboards/mimir-ruler.json
  operations/mimir-mixin-compiled/dashboards/mimir-writes.json
  operations/mimir-mixin/jsonnetfile.lock.json
Owners: @grafana/mimir-maintainers

Revert "Check for errors when iterating through chunks or samples in response to a query (#6451)"
  CHANGELOG.md
  pkg/ingester/ingester.go
Owners: @grafana/mimir-maintainers

Revert "Check for errors when iterating through chunks or samples in response to a query (#6451)" (#6576)
  CHANGELOG.md
  pkg/ingester/ingester.go
Owners: @grafana/mimir-maintainers

Revert "Check for errors when iterating through chunks or samples in response to a query (#6451)" (#6576)
  CHANGELOG.md
  pkg/ingester/ingester.go
Owners: @grafana/mimir-maintainers

Revert "Check for errors when iterating through chunks or samples in response to a query (#6451)" (#6576)
  CHANGELOG.md
  pkg/ingester/ingester.go
Owners: @grafana/mimir-maintainers

Vendor update mimir-prometheus
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/storage/merge.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Revert "Check for errors when iterating through chunks or samples in response to a query (#6451)" (#6576) (#6578)
  CHANGELOG.md
  pkg/ingester/ingester.go
Owners: @grafana/mimir-maintainers

Revert "Check for errors when iterating through chunks or samples in response to a query (#6451)" (#6576) (#6577)
  CHANGELOG.md
  pkg/ingester/ingester.go
Owners: @grafana/mimir-maintainers

Vendor update mimir-prometheus (#6579)
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/storage/merge.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Vendor update mimir-prometheus (#6579)
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/storage/merge.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Vendor update mimir-prometheus (#6579) (#6581)
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/storage/merge.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Vendor update mimir-prometheus (#6579)
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/storage/merge.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Vendor update mimir-prometheus (#6579) (#6582)
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/storage/merge.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot
