Repository grafana/mimir, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/mimir-maintainers, @grafana/docs-metrics, @grafana/mimir-ruler-and-alertmanager-maintainers, @wilfriedroset, @vaxvms, @bubu11e, @grafanabot

Make Ingester.Push() return pure gRPC errors
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/ingester/errors.go
  pkg/ingester/errors_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

Remove HTTP status codes checks from the write path tests in ingeste_test
  pkg/ingester/errors.go
  pkg/ingester/ingester_test.go
Owners: @grafana/mimir-maintainers

Correct translation of ingester gRPC errors by distributor and push handler
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/errors.go
  pkg/distributor/errors_test.go
  pkg/distributor/push.go
  pkg/distributor/push_test.go
Owners: @grafana/mimir-maintainers

Fixing review findings
  pkg/distributor/distributor_test.go
  pkg/distributor/errors_test.go
  pkg/distributor/push_test.go
Owners: @grafana/mimir-maintainers

Fixing review findings 2
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/errors.go
  pkg/distributor/errors_test.go
  pkg/ingester/errors.go
  pkg/ingester/errors_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update CHANGELOG
  CHANGELOG.md
Owners: none

Improve CHANGELOG msg
  CHANGELOG.md
Owners: none

Split querier GRPCClientConfig into separate frontend and scheduler client configs (#6445)
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/mimir/modules.go
  pkg/mimir/modules_test.go
  pkg/querier/worker/frontend_processor.go
  pkg/querier/worker/scheduler_processor.go
  pkg/querier/worker/worker.go
  pkg/querier/worker/worker_test.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

Make Ingester.Push() return pure gRPC errors (#6443)
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/errors.go
  pkg/distributor/errors_test.go
  pkg/distributor/push.go
  pkg/distributor/push_test.go
  pkg/ingester/errors.go
  pkg/ingester/errors_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

remove unused method getNextQueueForQuerier
  pkg/scheduler/queue/tenant_queues.go
  pkg/scheduler/queue/tenant_queues_test.go
Owners: @grafana/mimir-maintainers

moving to panics and error logging for unexpected failures to re-enqueue dequeued requests
  pkg/frontend/v1/frontend.go
  pkg/scheduler/queue/queue.go
  pkg/scheduler/queue/queue_test.go
  pkg/scheduler/scheduler.go
Owners: @grafana/mimir-maintainers

Update mimir-prometheus
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/storage/merge.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Add changelog entry.
  CHANGELOG.md
Owners: none

Switch to fork of opentracing-contrib/go-grpc
  go.mod
  go.sum
  vendor/github.com/opentracing-contrib/go-grpc/client.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Add changelog entry.
  CHANGELOG.md
Owners: none

Update mimir-prometheus (#6469)
  CHANGELOG.md
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/storage/merge.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Fix changelog PR order
  CHANGELOG.md
Owners: none

query-frontend: minor internal cleanup
  pkg/frontend/querymiddleware/split_and_cache.go
Owners: @grafana/mimir-maintainers

Memcached: allow to configure write and read buffer size
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/references/configuration-parameters/index.md
  go.mod
  go.sum
  vendor/github.com/grafana/dskit/cache/memcached_client.go
  vendor/github.com/grafana/gomemcache/memcache/memcache.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics, @grafanabot

Fixed unit tests
  pkg/frontend/querymiddleware/results_cache_test.go
  pkg/storage/tsdb/index_cache_test.go
Owners: @grafana/mimir-maintainers

Revendored dskit
  go.mod
  go.sum
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Fix issue where traces for server streaming gRPC calls incorrectly show the call as failing due to context cancellation (#6470)
  CHANGELOG.md
  go.mod
  go.sum
  vendor/github.com/opentracing-contrib/go-grpc/client.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Add failing test.
  integration/ingester_test.go
Owners: @grafana/mimir-maintainers

Fix issue where query requests that stream chunks from ingesters but return no series are reported as cancelled rather than successful in traces and metrics.
  pkg/distributor/query.go
Owners: @grafana/mimir-maintainers

Fix other instances of issue.
  pkg/distributor/distributor.go
  pkg/distributor/query.go
  pkg/frontend/v2/frontend_scheduler_worker.go
  pkg/ingester/client/streaming.go
  pkg/querier/block_streaming.go
  pkg/querier/blocks_store_queryable.go
  pkg/util/grpc.go
Owners: @grafana/mimir-maintainers

Add changelog entry.
  CHANGELOG.md
Owners: none

Check for errors when iterating through chunks or samples in response to a query (#6451)
  CHANGELOG.md
  pkg/ingester/ingester.go
Owners: @grafana/mimir-maintainers

query-frontend: log query start/end/step in milliseconds
  pkg/frontend/querymiddleware/stats.go
  pkg/frontend/transport/handler.go
Owners: @grafana/mimir-maintainers

Adjust account for nil stats
  pkg/frontend/transport/handler.go
Owners: @grafana/mimir-maintainers

query-frontend: results caching logs and tracing
  pkg/frontend/querymiddleware/split_and_cache.go
  pkg/frontend/querymiddleware/stats.go
  pkg/frontend/transport/handler.go
Owners: @grafana/mimir-maintainers

Adjust query stats test & account for nil stats
  pkg/frontend/transport/handler.go
  pkg/frontend/transport/handler_test.go
Owners: @grafana/mimir-maintainers

Add changelog entry
  CHANGELOG.md
Owners: none

Further improve tracing
  pkg/frontend/querymiddleware/split_and_cache.go
Owners: @grafana/mimir-maintainers

Further improve tracing
  pkg/frontend/querymiddleware/split_and_cache.go
Owners: @grafana/mimir-maintainers

Allow performing inflight checks before push handler starts.
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
Owners: @grafana/mimir-maintainers

Don't return gRPC errors from Distributor.
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/mimir/grpc_push_check.go
  pkg/mimir/grpc_push_check_test.go
Owners: @grafana/mimir-maintainers

Add check for ingestion rate.
  pkg/distributor/distributor_test.go
Owners: @grafana/mimir-maintainers

distributor: when using httpgrpc check inflight limits before reading requests.
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/api/api.go
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/mimir/grpc_push_check.go
  pkg/mimir/grpc_push_check_test.go
  pkg/mimir/modules.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

CHANGELOG.md entry.
  CHANGELOG.md
Owners: none

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/mimir-maintainers

# Documentation.
/docs/ @grafana/docs-metrics @grafana/mimir-maintainers

# Alertmanager and ruler.
/pkg/alertmanager/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers
/pkg/ruler/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers

# Packages.
/Makefile @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers
/packaging/ @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers

# No owners - allows sub-maintainers to merge changes.
CHANGELOG.md

# Dependencies
go.mod @grafana/mimir-maintainers @grafanabot
go.sum @grafana/mimir-maintainers @grafanabot
/vendor/ @grafana/mimir-maintainers @grafanabot
