Repository grafana/mimir, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/mimir-maintainers, @grafana/docs-metrics, @grafana/mimir-ruler-and-alertmanager-maintainers, @wilfriedroset, @vaxvms, @bubu11e, @grafanabot

Address post-merge feedback for #6471 (#6505)
  .golangci.yml
  CHANGELOG.md
  pkg/frontend/v2/frontend_scheduler_worker.go
  pkg/ingester/client/streaming.go
  pkg/ingester/client/streaming_test.go
  pkg/querier/block_streaming.go
  pkg/querier/blocks_store_queryable.go
  pkg/scheduler/scheduler_test.go
  pkg/util/grpc.go
  pkg/util/grpc_test.go
Owners: @grafana/mimir-maintainers

Address post-merge feedback for #6471 (#6505) (#6510)
  .golangci.yml
  CHANGELOG.md
  pkg/frontend/v2/frontend_scheduler_worker.go
  pkg/ingester/client/streaming.go
  pkg/ingester/client/streaming_test.go
  pkg/querier/block_streaming.go
  pkg/querier/blocks_store_queryable.go
  pkg/scheduler/scheduler_test.go
  pkg/util/grpc.go
  pkg/util/grpc_test.go
Owners: @grafana/mimir-maintainers

Renovate: Ignore opentracing-contrib/go-grpc fork
  renovate.json
Owners: @grafana/mimir-maintainers

Update GEM image to latest r261
  operations/helm/charts/mimir-distributed/values.yaml
Owners: @grafana/mimir-maintainers

Release mimir-distributed Helm chart 5.2.0-weekly.261 (#6464)
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/values.yaml
Owners: @grafana/mimir-maintainers

fix interface conversion mismatch in query-scheduler
  pkg/scheduler/queue/queue.go
  pkg/scheduler/queue/tenant_queues.go
Owners: @grafana/mimir-maintainers

Update dskit.
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  go.mod
  go.sum
  vendor/github.com/grafana/dskit/server/server.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics, @grafanabot

CHANGELOG.md
  CHANGELOG.md
Owners: none

storegateway: remove chunk ref in `AggrChunk` type (#6247)
  pkg/querier/block_streaming_test.go
  pkg/querier/block_test.go
  pkg/storegateway/bucket_chunk_reader.go
  pkg/storegateway/bucket_test.go
  pkg/storegateway/series_chunks.go
  pkg/storegateway/series_chunks_test.go
  pkg/storegateway/storepb/types.pb.go
  pkg/storegateway/storepb/types.proto
Owners: @grafana/mimir-maintainers

Continued fixes
  pkg/util/objtools/bucket.go
  tools/copyblocks/README.md
  tools/undelete-blocks/main.go
Owners: @grafana/mimir-maintainers

adding test case for re-enqueueing after disconnected querier
  pkg/scheduler/queue/queue.go
  pkg/scheduler/queue/queue_test.go
Owners: @grafana/mimir-maintainers

fix interface conversion mismatch in query-scheduler (#6516)
  pkg/scheduler/queue/queue.go
  pkg/scheduler/queue/queue_test.go
  pkg/scheduler/queue/tenant_queues.go
Owners: @grafana/mimir-maintainers

Fix issue where successful streaming gRPC requests are incorrectly reported as cancelled (#6471)
  CHANGELOG.md
  integration/ingester_test.go
  pkg/distributor/distributor.go
  pkg/distributor/query.go
  pkg/frontend/v2/frontend_scheduler_worker.go
  pkg/ingester/client/streaming.go
  pkg/ingester/client/streaming_test.go
  pkg/querier/block_streaming.go
  pkg/querier/block_streaming_test.go
  pkg/querier/blocks_store_queryable.go
  pkg/util/grpc.go
Owners: @grafana/mimir-maintainers

Use more efficient spanlog.DebugLog in more places (#5965)
  pkg/frontend/querymiddleware/generic_query_cache.go
  pkg/frontend/querymiddleware/querysharding.go
  pkg/frontend/querymiddleware/split_by_instant_interval.go
  pkg/frontend/v2/frontend.go
  pkg/ingester/ingester.go
  pkg/querier/blocks_store_queryable.go
  pkg/querier/distributor_queryable.go
  pkg/querier/querier.go
  pkg/querier/querier_test.go
  pkg/querier/tenantfederation/merge_metadata.go
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_index_reader.go
  pkg/storegateway/indexcache/tracing.go
  pkg/storegateway/series_chunks.go
  pkg/storegateway/series_refs.go
Owners: @grafana/mimir-maintainers

Helm: switch to github app for repo authz (#6503)
  .github/workflows/helm-release.yaml
Owners: @grafana/mimir-maintainers

Forward new Prometheus warnings from querier to query frontend (#6391)
  CHANGELOG.md
  pkg/api/protobuf_codec.go
  pkg/frontend/querymiddleware/codec.go
  pkg/frontend/querymiddleware/codec_protobuf.go
  pkg/frontend/querymiddleware/model.pb.go
  pkg/frontend/querymiddleware/model.proto
  pkg/frontend/querymiddleware/querysharding.go
  pkg/frontend/querymiddleware/querysharding_test.go
  pkg/frontend/querymiddleware/results_cache.go
  pkg/frontend/querymiddleware/split_by_instant_interval.go
  pkg/mimirpb/mimir.pb.go
  pkg/mimirpb/mimir.proto
Owners: @grafana/mimir-maintainers

distributor: pass write request size via metadata (#6490)
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
Owners: @grafana/mimir-maintainers

Change scaleDownPeriod to scale_down_period in autoscaling jsonnet (#6499)
  operations/mimir/autoscaling.libsonnet
Owners: @grafana/mimir-maintainers

Address post-merge feedback for #6471 (#6505)
  .golangci.yml
  CHANGELOG.md
  pkg/frontend/v2/frontend_scheduler_worker.go
  pkg/ingester/client/streaming.go
  pkg/ingester/client/streaming_test.go
  pkg/querier/block_streaming.go
  pkg/querier/blocks_store_queryable.go
  pkg/scheduler/scheduler_test.go
  pkg/util/grpc.go
  pkg/util/grpc_test.go
Owners: @grafana/mimir-maintainers

query-frontend: minor internal cleanup (#6472)
  pkg/frontend/querymiddleware/split_and_cache.go
Owners: @grafana/mimir-maintainers

Improve distributor_test (#6479)
  pkg/distributor/distributor_test.go
  pkg/distributor/push_test.go
Owners: @grafana/mimir-maintainers

Allow no changes for mimir release tech docs (#6423)
  .github/workflows/publish-technical-documentation-release-mimir.yml
Owners: @grafana/mimir-maintainers

Rename mimirpb.INVALID error cause into mimirpb.UNKNOWN_CAUSE (#6493)
  pkg/distributor/distributor_test.go
  pkg/distributor/errors.go
  pkg/distributor/errors_test.go
  pkg/distributor/push_test.go
  pkg/ingester/errors_test.go
  pkg/mimirpb/mimir.pb.go
  pkg/mimirpb/mimir.proto
Owners: @grafana/mimir-maintainers

Update mimir-prometheus vendor 20231026 (#6489)
  go.mod
  go.sum
  pkg/mimirtool/commands/analyse_prometheus.go
  vendor/github.com/matttproud/golang_protobuf_extensions/v2/LICENSE
  vendor/github.com/matttproud/golang_protobuf_extensions/v2/NOTICE
  vendor/github.com/matttproud/golang_protobuf_extensions/v2/pbutil/.gitignore
  vendor/github.com/matttproud/golang_protobuf_extensions/v2/pbutil/Makefile
  vendor/github.com/matttproud/golang_protobuf_extensions/v2/pbutil/decode.go
  vendor/github.com/matttproud/golang_protobuf_extensions/v2/pbutil/doc.go
  vendor/github.com/matttproud/golang_protobuf_extensions/v2/pbutil/encode.go
  vendor/github.com/prometheus/common/config/http_config.go
  vendor/github.com/prometheus/common/expfmt/decode.go
  vendor/github.com/prometheus/common/expfmt/encode.go
  vendor/github.com/prometheus/prometheus/model/histogram/float_histogram.go
  vendor/github.com/prometheus/prometheus/model/textparse/interface.go
  vendor/github.com/prometheus/prometheus/model/textparse/openmetricsparse.go
  vendor/github.com/prometheus/prometheus/model/textparse/promparse.go
  vendor/github.com/prometheus/prometheus/model/textparse/protobufparse.go
  vendor/github.com/prometheus/prometheus/prompb/io/prometheus/client/metrics.pb.go
  vendor/github.com/prometheus/prometheus/prompb/io/prometheus/client/metrics.proto
  vendor/github.com/prometheus/prometheus/promql/engine.go
  vendor/github.com/prometheus/prometheus/promql/value.go
  vendor/github.com/prometheus/prometheus/rules/group.go
  vendor/github.com/prometheus/prometheus/rules/manager.go
  vendor/github.com/prometheus/prometheus/rules/rule.go
  vendor/github.com/prometheus/prometheus/scrape/manager.go
  vendor/github.com/prometheus/prometheus/scrape/metrics.go
  vendor/github.com/prometheus/prometheus/scrape/scrape.go
  vendor/github.com/prometheus/prometheus/tsdb/db.go
  vendor/github.com/prometheus/prometheus/tsdb/record/record.go
  vendor/github.com/prometheus/prometheus/util/annotations/annotations.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Improve distributor's TestStartFinishRequest test. (#6481)
  pkg/distributor/distributor_test.go
Owners: @grafana/mimir-maintainers

Update native histogram send documentation and remove redundant docs (#6488)
  CHANGELOG.md
  docs/sources/mimir/configure/configure-native-histograms-ingestion.md
  docs/sources/mimir/send/native-histograms/_index.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

storegateway: remove chunk ref in `AggrChunk` type (#6247)
  pkg/querier/block_streaming_test.go
  pkg/querier/block_test.go
  pkg/storegateway/bucket_chunk_reader.go
  pkg/storegateway/bucket_test.go
  pkg/storegateway/series_chunks.go
  pkg/storegateway/series_chunks_test.go
  pkg/storegateway/storepb/types.pb.go
  pkg/storegateway/storepb/types.proto
Owners: @grafana/mimir-maintainers

Release mimir-distributed Helm chart 5.2.0-weekly.261 (#6464)
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/values.yaml
Owners: @grafana/mimir-maintainers

fix interface conversion mismatch in query-scheduler (#6516)
  pkg/scheduler/queue/queue.go
  pkg/scheduler/queue/queue_test.go
  pkg/scheduler/queue/tenant_queues.go
Owners: @grafana/mimir-maintainers

re-fix merge resolution
  pkg/scheduler/queue/queue_test.go
  pkg/scheduler/queue/tenant_queues.go
Owners: @grafana/mimir-maintainers

address linting
  pkg/scheduler/queue/tree_queue.go
  pkg/scheduler/queue/tree_queue_test.go
Owners: @grafana/mimir-maintainers

address linting
  pkg/scheduler/queue/tree_queue.go
  pkg/scheduler/queue/tree_queue_test.go
Owners: @grafana/mimir-maintainers

Update mimir-prometheus
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/rules/group.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Update changelog entry
  CHANGELOG.md
Owners: none

Update mimir-prometheus (#6520)
  CHANGELOG.md
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/rules/group.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Renovate: Ignore opentracing-contrib/go-grpc fork (#6512)
  renovate.json
Owners: @grafana/mimir-maintainers

Apply suggestion.
  CHANGELOG.md
Owners: none

Add tracing span to Ruler.getLocalRules()
  pkg/ruler/ruler.go
Owners: @grafana/mimir-ruler-and-alertmanager-maintainers, @grafana/mimir-maintainers

Fixed tests
  pkg/ruler/ruler_test.go
Owners: @grafana/mimir-ruler-and-alertmanager-maintainers, @grafana/mimir-maintainers

Add nolint rule
  pkg/ruler/ruler.go
Owners: @grafana/mimir-ruler-and-alertmanager-maintainers, @grafana/mimir-maintainers

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/mimir-maintainers

# Documentation.
/docs/ @grafana/docs-metrics @grafana/mimir-maintainers

# Alertmanager and ruler.
/pkg/alertmanager/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers
/pkg/ruler/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers

# Packages.
/Makefile @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers
/packaging/ @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers

# No owners - allows sub-maintainers to merge changes.
CHANGELOG.md

# Dependencies
go.mod @grafana/mimir-maintainers @grafanabot
go.sum @grafana/mimir-maintainers @grafanabot
/vendor/ @grafana/mimir-maintainers @grafanabot
