Repository grafana/mimir, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/mimir-maintainers, @grafana/docs-metrics, @grafana/mimir-ruler-and-alertmanager-maintainers, @wilfriedroset, @vaxvms, @bubu11e, @grafanabot

Upgrade mimir-prometheus to 478c4325 (#6486)
  CHANGELOG.md
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/tsdb/postings_for_matchers_cache.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Capture a sample of write requets in 1 distributor
  pkg/distributor/distributor.go
Owners: @grafana/mimir-maintainers

Add simple tool to read the requests
  tools/read-write-request-sampling/main.go
Owners: @grafana/mimir-maintainers

Open the file just once
  pkg/distributor/distributor.go
Owners: @grafana/mimir-maintainers

Added label analysis
  tools/read-write-request-sampling/main.go
Owners: @grafana/mimir-maintainers

Added labels size analysis
  tools/read-write-request-sampling/main.go
Owners: @grafana/mimir-maintainers

query-frontend: minor internal cleanup (#6472)
  pkg/frontend/querymiddleware/split_and_cache.go
Owners: @grafana/mimir-maintainers

Added compression analysis
  tools/read-write-request-sampling/main.go
Owners: @grafana/mimir-maintainers

Improved analysis tool
  tools/read-write-request-sampling/main.go
Owners: @grafana/mimir-maintainers

Renamed tool
  tools/analyze-write-request-sampling/main.go
Owners: @grafana/mimir-maintainers

Added dataset info
  tools/analyze-write-request-sampling/main.go
Owners: @grafana/mimir-maintainers

Distributor: pass size of write request in grpc metadata.
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
Owners: @grafana/mimir-maintainers

Make lint happy.
  pkg/distributor/distributor_test.go
Owners: @grafana/mimir-maintainers

Rename mimirpb.INVALID error cause into mimirpb.UNKNOWN_CAUSE
  pkg/distributor/distributor_test.go
  pkg/distributor/errors.go
  pkg/distributor/errors_test.go
  pkg/distributor/push_test.go
  pkg/ingester/errors.go
  pkg/ingester/errors_test.go
  pkg/mimirpb/mimir.pb.go
  pkg/mimirpb/mimir.proto
Owners: @grafana/mimir-maintainers

Fixing review findings
  pkg/ingester/errors.go
  pkg/ingester/errors_test.go
Owners: @grafana/mimir-maintainers

Rename mimirpb.INVALID error cause into mimirpb.UNKNOWN_CAUSE (#6493)
  pkg/distributor/distributor_test.go
  pkg/distributor/errors.go
  pkg/distributor/errors_test.go
  pkg/distributor/push_test.go
  pkg/ingester/errors_test.go
  pkg/mimirpb/mimir.pb.go
  pkg/mimirpb/mimir.proto
Owners: @grafana/mimir-maintainers

Add test for streaming chunks scenario in https://github.com/grafana/mimir/pull/6451
  pkg/ingester/ingester_test.go
Owners: @grafana/mimir-maintainers

Update mimir-prometheus vendor 20231026
  go.mod
  go.sum
  vendor/github.com/matttproud/golang_protobuf_extensions/v2/LICENSE
  vendor/github.com/matttproud/golang_protobuf_extensions/v2/NOTICE
  vendor/github.com/matttproud/golang_protobuf_extensions/v2/pbutil/.gitignore
  vendor/github.com/matttproud/golang_protobuf_extensions/v2/pbutil/Makefile
  vendor/github.com/matttproud/golang_protobuf_extensions/v2/pbutil/decode.go
  vendor/github.com/matttproud/golang_protobuf_extensions/v2/pbutil/doc.go
  vendor/github.com/matttproud/golang_protobuf_extensions/v2/pbutil/encode.go
  vendor/github.com/prometheus/common/config/http_config.go
  vendor/github.com/prometheus/common/expfmt/decode.go
  vendor/github.com/prometheus/common/expfmt/encode.go
  vendor/github.com/prometheus/prometheus/model/histogram/float_histogram.go
  vendor/github.com/prometheus/prometheus/model/textparse/interface.go
  vendor/github.com/prometheus/prometheus/model/textparse/openmetricsparse.go
  vendor/github.com/prometheus/prometheus/model/textparse/promparse.go
  vendor/github.com/prometheus/prometheus/model/textparse/protobufparse.go
  vendor/github.com/prometheus/prometheus/prompb/io/prometheus/client/metrics.pb.go
  vendor/github.com/prometheus/prometheus/prompb/io/prometheus/client/metrics.proto
  vendor/github.com/prometheus/prometheus/promql/engine.go
  vendor/github.com/prometheus/prometheus/promql/value.go
  vendor/github.com/prometheus/prometheus/rules/group.go
  vendor/github.com/prometheus/prometheus/rules/manager.go
  vendor/github.com/prometheus/prometheus/rules/rule.go
  vendor/github.com/prometheus/prometheus/scrape/manager.go
  vendor/github.com/prometheus/prometheus/scrape/metrics.go
  vendor/github.com/prometheus/prometheus/scrape/scrape.go
  vendor/github.com/prometheus/prometheus/tsdb/db.go
  vendor/github.com/prometheus/prometheus/tsdb/record/record.go
  vendor/github.com/prometheus/prometheus/util/annotations/annotations.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Fix build
  pkg/mimirtool/commands/analyse_prometheus.go
Owners: @grafana/mimir-maintainers

Pass warnings from querier to query frontend
  pkg/api/protobuf_codec.go
  pkg/frontend/querymiddleware/codec.go
  pkg/frontend/querymiddleware/codec_protobuf.go
  pkg/frontend/querymiddleware/model.pb.go
  pkg/frontend/querymiddleware/model.proto
  pkg/mimirpb/mimir.pb.go
  pkg/mimirpb/mimir.proto
Owners: @grafana/mimir-maintainers

Update comments to prepare for vendor changes
  pkg/frontend/querymiddleware/querysharding.go
  pkg/frontend/querymiddleware/split_by_instant_interval.go
Owners: @grafana/mimir-maintainers

Fix tests
  pkg/frontend/querymiddleware/codec.go
Owners: @grafana/mimir-maintainers

Update according to code review
  pkg/frontend/querymiddleware/codec.go
  pkg/frontend/querymiddleware/querysharding_test.go
Owners: @grafana/mimir-maintainers

Update changelog
  CHANGELOG.md
Owners: none

Add unit test and dedupe warnings for split queries
  pkg/frontend/querymiddleware/codec.go
  pkg/frontend/querymiddleware/querysharding_test.go
Owners: @grafana/mimir-maintainers

Make old tests pass by nullifying warnings when empty in the tests
  pkg/frontend/querymiddleware/querysharding_test.go
Owners: @grafana/mimir-maintainers

Revise according to code review
  pkg/frontend/querymiddleware/codec.go
  pkg/frontend/querymiddleware/querysharding.go
  pkg/frontend/querymiddleware/split_by_instant_interval.go
Owners: @grafana/mimir-maintainers

Revise according to code review
  pkg/frontend/querymiddleware/codec.go
  pkg/frontend/querymiddleware/querysharding_test.go
Owners: @grafana/mimir-maintainers

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Follow up on previous commit
  pkg/frontend/querymiddleware/querysharding.go
  pkg/frontend/querymiddleware/results_cache.go
  pkg/frontend/querymiddleware/split_by_instant_interval.go
Owners: @grafana/mimir-maintainers

Update mimir-prometheus vendor 20231026 (#6489)
  go.mod
  go.sum
  pkg/mimirtool/commands/analyse_prometheus.go
  vendor/github.com/matttproud/golang_protobuf_extensions/v2/LICENSE
  vendor/github.com/matttproud/golang_protobuf_extensions/v2/NOTICE
  vendor/github.com/matttproud/golang_protobuf_extensions/v2/pbutil/.gitignore
  vendor/github.com/matttproud/golang_protobuf_extensions/v2/pbutil/Makefile
  vendor/github.com/matttproud/golang_protobuf_extensions/v2/pbutil/decode.go
  vendor/github.com/matttproud/golang_protobuf_extensions/v2/pbutil/doc.go
  vendor/github.com/matttproud/golang_protobuf_extensions/v2/pbutil/encode.go
  vendor/github.com/prometheus/common/config/http_config.go
  vendor/github.com/prometheus/common/expfmt/decode.go
  vendor/github.com/prometheus/common/expfmt/encode.go
  vendor/github.com/prometheus/prometheus/model/histogram/float_histogram.go
  vendor/github.com/prometheus/prometheus/model/textparse/interface.go
  vendor/github.com/prometheus/prometheus/model/textparse/openmetricsparse.go
  vendor/github.com/prometheus/prometheus/model/textparse/promparse.go
  vendor/github.com/prometheus/prometheus/model/textparse/protobufparse.go
  vendor/github.com/prometheus/prometheus/prompb/io/prometheus/client/metrics.pb.go
  vendor/github.com/prometheus/prometheus/prompb/io/prometheus/client/metrics.proto
  vendor/github.com/prometheus/prometheus/promql/engine.go
  vendor/github.com/prometheus/prometheus/promql/value.go
  vendor/github.com/prometheus/prometheus/rules/group.go
  vendor/github.com/prometheus/prometheus/rules/manager.go
  vendor/github.com/prometheus/prometheus/rules/rule.go
  vendor/github.com/prometheus/prometheus/scrape/manager.go
  vendor/github.com/prometheus/prometheus/scrape/metrics.go
  vendor/github.com/prometheus/prometheus/scrape/scrape.go
  vendor/github.com/prometheus/prometheus/tsdb/db.go
  vendor/github.com/prometheus/prometheus/tsdb/record/record.go
  vendor/github.com/prometheus/prometheus/util/annotations/annotations.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Forward new Prometheus warnings from querier to query frontend (#6391)
  CHANGELOG.md
  pkg/api/protobuf_codec.go
  pkg/frontend/querymiddleware/codec.go
  pkg/frontend/querymiddleware/codec_protobuf.go
  pkg/frontend/querymiddleware/model.pb.go
  pkg/frontend/querymiddleware/model.proto
  pkg/frontend/querymiddleware/querysharding.go
  pkg/frontend/querymiddleware/querysharding_test.go
  pkg/frontend/querymiddleware/results_cache.go
  pkg/frontend/querymiddleware/split_by_instant_interval.go
  pkg/mimirpb/mimir.pb.go
  pkg/mimirpb/mimir.proto
Owners: @grafana/mimir-maintainers

Update native histogram send documentation and remove redundant docs
  docs/sources/mimir/configure/configure-native-histograms-ingestion.md
  docs/sources/mimir/send/native-histograms/_index.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Update changelog.
  CHANGELOG.md
Owners: none

Update native histogram send documentation and remove redundant docs (#6488)
  CHANGELOG.md
  docs/sources/mimir/configure/configure-native-histograms-ingestion.md
  docs/sources/mimir/send/native-histograms/_index.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Update mimir-distributed chart to 5.2.0-weekly.261
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/values.yaml
Owners: @grafana/mimir-maintainers

Added MinimizedWriteRequest
  pkg/mimirpb/mimir.pb.go
  pkg/mimirpb/mimir.proto
  tools/analyze-write-request-sampling/main.go
  tools/analyze-write-request-sampling/minimized_write_request.go
  tools/analyze-write-request-sampling/minimized_write_request_test.go
Owners: @grafana/mimir-maintainers

Chore: Fix github workflow and let only member runs mimir-build-image
  .github/workflows/member_pr.yml
  .github/workflows/push-mimir-build-image.yml
Owners: @grafana/mimir-maintainers

Fix: alertmanager config correct templates file parsing
  pkg/alertmanager/alertmanager.go
Owners: @grafana/mimir-ruler-and-alertmanager-maintainers, @grafana/mimir-maintainers

chore: support setting replicas as string too
  operations/helm/charts/mimir-distributed/templates/distributor/distributor-dep.yaml
Owners: @grafana/mimir-maintainers

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/mimir-maintainers

# Documentation.
/docs/ @grafana/docs-metrics @grafana/mimir-maintainers

# Alertmanager and ruler.
/pkg/alertmanager/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers
/pkg/ruler/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers

# Packages.
/Makefile @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers
/packaging/ @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers

# No owners - allows sub-maintainers to merge changes.
CHANGELOG.md

# Dependencies
go.mod @grafana/mimir-maintainers @grafanabot
go.sum @grafana/mimir-maintainers @grafanabot
/vendor/ @grafana/mimir-maintainers @grafanabot
