Repository grafana/mimir, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/mimir-maintainers, @grafana/docs-metrics, @grafana/mimir-ruler-and-alertmanager-maintainers, @wilfriedroset, @vaxvms, @bubu11e, @grafanabot

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/mimir-maintainers

# Documentation.
/docs/ @grafana/docs-metrics @grafana/mimir-maintainers

# Alertmanager and ruler.
/pkg/alertmanager/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers
/pkg/ruler/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers

# Packages.
/Makefile @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers
/packaging/ @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers

# No owners - allows sub-maintainers to merge changes.
CHANGELOG.md

# Dependencies
go.mod @grafana/mimir-maintainers @grafanabot
go.sum @grafana/mimir-maintainers @grafanabot
/vendor/ @grafana/mimir-maintainers @grafanabot

changelog
  CHANGELOG.md
Owners: none

Backoff and retry requests received while the query-frontend is starting up
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/frontend/querymiddleware/retry.go
  pkg/frontend/querymiddleware/retry_test.go
  pkg/frontend/querymiddleware/roundtrip.go
  pkg/frontend/v2/frontend.go
  pkg/util/errors.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

Add changelog entry.
  CHANGELOG.md
Owners: none

Address PR feedback: disable backoff by default, rename flag, make `isTerminalError` resilient to other states added in the future
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/frontend/querymiddleware/retry.go
  pkg/frontend/querymiddleware/roundtrip.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

/active_series: do not recompute response size (#6619)
  CHANGELOG.md
  pkg/ingester/active_series.go
Owners: @grafana/mimir-maintainers

Added usage help. If there's no checkpoint, replay first segment. (#6611)
  tools/wal-reader/main.go
Owners: @grafana/mimir-maintainers

ingester_test.go: update exemplar related unit tests
  pkg/ingester/ingester_test.go
Owners: @grafana/mimir-maintainers

Prepare for Release 2.10.4
  CHANGELOG.md
  VERSION
Owners: @grafana/mimir-maintainers

Update from upstream
  pkg/mimirpb/custom.go
Owners: @grafana/mimir-maintainers

Update changelog
  CHANGELOG.md
Owners: none

Update documentation
  docs/sources/mimir/configure/configure-native-histograms-ingestion.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Refine wording to clarify that check and reduction is at ingestion
  CHANGELOG.md
  docs/sources/mimir/configure/configure-native-histograms-ingestion.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Update mimir-distributed chart to 5.2.0-weekly.264
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/values.yaml
Owners: @grafana/mimir-maintainers

OpenTelemetryTracerBridge.Start: Make returned context contain span (#6614)
  CHANGELOG.md
  pkg/mimir/tracing.go
  pkg/mimir/tracing_test.go
Owners: @grafana/mimir-maintainers

Prepare for Release 2.10.4 (#6630)
  CHANGELOG.md
  VERSION
Owners: @grafana/mimir-maintainers

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Distributor: replace ring.DoBatch with ring.DoBatchWithClientError
  go.mod
  go.sum
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/errors.go
  pkg/distributor/errors_test.go
  vendor/github.com/grafana/dskit/ring/batch.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

[release-2.10] Backport update otelhttp to 0.44.0 (#6634)
  CHANGELOG.md
  go.mod
  go.sum
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/handler.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/internal/semconvutil/gen.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/internal/semconvutil/httpconv.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/internal/semconvutil/netconv.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/transport.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/version.go
  vendor/go.opentelemetry.io/otel/.gitignore
  vendor/go.opentelemetry.io/otel/.golangci.yml
  vendor/go.opentelemetry.io/otel/CHANGELOG.md
  vendor/go.opentelemetry.io/otel/CODEOWNERS
  vendor/go.opentelemetry.io/otel/CONTRIBUTING.md
  vendor/go.opentelemetry.io/otel/Makefile
  vendor/go.opentelemetry.io/otel/README.md
  vendor/go.opentelemetry.io/otel/RELEASING.md
  vendor/go.opentelemetry.io/otel/attribute/filter.go
  vendor/go.opentelemetry.io/otel/attribute/set.go
  vendor/go.opentelemetry.io/otel/baggage/baggage.go
  vendor/go.opentelemetry.io/otel/internal/gen.go
  vendor/go.opentelemetry.io/otel/internal/global/handler.go
  vendor/go.opentelemetry.io/otel/internal/global/internal_logging.go
  vendor/go.opentelemetry.io/otel/metric/instrument.go
  vendor/go.opentelemetry.io/otel/metric/meter.go
  vendor/go.opentelemetry.io/otel/requirements.txt
  vendor/go.opentelemetry.io/otel/semconv/internal/v2/http.go
  vendor/go.opentelemetry.io/otel/semconv/v1.17.0/httpconv/http.go
  vendor/go.opentelemetry.io/otel/version.go
  vendor/go.opentelemetry.io/otel/versions.yaml
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Add non reducible histogram error handling
  pkg/distributor/distributor_test.go
  pkg/distributor/validate.go
  pkg/util/globalerror/errors.go
Owners: @grafana/mimir-maintainers

Add PR number to changelog entry
  CHANGELOG.md
Owners: none

Make wording consistent
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/distributor/distributor_test.go
  pkg/distributor/validate.go
  pkg/distributor/validate_test.go
  pkg/util/validation/limits.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

Missed docs
  docs/sources/mimir/configure/configure-native-histograms-ingestion.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Add runbook entry
  docs/sources/mimir/manage/mimir-runbooks/_index.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Release mimir-distributed Helm chart 5.2.0-weekly.264 (#6633)
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/values.yaml
Owners: @grafana/mimir-maintainers

Fix err runbook
  docs/sources/mimir/manage/mimir-runbooks/_index.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Distributor: replace ring.DoBatch with ring.DoBatchWithClientError (#6636)
  go.mod
  go.sum
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/errors.go
  pkg/distributor/errors_test.go
  vendor/github.com/grafana/dskit/ring/batch.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Distributor: replace ring.DoBatch with ring.DoBatchWithClientError (#6636)
  go.mod
  go.sum
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/errors.go
  pkg/distributor/errors_test.go
  vendor/github.com/grafana/dskit/ring/batch.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Revert accidental change.
  CHANGELOG.md
Owners: none

Update RELEASE.md docs
  RELEASE.md
Owners: @grafana/mimir-maintainers

Lint
  RELEASE.md
Owners: @grafana/mimir-maintainers

Add num-tokens config for store-gateways (#6594)
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/storegateway/gateway.go
  pkg/storegateway/gateway_ring.go
  pkg/storegateway/gateway_test.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

Update RELEASE.md doc (#6645)
  RELEASE.md
Owners: @grafana/mimir-maintainers

Increase scale down period for distributors (#6589)
  CHANGELOG.md
  operations/mimir-tests/test-autoscaling-custom-target-utilization-generated.yaml
  operations/mimir-tests/test-autoscaling-generated.yaml
  operations/mimir/autoscaling.libsonnet
Owners: @grafana/mimir-maintainers

add tree queue data structures
  pkg/scheduler/queue/tree_queue.go
  pkg/scheduler/queue/tree_queue_test.go
Owners: @grafana/mimir-maintainers

convert request queue and queue broker to tree queue
  pkg/scheduler/queue/queue.go
  pkg/scheduler/queue/queue_test.go
  pkg/scheduler/queue/tenant_queues.go
  pkg/scheduler/queue/tenant_queues_test.go
  pkg/scheduler/queue/tree_queue.go
Owners: @grafana/mimir-maintainers

convert queuebroker len check to isEmpty
  pkg/scheduler/queue/queue.go
  pkg/scheduler/queue/tenant_queues.go
Owners: @grafana/mimir-maintainers

address linting
  pkg/scheduler/queue/tree_queue.go
  pkg/scheduler/queue/tree_queue_test.go
Owners: @grafana/mimir-maintainers

address linting
  pkg/scheduler/queue/tree_queue.go
  pkg/scheduler/queue/tree_queue_test.go
Owners: @grafana/mimir-maintainers

add child queue deletion and max queue len to tree queue data structures
  pkg/scheduler/queue/tree_queue.go
  pkg/scheduler/queue/tree_queue_test.go
Owners: @grafana/mimir-maintainers
