Repository grafana/mimir, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/mimir-maintainers, @grafana/docs-metrics, @grafana/mimir-ruler-and-alertmanager-maintainers, @wilfriedroset, @vaxvms, @bubu11e, @grafanabot

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/mimir-maintainers

# Documentation.
/docs/ @grafana/docs-metrics @grafana/mimir-maintainers

# Alertmanager and ruler.
/pkg/alertmanager/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers
/pkg/ruler/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers

# Packages.
/Makefile @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers
/packaging/ @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers

# No owners - allows sub-maintainers to merge changes.
CHANGELOG.md

# Dependencies
go.mod @grafana/mimir-maintainers @grafanabot
go.sum @grafana/mimir-maintainers @grafanabot
/vendor/ @grafana/mimir-maintainers @grafanabot

Add ReadRing interface to Ingester struct, and require the Ring service as a dependency
  pkg/ingester/ingester.go
  pkg/mimir/modules.go
Owners: @grafana/mimir-maintainers

Periodically check the owned token ranges, and update owned count if they change
  pkg/ingester/ingester.go
  pkg/ingester/user_tsdb.go
Owners: @grafana/mimir-maintainers

Revert "Revert "Check for errors when iterating through chunks or samples in response to a query (#6451)" (#6576) (#6578)"
  CHANGELOG.md
  pkg/ingester/ingester.go
Owners: @grafana/mimir-maintainers

Switch to `charleskorn/test-ooo-chunk-not-found-fix` branch of mimir-prometheus.
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/storage/merge.go
  vendor/github.com/prometheus/prometheus/tsdb/db.go
  vendor/github.com/prometheus/prometheus/tsdb/head.go
  vendor/github.com/prometheus/prometheus/tsdb/ooo_head.go
  vendor/github.com/prometheus/prometheus/tsdb/ooo_head_read.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Limit series creation based on owned series count
  pkg/ingester/ingester.go
  pkg/ingester/user_tsdb.go
Owners: @grafana/mimir-maintainers

update comment
  pkg/storegateway/gateway.go
Owners: @grafana/mimir-maintainers

Update mimir-distributed chart to 5.2.0-weekly.263
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/values.yaml
Owners: @grafana/mimir-maintainers

Update pkg/querier/blocks_consistency_checker.go
  pkg/querier/blocks_consistency_checker.go
Owners: @grafana/mimir-maintainers

Update info on cortex_querier_blocks_consistency_checks_total
  pkg/querier/blocks_consistency_checker.go
Owners: @grafana/mimir-maintainers

Update description on "Consistency checks failed" panels
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/grafana-dashboards.yaml
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-queries.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-ruler.json
  operations/mimir-mixin-compiled/dashboards/mimir-queries.json
  operations/mimir-mixin-compiled/dashboards/mimir-ruler.json
  operations/mimir-mixin/dashboards/queries.libsonnet
  operations/mimir-mixin/dashboards/ruler.libsonnet
Owners: @grafana/mimir-maintainers

address Dimitars comment
  pkg/storegateway/gateway_ring.go
Owners: @grafana/mimir-maintainers

Change the default value of part_size to 0
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/storage/bucket/s3/config.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

Test bench for owned series testing
  development/mimir-microservices-mode/.data-ingester-4/.gitignore
  development/mimir-microservices-mode/.data-ingester-5/.gitignore
  development/mimir-microservices-mode/.data-ingester-6/.gitignore
  development/mimir-microservices-mode/config/grafana-agent.yaml
  development/mimir-microservices-mode/config/otel-collector.yaml
  development/mimir-microservices-mode/config/prometheus.yaml
  development/mimir-microservices-mode/config/runtime.yaml
  development/mimir-microservices-mode/docker-compose.jsonnet
  development/mimir-microservices-mode/docker-compose.yml
  operations/k6/load-testing-with-k6-churn.js
  operations/mimir-mixin-compiled/dashboards/owned-series.json
Owners: @grafana/mimir-maintainers

Distributor: return also 529 for ingestion rate limit when serviceOverloadErrorEnabled
  CHANGELOG.md
  pkg/distributor/push.go
  pkg/distributor/push_test.go
Owners: @grafana/mimir-maintainers

update the document
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/util/validation/limits.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

Bring in latest changes from `charleskorn/test-ooo-chunk-not-found-fix` branch of mimir-prometheus.
  go.mod
  go.sum
  vendor/github.com/prometheus/prometheus/tsdb/db.go
  vendor/github.com/prometheus/prometheus/tsdb/head.go
  vendor/github.com/prometheus/prometheus/tsdb/ooo_head.go
  vendor/github.com/prometheus/prometheus/tsdb/ooo_head_read.go
  vendor/github.com/prometheus/prometheus/tsdb/ooo_isolation.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Add read path for ActiveSeries rpc
  pkg/api/api.go
  pkg/api/handlers.go
  pkg/cardinality/request.go
  pkg/cardinality/request_test.go
  pkg/distributor/compat.go
  pkg/distributor/compat_stringlabels.go
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/frontend/querymiddleware/cardinality_query_cache.go
  pkg/frontend/querymiddleware/roundtrip.go
  pkg/querier/cardinality_analysis_handler.go
  pkg/querier/cardinality_analysis_handler_test.go
  pkg/querier/distributor_queryable.go
  pkg/querier/distributor_queryable_test.go
  pkg/querier/querier_test.go
Owners: @grafana/mimir-maintainers

Expose active series in ingester
  pkg/ingester/active_series.go
  pkg/ingester/active_series_test.go
  pkg/ingester/client/compat.go
  pkg/ingester/client/ingester.pb.go
  pkg/ingester/client/ingester.proto
  pkg/ingester/client/mimir_mock_test.go
  pkg/ingester/client/mimir_util.go
  pkg/ingester/ingester_activity.go
  pkg/ingester/ingester_test.go
  pkg/ingester/label_names_and_values_test.go
  pkg/ingester/list_series.go
  pkg/ingester/list_series_test.go
Owners: @grafana/mimir-maintainers

Adjust ports for microservices docker-compose
  development/mimir-microservices-mode/compose-up.sh
  development/mimir-microservices-mode/config/mimir.yaml
  development/mimir-microservices-mode/docker-compose.jsonnet
  development/mimir-microservices-mode/docker-compose.yml
Owners: @grafana/mimir-maintainers

changelog
  CHANGELOG.md
Owners: none

development: update grafana agent flow setup
  development/mimir-monolithic-mode/config/grafana-agent.river
  development/mimir-monolithic-mode/config/mimir.yaml
  development/mimir-monolithic-mode/docker-compose.yml
Owners: @grafana/mimir-maintainers

development: update grafana agent flow setup (#6610)
  development/mimir-monolithic-mode/config/grafana-agent.river
  development/mimir-monolithic-mode/config/mimir.yaml
  development/mimir-monolithic-mode/docker-compose.yml
Owners: @grafana/mimir-maintainers

querier: track consistency check failures without retries (#6590)
  CHANGELOG.md
  operations/helm/tests/metamonitoring-values-generated/mimir-distributed/templates/metamonitoring/grafana-dashboards.yaml
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-queries.json
  operations/mimir-mixin-compiled-baremetal/dashboards/mimir-ruler.json
  operations/mimir-mixin-compiled/dashboards/mimir-queries.json
  operations/mimir-mixin-compiled/dashboards/mimir-ruler.json
  operations/mimir-mixin/dashboards/queries.libsonnet
  operations/mimir-mixin/dashboards/ruler.libsonnet
  pkg/querier/blocks_consistency_checker.go
  pkg/querier/blocks_consistency_checker_test.go
  pkg/querier/blocks_store_queryable.go
  pkg/querier/blocks_store_queryable_test.go
Owners: @grafana/mimir-maintainers

Added usage help. If there's no checkpoint, replay first segment.
  tools/wal-reader/main.go
Owners: @grafana/mimir-maintainers

Update dskit, document new flag.
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/references/configuration-parameters/index.md
  go.mod
  go.sum
  vendor/github.com/grafana/dskit/concurrency/buffer.go
  vendor/github.com/grafana/dskit/server/server.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics, @grafanabot

CHANGELOG.md
  CHANGELOG.md
Owners: none

add missing file
  vendor/github.com/grafana/dskit/middleware/zero_response.go
Owners: @grafana/mimir-maintainers, @grafanabot

Update dskit, introduce new flag for logging connections with no requests. (#6612)
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/references/configuration-parameters/index.md
  go.mod
  go.sum
  vendor/github.com/grafana/dskit/concurrency/buffer.go
  vendor/github.com/grafana/dskit/middleware/zero_response.go
  vendor/github.com/grafana/dskit/server/server.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics, @grafanabot

Distributor: Add Retry-After header for 429 response
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  development/mimir-microservices-mode/config/grafana-agent2.yaml
  development/mimir-microservices-mode/config/mimir.yaml
  development/mimir-microservices-mode/docker-compose.jsonnet
  development/mimir-microservices-mode/docker-compose.yml
  pkg/api/api.go
  pkg/distributor/distributor.go
  pkg/distributor/distributor_retry.go
  pkg/distributor/otel.go
  pkg/distributor/push.go
  pkg/distributor/push_test.go
Owners: @grafana/mimir-maintainers

remove developmenet changes
  development/mimir-microservices-mode/config/grafana-agent.yaml
  development/mimir-microservices-mode/config/mimir.yaml
  development/mimir-microservices-mode/docker-compose.jsonnet
  development/mimir-microservices-mode/docker-compose.yml
  pkg/distributor/distributor.go
  pkg/distributor/distributor_retry.go
  pkg/distributor/push.go
  pkg/distributor/push_test.go
Owners: @grafana/mimir-maintainers

implement selected algorithm
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  development/mimir-microservices-mode/config/grafana-agent2.yaml
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_retry.go
  pkg/distributor/distributor_retry_test.go
  pkg/distributor/push.go
  pkg/distributor/push_test.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

Add experimental v1/cardinality/active_series endpoint (#6536)
  CHANGELOG.md
  development/mimir-microservices-mode/compose-up.sh
  development/mimir-microservices-mode/config/mimir.yaml
  development/mimir-microservices-mode/docker-compose.jsonnet
  development/mimir-microservices-mode/docker-compose.yml
  pkg/api/api.go
  pkg/api/handlers.go
  pkg/cardinality/request.go
  pkg/cardinality/request_test.go
  pkg/distributor/compat.go
  pkg/distributor/compat_stringlabels.go
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/frontend/querymiddleware/cardinality_query_cache.go
  pkg/frontend/querymiddleware/roundtrip.go
  pkg/ingester/active_series.go
  pkg/ingester/active_series_test.go
  pkg/ingester/client/compat.go
  pkg/ingester/client/ingester.pb.go
  pkg/ingester/client/ingester.proto
  pkg/ingester/client/mimir_mock_test.go
  pkg/ingester/client/mimir_util.go
  pkg/ingester/ingester_activity.go
  pkg/ingester/ingester_test.go
  pkg/ingester/label_names_and_values_test.go
  pkg/ingester/list_series.go
  pkg/ingester/list_series_test.go
  pkg/querier/cardinality_analysis_handler.go
  pkg/querier/cardinality_analysis_handler_test.go
  pkg/querier/distributor_queryable.go
  pkg/querier/distributor_queryable_test.go
  pkg/querier/querier_test.go
Owners: @grafana/mimir-maintainers

address comment
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/distributor/distributor_retry.go
  pkg/distributor/distributor_retry_test.go
  pkg/distributor/push.go
  pkg/distributor/push_test.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

OpenTelemetryTracerBridge.Start: Make returned context contain span
  CHANGELOG.md
  pkg/mimir/tracing.go
  pkg/mimir/tracing_test.go
Owners: @grafana/mimir-maintainers

Update pkg/distributor/push_test.go
  pkg/distributor/push_test.go
Owners: @grafana/mimir-maintainers

querier: minor internal cleanup
  pkg/querier/querier.go
Owners: @grafana/mimir-maintainers

address comments in PR
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  pkg/api/api.go
  pkg/distributor/distributor.go
  pkg/distributor/distributor_retry.go
  pkg/distributor/otel.go
  pkg/distributor/push.go
  pkg/distributor/push_test.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

add traces instead of log to save us some money
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/distributor/distributor_retry.go
  pkg/distributor/distributor_retry_test.go
  pkg/distributor/push.go
  pkg/distributor/push_test.go
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

store-gateway: fix duration metrics
  pkg/storegateway/bucket.go
  pkg/storegateway/bucket_e2e_test.go
  pkg/storegateway/bucket_store_metrics.go
  pkg/storegateway/bucket_test.go
  pkg/storegateway/series_refs.go
  pkg/storegateway/stats.go
Owners: @grafana/mimir-maintainers

do not recompute size
  pkg/ingester/active_series.go
Owners: @grafana/mimir-maintainers
