Repository grafana/mimir, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/mimir-maintainers, @grafana/docs-metrics, @grafana/mimir-ruler-and-alertmanager-maintainers, @wilfriedroset, @vaxvms, @bubu11e, @grafanabot

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/mimir-maintainers

# Documentation.
/docs/ @grafana/docs-metrics @grafana/mimir-maintainers

# Alertmanager and ruler.
/pkg/alertmanager/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers
/pkg/ruler/ @grafana/mimir-ruler-and-alertmanager-maintainers @grafana/mimir-maintainers

# Packages.
/Makefile @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers
/packaging/ @wilfriedroset @vaxvms @bubu11e @grafana/mimir-maintainers

# No owners - allows sub-maintainers to merge changes.
CHANGELOG.md

# Dependencies
go.mod @grafana/mimir-maintainers @grafanabot
go.sum @grafana/mimir-maintainers @grafanabot
/vendor/ @grafana/mimir-maintainers @grafanabot

Update PR number.
  docs/sources/helm-charts/mimir-distributed/release-notes/v5.1.md
  operations/helm/charts/mimir-distributed/CHANGELOG.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Upgrade github.com/open-telemetry/opentelemetry-collector-contrib/pkg/translator/prometheus to v0.88
  go.mod
  go.sum
  vendor/github.com/open-telemetry/opentelemetry-collector-contrib/pkg/translator/prometheus/README.md
  vendor/github.com/open-telemetry/opentelemetry-collector-contrib/pkg/translator/prometheus/normalize_name.go
  vendor/go.opentelemetry.io/collector/featuregate/registry.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot

Distributor: Return 529 for ingestion rate limit when serviceOverloadErrorEnabled (#6549)
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/distributor/push.go
  pkg/distributor/push_test.go
  pkg/util/validation/limits.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

Distributor: Add parameter controlling enabling of OTel metric suffixes
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  integration/otlp_ingestion_test.go
  pkg/distributor/otel.go
  pkg/distributor/push_test.go
  pkg/util/validation/limits.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

Remove second implementation of Labels jsoniter encoder
  pkg/storage/chunk/json_helpers.go
Owners: @grafana/mimir-maintainers

Fix version.
  operations/helm/charts/mimir-distributed/README.md
Owners: @grafana/mimir-maintainers

Fix link. Thanks linter!
  operations/helm/charts/mimir-distributed/README.md
Owners: @grafana/mimir-maintainers

Helm release 5.1.3 (#6654)
  docs/sources/helm-charts/mimir-distributed/release-notes/v5.1.md
  operations/helm/charts/mimir-distributed/CHANGELOG.md
  operations/helm/charts/mimir-distributed/Chart.yaml
  operations/helm/charts/mimir-distributed/README.md
  operations/helm/charts/mimir-distributed/values.yaml
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Refactor distributor test preparation
  pkg/distributor/distributor_test.go
  pkg/distributor/query_test.go
Owners: @grafana/mimir-maintainers

Refactor distributor test preparation (#6656)
  pkg/distributor/distributor_test.go
  pkg/distributor/query_test.go
Owners: @grafana/mimir-maintainers

Update CHANGELOG.md with 2.9.3 changes
  CHANGELOG.md
Owners: none

Fix OTLP integration test
  integration/otlp_ingestion_test.go
Owners: @grafana/mimir-maintainers

Update dskit
  go.mod
  go.sum
  pkg/alertmanager/distributor.go
  pkg/alertmanager/multitenant.go
  pkg/distributor/distributor.go
  vendor/github.com/grafana/dskit/concurrency/worker.go
  vendor/github.com/grafana/dskit/kv/memberlist/memberlist_client.go
  vendor/github.com/grafana/dskit/ring/batch.go
  vendor/modules.txt
Owners: @grafana/mimir-maintainers, @grafanabot, @grafana/mimir-ruler-and-alertmanager-maintainers

Add support for workers when pushing to ingesters
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

Update CHANGELOG.md and about-versioning.md
  CHANGELOG.md
  docs/sources/mimir/configure/about-versioning.md
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Add S3 part-size flag to configure the S3 minimum file size in bytes used for multipart uploads (#6592)
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/storage/bucket/s3/bucket_client.go
  pkg/storage/bucket/s3/config.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

Remove second implementation of Labels jsoniter encoder (#6655)
  pkg/storage/chunk/json_helpers.go
Owners: @grafana/mimir-maintainers

Explain the use of -4 constant.
  pkg/mimirpb/custom.go
Owners: @grafana/mimir-maintainers

Update pkg/distributor/distributor_test.go
  pkg/distributor/distributor_test.go
Owners: @grafana/mimir-maintainers

query-frontend: results caching logs and tracing (#6477)
  CHANGELOG.md
  pkg/frontend/querymiddleware/generic_query_cache.go
  pkg/frontend/querymiddleware/generic_query_cache_test.go
  pkg/frontend/querymiddleware/split_and_cache.go
  pkg/frontend/querymiddleware/stats.go
  pkg/frontend/transport/handler.go
  pkg/frontend/transport/handler_test.go
Owners: @grafana/mimir-maintainers

Add an S3 flag to send a Content-MD5 header
  CHANGELOG.md
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/storage/bucket/s3/bucket_client.go
  pkg/storage/bucket/s3/config.go
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Formatting from resolving conflicts
  pkg/storage/bucket/s3/config.go
Owners: @grafana/mimir-maintainers

make reference-help
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
Owners: @grafana/mimir-maintainers

Fix broken BenchmarkPrometheusCodec_DecodeResponse benchmark.
  pkg/frontend/querymiddleware/codec_test.go
Owners: @grafana/mimir-maintainers

Fix broken BenchmarkPrometheusCodec_DecodeResponse benchmark. (#6661)
  pkg/frontend/querymiddleware/codec_test.go
Owners: @grafana/mimir-maintainers

Refactor to use `service.AwaitRunning()`
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/frontend/querymiddleware/roundtrip.go
  pkg/frontend/querymiddleware/running.go
  pkg/frontend/querymiddleware/running_test.go
  pkg/mimir/mimir.go
  pkg/mimir/modules.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

Update changelog entry to reflect new behaviour and config option name
  CHANGELOG.md
Owners: none

Address PR feedback: `ie.` -> `i.e.`
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/frontend/querymiddleware/roundtrip.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

Address PR feedback: pass interface, not function
  pkg/frontend/querymiddleware/roundtrip.go
  pkg/frontend/querymiddleware/roundtrip_test.go
  pkg/frontend/querymiddleware/running.go
  pkg/frontend/querymiddleware/running_test.go
  pkg/mimir/modules.go
Owners: @grafana/mimir-maintainers

Simplify code.
  pkg/frontend/querymiddleware/running.go
Owners: @grafana/mimir-maintainers

Apply same logic to cardinality and series endpoints as well.
  pkg/frontend/querymiddleware/roundtrip.go
  pkg/frontend/querymiddleware/running.go
Owners: @grafana/mimir-maintainers

fix comments
  docs/sources/mimir/configure/about-versioning.md
  pkg/distributor/push.go
  pkg/distributor/push_test.go
Owners: @grafana/docs-metrics, @grafana/mimir-maintainers

Distributor: Includes the Retry-After header in recoverable error responses (#6608)
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/api/api.go
  pkg/distributor/distributor.go
  pkg/distributor/otel.go
  pkg/distributor/push.go
  pkg/distributor/push_test.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

Reduce histogram resolution instead of rejecting (#6535)
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  cmd/mimir/help.txt.tmpl
  docs/sources/mimir/configure/configure-native-histograms-ingestion.md
  docs/sources/mimir/manage/mimir-runbooks/_index.md
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/validate.go
  pkg/distributor/validate_test.go
  pkg/mimirpb/custom.go
  pkg/util/globalerror/errors.go
  pkg/util/validation/limits.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

Update pkg/distributor/distributor.go
  pkg/distributor/distributor.go
Owners: @grafana/mimir-maintainers

Improve support for variables in range
  CHANGELOG.md
  pkg/mimirtool/analyze/grafana.go
Owners: @grafana/mimir-maintainers

Rename to distributor.reusable-ingester-push-workers
  CHANGELOG.md
  cmd/mimir/config-descriptor.json
  cmd/mimir/help-all.txt.tmpl
  docs/sources/mimir/configure/about-versioning.md
  docs/sources/mimir/references/configuration-parameters/index.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
Owners: @grafana/mimir-maintainers, @grafana/docs-metrics

s/ingesterDoBatchPushGo/ingesterDoBatchPushWorkers/
  pkg/distributor/distributor.go
Owners: @grafana/mimir-maintainers

Test that workers are called, call them, fix svc
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
Owners: @grafana/mimir-maintainers

Format CHANGELOG
  CHANGELOG.md
Owners: none
